Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update cms/topics/models.py
  cms/topics/models.py
Due: pylint

remove redundant `to_contain_text`
  functional_tests/steps/bundles.py
Due: pylint

use list comprehension for preview teams
  functional_tests/steps/bundles.py
Due: pylint

Add test description
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

Add missing fields to topic page external links
  cms/core/formatting_utils.py
  cms/topics/models.py
  cms/topics/services/related_content.py
  cms/topics/services/types.py
Due: pylint

Update django migrations
  cms/topics/migrations/0009_topicpagerelatedarticle_content_type_and_more.py
Due: pylint

make metadata check step more robust to typos in default values dict
  functional_tests/step_helpers/utils.py
  functional_tests/steps/bundles.py
Due: pylint

update webpack dev server version
  package-lock.json
Due: lint:format

fix assertion error text and use date format util for checking date
  functional_tests/steps/bundles.py
Due: pylint

remove redundant `lower`
  functional_tests/steps/bundles.py
Due: pylint

update package.json
  package-lock.json
  package.json
Due: lint:format

use urllib to parse url
  functional_tests/steps/bundles.py
Due: pylint

Include series title in related data page heading and breadcrumb
  cms/articles/models.py
  cms/core/models/base.py
Due: pylint

Test that related data page uses full series: edition title
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_series_models.py
  cms/core/tests/test_models.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

update webpack dev server version (#638)
  package-lock.json
  package.json
Due: lint:format

Handle Pillow detecting a decompression bomb (#633)
  cms/images/forms.py
  cms/images/tests/test_forms.py
Due: pylint

Rename variable
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

add bundle to context after save, use bundle from context in metadata check step
  functional_tests/steps/bundles.py
Due: pylint

Update wagtail-tinytableblock to 0.4.5
  poetry.lock
  pyproject.toml
Due: none

Undo optional args of ExternalArticleDict
  cms/topics/services/types.py
Due: pylint

update idna
  poetry.lock
Due: none

Update tests for ext url description field
  cms/topics/tests/test_models.py
  functional_tests/steps/topic_page_manual_related_articles.py
Due: pylint

Add more detail to the docstrings and add comments
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

Move login to setUp
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

Update wagtail-tinytableblock to 0.4.5 (#640)
  poetry.lock
  pyproject.toml
Due: none

add required approver flow
  .github/workflows/required-approvers-label.yml
Due: lint:format

Fix not null migration linter
  cms/topics/migrations/0009_topicpagerelatedarticle_content_type_and_more.py
  cms/topics/models.py
Due: pylint

Add osv-scanner toml
  osv-scanner.toml
Due: none

Add EOF newline
  osv-scanner.toml
Due: none

Add osv-scanner toml (#644)
  osv-scanner.toml
Due: none

Bundle UI Tests (#630)
  functional_tests/features/bundle.feature
  functional_tests/features/bundle_page.feature
  functional_tests/step_helpers/utils.py
  functional_tests/steps/bundles.py
  functional_tests/steps/information_page.py
  functional_tests/steps/workflows.py
Due: pylint

fix: Include series and edition in related data page title and breadcrumb (#634)
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_series_models.py
  cms/core/models/base.py
  cms/core/tests/test_models.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

Correct migration attribute error
  cms/topics/migrations/0009_topicpagerelatedarticle_content_type_and_more.py
Due: pylint

Pin the Release Calendar index page to the top of the explorer page (#628)
  cms/release_calendar/tests/test_wagtail_hooks.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint

Use just one variable for the footnotes and downloads heading level
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/table_block.html
Due: pylint

Ensure that the downloads heading size matches the footnotes heading size in the table block (#636)
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/table_block.html
Due: pylint

add new HiddenFieldPanel
  cms/bundles/models.py
  cms/bundles/panels.py
Due: pylint

comma
  cms/bundles/panels.py
Due: pylint

add test cases for panel
  cms/bundles/tests/test_panels.py
Due: pylint

Instead of overriding `is_shown`, set heading to empty string as we need the fields to be hidden but present for current form validation behaviour
  cms/bundles/panels.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
