Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update migration
  cms/standard_pages/migrations/0004_create_cookies_management_page.py
Due: pylint

Need to explicitly the override as as broker container for functional tests is on 19094
  cms/settings/functional_test.py
Due: pylint

Tests for panels added - AnnouncementPanelBlock - BasePanelBlock - InformationPanelBlock - WarningPanelBlock
  cms/core/tests/test_blocks.py
Due: pylint

Testing a hypothesis
  cms/settings/functional_test.py
  cms/settings/test.py
Due: pylint

Code formatted
  cms/core/tests/test_blocks.py
Due: pylint

Fix format
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/release_calendar/models.py
Due: pylint

Tests for panel blocks moved into a dedicated test file with the assertPanelBlockFields moved into the core/tests/utils.py file
  cms/core/tests/test_blocks.py
  cms/core/tests/test_panel_blocks.py
  cms/core/tests/utils.py
Due: pylint

Fix use of page model
  cms/core/tests/test_views.py
  cms/core/views.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/pages/cookies.html
  cms/standard_pages/migrations/0004_create_cookies_management_page.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_pages.py
  cms/standard_pages/wagtail_hooks.py
  cms/urls.py
Due: pylint

Add missing div class
  cms/jinja2/templates/pages/cookies.html
Due: none

PanelBlock test file renamed to read from right to left from the source
  cms/core/tests/test_blocks_panels.py
Due: pylint

Redundant code removed and block_name variable removed to cut down a line of code
  cms/core/tests/utils.py
Due: pylint

resolove failing functional tests
  functional_tests/steps/information_page.py
Due: pylint

Add some example translations
  cms/jinja2/templates/pages/cookies.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/standard_pages/tests/test_pages.py
Due: pylint

docs(streamfield): document orphaned data behaviour
  docs/custom-features/migration_friendly_streamfields.md
Due: none

Refactor tests
  cms/bundles/tests/test_viewsets.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

Add ReleaseCalendarPage type hints and get_format_display comment
  cms/bundles/panels.py
  cms/bundles/utils.py
  cms/release_calendar/viewsets.py
Due: pylint

Update tests
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

Fix incorrect import
  cms/bundles/panels.py
Due: pylint

Update the cookies page creation migration
  cms/standard_pages/migrations/0004_create_cookies_management_page.py
Due: pylint

Fix linting errors, add type hints and add ignore
  cms/standard_pages/models.py
  cms/standard_pages/wagtail_hooks.py
Due: pylint

Add welsh homepage in migration, add cookies page analytics content type
  cms/home/migrations/0003_create_welsh_homepage.py
  cms/standard_pages/migrations/0004_create_cookies_management_page.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_pages.py
Due: pylint

Improve the migration code
  cms/standard_pages/migrations/0004_create_cookies_management_page.py
Due: pylint

fix: grammar
  docs/custom-features/migration_friendly_streamfields.md
Due: none

docs(streamfield): document orphaned data behaviour (#381)
  docs/custom-features/migration_friendly_streamfields.md
Due: none

resolve makemessges comment
  cms/articles/models.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

resolve merge main
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Update Welsh translation furniture (#377)
  cms/articles/models.py
  cms/locale/cy/LC_MESSAGES/django.po
  cms/release_calendar/tests/test_utils.py
  functional_tests/steps/information_page.py
Due: pylint

Add additional tests
  cms/articles/models.py
  cms/articles/tests/test_series_models.py
Due: pylint

Fix a bunch of unit tests
  cms/articles/tests/test_pages.py
  cms/core/tests/test_models.py
  cms/core/tests/test_tags.py
  cms/home/tests/test_models.py
  cms/topics/tests/test_models.py
Due: pylint

Update functional tests
  cms/core/tests/test_tags.py
  functional_tests/features/localisation.feature
  functional_tests/features/topic_page.feature
  functional_tests/steps/localisation.py
Due: pylint

Run makemessages
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Fix more functional tests
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
Due: pylint

Revert moving a line
  cms/core/tests/test_tags.py
Due: pylint

Fix functional test
  functional_tests/features/topic_page.feature
  functional_tests/steps/page_editor.py
Due: pylint

Testing hypothesis 2
  cms/settings/functional_test.py
  cms/settings/test.py
  functional_tests/docker-compose-dev.yml
  functional_tests/docker-compose.yml
Due: pylint, lint:format

Setting the correct env vars for kafka for the functional tests kafka broker container
  functional_tests/docker-compose-dev.yml
  functional_tests/docker-compose.yml
Due: lint:format

Improve tests and add explaination for server name
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_series_models.py
Due: pylint

Chore: Use Kafka as the search backend in for UI tests and local development (#379)
  cms/settings/dev.py
  cms/settings/functional_test.py
  cms/settings/local.py.example
  docker-compose-dev.yml
  functional_tests/docker-compose-dev.yml
  functional_tests/docker-compose.yml
Due: pylint, lint:format

Usage of cast removed and redundant import removed
  cms/core/formatting_utils.py
  cms/taxonomy/tests/factories.py
Due: pylint

Abstract base class for related articles and methodologies processors handling added
  cms/topics/models.py
  cms/topics/utils.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
