Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

update test
  cms/bundles/tests/test_panels.py
Due: pylint

Make new fields nullable
  cms/topics/migrations/0009_topicpagerelatedarticle_content_type_and_more.py
  cms/topics/models.py
Due: pylint

add comment on heading override
  cms/bundles/panels.py
Due: pylint

update osv-scanner.toml
  osv-scanner.toml
Due: none

Creates a stream using openssl to generate randomness when splitting the feature files.
  .github/split_functional_test_features.sh
Due: none

Split change to feature split script to it's own pr and reverted here
  .github/split_functional_test_features.sh
Due: none

update osv-scanner.toml (#646)
  osv-scanner.toml
Due: none

make new fields nullable
  cms/topics/migrations/0009_topicpagerelatedmethodology_content_type_and_more.py
  cms/topics/models.py
Due: pylint

Hide non editable fields in bundle minimap (#645)
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/tests/test_panels.py
Due: pylint

print seed multiple times to create extra random bytes
  .github/split_functional_test_features.sh
Due: none

fix format string syntax
  .github/split_functional_test_features.sh
Due: none

use for loop to prevent issues with % or \ characters
  .github/split_functional_test_features.sh
Due: none

make loop and comment match
  .github/split_functional_test_features.sh
Due: none

use dummy variable to satisfy shellcheck
  .github/split_functional_test_features.sh
Due: none

initial force login setup
  functional_tests/step_helpers/auth_utils.py
  functional_tests/steps/cms_login.py
  functional_tests/steps/cognito_auth.py
  functional_tests/steps/topic_page_manual_related_articles.py
Due: pylint

experiment with splitting features to roughly equal file lengths
  .github/split_functional_test_features.py
  .github/workflows/ci.yml
  .pylintrc
Due: pylint, lint:format

remove new page call to prevent tabs lingering between tests
  functional_tests/step_helpers/auth_utils.py
Due: pylint

Remove set statement that was overriding the block_id value set in stream_block.html
  cms/jinja2/templates/components/streamfield/table_block.html
Due: none

Adds failing tests proving image download link does not trigger a download
  cms/core/tests/test_blocks.py
Due: pylint

Fixes image download link by proxying through a same-origin view
  cms/core/blocks/embeddable.py
  cms/images/views.py
  cms/jinja2/templates/components/streamfield/image_block.html
  cms/urls.py
Due: pylint

Updates image block download link test assertions
  cms/core/tests/test_blocks.py
Due: pylint

Adds tests and URL conf for ImageDownloadView
  cms/images/tests/test_views.py
  cms/images/urls.py
  cms/urls.py
Due: pylint

Replaces ImageDownloadView with force_download param on ImageServeView
  cms/core/blocks/embeddable.py
  cms/core/tests/test_blocks.py
  cms/images/tests/test_views.py
  cms/images/urls.py
  cms/images/views.py
  cms/private_media/tests/test_serve_views.py
  cms/private_media/views.py
  cms/urls.py
Due: pylint

Scopes S3 download test class to a single targeted test
  cms/core/tests/test_blocks.py
Due: pylint

Uses content_disposition_header utility for proper escaping
  cms/private_media/views.py
Due: pylint

Simplifies S3 download test helper to always use download=True
  cms/core/tests/test_blocks.py
Due: pylint

Fixes mypy error on Content-Disposition header assignment
  cms/private_media/views.py
Due: pylint

Reuses serve_private_rendition for force_download responses
  cms/private_media/views.py
Due: pylint

Adds negative subtests for Content-Disposition absence
  cms/private_media/tests/test_serve_views.py
Due: pylint

Slugifies image title in Content-Disposition filename
  cms/private_media/tests/test_serve_views.py
  cms/private_media/views.py
Due: pylint

Use ExternalArticleDict
  cms/topics/services/related_content.py
Due: pylint

Add sub_heading and accessible_label fields to table block, data migration, and hide caption field for now
  cms/core/blocks/markup.py
  cms/core/migrations/0018_migrate_table_caption_to_subheading.py
  cms/core/static/css/admin.css
  cms/jinja2/templates/components/streamfield/table_block.html
Due: pylint, lint:css, lint:format

Ensure content_type shows translation string
  cms/core/formatting_utils.py
Due: pylint

Remove empty default strings
  cms/topics/migrations/0009_topicpagerelatedarticle_content_type_and_more.py
  cms/topics/models.py
Due: pylint

Cast arg type to string
  cms/core/formatting_utils.py
Due: pylint

Update additional heading logic and tests
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
Due: pylint

Add validation to ensure that the table sub-heading cannot be saved without a title
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
Due: pylint

Update failing functional test
  functional_tests/steps/statistical_article_page.py
Due: pylint
