Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Information page DS integration & styling updates (#206)
  cms/jinja2/templates/pages/information_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/features/localisation.feature
  functional_tests/steps/information_page.py
Due: pylint

update headline figures and base page spacing with ONS utility classes
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/static_src/sass/components/_headline-figures.scss
  cms/static_src/sass/components/design_system_overrides/_page.scss
Due: lint:css, lint:format

update accreditations with DS spacing utility classes
  cms/jinja2/templates/components/accredited/accredited-information.html
  cms/static_src/sass/components/_accreditations.scss
Due: lint:css, lint:format

remove unused code and styles
  cms/jinja2/templates/pages/methodology_page.html
  cms/static_src/sass/components/_article-header.scss
  cms/static_src/sass/components/_panel.scss
  cms/static_src/sass/components/_release-header.scss
  cms/static_src/sass/components/_topic-header.scss
  cms/static_src/sass/components/design_system_overrides/_toc.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

[Bug] Fix issue with related links generating empty heading & content (#213)
  cms/jinja2/templates/pages/methodology_page.html
  cms/methodology/models.py
  cms/methodology/tests/test_models.py
Due: pylint

Add basic docs for the integrations
  docs/custom-features/bundles.md
  docs/index.md
  docs/integrations/auth.md
  docs/integrations/dataset_api.md
  docs/integrations/index.md
  docs/integrations/search_service.md
Due: none

amend code from pr comment
  functional_tests/steps/bundles.py
Due: pylint

Add datasets to topic page
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/migrations/0006_topicpage_datasets.py
  cms/topics/models.py
Due: pylint

Add preview link to metadata, remove published status, tests
  cms/bundles/utils.py
  cms/bundles/viewsets/bundle.py
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Add tests for logger
  cms/core/logs.py
  cms/core/tests/test_logs.py
  cms/settings/base.py
Due: pylint

Ensure that once published can't go back via form
  cms/release_calendar/forms.py
Due: pylint

Refactor + added logging
  cms/bundles/email_notifications.py
  cms/core/checks.py
Due: pylint

Remove actions involving setting status to published from UI tests
  functional_tests/features/release_page.feature
Due: none

View all data & previous releases DS integration (#201)
  cms/articles/tests/test_models.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: pylint

refactor: Refactor point annotations
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_annotations_base.py
  cms/datavis/tests/test_annotations_point.py
Due: pylint

feat: Enable range annotations
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
Due: pylint

Streamfield DS integration & updates (#204)
  cms/core/blocks/base.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/related.py
  cms/core/blocks/stream_blocks.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/related_links_block.html
Due: pylint

Raise error for unsupported axis types
  cms/datavis/blocks/annotations.py
Due: pylint

Remove failing tests
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Add additional integration tests
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
Due: pylint

Update docs
  docs/index.md
  docs/integrations/auth.md
  docs/integrations/dataset_api.md
  docs/integrations/logging.md
  docs/integrations/notifications.md
Due: none

More auth notes
  docs/integrations/auth.md
Due: none

Lint
  docs/index.md
  docs/integrations/auth.md
  docs/integrations/dataset_api.md
  docs/integrations/notifications.md
  docs/integrations/search_service.md
Due: none

Remove logoutRedirectUrl from auth configuration settings and relevant tests updated.
  cms/auth/tests/test_utils.py
  cms/auth/utils.py
Due: pylint

Make serialization functions less convoluted
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/utils.py
  cms/bundles/views/preview.py
Due: pylint

Removed AWS credentials
  cms/core/apps.py
  cms/core/checks.py
  cms/settings/base.py
Due: pylint

Refactoring
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/notifications/__init__.py
  cms/bundles/notifications/email.py
  cms/bundles/notifications/slack.py
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_notifications.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Add missing tests file
  cms/datavis/tests/test_annotations_range.py
Due: pylint

Add support for Welsh month names release_date_text
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_utils.py
  cms/release_calendar/utils.py
Due: pylint

AWS region handling in settings made consistent and update expected issuer URL to pull in aws region from a env var
  cms/auth/utils.py
  cms/core/context_processors.py
  cms/settings/base.py
Due: pylint

Set default AWS region to 'eu-west-2' if not specified in environment variables
  cms/settings/base.py
Due: pylint

Ssession management initialisation to occur after DOM content is loaded
  cms/static_src/javascript/auth.js
Due: lint:js, lint:format

address pr comments to remove bundle name
  functional_tests/features/bundle_page.feature
  functional_tests/steps/bundles.py
Due: pylint

Add context to noqa statement
  cms/release_calendar/utils.py
Due: pylint

Fix variable name typo
  cms/release_calendar/forms.py
Due: pylint

Fixes
  cms/bundles/models.py
  cms/bundles/tests/test_notifications.py
  cms/core/checks.py
Due: pylint

Use hyphen for URLs instead of underscore
  cms/bundles/admin_urls.py
Due: pylint

Use Wagtail's send_mail + fix env vars
  cms/bundles/notifications/email.py
  cms/settings/base.py
  cms/settings/dev.py
Due: pylint

Use 'Draft' instead of 'not in a workflow'
  cms/bundles/panels.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
