Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

fix(bundle): correct spelling in feature file for bundle submission error scenario
  functional_tests/features/bundle.feature
Due: none

fix(forms): handle unparsable publication dates and unknown fields in validation
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Add comment
  cms/jinja2/templates/base_page.html
Due: none

Ensure welsh translation is tested and update PageConfigDict to reflect the new key
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
Due: pylint

fix: raise errors consistently on bundled pages
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
Due: pylint

chore: restore package-lock
  package-lock.json
Due: lint:format

style: use consistent error punctuation
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
Due: pylint

fix: replace broken links
  functional_tests/README.md
Due: none

feat(post-publish): add critical flag to post-publish actions and filter for critical actions
  cms/frontend_cache/signal_handlers.py
  cms/post_publish_actions/models.py
  cms/post_publish_actions/registry.py
  cms/post_publish_actions/tests/test_models.py
  cms/post_publish_actions/tests/test_registry.py
  cms/post_publish_actions/tests/test_utils.py
  cms/post_publish_actions/utils.py
Due: pylint

feat(slack): implement thread replies for post-publish actions and enhance Slack notification handling
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_slack_notifications.py
  cms/bundles/utils.py
  cms/core/slack.py
  cms/core/tests/test_slack.py
  cms/post_publish_actions/executor.py
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

chore(tests): disable secretlint for test_management_commands.py
  cms/bundles/tests/test_management_commands.py
Due: pylint

feat(slack): add notification for post-publish action failures with critical status
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_slack_notifications.py
  cms/post_publish_actions/tests/test_utils.py
  cms/post_publish_actions/utils.py
Due: pylint

SPIKE: Update workflows to lock in preview
  cms/workflows/action_menu.py
  cms/workflows/locks.py
  cms/workflows/models.py
  cms/workflows/templates/wagtailadmin/workflows/workflow_status.html
  cms/workflows/utils.py
  cms/workflows/views.py
  cms/workflows/wagtail_hooks.py
Due: pylint

feat(datavis): add iframe download options
  cms/datavis/blocks/iframe.py
  cms/datavis/tests/test_iframe_block.py
Due: pylint

chore(i18n): update Welsh translations
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

feat(tests): extend PageCacheControlHeadersTestCase with TranslationResetMixin
  cms/core/tests/test_cache.py
Due: pylint

feat(tests): extend PageCacheControlHeadersTestCase with TranslationResetMixin (#842)
  cms/core/tests/test_cache.py
Due: pylint

feat(post-publish): improve end time fallback logic for post-publish actions
  cms/post_publish_actions/tests/test_utils.py
  cms/post_publish_actions/utils.py
Due: pylint

fix: update downloads accordion labelling for charts, images and tables
  cms/core/blocks/embeddable.py
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
  cms/datavis/blocks/base.py
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/steps/statistical_article_page.py
Due: pylint

feat(tests): refactor publish_bundle calls to use _publish_and_wait helper
  cms/bundles/tests/test_utils.py
Due: pylint

feat(datavis): add GTM data attributes to iframe download links
  cms/datavis/blocks/iframe.py
  cms/datavis/tests/test_iframe_block.py
Due: pylint

feat(tests): replace publish_bundle with _publish_and_wait in test_utils.py
  cms/bundles/tests/test_utils.py
Due: pylint

test(executor): make test intention more explicit and fix typo
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

fix(slack): correct field key to fields in Slack notification tests
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

refactor(slack): use case when to order post publish actions by priority in one query
  cms/post_publish_actions/utils.py
Due: pylint

fix(slack): update capitalization of 'Critical' field in Slack notification tests
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

feat(slack): implement summary notification for post-publish actions
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_slack_notifications.py
  cms/post_publish_actions/tests/test_utils.py
  cms/post_publish_actions/utils.py
Due: pylint

fix: update message text changes to fix test assertions
  cms/bundles/tests/test_management_commands.py
Due: pylint

fix(types): use `Generator` for contextmanager return type
  cms/bundles/forms.py
Due: pylint

fix: check pages have unpublished changes before allowing bundle to save (#822)
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
  functional_tests/README.md
Due: pylint

build(deps): backport OSV fixes to v1.7 (#828)
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: lint:format

build(deps): backport OSV fixes to v1.6 (#827)
  .github/linters/.grype.yaml
  .github/linters/osv-scanner.toml
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: lint:format

fix(notifications): suppress page approved email when publishing bundle (#829)
  cms/bundles/apps.py
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_signal_handlers.py
  cms/post_publish_actions/signal_handlers.py
Due: pylint

chore(deps): update cryptography package to version 50 on all platforms and regenerate
  poetry.lock
  pyproject.toml
Due: none

build(deps): require soupsieve ^2.9.0
  poetry.lock
  pyproject.toml
Due: none
