Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Unit tests not passing due to StreamFieldFactory problem
  cms/core/tests/factories.py
  cms/standard_pages/tests/factories.py
  cms/standard_pages/tests/test_models.py
Due: pylint

chore: upgrade Django to 5.1.5
  poetry.lock
Due: none

chore: upgrade Django to 5.1.5 (#86)
  poetry.lock
Due: none

Update design system to 72.2.0 (#84)
  .design-system-version
Due: none

Move featured pages logic from template to get_context
  cms/jinja2/templates/pages/index_page.html
  cms/standard_pages/models.py
Due: pylint

add functional tests
  functional_tests/features/home_page.feature
  functional_tests/features/information_page.feature
  functional_tests/features/release_page.feature
  functional_tests/steps/home_page.py
  functional_tests/steps/release_page.py
Due: pylint

Move highcharts js into a js component
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/static_src/javascript/components/highcharts-base-chart.js
  cms/static_src/javascript/main.js
Due: pylint, lint:js, lint:format

resolve some js linting issues
  .eslintrc.js
  cms/datavis/static/admin/datavis/js/toggleDataSourceFields.js
Due: lint:js, lint:format

Remove redundant field-toggling JS from alpha POC
  cms/datavis/static/admin/datavis/js/toggleDataSourceFields.js
  cms/datavis/wagtail_hooks.py
Due: pylint, lint:js, lint:format

Legend field tweaks
  cms/datavis/constants.py
  cms/datavis/migrations/0005_remove_chart_legend_position_alter_chart_show_legend.py
  cms/datavis/models/charts.py
Due: pylint

FeaturedItemBlock ergo make the descirption field optional for Featured pages
  cms/core/blocks/related.py
  cms/jinja2/templates/pages/index_page.html
  cms/standard_pages/models.py
Due: pylint

Added unit tests
  cms/core/tests/factories.py
  cms/standard_pages/tests/factories.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Formatting
  cms/standard_pages/tests/factories.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Making linters happy
  cms/standard_pages/models.py
Due: pylint

Cherry on top - migration file
  cms/standard_pages/migrations/0002_indexpage.py
Due: pylint

Formatting the migration file...
  cms/standard_pages/migrations/0002_indexpage.py
Due: pylint

Add taxonomy app and topic tree node model
  cms/core/management/commands/sync_topics.py
  cms/settings/base.py
  cms/taxonomy/__init__.py
  cms/taxonomy/apps.py
  cms/taxonomy/migrations/0001_initial.py
  cms/taxonomy/migrations/__init__.py
  cms/taxonomy/models.py
  cms/taxonomy/tests.py
  poetry.lock
  pyproject.toml
Due: pylint

Update sync command
  cms/core/management/commands/sync_topics.py
  cms/settings/base.py
Due: pylint

move functional tests
  functional_tests/steps/breadcrumb.py
  functional_tests/steps/home_page.py
  functional_tests/steps/release_page.py
Due: pylint

amend step function name to be more meaningful
  functional_tests/steps/breadcrumb.py
Due: pylint

resolve pr comments
  cms/articles/tests/test_models.py
Due: pylint

First round of renaming and refactoring (updated the migration file)
  cms/jinja2/templates/pages/index_page.html
  cms/standard_pages/migrations/0002_indexpage.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/factories.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Breadcrumbs (#77)
  cms/articles/models.py
  cms/articles/tests/test_models.py
  cms/jinja2/templates/components/navigation/breadcrumbs.html
  cms/jinja2/templates/pages/release_index.html
  functional_tests/features/home_page.feature
  functional_tests/features/information_page.feature
  functional_tests/features/release_page.feature
  functional_tests/steps/breadcrumb.py
Due: pylint

Improvements in get_formatted_items()
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Add content to search indexing + stop allowing Index pages under Info pages
  cms/standard_pages/models.py
Due: pylint

Improved tests
  cms/standard_pages/tests/test_models.py
Due: pylint

Use factory.Trait instead of factory.Maybe
  cms/core/tests/factories.py
Due: pylint

Formatting
  cms/core/tests/factories.py
Due: pylint

Removed unnecessary page publication step from the tests
  cms/standard_pages/tests/test_models.py
Due: pylint

edit_handler added in and taxonomy tab tested in information page
  cms/core/models/base.py
  cms/standard_pages/models.py
Due: pylint

LinkBlock Factory moved
  cms/core/tests/factories.py
  cms/navigation/tests/factories.py
Due: pylint

De-nest the blocks tests folder
  cms/core/blocks/tests/factories.py
Due: pylint

Move the LinkBlock to core/blocks/base.py for consistency with PR #41 Main Menu
  cms/core/blocks/base.py
  cms/core/blocks/related.py
Due: pylint

Add navy header with circles to the home page
  cms/jinja2/templates/pages/home_page.html
Due: none

Remove landing-page-header CSS
  cms/static_src/sass/components/_landing-header.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Update title to match what the functional tests expect
  cms/jinja2/templates/pages/home_page.html
Due: none

Add dot/scatter chart type and support 'scatter' display style for additional data sources
  cms/datavis/migrations/0006_scatterchart.py
  cms/datavis/models/charts.py
  cms/datavis/models/data.py
  cms/jinja2/templates/datavis/scatter_chart.html
Due: pylint

Made the logic more robust for child pages in Featured items (updated migration!)
  cms/core/blocks/base.py
  cms/standard_pages/migrations/0002_indexpage.py
  cms/standard_pages/models.py
Due: pylint

Rename 'description' field to 'summary' (updated migration)
  cms/standard_pages/migrations/0002_indexpage.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/factories.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
