Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Update lock file
  poetry.lock
  pyproject.toml
Due: none

Disable Dependabot version updates
  .github/dependabot.yml
Due: lint:format

Provisionally comment out --mount while deploying to Heroku (#12)
  Dockerfile
Due: none

Add the Contact Details snippet
  cms/core/migrations/0002_contactdetails.py
  cms/core/models/__init__.py
  cms/core/models/snippets.py
Due: pylint

Tidy up ForeignKey typing
  cms/core/models/inlines.py
  cms/core/models/mixins.py
  cms/images/models.py
Due: pylint

Further Dockerfile tweaks for Heroku build
  Dockerfile
Due: none

Tidy up
  Dockerfile
Due: none

Further Dockerfile tweaks for Heroku build (#13)
  Dockerfile
Due: none

Use web stage to run application
  .github/workflows/ci.yml
  Dockerfile
  heroku.yml
Due: lint:format

Use web stage to run application (#14)
  .github/workflows/ci.yml
  Dockerfile
  heroku.yml
Due: lint:format

Add a basic table block
  cms/core/blocks/__init__.py
  cms/core/blocks/markup.py
  cms/jinja2/templates/components/streamfield/table_block.html
  cms/settings/base.py
Due: pylint

Add the release calendar app with models
  cms/core/models/mixins.py
  cms/release_calendar/__init__.py
  cms/release_calendar/apps.py
  cms/release_calendar/blocks.py
  cms/release_calendar/migrations/0001_initial.py
  cms/release_calendar/migrations/__init__.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/__init__.py
Due: pylint

Add icons to the various panels
  cms/release_calendar/models.py
Due: pylint

Add a base form class for easier validation
  cms/release_calendar/enums.py
  cms/release_calendar/forms.py
  cms/release_calendar/models.py
Due: pylint

Tidy up the basic rich text features
  cms/settings/base.py
Due: pylint

Add the basic templates
  cms/jinja2/templates/components/streamfield/release_content_section.html
  cms/jinja2/templates/components/streamfield/release_date_change_block.html
  cms/jinja2/templates/pages/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar_page.html
  cms/jinja2/templates/pages/release_index.html
Due: none

Add validation logic
  cms/release_calendar/enums.py
  cms/release_calendar/forms.py
Due: pylint

Update templates
  cms/jinja2/templates/components/streamfield/release_date_change_block.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/release_calendar/blocks.py
  cms/release_calendar/models.py
Due: pylint

Update editorconfig so that html files are indented with 4 spaces, aligned with djhtml
  .editorconfig
Due: none

Programmatically create the release calendar index
  cms/release_calendar/migrations/0002_create_releasecalendarindex.py
Due: pylint

Add tests
  cms/release_calendar/tests/test_blocks.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_models.py
  conftest.py
Due: pylint

Expand core tests
  cms/core/blocks/related.py
  cms/core/models/mixins.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_models.py
Due: pylint

Expand coverage configuration
  pyproject.toml
Due: none

Placate mypy
  cms/core/blocks/markup.py
  cms/core/models/inlines.py
  cms/core/models/mixins.py
  cms/core/models/snippets.py
  cms/images/models.py
  cms/release_calendar/blocks.py
  cms/release_calendar/forms.py
  cms/release_calendar/models.py
Due: pylint

Tidy up based on code review
  .pylintrc
  cms/jinja2/templates/components/streamfield/release_date_change_block.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_models.py
  cms/settings/base.py
  cms/settings/formats/__init__.py
  cms/settings/formats/en_GB/__init__.py
  cms/settings/formats/en_GB/formats.py
  cms/settings/tests/test_settings.py
  conftest.py
Due: pylint

Make the accredited / census blocks separate includes
  cms/jinja2/templates/components/accredited/accredited-information.html
  cms/jinja2/templates/components/accredited/accredited-logo.html
  cms/jinja2/templates/components/census/census-information.html
  cms/jinja2/templates/components/census/census-logo.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Include changes to release dates when status is confirmed
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
Due: pylint

Expand rendered tests
  cms/release_calendar/tests/test_models.py
Due: pylint

Allow setting the release date when switching to confirmed
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Further tests for core blocks
  cms/core/blocks/embeddable.py
  cms/core/tests/test_blocks.py
  conftest.py
Due: pylint

Bump Wagtail to 6.3
  poetry.lock
  pyproject.toml
Due: none

Generate migrations for custom images/docs
  cms/documents/migrations/0002_alter_customdocument_file_size.py
  cms/images/migrations/0002_customimage_description.py
Due: pylint

Replace `pytest` with Django's built-in runner
  .docker/bashrc.sh
  Makefile
  README.md
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_views.py
  cms/settings/base.py
  cms/settings/tests/test_settings.py
  conftest.py
  poetry.lock
  pyproject.toml
Due: pylint

Drop whitenoise public directory
  cms/settings/base.py
Due: pylint

Correctly collect coverage for parallel test runs
  Makefile
  pyproject.toml
Due: none

Note why certain fixtures are created with each test
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_views.py
Due: pylint

Replace `pytest` with Django's built-in runner (#18)
  .docker/bashrc.sh
  Makefile
  README.md
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_views.py
  cms/settings/base.py
  cms/settings/tests/test_settings.py
  conftest.py
  poetry.lock
  pyproject.toml
Due: pylint

Working version
  cms/core/context_processors.py
  cms/core/models/settings.py
  cms/core/tests/test_context_processors.py
  cms/jinja2/templates/base.html
  cms/settings/base.py
Due: pylint

Update to Wagtail 6.3 (#17)
  cms/documents/migrations/0002_alter_customdocument_file_size.py
  cms/images/migrations/0002_customimage_description.py
  poetry.lock
  pyproject.toml
Due: pylint

Added language handling logic
  cms/jinja2/templates/base.html
Due: none
