Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Fake change to change sha to rebuild image in CI
  .pre-commit-config.yaml
Due: lint:format

fix: switch to rems for min-height
  cms/static_src/sass/components/_accreditations.scss
Due: lint:css, lint:format

fix: apply justify-content on desktop only
  cms/static_src/sass/components/_accreditations.scss
Due: lint:css, lint:format

test(csp): explicitly set env vars to make tests more robust
  cms/settings/tests/test_settings.py
Due: pylint

fix: use rem-szing function
  cms/static_src/sass/components/_accreditations.scss
Due: lint:css, lint:format

pr comment class name rows to context
  cms/core/tests/test_blocks.py
Due: pylint

refactor(csp): rename env var
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

Add headers to 404 pages, tests
  cms/core/tests/test_cache.py
  cms/core/views.py
Due: pylint

fix(table): render first column as header when option enabled (#807)
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
Due: pylint

Change trigger to saving
  cms/articles/forms.py
  cms/articles/models.py
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
  cms/core/forms.py
  cms/datavis/mixins.py
  cms/datavis/services.py
  cms/datavis/tests/test_chart_exporter_client.py
  cms/datavis/tests/test_chart_render_on_save.py
  cms/datavis/tests/test_chart_render_on_submit.py
  cms/datavis/tests/test_services.py
  cms/methodology/forms.py
  cms/methodology/models.py
Due: pylint

docs(csp): add comment to clarify video embed URL normalisation
  cms/settings/base.py
Due: pylint

fix(csp): allow google analytics and video embed sources (#818)
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

test: ensure existing present topic untouched
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

fix(taxonomy): build subtopics URL from TOPIC_API_BASE_URL (#820)
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

test: use correct value type for setting override
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

chore: add feature flag to enable auth for topic sync
  cms/auth/utils.py
  cms/settings/base.py
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/test_management_commands.py
  cms/teams/management/commands/sync_teams.py
Due: pylint

test: improve assertions
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

refactor: remove redundant comment
  cms/static_src/sass/components/_accreditations.scss
Due: lint:css, lint:format

fix: ensure census and accreditations blocks align
  cms/jinja2/templates/components/accredited/accredited-information.html
Due: none

build(deps): add npm package ecosystem to dependabot
  .github/dependabot.yml
Due: lint:format

build(deps): test by downgrading lighthouse
  package-lock.json
  package.json
Due: lint:format

fix: add padding for content in full-width variants
  cms/jinja2/templates/components/accredited/accredited-information.html
  cms/jinja2/templates/components/census/census-information.html
Due: none

fix(taxonomy): skip already-removed topics in sync_topics (#816)
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

fix: check pages have unpublished changes before allowing bundle to save
  cms/bundles/forms.py
Due: pylint

feat(taxonomy): support internal env topic shape in sync_topics (#817)
  cms/auth/utils.py
  cms/settings/base.py
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/test_management_commands.py
  cms/teams/management/commands/sync_teams.py
Due: pylint

fix(a11y): address release calendar accessibility audit (#815)
  cms/jinja2/templates/components/accredited/accredited-information.html
  cms/jinja2/templates/components/census/census-information.html
  cms/jinja2/templates/components/streamfield/release_date_change_block.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/release_calendar/models.py
  cms/static_src/sass/components/_accreditations.scss
Due: pylint, lint:css, lint:format

fix: remove validation for the release calendar picker
  cms/bundles/forms.py
Due: pylint

test: update tests to align with new validation
  cms/bundles/tests/test_forms.py
Due: pylint

Use ThreadPoolExecutor for requests
  cms/datavis/services.py
  cms/settings/base.py
Due: pylint

Add whitenoise tests
  cms/core/tests/test_whitenoise.py
Due: pylint

chore(headers): set appropriate origin cache headers (#799)
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/core/cache.py
  cms/core/models/base.py
  cms/core/tests/test_cache.py
  cms/core/tests/test_whitenoise.py
  cms/core/views.py
  cms/core/wagtail_hooks.py
  cms/core/whitenoise.py
  cms/home/views.py
  cms/locale/tests/test_path_localisation.py
  cms/methodology/models.py
  cms/methodology/tests/test_models.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
  cms/settings/base.py
Due: pylint

feat(taxonomy): exclude configured topic slugs from sync (#819)
  cms/settings/base.py
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

chore(deps): ignore cryptography warnings for now (#750)
  .github/linters/.grype.yaml
  .github/linters/osv-scanner.toml
  poetry.lock
  pyproject.toml
Due: lint:format

upgrade django minor version (#779)
  poetry.lock
  pyproject.toml
Due: none

refactor(taxonomy): derive BASE_TOPIC_DEPTH from DUMMY_ROOT_DEPTH
  cms/taxonomy/models.py
Due: pylint

refactor(taxonomy): move topics() onto a TopicQuerySet
  cms/taxonomy/models.py
  cms/taxonomy/tests/test_models.py
Due: pylint

docs(taxonomy): correct the Topic manager docstring
  cms/taxonomy/models.py
Due: pylint

refactor(taxonomy): use topics() when dropping the dummy root from ancestors
  cms/taxonomy/models.py
  cms/taxonomy/tests/test_models.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
