Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

fixup! Relabel table caption to sub-heading
  functional_tests/steps/statistical_article_page.py
Due: pylint

update design system to latest version (72.4.0 - 72.6.0)
  .design-system-version
Due: none

Add basci chooser block limited to series with headline figures
  cms/core/blocks/headline_figures.py
  cms/topics/blocks.py
  cms/topics/migrations/0003_topicpage_headline_figures.py
  cms/topics/models.py
  cms/topics/viewsets.py
  cms/topics/wagtail_hooks.py
Due: pylint

Move viewsets to own modules
  cms/topics/viewsets.py
  cms/topics/viewsets/__init__.py
  cms/topics/viewsets/featured_series.py
  cms/topics/viewsets/highlighted_items.py
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint

Propagate the figure id through the chooser
  cms/topics/blocks.py
  cms/topics/static/topics/js/headline-figure-block.js
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint, lint:js, lint:format

Improve chooser to include all headline figures per latest article in series
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint

Wire the topic headline figure in the template
  cms/articles/models.py
  cms/jinja2/templates/components/streamfield/topic_headline_figures_block.html
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/blocks.py
  cms/topics/models.py
Due: pylint

Fix headline figure adapter
  cms/topics/static/topics/js/headline-figure-block.js
Due: lint:js, lint:format

Update migrations to reflect new order
  cms/topics/migrations/0004_topicpage_headline_figures.py
Due: pylint

Add UI test
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Address linter and mypy issues
  cms/topics/blocks.py
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint

Renames pre review comments and removed zombie code
  cms/core/custom_dateformat.py
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_custom_dateformat.py
  cms/core/tests/test_jinja2tags.py
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Add custom_date for blocks
  cms/jinja2/templates/components/streamfield/correction_block.html
  cms/jinja2/templates/components/streamfield/notice_block.html
  cms/jinja2/templates/components/streamfield/release_date_change_block.html
Due: none

Changed to ons_date in templates
  cms/core/custom_dateformat.py
  cms/core/templatetags/util_tags.py
  cms/jinja2/templates/components/streamfield/correction_block.html
  cms/jinja2/templates/components/streamfield/notice_block.html
  cms/jinja2/templates/components/streamfield/release_date_change_block.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: pylint

Refresh on all pages include preview / live - skip iframes
  cms/auth/middleware.py
  cms/auth/static/js/auth.js
  cms/auth/utils.py
  cms/auth/wagtail_hooks.py
  cms/core/context_processors.py
  cms/jinja2/templates/base_page.html
Due: pylint, lint:js, lint:format

Refactor ReleaseCalendarPage model and clean up ResourceListView code
  cms/release_calendar/models.py
  cms/search/views.py
  poetry.lock
Due: pylint

Add release_date and provisional_date fields to ResourceSerializer; update URL patterns
  cms/search/serializers.py
  cms/search/tests/test_views.py
  cms/search/urls.py
  cms/settings/base.py
  cms/urls.py
Due: pylint

update design system to latest version (72.4.0 - 72.6.0) (#151)
  .design-system-version
Due: none

Addressed the comment
  cms/core/tests/test_permissions.py
Due: pylint

Added type hinting
  cms/core/tests/test_permissions.py
Due: pylint

Bump tinytableblock and Django versions (#150)
  cms/core/blocks/markup.py
  functional_tests/steps/statistical_article_page.py
  poetry.lock
  pyproject.toml
Due: pylint

Upgrade Design System to 72.5.0
  .design-system-version
Due: none

fix(templating): Add temporary dump filter for Nunjucks compatibility
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
Due: pylint

feat(templates): Add language-agnostic list extend function
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_tags.py
  cms/settings/base.py
Due: pylint

feat: Update charts block to work with DS 72.5.0
  cms/datavis/blocks/base.py
  cms/jinja2/templates/components/streamfield/datavis/_macro.njk
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
  cms/static_src/javascript/components/highcharts-base-chart.js
  cms/static_src/javascript/main.js
Due: pylint, lint:js, lint:format

Renamed test functions
  cms/core/tests/test_permissions.py
Due: pylint

Add page route and template (WIP)
  cms/articles/enums.py
  cms/articles/migrations/0004_statisticalarticlepage_dataset_sorting_and_more.py
  cms/articles/models.py
  cms/datasets/blocks.py
  cms/datasets/models.py
  cms/jinja2/templates/components/navigation/breadcrumbs.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/navigation/templatetags/navigation_tags.py
  cms/settings/base.py
Due: pylint

update stat article and topic hero banner with DS components
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/topic_page.html
Due: none

Refactor pagination implementation to use CustomPageNumberPagination; update ResourceListView to exclude non-indexable pages based on SEARCH_INDEX_EXCLUDED_PAGE_TYPES
  cms/search/pagination.py
  cms/search/tests/test_publishers.py
  cms/search/tests/test_views.py
  cms/search/views.py
Due: pylint

upgrade design system from 72.6.0 to 72.7.0
  .design-system-version
Due: none

upgrade design system from 72.6.0 to 72.7.0 (#155)
  .design-system-version
Due: none

RBAC negative tests (#143)
  cms/core/tests/test_permissions.py
Due: pylint

Add ability to show figure title
  cms/settings/dev.py
  cms/topics/blocks.py
  cms/topics/static/topics/js/headline-figure-block.js
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint, lint:js, lint:format

Add additional validation to topics page
  cms/topics/models.py
Due: pylint

Automatically generate figure id
  cms/core/blocks/headline_figures.py
  cms/core/static/js/blocks/headline-figures-item-block.js
  cms/topics/static/topics/js/headline-figure-block.js
Due: pylint, lint:js, lint:format

Remove the sitemap
  cms/settings/base.py
  cms/urls.py
Due: pylint

Modify validation to ensure release date is required for all release pages
  cms/release_calendar/forms.py
Due: pylint

Add deletion validation
  cms/articles/models.py
Due: pylint

Check if headline_figures exist
  cms/articles/models.py
Due: pylint

Changed incorrect variable name used in the template
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
Due: none

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
