Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Unnecessary comment removed, redundant code from the step file removed and redundant css selector code removed
  functional_tests/step_helpers/topic_page_utils.py
  functional_tests/steps/topic_page.py
Due: pylint

Update variable name
  cms/standard_pages/tests/test_utils.py
  cms/standard_pages/utils.py
Due: pylint

Add cookies settings management page (#375)
  .secrets.baseline
  cms/articles/tests/test_pages.py
  cms/core/context_processors.py
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_models.py
  cms/core/tests/test_tags.py
  cms/home/migrations/0003_create_welsh_homepage.py
  cms/home/tests/test_models.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/pages/cookies.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/test.py
  cms/standard_pages/migrations/0003_cookiespage.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_hooks.py
  cms/standard_pages/tests/test_pages.py
  cms/standard_pages/tests/test_utils.py
  cms/standard_pages/utils.py
  cms/standard_pages/wagtail_hooks.py
  cms/topics/tests/test_models.py
  functional_tests/features/cookies_management.feature
  functional_tests/features/localisation.feature
  functional_tests/features/topic_page.feature
  functional_tests/steps/cookies_management.py
  functional_tests/steps/home_page.py
  functional_tests/steps/localisation.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
Due: pylint

chore(kafka): upgrade to 3.8
  .github/workflows/ci.yml
  cms/settings/base.py
  docker-compose-dev.yml
  docs/integrations/search_service.md
Due: pylint, lint:format

Lint
  docs/custom-features/bundles.md
Due: none

Tidy up bundle docs
  docs/custom-features/bundles.md
Due: none

npm run format
  docs/custom-features/bundles.md
Due: none

Remove title field from information panel (#378)
  cms/core/blocks/panels.py
  cms/core/tests/test_blocks_panels.py
  cms/core/tests/utils.py
  cms/jinja2/templates/components/streamfield/information_panel.html
Due: pylint

fix: tests
  cms/search/tests/test_publishers.py
Due: pylint

Add bundles docs (#369)
  docs/custom-features/bundles.md
Due: none

test api version 3.5.1 with 3.8 broker
  cms/settings/base.py
Due: pylint

set kafka api version to 3.8
  cms/settings/base.py
Due: pylint

add tests from cms-333
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

feat(kafka): auto-detect kafka version
  .github/workflows/ci.yml
  cms/search/publishers.py
  cms/settings/base.py
  docker-compose-dev.yml
  docs/integrations/search_service.md
Due: pylint, lint:format

resolve comments
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

resolve comments
  functional_tests/steps/bundles.py
Due: pylint

Fix weakly referenced object issue in Elastic Cache
  cms/core/elasticache.py
Due: pylint

Fix failing tests
  cms/articles/models.py
  cms/articles/tests/test_series_models.py
  cms/core/models/base.py
  cms/locale/utils.py
  cms/methodology/models.py
  cms/settings/base.py
Due: pylint

Tweaks based on code review
  cms/locale/middleware.py
  cms/locale/tests/test_path_localisation.py
  docker-compose.override.yml.example
  docker-compose.yml
  functional_tests/steps/topic_page.py
Due: pylint, lint:format

Override the live status tag to use the correct language
  cms/locale/templates/wagtail/admin/templates/wagtailadmin/shared/page_status_tag_new.html 
Due: none

fix: docker compose config for kafka
  docker-compose-dev.yml
Due: lint:format

ArticlesIndexPage and MethodologyIndexPage serve methods updated to use the utility function redirect_to_parent_listing
  cms/articles/models.py
  cms/core/utils.py
  cms/methodology/models.py
Due: pylint

Redundant import removed
  cms/core/utils.py
Due: pylint

get_topic_search_url utility function created which is used by get_articles_search_url and get_methodologies_search_url
  cms/topics/models.py
  cms/topics/utils.py
Due: pylint

Type hints issues fixed for get_topic_search_url utility function
  cms/topics/utils.py
Due: pylint

Use no cookie links for video embeds
  cms/core/blocks/embeddable.py
  cms/core/context_processors.py
  cms/jinja2/templates/components/streamfield/video_embed_block.html
  cms/standard_pages/utils.py
  functional_tests/steps/cookies_management.py
Due: pylint

Apply suggestions
  cms/core/elasticache.py
Due: pylint

fixup! Fix failing tests
  cms/articles/tests/test_series_models.py
  cms/standard_pages/tests/test_pages.py
Due: pylint

Bypass auth middleware for internal only API endpoints
  cms/auth/middleware.py
  cms/auth/tests/test_middleware.py
  cms/core/tests/test_views.py
Due: pylint

Fix weakly referenced object issue in Elastic Cache (#386)
  cms/core/elasticache.py
Due: pylint

update local.py.example
  cms/settings/local.py.example
Due: none

fix: code comment casing
  .github/workflows/ci.yml
  docker-compose-dev.yml
Due: lint:format

Update dataset API client to support dataset-editions endpoint
  cms/datasets/models.py
  cms/datasets/tests/test_models.py
  cms/settings/base.py
Due: pylint

Use the /-/ path prefix to identify internal endpoints
  cms/auth/middleware.py
  cms/auth/tests/test_middleware.py
Due: pylint

Leftover fixme comments removed
  cms/articles/models.py
  cms/methodology/models.py
Due: pylint

Add comment where URL paths are set
  cms/urls.py
Due: pylint

Bypass auth middleware for internal only API endpoints (#388)
  cms/auth/middleware.py
  cms/auth/tests/test_middleware.py
  cms/core/tests/test_views.py
  cms/urls.py
Due: pylint

Add published/unpublished dataset chooser filter
  cms/bundles/panels.py
  cms/datasets/tests/test_views.py
  cms/datasets/views.py
  cms/jinja2/templates/admin/datasets/chooser/chooser.html
  cms/jinja2/templates/admin/datasets/chooser/results.html
  cms/static_src/javascript/dataset-chooser.js
  cms/users/permissions.py
Due: pylint, lint:js, lint:format

Improve dataset chooser implementation clarity
  cms/datasets/views.py
  cms/users/permissions.py
Due: pylint
