Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Update readme with extra steps needed for pre-commit
  README.md
Due: none

Run prettier to update the README file
  README.md
Due: none

Run prettier
  README.md
Due: none

Tidy up tests
  cms/methodology/tests/test_models.py
Due: pylint

Address code review feedback
  README.md
Due: none

Formatting fix
  README.md
Due: none

Disable markup from megalinter (#64)
  .mega-linter.yml
Due: lint:format

Ensure the default DB is **always** used for writes
  cms/core/db_router.py
  cms/core/tests/__init__.py
  cms/core/tests/test_db_router.py
  cms/core/tests/test_read_only_connection.py
Due: pylint

Make related publications specific to Methodology page and limited to Analysis pages
  cms/jinja2/templates/pages/methodology_page.html
  cms/methodology/migrations/0001_initial.py
  cms/methodology/models.py
Due: pylint

Minor tidy ups
  cms/core/blocks/section_blocks.py
  cms/methodology/apps.py
Due: pylint

Bundles: exclude Release Calendar pages with a date in the past (#66)
  cms/release_calendar/tests/test_viewsets.py
  cms/release_calendar/viewsets.py
  poetry.lock
Due: pylint

Format
  README.md
  functional_tests/README.md
Due: none

Resolve merge conflicts
  functional_tests/README.md
Due: none

Fix table of contents formatting
  functional_tests/README.md
Due: none

Wording tweak
  README.md
Due: none

Styling for the release page plus some refactoring (#55)
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/accredited/accredited-information.html
  cms/jinja2/templates/components/accredited/accredited-logo.html
  cms/jinja2/templates/components/census/census-information.html
  cms/jinja2/templates/components/census/census-logo.html
  cms/jinja2/templates/components/contact_details/contact_details.html
  cms/jinja2/templates/components/streamfield/stream_block--related-links.html
  cms/jinja2/templates/components/streamfield/stream_block.html
  cms/jinja2/templates/pages/analysis_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/static_src/sass/components/_accreditations.scss
  cms/static_src/sass/components/_analysis-header.scss
  cms/static_src/sass/components/_button-nav.scss
  cms/static_src/sass/components/_census-logo.scss
  cms/static_src/sass/components/_chart-embed.scss
  cms/static_src/sass/components/_common-header.scss
  cms/static_src/sass/components/_landing-header.scss
  cms/static_src/sass/components/_release-header.scss
  cms/static_src/sass/components/_rich-text.scss
  cms/static_src/sass/components/_spacing.scss
  cms/static_src/sass/components/_topic-header.scss
  cms/static_src/sass/components/design_system_overrides/_back-to-top.scss
  cms/static_src/sass/components/design_system_overrides/_button.scss
  cms/static_src/sass/components/design_system_overrides/_container.scss
  cms/static_src/sass/components/design_system_overrides/_grid.scss
  cms/static_src/sass/components/design_system_overrides/_page.scss
  cms/static_src/sass/components/design_system_overrides/_toc.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Update the methodology page template post #55
  cms/jinja2/templates/pages/methodology_page.html
Due: none

Remove duplicated lines
  README.md
Due: none

Fix test link location
  functional_tests/steps/release_page.py
Due: pylint

Tidy up the related publications output
  cms/jinja2/templates/pages/methodology_page.html
  cms/methodology/models.py
  cms/methodology/tests/factories.py
  cms/methodology/tests/test_models.py
Due: pylint

Ensure the default DB is **always** used for writes (#68)
  cms/core/db_router.py
  cms/core/tests/__init__.py
  cms/core/tests/test_db_router.py
  cms/core/tests/test_read_only_connection.py
Due: pylint

Committing working factories to save
  cms/navigation/tests/factories.py
  cms/navigation/tests/test_blocks.py
Due: pylint

Methodology page (#57)
  cms/analysis/models.py
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/core/tests/factories.py
  cms/jinja2/templates/components/streamfield/section_block.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/methodology/__init__.py
  cms/methodology/apps.py
  cms/methodology/migrations/0001_initial.py
  cms/methodology/migrations/__init__.py
  cms/methodology/models.py
  cms/methodology/tests/__init__.py
  cms/methodology/tests/factories.py
  cms/methodology/tests/test_models.py
  cms/settings/base.py
  cms/topics/models.py
Due: pylint

Update the bundle app to use articles
  cms/bundles/models.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_notifications.py
  cms/bundles/tests/test_panels.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/test_wagtail_hooks.py
Due: pylint

Add the articles app
  cms/articles/__init__.py
  cms/articles/apps.py
  cms/articles/migrations/0001_initial.py
  cms/articles/migrations/__init__.py
  cms/articles/models.py
  cms/articles/tests/__init__.py
  cms/articles/tests/factories.py
  cms/articles/tests/test_models.py
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/settings/base.py
Due: pylint

Mark the old analysis pages as non-creatable
  cms/analysis/models.py
Due: pylint

Rename analysis-header classes to article-header
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/static_src/sass/components/_article-header.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Update the Methodology related pages chooser to use the StatisticalArticlePage
  cms/methodology/models.py
  cms/methodology/tests/factories.py
Due: pylint

Update TopicPage subpage types to use ArticleSeries
  cms/topics/models.py
Due: pylint

Tighten up the allowed urls and update the embed extraction and tests
  cms/core/blocks/embeddable.py
  cms/core/blocks/stream_blocks.py
  cms/core/tests/test_blocks.py
Due: pylint

Keep page model names consistent (`ArticleSeries` -> `ArticleSeriesPage`)
  cms/articles/migrations/0001_initial.py
  cms/articles/models.py
  cms/articles/tests/factories.py
  cms/articles/tests/test_models.py
  cms/topics/models.py
Due: pylint

Add an articles app for statistical articles (#69)
  cms/articles/__init__.py
  cms/articles/apps.py
  cms/articles/migrations/0001_initial.py
  cms/articles/migrations/__init__.py
  cms/articles/models.py
  cms/articles/tests/__init__.py
  cms/articles/tests/factories.py
  cms/articles/tests/test_models.py
  cms/bundles/models.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_notifications.py
  cms/bundles/tests/test_panels.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/test_wagtail_hooks.py
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/methodology/models.py
  cms/methodology/tests/factories.py
  cms/settings/base.py
  cms/static_src/sass/components/_article-header.scss
  cms/static_src/sass/main.scss
  cms/topics/models.py
Due: pylint, lint:css, lint:format

Remove the analysis models
  cms/analysis/migrations/0002_remove_analysisseries_page_ptr_delete_analysispage_and_more.py
  cms/analysis/models.py
  cms/analysis/tests/__init__.py
  cms/analysis/tests/factories.py
  cms/analysis/tests/test_models.py
  cms/jinja2/templates/pages/analysis_page--previous-releases.html
  cms/jinja2/templates/pages/analysis_page.html
Due: pylint

Remove the analysis models (#70)
  cms/analysis/migrations/0002_remove_analysisseries_page_ptr_delete_analysispage_and_more.py
  cms/analysis/models.py
  cms/analysis/tests/__init__.py
  cms/analysis/tests/factories.py
  cms/analysis/tests/test_models.py
  cms/jinja2/templates/pages/analysis_page--previous-releases.html
  cms/jinja2/templates/pages/analysis_page.html
Due: pylint

Remove the analysis app
  cms/analysis/__init__.py
  cms/analysis/migrations/0001_initial.py
  cms/analysis/migrations/0002_remove_analysisseries_page_ptr_delete_analysispage_and_more.py
  cms/analysis/migrations/__init__.py
  cms/analysis/models.py
  cms/settings/base.py
Due: pylint

Fix to related content on the release page
  cms/jinja2/templates/components/streamfield/release_content_section.html
Due: none

Update the readme libq link to the latest version of postgres
  README.md
Due: none

Tidy up the info/warning panel and fix title/no title output
  cms/core/blocks/panels.py
  cms/jinja2/templates/components/streamfield/panel_block.html
Due: pylint

Add has_equations and has_ons_embed for the Methodology page model
  cms/methodology/models.py
Due: pylint

Clean method for ColumnBlock added and tests updated
  cms/navigation/models.py
Due: pylint
