Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Revert "Placate mypy"
  cms/bundles/bundle_api_sync_service.py
  cms/bundles/models.py
  cms/bundles/notifications/email.py
  cms/core/db_router.py
  cms/core/models/base.py
  cms/images/models.py
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/models.py
Due: pylint

use old link
  README.md
Due: none

`_count` suffix
  cms/bundles/notifications/slack.py
Due: pylint

Reduce stop and wait polling duration
  cms/post_publish_actions/executor.py
Due: pylint

Force post publish actions utils to use write DB
  cms/post_publish_actions/utils.py
Due: pylint

Fix assertion
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

Remove translation from post publish action choices
  cms/post_publish_actions/models.py
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

Update license and copyright (#704)
  README.md
Due: none

Update messages
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Ignore: Testing Jira integration
  README.md
Due: none

Use 'Cite this page' labelling consistently (#698)
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_pages.py
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/methodology/models.py
  cms/methodology/tests/test_pages.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/table_of_contents.py
Due: pylint

Remove CSP context processor when CSP disabled
  cms/settings/base.py
Due: pylint

Retry ready actions
  cms/post_publish_actions/management/commands/retry_post_publish_actions.py
  cms/post_publish_actions/tests/test_management_commands.py
Due: pylint

Disable DB connection pool in tests
  cms/settings/test.py
Due: pylint

Make revision optional for signal handler
  cms/post_publish_actions/signal_handlers.py
Due: pylint

Update lock file hash
  poetry.lock
Due: none

Remove diff noise from po file
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Set bundle start earlier so it always exists
  cms/bundles/management/commands/publish_bundles.py
Due: pylint

Add test for uses_write_db
  cms/taxonomy/tests/test_models.py
Due: pylint

Tidy up .po file
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Use latest migration in tests
  cms/topics/tests/test_migrations.py
Due: pylint

Prevent duplicate entries of page/topic combinations (#697)
  cms/taxonomy/models.py
  cms/taxonomy/tests/test_mixins.py
  cms/taxonomy/tests/test_models.py
Due: pylint

Add .public() to queryset
  cms/articles/models.py
  cms/articles/tests/test_series_models.py
Due: pylint

docs: add guidance on pinning GitHub Actions to SHA hashes for security
  README.md
Due: none

docs: improve formatting of pinned GitHub Actions reference for clarity
  README.md
Due: none

docs: add example usage for running pinact on workflow files
  README.md
Due: none

chore: remove redundant Heroku configuration file
  heroku.yml
Due: lint:format

chore: remove redundant Heroku configuration file (#709)
  heroku.yml
Due: lint:format

docs: simplify pinact usage instructions in README
  README.md
Due: none

Update the ds version to the latest pre-release which contains the new content slots
  .design-system-version
Due: none

Re-add the default breadcrumbs to the base page - this is used by the cookies template
  cms/jinja2/templates/base_page.html
Due: none

Table block - change sub-heading to subtitle
  cms/core/blocks/markup.py
  cms/core/migrations/0018_migrate_table_caption_to_subtitle.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/table_block.html
  functional_tests/steps/statistical_article_page.py
Due: pylint

Ensure we use an exact match for the title label
  functional_tests/steps/statistical_article_page.py
Due: pylint

fix: remove fuzzy translations and update Welsh language entries
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Access release date attribute safely
  cms/core/formatting_utils.py
Due: pylint

Ensure default content type exists for methodologies
  cms/core/formatting_utils.py
Due: pylint

Remove redundant get option
  cms/core/formatting_utils.py
Due: pylint

Add google font support
  .secrets.baseline
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

Add comment about why google font in internal
  cms/settings/base.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
