Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

fix makefile command for makemessages-check
  Makefile
Due: none

fix linting errors
  cms/locale/management/commands/makemessages.py
  cms/locale/tests/test_makemessages.py
Due: pylint

make check not dependent on order of ids, support displaying ids from multiple files
  cms/locale/management/commands/makemessages.py
  cms/locale/tests/test_makemessages.py
Due: pylint

Update cms/core/permission_testers.py, fix typo
  cms/core/permission_testers.py
Due: pylint

override makemessages with command that includes a --check flag to warn of changes to the .po files
  cms/locale/management/commands/makemessages.py
  cms/locale/tests/test_makemessages.py
Due: pylint

Upgrade Wagtail to 7.3, update dependencies
  .nvmrc
  .pre-commit-config.yaml
  cms/settings/base.py
  package-lock.json
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Add migration to remove existing page view restrictions
  cms/core/migrations/0015_delete_existing_page_view_restrictions.py
Due: pylint

Use file.url as indicated in comment
  cms/core/tests/test_blocks.py
Due: pylint

Add comments, optimise code
  cms/core/signal_handlers.py
Due: pylint

password_required.html improved and florence SSO wired in for privacy settings that require logging in.
  cms/auth/views.py
  cms/core/middleware.py
  cms/jinja2/templates/pages/wagtail/password_required.html
  cms/settings/base.py
  cms/urls.py
Due: pylint

Enhance frontend login redirect validation for SSO and AWS_COGNITO_LOGIN_ENABLED default reverted back to false.
  cms/auth/views.py
  cms/settings/base.py
Due: pylint

Refactor frontend login redirect to enhance security by validating allowed hosts and schemes. - CoPilot keeps flagging weird stuff
  cms/auth/views.py
Due: pylint

Frontend login redirect to ensure only local relative paths are allowed for post-login redirects.
  cms/auth/views.py
Due: pylint

Fix key for modified file dict
  cms/locale/management/commands/makemessages.py
  cms/locale/tests/test_makemessages.py
Due: pylint

update makefile and readme to include `makemessages-check` command
  Makefile
  README.md
Due: none

remove `_normalize` static method as no longer in use with current approach
  cms/locale/management/commands/makemessages.py
  cms/locale/tests/test_makemessages.py
Due: pylint

Update cms/core/migrations/0015_delete_existing_page_view_restrictions.py
  cms/core/migrations/0015_delete_existing_page_view_restrictions.py
Due: pylint

update `makemessages` and `makemessages-check` makefile commands
  Makefile
Due: none

rerun formatter
  cms/locale/tests/test_makemessages.py
Due: pylint

Fix migration, add feature flag for disabling page privacy access
  cms/core/migrations/0015_delete_existing_page_view_restrictions.py
  cms/core/permission_testers.py
  cms/core/tests/test_permission_testers.py
  cms/settings/base.py
Due: pylint

Fix mypy failure, update setting name
  cms/core/permission_testers.py
  cms/core/tests/test_permission_testers.py
  cms/settings/base.py
Due: pylint

updated logic to include `msgctxt` and `msgid_plural`, and switched to using a NamedTuple for keys and improved print output
  cms/locale/management/commands/makemessages.py
  cms/locale/tests/test_makemessages.py
Due: pylint

Update Welsh Translations - CMS-1123 (#570)
  cms/core/blocks/markup.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

Ensure consistent wagtail admin home path in tests
  cms/auth/tests/helpers.py
  cms/urls.py
Due: pylint

Sync slugs after page is published (#564)
  cms/core/signal_handlers.py
  cms/core/tests/test_signal_handlers.py
Due: pylint

Disable account editing in Wagtail (#563)
  cms/urls.py
  cms/users/templates/wagtailadmin/account/settings_panels/avatar_readonly.html
  cms/users/tests/test_account_view.py
  cms/users/views.py
  functional_tests/features/user_account.feature
  functional_tests/steps/user_account.py
Due: pylint

Make code work with multiple locales, update test
  cms/frontend_cache/cache.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

update error messaging wording
  cms/locale/management/commands/makemessages.py
Due: pylint

fix typo again
  cms/locale/management/commands/makemessages.py
Due: pylint

Make cookie store multiple entries if needed
  cms/bundles/views/preview.py
  cms/private_media/tests/test_serve_views.py
  cms/private_media/utils.py
Due: pylint

Return early if external nav
  cms/private_media/utils.py
Due: pylint

Revert "Return early if external nav"
  cms/private_media/utils.py
Due: pylint

Reapply "Return early if external nav"
  cms/private_media/utils.py
Due: pylint

Update tests
  cms/private_media/tests/test_serve_views.py
Due: pylint

Update makefile install-dev target. - install-dev target updated to include the commands to install pre-commit and install it within the project
  Makefile
Due: none

add wait and resolve confusion comment
  functional_tests/steps/bundles.py
Due: pylint

pre-commit installation steps improved
  Makefile
Due: none

Chore: Update Makefile install-dev Target (#578)
  Makefile
Due: none

Upgrade Django to ~6.0
  .secrets.baseline
  Makefile
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

Specify minor version
  poetry.lock
  pyproject.toml
Due: none
