Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Legend field tweaks
  cms/datavis/constants.py
  cms/datavis/migrations/0005_remove_chart_legend_position_alter_chart_show_legend.py
  cms/datavis/models/charts.py
Due: pylint

Remove redundant field-toggling JS from alpha POC
  cms/datavis/static/admin/datavis/js/toggleDataSourceFields.js
  cms/datavis/wagtail_hooks.py
Due: pylint, lint:js, lint:format

Add dot/scatter chart type and support 'scatter' display style for additional data sources
  cms/datavis/migrations/0006_scatterchart.py
  cms/datavis/models/charts.py
  cms/datavis/models/data.py
  cms/jinja2/templates/datavis/scatter_chart.html
Due: pylint

Placate linters
  cms/datavis/models/data.py
Due: pylint

Bring in some of the styling from the proof of concept (#87)
  cms/datavis/constants.py
  cms/datavis/models/charts.py
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: pylint, lint:js, lint:format

Add missing type hints to custom json_script tag
  cms/core/templatetags/util_tags.py
Due: pylint

Set related_name on created_by fields
  cms/datavis/migrations/0001_initial.py
  cms/datavis/models/base.py
  cms/datavis/models/data.py
Due: pylint

Fix meta titles for VisualisationTypeSelectView and VisualisationCopyView
  cms/datavis/views/visualisation.py
Due: pylint

Fix breadcrumb items on VisualisationTypeSelectView
  cms/datavis/views/visualisation.py
Due: pylint

Placate mypy
  cms/datavis/views/visualisation.py
  cms/users/models.py
Due: pylint

Field label tweaks
  cms/datavis/models/data.py
Due: pylint

Add the annotations module
  cms/datavis/models/charts.py
Due: pylint

Charts spike WIP (#95)
  cms/datavis/models/charts.py
  cms/jinja2/templates/datavis/_macro.njk
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/static_src/javascript/components/bar-chart-plot-options.js
  cms/static_src/javascript/components/chart-constants.js
  cms/static_src/javascript/components/column-chart-plot-options.js
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/highcharts-base-chart.js
  cms/static_src/javascript/components/line-chart-plot-options.js
Due: pylint, lint:js, lint:format

Bugfix in datalabels adjustments
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Charts: pass config and annotations to the macro as json (#105)
  cms/jinja2/templates/datavis/_macro.njk
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Improvements to data labels (#103)
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Move chart editing interface from snippets to StreamField (#126)
  cms/core/blocks/stream_blocks.py
  cms/core/wagtail_hooks.py
  cms/datavis/apps.py
  cms/datavis/blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/table.py
  cms/datavis/blocks/utils.py
  cms/datavis/checks.py
  cms/datavis/filters.py
  cms/datavis/forms/datasource.py
  cms/datavis/migrations/0007_remove_datavis_snippet_models.py
  cms/datavis/models/__init__.py
  cms/datavis/models/base.py
  cms/datavis/models/charts.py
  cms/datavis/models/data.py
  cms/datavis/models/mixins.py
  cms/datavis/tests/__init__.py
  cms/datavis/tests/test_utils.py
  cms/datavis/utils.py
  cms/datavis/views/datasource.py
  cms/datavis/views/mixins.py
  cms/datavis/views/specific.py
  cms/datavis/views/visualisation.py
  cms/datavis/viewsets.py
  cms/datavis/wagtail_hooks.py
  cms/jinja2/templates/components/streamfield/datavis/_macro.njk
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
  cms/jinja2/templates/components/streamfield/datavis_block.html
  cms/jinja2/templates/datavis/area_chart.html
  cms/jinja2/templates/datavis/bar_chart.html
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/jinja2/templates/datavis/column_chart.html
  cms/jinja2/templates/datavis/line_chart.html
  cms/jinja2/templates/datavis/preview.html
  cms/jinja2/templates/datavis/scatter_chart.html
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: pylint, lint:js, lint:format

Update CMS configuration options for line charts (#142)
  cms/datavis/apps.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/table.py
  cms/datavis/blocks/utils.py
  cms/datavis/checks.py
  cms/datavis/constants.py
  cms/datavis/tests/factories.py
  cms/datavis/tests/test_chart_blocks.py
  cms/datavis/tests/test_table_block.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Due: pylint

Upgrade chart builder to use Design System version 72.8.0 (#153)
  cms/core/jinja2.py
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_jinja2.py
  cms/core/tests/test_tags.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_chart_blocks.py
  cms/jinja2/templates/components/streamfield/datavis/_macro.njk
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
  cms/settings/base.py
  cms/static_src/javascript/components/highcharts-base-chart.js
  cms/static_src/javascript/main.js
Due: pylint, lint:js, lint:format

Allow the CI to run for datavis PRs (#168)
  .github/workflows/ci.yml
  cms/datavis/forms/visualisation.py_
  cms/settings/dev.py
  cms/users/models.py
Due: pylint, lint:format

Add bar/column chart (#169)
  cms/core/blocks/stream_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Due: pylint

Enable chart point annotations (#172)
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_annotations.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Due: pylint

Chore: charts code cleanup (#175)
  cms/core/tests/test_tags.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
Due: pylint

Column chart with line (#190)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

Add configurable chart aspect ratios (#177)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/chart_options.py
  cms/datavis/tests/test_chart_blocks.py
  cms/datavis/tests/test_chart_options.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Due: pylint

Fix charts macro key for annotations (#184)
  cms/datavis/blocks/base.py
Due: pylint

Refactor tests and business logic to use named objects (#194)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

Use absolute URLs for schema breadcrumbs
  cms/articles/models.py
  cms/articles/tests/test_pages.py
  cms/core/models/base.py
  cms/core/tests/test_models.py
  cms/core/tests/test_pages.py
Due: pylint

Fix linting, revert unnecessary file
  cms/core/database_backends/postgres_readonly/base.py
  cms/core/models/base.py
  cms/standard_pages/models.py
Due: pylint

Fix hardcoded test urls
  cms/articles/tests/test_pages.py
  cms/core/models/base.py
  cms/core/tests/test_pages.py
Due: pylint

Fix breadcrumbs tests
  cms/core/tests/test_models.py
Due: pylint

Feature/statistical article page chart ccb 103 (#200)
  cms/core/blocks/section_blocks.py
  cms/datavis/apps.py
  cms/datavis/blocks/base.py
  cms/datavis/checks.py
  cms/datavis/models/mixins.py
  cms/standard_pages/models.py
Due: pylint

Scatter plot (#205)
  cms/core/blocks/stream_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_annotations.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/datavis/tests/test_chart_options.py
  cms/datavis/tests/test_line_chart_block.py
  cms/datavis/tests/test_scatter_plot_block.py
Due: pylint

Scatter Plot on Statistical Article and Methodology pages only (#209)
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
Due: pylint

Area chart (#211)
  cms/core/blocks/section_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_area_chart_block.py
Due: pylint

Configure mobile/desktop tick interval independently (#214)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/datavis/tests/test_line_chart_block.py
  cms/datavis/tests/test_scatter_plot_block.py
Due: pylint

Range annotations (#221)
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_annotations_base.py
  cms/datavis/tests/test_annotations_point.py
  cms/datavis/tests/test_annotations_range.py
Due: pylint

Remove charts from CoreStoryBlock (#234)
  cms/core/blocks/stream_blocks.py
Due: pylint

Remove unused charts preview code (#229)
  cms/datavis/constants.py
  cms/datavis/forms/__init__.py
  cms/datavis/forms/visualisation.py_
  cms/datavis/migrations/0001_initial.py
  cms/datavis/migrations/0002_datasource_column_count.py
  cms/datavis/migrations/0003_chart_marker_style.py
  cms/datavis/migrations/0004_chart_annotations_delete_annotation.py
  cms/datavis/migrations/0005_remove_chart_legend_position_alter_chart_show_legend.py
  cms/datavis/migrations/0006_scatterchart.py
  cms/datavis/migrations/0007_remove_datavis_snippet_models.py
  cms/datavis/migrations/__init__.py
  cms/datavis/models/__init__.py
  cms/datavis/templates/datavis/admin/visualisation_type_select.html
  cms/static_src/javascript/components/bar-chart-plot-options.js
  cms/static_src/javascript/components/chart-constants.js
  cms/static_src/javascript/components/column-chart-plot-options.js
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/line-chart-plot-options.js
Due: pylint, lint:js, lint:format

Set onsChart headingLevel to 3 (#231)
  cms/datavis/blocks/base.py
Due: pylint
