Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Kafka Broker added to the main docker-compose.yml file and KAFKA_API_VERSION env var updated to fix linting issues
  cms/settings/base.py
  docker-compose.yml
Due: pylint, lint:format

Page factories being stored as instances now
  cms/search/tests/test_wagtail_hooks.py
Due: pylint

Refactor topic handling in publishers and add topic_ids property in mixins
  cms/search/publishers.py
  cms/taxonomy/mixins.py
Due: pylint

Add extra context in comment
  functional_tests/steps/statistical_article_page.py
Due: pylint

logs cleaned up
  cms/search/publishers.py
  cms/search/tests/test_publishers.py
Due: pylint

Add correction and notice block (#122)
  cms/articles/apps.py
  cms/articles/migrations/0003_statisticalarticlepage_corrections_and_more.py
  cms/articles/models.py
  cms/articles/signal_handlers.py
  cms/core/blocks/panels.py
  cms/core/forms.py
  cms/core/models/base.py
  cms/core/static/js/blocks/correction-block.js
  cms/core/static/js/blocks/previous-version-block.js
  cms/core/tests/test_blocks.py
  cms/core/whitenoise.py
  cms/jinja2/templates/components/streamfield/correction_block.html
  cms/jinja2/templates/components/streamfield/notice_block.html
  cms/jinja2/templates/components/streamfield/notices_block.html
  cms/jinja2/templates/pages/statistical_article_page.html
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/methodology_page.py
  functional_tests/steps/statistical_article_page.py
Due: pylint, lint:js, lint:format

Use HTML text inputs in numeric mode (#127)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/utils.py
Due: pylint

Fix indentation issue
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Add signal handlers for page publish/unpublish/delete events and removed the use of Wagtail hooks
  cms/search/apps.py
  cms/search/signals.py
  cms/search/tests/test_signals.py
  cms/search/tests/test_wagtail_hooks.py
  cms/search/wagtail_hooks.py
Due: pylint

Refactor footer menu feature scenarios for clarity and consistency
  functional_tests/features/footer_menu.feature
Due: none

Move chart editing interface from snippets to StreamField (#126)
  cms/core/blocks/stream_blocks.py
  cms/core/wagtail_hooks.py
  cms/datavis/apps.py
  cms/datavis/blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/table.py
  cms/datavis/blocks/utils.py
  cms/datavis/checks.py
  cms/datavis/filters.py
  cms/datavis/forms/datasource.py
  cms/datavis/migrations/0007_remove_datavis_snippet_models.py
  cms/datavis/models/__init__.py
  cms/datavis/models/base.py
  cms/datavis/models/charts.py
  cms/datavis/models/data.py
  cms/datavis/models/mixins.py
  cms/datavis/tests/__init__.py
  cms/datavis/tests/test_utils.py
  cms/datavis/utils.py
  cms/datavis/views/datasource.py
  cms/datavis/views/mixins.py
  cms/datavis/views/specific.py
  cms/datavis/views/visualisation.py
  cms/datavis/viewsets.py
  cms/datavis/wagtail_hooks.py
  cms/jinja2/templates/components/streamfield/datavis/_macro.njk
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
  cms/jinja2/templates/components/streamfield/datavis_block.html
  cms/jinja2/templates/datavis/area_chart.html
  cms/jinja2/templates/datavis/bar_chart.html
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/jinja2/templates/datavis/column_chart.html
  cms/jinja2/templates/datavis/line_chart.html
  cms/jinja2/templates/datavis/preview.html
  cms/jinja2/templates/datavis/scatter_chart.html
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: pylint, lint:js, lint:format

update hero with html for contact & revision links and update methodology page with grey hero variant as well
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Checks for Kafka settings updated and implemented unit tests for validation
  cms/search/checks.py
  cms/search/tests/test_checks.py
Due: pylint

Migration file cleaned up + added permissions for images and topic page featured series
  cms/core/migrations/0006_update_user_groups.py
  cms/topics/models.py
Due: pylint

Renamed the featured series on topic page permission
  cms/core/migrations/0006_update_user_groups.py
  cms/core/wagtail_hooks.py
  cms/topics/models.py
Due: pylint

Fix template rendering issue
  cms/jinja2/templates/components/streamfield/dataset_link_block.html
Due: none

Add publish permissions for MainMenu and FooterMenu
  cms/core/migrations/0006_update_user_groups.py
  cms/core/wagtail_hooks.py
Due: pylint

Fix assignment of revisions to corrections
  cms/articles/tests/test_pages.py
  cms/core/forms.py
  cms/core/static/js/blocks/previous-version-block.js
Due: pylint, lint:js, lint:format

RuntimeWarning fixed
  cms/search/tests/test_checks.py
Due: pylint

Fix count override
  cms/datasets/models.py
Due: pylint

Address comment Re. jinja fallback syntax
  cms/jinja2/templates/components/streamfield/dataset_link_block.html
Due: none

Refactor signal receiver for page deletion to specify sender as Page
  cms/search/signals.py
Due: pylint

Unit tests
  cms/core/migrations/0006_update_user_groups.py
  cms/core/tests/test_permissions.py
Due: pylint

Fix assignment of revisions to corrections (#131)
  cms/articles/tests/test_pages.py
  cms/core/forms.py
  cms/core/static/js/blocks/previous-version-block.js
Due: pylint, lint:js, lint:format

Update UI test to match up to refactoring
  functional_tests/features/footer_menu.feature
  functional_tests/steps/footer_menu.py
Due: pylint

Wire in teams to bundles
  cms/bundles/migrations/0002_bundleteam.py
  cms/bundles/models.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets.py
  cms/teams/models.py
Due: pylint

De-localize bundle code
  cms/bundles/admin_forms.py
  cms/bundles/enums.py
  cms/bundles/forms.py
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/templates/bundles/wagtailadmin/add_to_bundle.html
  cms/bundles/templates/bundles/wagtailadmin/edit.html
  cms/bundles/templates/bundles/wagtailadmin/inspect.html
  cms/bundles/templates/bundles/wagtailadmin/panels/latest_bundles.html
  cms/bundles/tests/test_views.py
  cms/bundles/views.py
  cms/bundles/viewsets.py
  cms/bundles/wagtail_hooks.py
Due: pylint

Add workflows app and base task models
  cms/bundles/admin_forms.py
  cms/settings/base.py
  cms/workflows/__init__.py
  cms/workflows/apps.py
  cms/workflows/migrations/0001_initial.py
  cms/workflows/migrations/__init__.py
  cms/workflows/models.py
Due: pylint

DB Route failing tests fixed
  cms/search/apps.py
  cms/search/signals.py
Due: pylint

Only allow bundle approval if all related pages are ready to be published
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/utils.py
Due: pylint

Drop bundle self-approval restriction
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Relabel bundle statuses
  cms/bundles/enums.py
  cms/bundles/tests/test_panels.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Add the workflow state to the page chooser on bundles
  cms/bundles/panels.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/utils.py
Due: pylint

Add the review workflow and tasks via migration
  cms/workflows/migrations/0002_review_workflow.py
Due: pylint

Move workflow test utils to the workflows app
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/utils.py
  cms/workflows/tests/__init__.py
  cms/workflows/tests/utils.py
Due: pylint

Move add_to_bundle view to own module under bundles.views
  cms/bundles/admin_urls.py
  cms/bundles/views/__init__.py
  cms/bundles/views/add_to_bundle.py
Due: pylint

Add a base preview view
  cms/bundles/admin_urls.py
  cms/bundles/models.py
  cms/bundles/views/preview.py
  cms/bundles/viewsets.py
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/preview-bar/preview-bar.html
  cms/workflows/utils.py
Due: pylint

Placate mypy
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/views/preview.py
Due: pylint

Log preview and preview attempts
  cms/bundles/tests/test_views.py
  cms/bundles/views/preview.py
  cms/bundles/wagtail_hooks.py
Due: pylint

Tidy up Bundle.get_bundled_pages usage with specific querysets
  cms/bundles/models.py
Due: pylint
