Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Update release-pages ui test and remove exact=True
  functional_tests/features/release_page.feature
  functional_tests/steps/information_page.py
  functional_tests/steps/release_page.py
Due: pylint

Update function names
  functional_tests/steps/information_page.py
  functional_tests/steps/release_page.py
Due: pylint

commit for code review
  functional_tests/features/bundle_page.feature
  functional_tests/steps/bundles.py
Due: pylint

Prevent copying of topic and theme pages
  cms/themes/tests/test_pages.py
  cms/topics/tests/test_pages.py
  cms/topics/wagtail_hooks.py
Due: pylint

Add date format placeholder on date datetime fields (#180)
  cms/articles/models.py
  cms/articles/tests/test_pages.py
  cms/bundles/models.py
  cms/bundles/tests/test_pages.py
  cms/core/widgets.py
  cms/methodology/models.py
  cms/methodology/tests/test_pages.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_pages.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_pages.py
  functional_tests/features/bundle.feature
  functional_tests/features/information_page.feature
  functional_tests/features/methodology_page.feature
  functional_tests/features/release_page.feature
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/information_page.py
  functional_tests/steps/release_page.py
Due: pylint

Add repo checks for files matching
  .github/workflows/ci.yml
Due: lint:format

Update dockerignore from gitignore
  .dockerignore
  cms/settings/.gitignore
Due: none

Use custom script to diff gitignore and dockerignore
  .dockerignore
  .github/check_docker_ignore.py
  .github/workflows/ci.yml
  .gitignore
  Makefile
Due: pylint, lint:format

add print button to methodology & stat article pages
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

add note to add in related publications & data to topic sidebar
  cms/jinja2/templates/pages/topic_page.html
Due: none

update comment syntax
  cms/jinja2/templates/pages/topic_page.html
Due: none

Check settings
  cms/topics/wagtail_hooks.py
Due: pylint

Combine conditions to refactor
  cms/topics/wagtail_hooks.py
Due: pylint

Fix copy paste issue
  cms/themes/tests/test_pages.py
Due: pylint

Address feedback
  cms/bundles/models.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/topics/models.py
Due: pylint

Remove live=false as it has no impact on test
  cms/bundles/tests/test_management_commands.py
Due: pylint

Set replica connection to read-only in dev
  cms/core/database_backends/postgres_readonly/base.py
  cms/core/tests/test_read_only_connection.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/functional_test.py
  cms/settings/test.py
Due: pylint

feat: Column chart with line
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

Prevent copying of topic and theme pages (#188)
  cms/themes/tests/test_pages.py
  cms/topics/tests/test_pages.py
  cms/topics/wagtail_hooks.py
Due: pylint

refactor: Use error codes to make tests less fragile
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

fix: Improve error detection and add test
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

Ensure pages are published and unpublished inside a transaction
  cms/core/models/base.py
Due: pylint

App setup
  cms/bundles/migrations/0003_bundleteam_notification_sent.py
  cms/notifications/__init__.py
  cms/notifications/apps.py
  cms/notifications/notifiers.py
  cms/notifications/signal_handlers.py
  cms/settings/base.py
Due: pylint

remove lists array from methodology TOC as its not needed with only one list of links
  cms/jinja2/templates/pages/methodology_page.html
Due: none

incorporate datasets links into related links of TOC component
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

refactor: Update line overlay error logic and add test
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

Fix HTML linting issues
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Ensure functional tests use different DB port
  cms/settings/functional_test.py
Due: pylint

Remove duplicate database allow
  cms/core/tests/test_read_only_connection.py
Due: pylint

Column chart with line (#190)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

Add additional tests
  cms/articles/tests/test_pages.py
  cms/methodology/tests/test_pages.py
  cms/topics/tests/test_pages.py
Due: pylint

remove redundant <section> and <h2> from glossary component
  cms/jinja2/templates/components/streamfield/glossary_section_block.html
Due: none

Add ONSAdminDateTimeInput
  cms/bundles/models.py
  cms/core/widgets.py
  cms/release_calendar/models.py
Due: pylint

remove invalid height="auto" attribute from hardcoded images
  cms/jinja2/templates/components/accredited/accredited-logo.html
  cms/jinja2/templates/components/census/census-logo.html
Due: none

Pre-save signal unexpected behavior
  cms/bundles/migrations/0003_bundleteam_notification_sent.py
  cms/notifications/__init__.py
  cms/notifications/apps.py
  cms/notifications/notifiers.py
  cms/notifications/signal_handlers.py
Due: pylint

Add non-js equation generation
  Dockerfile
  cms/articles/forms.py
  cms/articles/tests/test_utils.py
  cms/articles/utils.py
  cms/core/blocks/equation.py
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/core/static/js/blocks/equation-block.js
  cms/jinja2/templates/components/streamfield/equation_block.html
  cms/static_src/sass/components/_equation.scss
  cms/static_src/sass/components/_js-only-element.scss
  cms/static_src/sass/main.scss
  poetry.lock
  pyproject.toml
Due: pylint, lint:js, lint:css, lint:format

Update methodology & topic pages - integrate with design system (#162)
  cms/articles/tests/test_pages.py
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/methodology/tests/test_pages.py
  cms/topics/tests/test_pages.py
Due: pylint

Add additional deps to workflow
  .github/workflows/ci.yml
Due: lint:format

update methodology & stat article hero to build up itemsList manually so that we aren't adding empty <divs> for empty conditional fields
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Fix functional tests
  functional_tests/steps/information_page.py
Due: pylint
