Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Excluded apps added for linter
  cms/settings/base.py
Due: pylint

CI pipeline added
  .github/workflows/ci.yml
  cms/settings/base.py
Due: pylint, lint:format

Rename make commands, update the refrences in README and replace django-admin commands with make commands
  Makefile
  README.md
Due: none

Added the new section in the readme to the table of contents
  README.md
Due: none

Renamed the dev .env file to .development.env
  .development.env
Due: none

Recent changes
  cms/settings/base.py
Due: pylint

Formatting + error fixes
  Makefile
  README.md
Due: none

Remove the 'expose' key from docker compose
  docker-compose-dev.yml
Due: lint:format

CI file updated for the lint migration job.
  .github/workflows/ci.yml
  cms/settings/base.py
Due: pylint, lint:format

Add support for RDS DB with read replica (#15)
  Makefile
  cms/core/db_router.py
  cms/core/tests/test_db_router.py
  cms/core/wagtail_search.py
  cms/settings/base.py
  cms/settings/test.py
  poetry.lock
  pyproject.toml
Due: pylint

Connect to elasticache using IAM (#37)
  cms/core/cache.py
  cms/core/tests/test_cache.py
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

Initial locally working example tests
  cms/settings/functional_test.py
  functional_tests/__init__.py
  functional_tests/behave_fixtures.py
  functional_tests/docker-compose.yml
  functional_tests/environment.py
  functional_tests/factories.py
  functional_tests/features/example.feature
  functional_tests/steps/__init__.py
  functional_tests/steps/example.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Run in CI Github Action
  .github/workflows/ci.yml
  functional_tests/environment.py
  functional_tests/steps/example.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Matrix the functional tests on browser
  .github/workflows/ci.yml
Due: lint:format

Record and save traces on test failures
  .github/workflows/ci.yml
  .gitignore
  functional_tests/environment.py
  functional_tests/steps/example.py
Due: pylint, lint:format

Refactor feature steps into a better example structure, add info page feature
  functional_tests/behave_fixtures.py
  functional_tests/environment.py
  functional_tests/features/cms_login.feature
  functional_tests/features/home_page.feature
  functional_tests/features/information_page.feature
  functional_tests/steps/cms_login.py
  functional_tests/steps/home_page.py
  functional_tests/steps/information_page.py
Due: pylint

Add make targets
  Makefile
Due: none

Use docker compose instead of manual configured postgres
  .github/workflows/ci.yml
Due: lint:format

Remove browsers with issues from the actions run
  .github/workflows/ci.yml
  functional_tests/steps/information_page.py
Due: pylint, lint:format

Use DSLR instead of postgres client
  .github/workflows/ci.yml
  functional_tests/behave_fixtures.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Add basic README documentation on running the test
  Makefile
  README.md
  functional_tests/README.md
Due: none

Add scenario for release page
  functional_tests/README.md
  functional_tests/factories.py
  functional_tests/features/release_page.feature
  functional_tests/steps/contact_details_snippet.py
  functional_tests/steps/information_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
Due: pylint

Add more docs
  functional_tests/README.md
  functional_tests/environment.py
  functional_tests/features/release_page.feature
  functional_tests/steps/contact_details_snippet.py
Due: pylint

Add helpers for checking write queries
  cms/core/tests/__init__.py
  cms/core/tests/test_read_only_connection.py
Due: pylint

Fixed typo
  README.md
Due: none

Move megalinter config files
  .checkov.yml
  .github/linters/.checkov.yml
  .github/linters/.gitleaks.toml
  .github/linters/.stylelintrc.js
  .github/linters/kics.config
  .github/workflows/mega-linter.yml
  .markdown-lint.yml
  .mega-linter.yml
  kics.config
Due: lint:js, lint:format

Updated per review suggestions
  .github/workflows/ci.yml
  Makefile
  cms/settings/base.py
Due: pylint, lint:format

Implement new bulk_set_file_permissions() method, with setting to control 'max_workers' for the permission-setting threadpool
  cms/private_media/utils.py
  cms/settings/base.py
Due: pylint

Implement custom storage classes with make_private() and make_public() implementations
  cms/private_media/storages.py
  cms/settings/base.py
Due: pylint

Implement new abstract models and managers
  cms/private_media/manager.py
  cms/private_media/models.py
Due: pylint

Add new app
  cms/private_media/__init__.py
  cms/private_media/apps.py
  cms/settings/base.py
Due: pylint

Add to image app
  cms/images/admin_forms.py
  cms/images/migrations/0003_customimage_file_permissions_last_set_and_more.py
  cms/images/models.py
  cms/settings/base.py
Due: pylint

Add image serve view
  cms/images/views.py
  cms/urls.py
Due: pylint

Patch chooser URLs and modal JS so that the 'from_url' parameter is handled
  .gitignore
  cms/private_media/static/private_media/js/chooser-modal-overrides.js
  cms/private_media/wagtail_hooks.py
  cms/settings/base.py
Due: pylint, lint:js, lint:format

Add to documents app
  cms/documents/admin_forms.py
  cms/documents/migrations/0003_customdocument_file_permissions_last_set_and_more.py
  cms/documents/models.py
  cms/settings/base.py
Due: pylint

Implement replacement chooser views
  cms/private_media/middleware.py
  cms/private_media/views/__init__.py
  cms/private_media/views/document.py
  cms/private_media/views/image.py
  cms/private_media/views/mixins.py
Due: pylint

Move bulk_set_file_permissions() to a new bulk_operations module
  cms/private_media/bulk_operations.py
  cms/private_media/manager.py
  cms/private_media/models.py
Due: pylint

Placate linters
  cms/documents/admin_forms.py
  cms/documents/migrations/0003_customdocument_file_permissions_last_set_and_more.py
  cms/documents/models.py
  cms/images/admin_forms.py
  cms/images/migrations/0003_customimage_file_permissions_last_set_and_more.py
  cms/images/models.py
  cms/images/views.py
  cms/private_media/manager.py
  cms/private_media/middleware.py
  cms/private_media/models.py
  cms/private_media/static/private_media/js/chooser-modal-overrides.js
  cms/private_media/static/private_media/js/document-modal-overrides.js
  cms/private_media/static/private_media/js/image-modal-overrides.js
  cms/private_media/storages.py
  cms/private_media/utils.py
  cms/private_media/views/document.py
  cms/private_media/views/image.py
  cms/private_media/views/mixins.py
  cms/private_media/wagtail_hooks.py
Due: pylint, lint:js, lint:format

Simplify ParentIdentifyingChooserViewMixin method implementation and naming
  cms/private_media/views/mixins.py
Due: pylint

Move ImageServeView to private_media app to reduce sprawl
  cms/images/views.py
  cms/private_media/views/image.py
  cms/urls.py
Due: pylint
