Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Lint
  cms/bundles/tests/test_forms.py
  cms/topics/forms.py
  gunicorn.conf.py
Due: pylint

Fix our TransactionTestCase. _fixture_setup signature for Django 5.2
  cms/core/tests/__init__.py
Due: pylint

Bump Wagtail to 7.0
  poetry.lock
  pyproject.toml
Due: none

Bump Django to 5.2.2
  poetry.lock
  pyproject.toml
Due: none

Ensure poetry 1.8.5 is used all across
  .github/workflows/ci.yml
  Dockerfile
Due: lint:format

Consistenly use Django's cached_property
  cms/bundles/viewsets/bundle.py
  cms/bundles/wagtail_hooks.py
  cms/teams/models.py
Due: pylint

add multiple pages for bundles index
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Enable bar/column chart with confidence intervals
  cms/core/blocks/section_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
  cms/datavis/tests/test_chart_blocks_base.py
Due: pylint

Fix issue flagged by mypy
  .secrets.baseline
  cms/settings/base.py
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint

refactor: use match for if
  cms/datavis/blocks/charts.py
Due: pylint

Improve code comments
  cms/datavis/blocks/charts.py
Due: pylint

fix link in README
  README.md
Due: none

Fix functional-tests
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Enable markdown-link-check
  .github/linters/.markdown-link-check.json
  .mega-linter.yml
  README.md
Due: lint:format

fix link in README (#240)
  README.md
Due: none

Mark the release calendar summary as required on save
  cms/release_calendar/models.py
Due: pylint

Add functional tests
  cms/release_calendar/utils.py
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Add 'format' to validation error message
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Enable markdown-link-check (#241)
  .github/linters/.markdown-link-check.json
  .mega-linter.yml
  README.md
Due: lint:format

Update django/requests versions
  poetry.lock
  pyproject.toml
Due: none

Mark required text/StreamField fields as required on save
  cms/articles/models.py
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/topics/models.py
Due: pylint

Allow resources endpoint in internal env
  cms/search/tests/test_api_views.py
  cms/search/views.py
  cms/urls.py
  docs/integrations/search_service.md
Due: pylint

Upgrade django-csp to 4.0
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

Update wording
  cms/core/widgets.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_pages.py
Due: pylint

Remove references to kafka topics from docs
  docs/integrations/search_service.md
Due: none

Give page clearer title
  docs/custom-features/README.md
  docs/custom-features/deployment-environments.md
Due: none

Mention which static files are inaccessible in external env
  docs/custom-features/deployment-environments.md
Due: none

List which methods should be avoided
  docs/custom-features/db-read-replica.md
Due: none

Tweak table layout
  docs/integrations/search_service.md
Due: none

Allow resources endpoint in internal env (#243)
  cms/search/tests/test_api_views.py
  cms/search/views.py
  cms/urls.py
  docs/integrations/search_service.md
Due: pylint

Use sysmon for coverage core for speedier tests
  .github/workflows/ci.yml
  Makefile
Due: lint:format

Validate release calendar statuses and notice removal
  cms/core/migrations/0008_add_notice_permissions.py
  cms/core/tests/test_permissions.py
  cms/release_calendar/enums.py
  cms/release_calendar/forms.py
  cms/release_calendar/permissions.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

fix: Prevent duplicate get_label_offsets() call
  cms/datavis/blocks/annotations.py
Due: pylint

Add docstring
  cms/datavis/blocks/annotations.py
Due: pylint

Use explicit name to avoid complaints about circular import
  cms/release_calendar/permissions.py
Due: pylint

Return empty string for inspect url if bundle not saved
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/models.py
  cms/bundles/tests/test_models.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Drop incorrect comment
  cms/search/tests/test_checks.py
Due: pylint

Move migration
  cms/release_calendar/migrations/0005_add_notice_permission.py
Due: pylint

Set the preview_notification_sent flag on BundleTeam
  cms/bundles/migrations/0004_bundleteam_preview_notification_sent.py
  cms/bundles/models.py
  cms/bundles/notifications/email.py
  cms/bundles/signal_handlers.py
  cms/settings/dev.py
Due: pylint

Upgrade design system version to 72.10.2
  .design-system-version
Due: none

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
