Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

fixup! Exclude scheduled pages from the bundle page chooser
  cms/bundles/viewsets/bundle_page_chooser.py
Due: pylint

fixup! Vary the approve label for scheduled pages
  cms/workflows/wagtail_hooks.py
Due: pylint

Revert "Adjust generated GTM values"
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/core/models/base.py
  cms/core/tests/test_models.py
  cms/topics/tests/test_models.py
Due: pylint

Rename content type
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
Due: pylint

Update TOC CSS class and add tests (#466)
  cms/articles/tests/test_pages.py
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/methodology/tests/test_pages.py
  functional_tests/features/table_of_contents.feature
  functional_tests/steps/table_of_contents.py
Due: pylint

Add CSV download option for tables (Article Pages) (#443)
  cms/articles/admin_urls.py
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_views.py
  cms/articles/views.py
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/datavis/tests/factories.py
  cms/jinja2/templates/components/streamfield/table_block.html
  functional_tests/steps/statistical_article_page.py
Due: pylint

Redundant guards removed.
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Add logging for missing content in migration revisions
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Potentially flaky test assertions removed.
  cms/core/tests/test_blocks.py
Due: pylint

Linting fixed
  cms/core/tests/test_blocks.py
Due: pylint

fix: correct readiness and liveness probe behaviour
  cms/core/tests/test_views.py
  cms/core/views.py
Due: pylint

Fix flaky JWKS test by reimporting module
  cms/auth/tests/test_utils.py
Due: pylint

Put constant in constants file
  cms/test_data/constants.py
  cms/test_data/management/commands/create_test_data.py
  cms/test_data/management/commands/delete_test_data.py
Due: pylint

Rename published probability so it's clearer that it's a probability
  cms/test_data/config.py
  cms/test_data/management/commands/create_test_data.py
Due: pylint

Test multiple revisions are created
  cms/test_data/tests/test_commands.py
Due: pylint

Expand CSV download to methodology page
  cms/articles/models.py
  cms/articles/utils.py
  cms/articles/views.py
  cms/core/admin_urls.py
  cms/core/blocks/markup.py
  cms/core/models/mixins.py
  cms/core/tests/test_blocks.py
  cms/core/utils.py
  cms/core/views.py
  cms/core/wagtail_hooks.py
  cms/datavis/blocks/base.py
  cms/datavis/constants.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/methodology/models.py
  cms/methodology/tests/test_models.py
Due: pylint

CI setup
  ci/build.yml
  ci/concourse.yaml
  ci/scripts/build.sh
Due: lint:format

Fix
  ci/build.yml
  ci/concourse.yaml
Due: lint:format

Fix
  ci/concourse.yaml
Due: lint:format

Make changes
  .github/release.yml
Due: lint:format

Adjust generated GTM values (#464)
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
Due: pylint

Try diff image tag
  ci/build.yml
Due: lint:format

Fix build script
  ci/scripts/build.sh
Due: none

Update ECR name
  ci/build.yml
  ci/concourse.yaml
Due: lint:format

Update image tag
  ci/build.yml
Due: lint:format

feat(ci): build and push image to ECR
  ci/build.yml
  ci/concourse.yaml
  ci/scripts/build.sh
Due: lint:format

Test - triggers on commit
  .github/release.yml
Due: lint:format

Point sandbox to bleed values for now
  ci/concourse.yaml
Due: lint:format

Test - triggers on commit 2
  .github/release.yml
Due: lint:format

Test CI triggers
  .github/release.yml
Due: lint:format

fix: correct readiness and liveness probe behaviour (#468)
  cms/core/tests/test_views.py
  cms/core/views.py
Due: pylint

Fix flaky JWKS test by reimporting module (#470)
  cms/auth/tests/test_utils.py
Due: pylint

Parameterize port numbers
  cms/settings/dev.py
  docker-compose-dev.yml
  docker-compose.yml
Due: pylint, lint:format

Change log level from warning to info for missing content in migration revisions
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Make mapping symmetric
  .docker/Procfile
  docker-compose-dev.yml
  docker-compose.yml
Due: lint:format

Make Redis symmetric too
  docker-compose-dev.yml
  docker-compose.yml
Due: lint:format

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
