Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Formatting
  cms/core/context_processors.py
  cms/settings/base.py
Due: pylint

Test fixes after the merge
  cms/core/tests/test_context_processors.py
Due: pylint

Cleanup
  cms/jinja2/templates/base.html
  cms/settings/base.py
Due: pylint

Checkpoint before migration
  cms/core/context_processors.py
  cms/core/models/settings.py
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_views.py
  cms/jinja2/templates/base.html
  cms/settings/tests/test_settings.py
Due: pylint

Convert tests to unittest
  cms/core/tests/test_blocks.py
  cms/core/tests/test_models.py
  cms/core/tests/utils.py
  cms/release_calendar/tests/factories.py
  cms/release_calendar/tests/test_blocks.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_models.py
Due: pylint

Only allow release date or text, not both
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Misc tidy ups
  cms/release_calendar/models.py
  cms/settings/base.py
Due: pylint

Prevent release calendar page deletion through the UI
  cms/release_calendar/tests/test_models.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint

Move the changes to the release date below contact details
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Placate mypy
  cms/release_calendar/models.py
Due: pylint

README fixes
  README.md
Due: none

Added the migration removing Tracking
  cms/core/migrations/0002_delete_tracking.py
Due: pylint

Formatting
  README.md
  cms/core/migrations/0002_delete_tracking.py
Due: pylint

Fixed the tests
  cms/core/tests/test_context_processors.py
Due: pylint

Switch to using a StreamField for the release page related links
  cms/core/blocks/related.py
  cms/core/blocks/stream_blocks.py
  cms/core/models/mixins.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/stream_block--related-links.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/release_calendar/blocks.py
  cms/release_calendar/migrations/0003_releasecalendarpage_related_links_and_more.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/factories.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_models.py
Due: pylint

Use a simpler link block for "you may also be interested in"
  cms/core/blocks/__init__.py
  cms/core/blocks/related.py
  cms/release_calendar/blocks.py
Due: pylint

Add tests for the basic table block
  cms/core/tests/test_blocks.py
Due: pylint

Fail if under 90% test coverage
  Makefile
Due: none

Further tweaks based on code review
  .pylintrc
  cms/core/blocks/embeddable.py
  cms/core/blocks/markup.py
  cms/core/blocks/related.py
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_models.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint

Add skeleton models for Theme / Topic pages
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/settings/base.py
  cms/themes/__init__.py
  cms/themes/migrations/0001_initial.py
  cms/themes/migrations/__init__.py
  cms/themes/models.py
  cms/topics/__init__.py
  cms/topics/migrations/0001_initial.py
  cms/topics/migrations/__init__.py
  cms/topics/models.py
Due: pylint

Use a custom icon for the contact detail snippet
  cms/core/models/snippets.py
  cms/core/wagtail_hooks.py
  cms/jinja2/assets/icons/identity.svg
  cms/jinja2/assets/icons/pass.svg
Due: pylint

Update the StreamField block template to pass the block ID to its children
  cms/jinja2/templates/components/streamfield/stream_block.html
Due: none

Add base analysis series and page models
  cms/analysis/__init__.py
  cms/analysis/blocks.py
  cms/analysis/migrations/0001_initial.py
  cms/analysis/migrations/__init__.py
  cms/analysis/models.py
  cms/core/blocks/__init__.py
  cms/core/blocks/headline_figures.py
  cms/core/wagtail_hooks.py
  cms/jinja2/assets/icons/data-analysis.svg
  cms/jinja2/assets/icons/news.svg
  cms/jinja2/assets/icons/pass.svg
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/streamfield/analysis_section_block.html
  cms/jinja2/templates/components/streamfield/headline_figures_block.html
  cms/jinja2/templates/pages/analysis_page.html
  cms/settings/base.py
Due: pylint

Add series functionality (latest/previous releases)
  cms/analysis/models.py
  cms/jinja2/templates/pages/analysis_page--previous-releases.html
  cms/jinja2/templates/pages/analysis_page.html
Due: pylint

Wire in the analysis page template
  cms/analysis/models.py
  cms/jinja2/templates/pages/analysis_page.html
Due: pylint

Set parent/subpage types for the new page models
  cms/analysis/models.py
  cms/topics/models.py
Due: pylint

init add version to megalinter
  .mega-linter.yml
Due: lint:format

Turned off formatting for the banner config
  cms/jinja2/templates/base.html
Due: none

Escaped the GTM ID in the templates
  cms/jinja2/templates/base.html
Due: none

Wrapped the GTM and banner stuff in conditional
  cms/jinja2/templates/base.html
Due: none

^ same for the noscript
  cms/jinja2/templates/base.html
Due: none

Formatting
  cms/jinja2/templates/base.html
Due: none

Removed the noscript block
  cms/jinja2/templates/base.html
Due: none

Removed the custom settingsLinkText from the banner config
  cms/jinja2/templates/base.html
Due: none

Add tests
  cms/analysis/tests/__init__.py
  cms/analysis/tests/factories.py
  cms/analysis/tests/test_models.py
  cms/core/tests/factories.py
  cms/jinja2/templates/pages/analysis_page.html
  cms/release_calendar/tests/factories.py
  cms/themes/tests/factories.py
  cms/topics/tests/factories.py
Due: pylint

Placate mypy
  cms/analysis/models.py
Due: pylint

Addition
  cms/analysis/models.py
  cms/analysis/tests/factories.py
  cms/analysis/tests/test_models.py
  cms/themes/models.py
Due: pylint

Update the delete redirect logic
  cms/release_calendar/tests/test_models.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint

Merge migrations in preparation for merge
  cms/release_calendar/migrations/0001_initial.py
  cms/release_calendar/migrations/0003_releasecalendarpage_related_links_and_more.py
Due: pylint

Attempt behave django functional tests
  cms/documents/migrations/0003_alter_customdocument_file_size.py
  cms/documents/migrations/0004_alter_customdocument_file_size.py
  cms/home/migrations/0003_examplepage.py
  cms/home/models.py
  cms/images/migrations/0003_remove_customimage_description.py
  cms/images/migrations/0004_customimage_description.py
  cms/jinja2/templates/pages/example_page.html
  cms/settings/test.py
  functional_tests/__init__.py
  functional_tests/docker-compose.yml
  functional_tests/environment.py
  functional_tests/features/example.feature
  functional_tests/fixtures/users.yml
  functional_tests/steps/__init__.py
  functional_tests/steps/example.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
