Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

css stylelint changes due to pr comment
  .github/linters/.npmpackagejsonlintrc.json
Due: lint:format

Replaced the warning block with an emoji
  README.md
Due: none

Updated outdated commands in the README
  README.md
Due: none

Move the prerequisites up in the README
  README.md
Due: none

Put the superuser auto-create in a separate make command and call it in dev-init command
  Makefile
Due: none

Add the default superuser name and password in readme
  README.md
Due: none

merge resolutions£
  .djlintrc
  .stylelintrc.js
  docs/design_system_overrides.md
Due: lint:js, lint:format

Purge serve and file URLs when the privacy of an object changes
  cms/private_media/managers.py
  cms/private_media/models/documents.py
  cms/private_media/models/images.py
  cms/private_media/models/mixins.py
  cms/private_media/utils.py
Due: pylint

Implement simplified private_media app
  cms/private_media/__init__.py
  cms/private_media/apps.py
  cms/private_media/bulk_operations.py
  cms/private_media/constants.py
  cms/private_media/management/__init__.py
  cms/private_media/management/commands/__init__.py
  cms/private_media/management/commands/retry_file_permission_set_attempts.py
  cms/private_media/managers.py
  cms/private_media/models/__init__.py
  cms/private_media/models/documents.py
  cms/private_media/models/images.py
  cms/private_media/models/mixins.py
  cms/private_media/signal_handlers.py
  cms/private_media/storages.py
  cms/private_media/utils.py
  cms/private_media/views.py
  cms/private_media/wagtail_hooks.py
  cms/settings/base.py
Due: pylint

Enable custom image serve view
  cms/urls.py
Due: pylint

Add to image and document models
  cms/documents/migrations/0003_customdocument__privacy_and_more.py
  cms/documents/migrations/0004_alter_customdocument__privacy.py
  cms/documents/models.py
  cms/images/migrations/0003_customimage__privacy_and_more.py
  cms/images/migrations/0004_alter_customimage__privacy.py
  cms/images/models.py
Due: pylint

Fix unrelated linter complain on user model
  cms/users/models.py
Due: pylint

Rejig manager methods to avoid a separate update query for 'file_permissions_last_set'
  cms/private_media/management/commands/retry_file_permission_set_attempts.py
  cms/private_media/managers.py
Due: pylint

Revise signal handlers to ignore references from draft pages when deciding which media to make private
  cms/private_media/signal_handlers.py
Due: pylint

Placate linters
  cms/private_media/managers.py
  cms/private_media/models/documents.py
  cms/private_media/models/images.py
  cms/private_media/storages.py
Due: pylint

Add tests
  cms/private_media/tests/__init__.py
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
  cms/private_media/tests/test_management_commands.py
  cms/private_media/tests/test_signal_handlers.py
  cms/private_media/tests/utils.py
Due: pylint

First round or PR comments addressed, WIP on fixing issues
  README.md
  cms/settings/functional_test.py
  functional_tests/README.md
  functional_tests/environment.py
Due: pylint

Improve code example
  functional_tests/README.md
Due: none

Formating
  README.md
Due: none

Use the warning log level for ACL setting issues
  cms/private_media/storages.py
Due: pylint

Disable pylint's django-manager-missing globally
  .pylintrc
  cms/analysis/models.py
  cms/bundles/models.py
  cms/core/models/base.py
  cms/home/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/themes/models.py
  cms/topics/models.py
  cms/users/models.py
Due: pylint

Add docs
  docs/custom-features/media_privacy.md
  docs/index.md
Due: none

Address more PR comments, tests fix still WIP
  .github/workflows/ci.yml
  functional_tests/README.md
  functional_tests/steps/cms_login.py
  functional_tests/steps/contact_details_snippet.py
  functional_tests/steps/home_page.py
  functional_tests/steps/information_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
Due: pylint, lint:format

Fix markdown that prettier broke
  functional_tests/README.md
Due: none

Fix code example
  functional_tests/README.md
Due: none

Revise model docstrings to account for changes
  cms/private_media/models/documents.py
  cms/private_media/models/images.py
  cms/private_media/models/mixins.py
Due: pylint

Format
  functional_tests/README.md
Due: none

Revise test docstrings in test_signal_handlers.py
  cms/private_media/tests/test_signal_handlers.py
Due: pylint

Final comment fixes
  README.md
Due: none

Add custom_permission_policies app
  .gitignore
  cms/custom_permission_policies/__init__.py
  cms/custom_permission_policies/admin_forms.py
  cms/custom_permission_policies/apps.py
  cms/custom_permission_policies/middleware.py
  cms/custom_permission_policies/models.py
  cms/custom_permission_policies/signal_handlers.py
  cms/custom_permission_policies/static/custom_permission_policies/js/document-modal-overrides.js
  cms/custom_permission_policies/static/custom_permission_policies/js/image-modal-overrides.js
  cms/custom_permission_policies/utils.py
  cms/custom_permission_policies/views/__init__.py
  cms/custom_permission_policies/views/documents.py
  cms/custom_permission_policies/views/images.py
  cms/custom_permission_policies/views/mixins.py
  cms/custom_permission_policies/wagtail_hooks.py
  cms/settings/base.py
Due: pylint, lint:js, lint:format

Tweak docs based on feedback
  docs/custom-features/media_privacy.md
Due: none

Use more recognisable issue name in pylint: disable statement
  cms/private_media/storages.py
Due: pylint

Add a docstring to DummyPrivacySettingFileSystemStorage
  cms/private_media/storages.py
Due: pylint

Move auth to separate app
  cms/auth/__init__.py
  cms/auth/admin.py
  cms/auth/apps.py
  cms/auth/middleware.py
  cms/auth/migrations/__init__.py
  cms/auth/utils.py
  cms/auth/views.py
  cms/core/views.py
  cms/settings/base.py
  cms/urls.py
Due: pylint

Don't cache ServeImage view responses, and update PrivateImageMixin.get_privacy_controlled_serve_urls() to return an empty iterable
  cms/private_media/models/images.py
  cms/private_media/tests/test_images.py
  cms/urls.py
Due: pylint

Update signal handlers to only fetch objects that are public or private where relevant
  cms/private_media/signal_handlers.py
Due: pylint

Remove checks for missing titles
  functional_tests/steps/home_page.py
  functional_tests/steps/information_page.py
  functional_tests/steps/release_page.py
Due: pylint

Use behave verbose mode to see error logs
  .github/workflows/ci.yml
Due: lint:format

Add a sleep to check if there's a timing issue
  .github/workflows/ci.yml
Due: lint:format

Check if the issue is related to removing the dev app
  .github/workflows/ci.yml
Due: lint:format
