Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Use model class
  cms/core/models/base.py
Due: pylint

Extend comment
  cms/private_media/utils.py
Due: pylint

move sample data for `makemessages_test` to own file.
  cms/locale/tests/po_fixtures.py
  cms/locale/tests/test_makemessages.py
Due: pylint

de-nest logic to print errors
  cms/locale/management/commands/makemessages.py
Due: pylint

feat(core): add feature flag for cookies page untranslated notice
  cms/core/models/base.py
  cms/jinja2/templates/base_page.html
  cms/settings/base.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_pages.py
Due: pylint

refactor: remove cookies page welsh translations
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

remove deprecated translations from `django.po`
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Bundle-aware private media serving (#525)
  cms/bundles/views/preview.py
  cms/core/models/base.py
  cms/jinja2/templates/components/streamfield/image_block.html
  cms/private_media/tests/test_serve_views.py
  cms/private_media/utils.py
  cms/private_media/views.py
  cms/settings/base.py
Due: pylint

fix: handle page not existing
  cms/jinja2/templates/base_page.html
Due: none

fix: temporarily skip cookies translation test
  cms/standard_pages/tests/test_pages.py
Due: pylint

fix import to use django_jinja management command and re add translations
  cms/locale/cy/LC_MESSAGES/django.po
  cms/locale/management/commands/makemessages.py
Due: pylint

Revert "Header: Main Menu Translation Config Bugfix - CMS-1056 (#553)"
  cms/core/blocks/markup.py
  cms/core/static/js/blocks/headline-figures-item-block.js
  cms/core/static/js/blocks/release-date-change-block.js
  cms/core/templatetags/page_config_tags.py
  cms/locale/cy/LC_MESSAGES/django.po
  cms/workflows/templates/workflows/confirm_unlock.html
  cms/workflows/tests/test_views.py
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
  package-lock.json
  package.json
  webpack.config.js
Due: pylint, lint:js, lint:format

Include site name in context title
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
Due: pylint

Add tests for signal handlers
  cms/core/tests/test_signal_handlers.py
  cms/navigation/tests/factories.py
  cms/navigation/tests/test_signal_handlers.py
Due: pylint

Set absolute URL in page config
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
Due: pylint

Fix docstring on precedence
  cms/core/tests/test_utils.py
  cms/core/utils.py
Due: pylint

Invalid base page config when site changes
  cms/navigation/signal_handlers.py
Due: pylint

Invalidate page config cache on unpublish
  cms/core/signal_handlers.py
  cms/navigation/signal_handlers.py
Due: pylint

Support merging generic mapping types
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
Due: pylint

Use page cache_key attribute in cache key
  cms/core/templatetags/page_config_tags.py
Due: pylint

feat(i18n): add feature flag for cookies page untranslated notice (#590)
  cms/core/models/base.py
  cms/jinja2/templates/base_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/settings/base.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_pages.py
Due: pylint

ci(github-actions): block merges for PRs with blocking labels
  .github/workflows/pr-blocked-labels.yml
Due: lint:format

Update tests to provide necessary options for django_jinja handler
  cms/locale/tests/test_makemessages.py
Due: pylint

Remove duplicate site name from cookie page title
  cms/jinja2/templates/pages/cookies.html
Due: none

Fix menu link labels from bad merge
  cms/core/templatetags/page_config_tags.py
Due: pylint

start adding regression tests for command
  cms/locale/tests/test_makemessages.py
  manage.py
Due: pylint

Fix tests to account for changing page
  cms/core/tests/test_signal_handlers.py
  cms/navigation/tests/test_signal_handlers.py
Due: pylint

Mention that deep merge doesn't deep copy
  cms/core/utils.py
Due: pylint

chore(i18n): further app translations
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Fix translations
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Remove unnecessary backticks
  .github/workflows/pr-blocked-labels.yml
Due: lint:format

Removed announcement panel block.
  cms/core/blocks/__init__.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
  cms/core/tests/test_blocks_panels.py
  cms/standard_pages/blocks.py
Due: pylint

ci(github-actions): block merges for PRs with blocking labels (#591)
  .github/workflows/pr-blocked-labels.yml
Due: lint:format

Remove announcement panel template
  cms/jinja2/templates/components/streamfield/announcement_panel.html
Due: none

fix(ui-tests): do no rely on translated content for locators
  functional_tests/steps/navigation_menus.py
Due: pylint

chore(i18n): further app translations (#592)
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/steps/navigation_menus.py
Due: pylint

Remove redis check from readiness probe
  cms/core/tests/test_views.py
  cms/core/views.py
  cms/settings/base.py
Due: pylint

Check all caches on health endpoint
  cms/core/tests/test_views.py
  cms/core/views.py
Due: pylint

Add custom deletion and unpublishing rules
  cms/core/migrations/0016_allow_officers_to_delete.py
  cms/core/permission_testers.py
  cms/core/tests/test_permission_testers.py
  cms/core/tests/test_permissions.py
  cms/core/tests/test_wagtail_hooks.py
  cms/core/wagtail_hooks.py
  cms/release_calendar/models.py
  cms/release_calendar/permission_testers.py
  cms/release_calendar/tests/test_models.py
  cms/release_calendar/tests/test_permission_testers.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint

Remove Announcement Panel Block (#593)
  cms/core/blocks/__init__.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
  cms/core/tests/test_blocks_panels.py
  cms/jinja2/templates/components/streamfield/announcement_panel.html
  cms/standard_pages/blocks.py
Due: pylint
