Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

CMS-859 Disable page privacy settings for CMS users (#568)
  cms/core/migrations/0015_delete_existing_page_view_restrictions.py
  cms/core/permission_testers.py
  cms/core/tests/test_permission_testers.py
  cms/settings/base.py
Due: pylint

Use clear_url_caches in teardown
  cms/articles/tests/test_series_models.py
Due: pylint

Correct the order of ToC items for topics
  cms/topics/models.py
  cms/topics/tests/test_models.py
Due: pylint

Tie secure setting to DEBUG
  cms/bundles/views/preview.py
Due: pylint

Redirect Release Calendar Index Pages
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
  cms/settings/base.py
Due: pylint

Rename per comment
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
  cms/settings/base.py
Due: pylint

Update cookie management page
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Cookie banner cy fix
  cms/core/context_processors.py
  cms/core/tests/test_context_processors.py
  cms/jinja2/templates/base.html
Due: pylint

Add test for welsh cookie banner
  functional_tests/features/cookies_management.feature
  functional_tests/steps/cookies_management.py
Due: pylint

Ensure that iframe footnotes data is passed through to the chart design system component
  cms/datavis/blocks/charts.py
Due: pylint

UX tweaks and use base_page.html
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/cookies.html
  cms/standard_pages/tests/test_pages.py
Due: pylint

Allow page heading override
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/cookies.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Ensure language switcher present in error pages
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_pages.py
Due: pylint

Remove unused fuzzy marker
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Add workaround for shared template logic
  cms/jinja2/templates/base_page.html
Due: none

Handle site title translation
  cms/jinja2/templates/pages/cookies.html
Due: none

Add tests for site title
  cms/standard_pages/tests/test_pages.py
Due: pylint

Tidy up template logic
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/cookies.html
Due: none

DX: Add a cache clear dev command
  Makefile
Due: none

Update design system version to 73.4.1
  .design-system-version
Due: none

Specify Wagtail 7.3.1
  poetry.lock
  pyproject.toml
Due: none

Add initial logic + testing for rfc3339 formatted datetimes
  cms/core/formatting_utils.py
  cms/core/tests/test_formatting_utils.py
Due: pylint

use rfc string in search utils
  cms/search/utils.py
Due: pylint

Reorder sections per DPD-2527
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/models.py
  cms/topics/tests/test_models.py
Due: pylint

add utc timezone using timezone funcs
  cms/core/formatting_utils.py
Due: pylint

Use redirect helper
  cms/release_calendar/models.py
Due: pylint

update resource builder tests and helpers, add overload tying
  cms/core/formatting_utils.py
  cms/search/tests/helpers.py
  cms/search/tests/test_resource_builders.py
Due: pylint

Update design system version to 73.4.1 (#584)
  .design-system-version
Due: none

Fix tests
  cms/standard_pages/tests/test_pages.py
  functional_tests/steps/cookies_management.py
Due: pylint

Redirect Release Calendar Index Pages (#580)
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
  cms/settings/base.py
Due: pylint

Ensure fallback to an empty string if footnotes is undefined, and fix linting issue
  cms/datavis/blocks/charts.py
Due: pylint

Correct the order of ToC items for topics (#579)
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/models.py
  cms/topics/tests/test_models.py
Due: pylint

Upgrade Wagtail to 7.3, update dependencies (#574)
  .nvmrc
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  cms/core/tests/test_blocks.py
  cms/settings/base.py
  package-lock.json
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

refactor to avoid double `is_aware` check
  cms/core/formatting_utils.py
Due: pylint

DX: Add a cache clear dev command (#583)
  Makefile
Due: none

Improved output formatting, docstring clarity and fixed typo in test
  README.md
  cms/locale/management/commands/makemessages.py
  cms/locale/tests/test_makemessages.py
Due: pylint

keep existing timezone if datetime is already aware
  cms/core/formatting_utils.py
Due: pylint

Update translation templates
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

update failing test
  cms/locale/tests/test_makemessages.py
Due: pylint

Update cookies management contents, layout and language handling (#581)
  cms/core/context_processors.py
  cms/core/tests/test_context_processors.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/standard_pages/tests/test_pages.py
  functional_tests/features/cookies_management.feature
  functional_tests/steps/cookies_management.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
