Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Rename views.py to viewsets.py
  cms/teams/viewsets.py
  cms/teams/wagtail_hooks.py
Due: pylint

Relabel the teams viewset to 'Preview teams'
  cms/teams/viewsets.py
Due: pylint

Include the Team identifier in the add/edit form fields
  cms/teams/viewsets.py
Due: pylint

Tidy ups based on code review
  cms/teams/models.py
  cms/teams/viewsets.py
Due: pylint

Add updates functionality from alpha
  cms/articles/migrations/0003_statisticalarticlepage_updates.py
  cms/articles/models.py
  cms/core/blocks/panels.py
  cms/core/blocks/stream_blocks.py
  cms/core/forms.py
  cms/core/models/base.py
  cms/jinja2/templates/components/streamfield/corrections_block.html
  cms/jinja2/templates/components/streamfield/corrections_notices_block.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/settings/base.py
  cms/static/js/previous-version-block.js
Due: pylint, lint:js, lint:format

Refactor additional tabs, add existance check
  cms/articles/models.py
  cms/core/blocks/panels.py
  cms/core/forms.py
  cms/core/models/base.py
Due: pylint

update methodology page with latest design changes - move publications to the sidebar & use TOC template, update TOC styling override, remove published & contact meta data from hero
  cms/jinja2/templates/pages/methodology_page.html
  cms/static_src/sass/components/design_system_overrides/_toc.scss
Due: lint:css, lint:format

update statistical article hero to match new figma designs
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/static_src/sass/components/_article-header.scss
  cms/static_src/sass/components/_common-header.scss
Due: lint:css, lint:format

Refactor tabs list to use tuples
  cms/articles/models.py
  cms/core/models/base.py
Due: pylint

Fix handling of no instance in PageWithUpdatesAdminForm
  cms/core/forms.py
Due: pylint

Update wagtail-tinytableblock to show the copy/paste buttons
  poetry.lock
  pyproject.toml
Due: none

Update comment
  cms/core/models/base.py
Due: pylint

Attempt to fix functional tests
  functional_tests/steps/methodology_page.py
Due: pylint

Use exact text match for the "Preview" link text
  functional_tests/steps/methodology_page.py
Due: pylint

reverse TOC styling updates - this is in the pipeline for DS team
  cms/static_src/sass/components/design_system_overrides/_toc.scss
Due: lint:css, lint:format

hide print button on mobile only
  cms/jinja2/templates/pages/methodology_page.html
Due: none

Add basic preview teams model (#120)
  cms/settings/base.py
  cms/teams/__init__.py
  cms/teams/apps.py
  cms/teams/migrations/0001_initial.py
  cms/teams/migrations/__init__.py
  cms/teams/models.py
  cms/teams/viewsets.py
  cms/teams/wagtail_hooks.py
  cms/users/migrations/0002_user_teams.py
  cms/users/models.py
  cms/users/tests/test_viewsets.py
  functional_tests/steps/methodology_page.py
Due: pylint

Wire in teams to bundles
  cms/bundles/migrations/0002_bundleteam.py
  cms/bundles/models.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets.py
  cms/teams/models.py
Due: pylint

De-localize bundle code
  cms/bundles/admin_forms.py
  cms/bundles/enums.py
  cms/bundles/forms.py
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/templates/bundles/wagtailadmin/add_to_bundle.html
  cms/bundles/templates/bundles/wagtailadmin/edit.html
  cms/bundles/templates/bundles/wagtailadmin/inspect.html
  cms/bundles/templates/bundles/wagtailadmin/panels/latest_bundles.html
  cms/bundles/tests/test_views.py
  cms/bundles/views.py
  cms/bundles/viewsets.py
  cms/bundles/wagtail_hooks.py
Due: pylint

Bump tinytableblock to 0.2.3 to gain native context menus
  poetry.lock
  pyproject.toml
Due: none

Add workflows app and base task models
  cms/bundles/admin_forms.py
  cms/settings/base.py
  cms/workflows/__init__.py
  cms/workflows/apps.py
  cms/workflows/migrations/0001_initial.py
  cms/workflows/migrations/__init__.py
  cms/workflows/models.py
Due: pylint

Add tests for correction and notice blocks
  cms/core/tests/test_blocks.py
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/statistical_article_page.py
Due: pylint

revert release version class from common header stylesheet
  cms/static_src/sass/components/_common-header.scss
Due: lint:css, lint:format

add conditional to check release status and display relevant panel variation
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Add comments and max links scenario
  functional_tests/features/footer_menu.feature
  functional_tests/steps/footer_menu.py
Due: pylint

Add the review workflow and tasks via migration
  cms/workflows/migrations/0002_review_workflow.py
Due: pylint

Only allow bundle approval if all related pages are ready to be published
  cms/bundles/forms.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/utils.py
Due: pylint

Fix user_id generation migration
  cms/users/migrations/0003_user_add_user_id.py
Due: pylint

update label for panel component
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Update templates
  cms/jinja2/templates/components/streamfield/corrections_block.html
  cms/jinja2/templates/components/streamfield/notices_block.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

refactor: Move charts editing from snippets to StreamField
  cms/core/blocks/stream_blocks.py
  cms/core/wagtail_hooks.py
  cms/datavis/blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/table.py
  cms/datavis/filters.py
  cms/datavis/forms/datasource.py
  cms/datavis/migrations/0007_remove_datavis_snippet_models.py
  cms/datavis/models/__init__.py
  cms/datavis/models/base.py
  cms/datavis/models/charts.py
  cms/datavis/models/data.py
  cms/datavis/models/mixins.py
  cms/datavis/utils.py
  cms/datavis/views/__init__.py
  cms/datavis/views/datasource.py
  cms/datavis/views/mixins.py
  cms/datavis/views/specific.py
  cms/datavis/views/visualisation.py
  cms/datavis/viewsets.py
  cms/datavis/wagtail_hooks.py
  cms/jinja2/templates/components/streamfield/base_highcharts_chart_block.html
  cms/jinja2/templates/datavis/area_chart.html
  cms/jinja2/templates/datavis/bar_chart.html
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/jinja2/templates/datavis/column_chart.html
  cms/jinja2/templates/datavis/line_chart.html
  cms/jinja2/templates/datavis/preview.html
  cms/jinja2/templates/datavis/scatter_chart.html
Due: pylint

Update UI tests
  functional_tests/features/footer_menu.feature
  functional_tests/steps/footer_menu.py
Due: pylint

Add validation functionality to correction block
  cms/articles/apps.py
  cms/articles/models.py
  cms/articles/signals.py
  cms/core/blocks/panels.py
  cms/core/forms.py
  cms/jinja2/templates/components/streamfield/corrections_block.html
  cms/jinja2/templates/components/streamfield/corrections_notices_block.html
  cms/static/js/correction-block.js
Due: pylint, lint:js, lint:format

Update wagtail-tinytableblock to show the copy/paste buttons (#121)
  poetry.lock
  pyproject.toml
Due: none

Split updates into corrections and notices
  cms/articles/migrations/0003_statisticalarticlepage_corrections_and_more.py
  cms/articles/migrations/0003_statisticalarticlepage_updates.py
  cms/articles/models.py
  cms/articles/signals.py
  cms/core/blocks/panels.py
  cms/core/blocks/stream_blocks.py
  cms/core/forms.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/corrections_block.html
  cms/jinja2/templates/components/streamfield/corrections_notices_block.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/static/js/correction-block.js
Due: pylint, lint:js, lint:format

Update functional tests
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/statistical_article_page.py
Due: pylint

Fix typo in JS file
  cms/static/js/previous-version-block.js
Due: lint:js, lint:format

Format code
  cms/articles/migrations/0003_statisticalarticlepage_corrections_and_more.py
  cms/jinja2/templates/components/streamfield/corrections_block.html
Due: pylint

Address linting issues
  cms/articles/apps.py
  cms/articles/migrations/0003_statisticalarticlepage_corrections_and_more.py
  cms/articles/models.py
  cms/articles/signals.py
  cms/core/blocks/panels.py
  cms/core/forms.py
Due: pylint

Normalise tabs
  cms/jinja2/templates/components/streamfield/corrections_block.html
Due: none
