Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Allow approving a dataset-only bundle
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
Due: pylint

Update title
  cms/bundles/tests/factories.py
  cms/core/blocks/base.py
Due: pylint

Update show-data-labels code (#251)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_chart_block.py
Due: pylint

Add timeouts to UI tests
  functional_tests/steps/release_page.py
Due: pylint

update description list label and lint
  cms/jinja2/templates/components/contact_details/contact_details.html
Due: none

Prevent copying as alias, or publish on copy
  cms/core/forms.py
  cms/core/models/base.py
  cms/core/tests/test_views.py
Due: pylint

Link to the live pages rather than previews if the bundle is published
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Remove pre-Wagtail 7.0 code
  cms/bundles/viewsets/bundle.py
  cms/core/static/css/admin.css
Due: pylint, lint:css, lint:format

Disable notice and rework validations and tests
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Fix typo
  cms/release_calendar/tests/test_forms.py
Due: pylint

Add review feedback, increase timeout on ui test
  cms/release_calendar/apps.py
  cms/release_calendar/blocks.py
  cms/release_calendar/forms.py
  cms/release_calendar/models.py
  functional_tests/steps/release_page.py
Due: pylint

fix: Handle uncertainty column chart data points with estimate only (#255)
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
Due: pylint

Set canonical urls
  cms/articles/models.py
  cms/core/models/base.py
  cms/jinja2/templates/base.html
Due: pylint

make statistics badge alt text translatable & update wording inline with live site
  cms/jinja2/templates/components/accredited/accredited-logo.html
Due: none

revert change from makemessages to fix tests
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

update headline figure classes adapt for column resizing and re-add bottom padding
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/topic_page.html
Due: none

undo makemessages changes
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

linting
  cms/jinja2/templates/pages/topic_page.html
Due: none

Increase timout on ui test and remove test lines related to date change logs
  cms/release_calendar/tests/test_forms.py
  functional_tests/steps/release_page.py
Due: pylint

Add a read only text widget
  cms/core/widgets.py
  cms/release_calendar/forms.py
Due: pylint

Add functional test for disabled text field
  functional_tests/features/rbac_permissions.feature
  functional_tests/steps/release_page.py
Due: pylint

Inrease timeout for ui test
  functional_tests/steps/release_page.py
Due: pylint

Enable column chart x-axis title, and add tests
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_area_chart_block.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
  cms/datavis/tests/test_line_chart_block.py
  cms/datavis/tests/test_scatter_plot_block.py
Due: pylint

Addressed Maciek's comments
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/models.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_signal_handlers.py
  cms/bundles/viewsets/bundle.py
  cms/teams/tests/factories.py
Due: pylint

Add error log when a user doesn't have an email
  cms/bundles/notifications/email.py
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

Validate release calendar statuses and notice removal (#244)
  cms/bundles/tests/factories.py
  cms/core/blocks/base.py
  cms/core/tests/test_permissions.py
  cms/core/widgets.py
  cms/release_calendar/enums.py
  cms/release_calendar/forms.py
  cms/release_calendar/migrations/0005_add_notice_permission.py
  cms/release_calendar/models.py
  cms/release_calendar/permissions.py
  cms/release_calendar/tests/test_forms.py
  functional_tests/features/rbac_permissions.feature
  functional_tests/steps/release_page.py
Due: pylint

Integration tests setup
  cms/auth/tests/test_auth_integration.py
Due: pylint

update glossary term functional test
  functional_tests/steps/glossary_terms_snippet.py
Due: pylint

DAC Report - Update Glossary 'Show all' button label (Level AA) (#258)
  cms/jinja2/templates/components/streamfield/glossary_section_block.html
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/steps/glossary_terms_snippet.py
Due: pylint

Add canonical URL tags
  cms/articles/models.py
  cms/core/models/base.py
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
Due: pylint

Make request flag a bool
  cms/articles/models.py
  cms/core/models/base.py
Due: pylint

Auth integration tests, test cases expanded
  cms/auth/tests/test_auth_integration.py
Due: pylint

move aria inline and run makemessages
  cms/jinja2/templates/components/accredited/accredited-logo.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

run makemessages
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Add noindex meta tag to corrected article versions
  cms/articles/models.py
  cms/jinja2/templates/base_page.html
Due: pylint

Increase timeout and try wait_for_selector
  functional_tests/features/release_page.feature
Due: none

Remove ui test with locator and increase time out for published display
  functional_tests/features/release_page.feature
Due: none

Add wait_for
  functional_tests/steps/release_page.py
Due: pylint

Revert Preview mode UI test
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
