Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update workflow migration to assign the task groups
  cms/core/migrations/0006_update_user_groups.py
  cms/workflows/migrations/0002_review_workflow.py
Due: pylint

Refactor release date handling in BasePublisher and add tests for provisional date logic
  cms/search/publishers.py
  cms/search/tests/test_publishers.py
  cms/search/tests/test_signal_handlers.py
Due: pylint

Update functional tests
  functional_tests/features/rbac_permissions.feature
  functional_tests/step_helpers/users.py
  functional_tests/steps/bundles.py
  functional_tests/steps/release_page.py
Due: pylint

Refactored per review comments
  functional_tests/features/footer_menu.feature
  functional_tests/step_helpers/footer_menu_helpers.py
  functional_tests/steps/footer_menu.py
  functional_tests/steps/page_editor.py
Due: pylint

Optimise topic_ids property to use specific_deferred for improved performance
  cms/articles/models.py
Due: pylint

Search Integration - Kafka (#115)
  .github/workflows/ci.yml
  cms/articles/models.py
  cms/methodology/models.py
  cms/navigation/tests/test_navigation_tags.py
  cms/release_calendar/models.py
  cms/search/__init__.py
  cms/search/apps.py
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/signal_handlers.py
  cms/search/tests/__init__.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/search/tests/test_signal_handlers.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/standard_pages/models.py
  cms/taxonomy/mixins.py
  cms/taxonomy/tests/test_mixins.py
  cms/taxonomy/tests/test_models.py
  cms/taxonomy/tests/test_viewsets.py
  docker-compose-dev.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Updated wording to be clearer
  functional_tests/features/footer_menu.feature
  functional_tests/features/glossary_terms.feature
  functional_tests/features/information_page.feature
  functional_tests/features/methodology_page.feature
  functional_tests/features/release_page.feature
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/footer_menu.py
  functional_tests/steps/page_editor.py
Due: pylint

Allow assigning users to teams is team management is enabled
  cms/teams/admin_forms.py
  cms/teams/viewsets.py
Due: pylint

fix: Use correct format for legacy highcharts_chart_type config
  cms/datavis/blocks/base.py
Due: pylint

refactor: Standardise on testing chart config dict
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

fix: Use correct defaults and empty axis title values
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

refactor: Remove unnecessary block context assignment
  cms/datavis/blocks/base.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Due: pylint

add markup & styling for corrections & notices, in line with designs
  cms/jinja2/templates/components/streamfield/correction_block.html
  cms/jinja2/templates/components/streamfield/notice_block.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/static_src/javascript/components/details.js
  cms/static_src/javascript/main.js
  cms/static_src/sass/components/_corrections-and-notices.scss
  cms/static_src/sass/components/_corrections.scss
  cms/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

Added the tests
  cms/core/tests/test_permissions.py
Due: pylint

Delete duplicate migration
  cms/core/migrations/0005_update_user_groups.py
Due: pylint

Resolve comment space
  cms/settings/local.py.example
Due: none

Set KafkaPublisher retries to 5 and update tests accordingly
  cms/search/publishers.py
  cms/search/tests/test_publishers.py
Due: pylint

Allow assigning users to teams if team management is enabled (#141)
  cms/teams/admin_forms.py
  cms/teams/viewsets.py
Due: pylint

refine JS for details panel and fix formatting
  cms/static_src/javascript/components/details.js
  cms/static_src/sass/components/_corrections-and-notices.scss
Due: lint:js, lint:css, lint:format

linting
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

add formatting comments to fix linting errors on DS component includes
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

replace svg with styled markup for consistency with DS component
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/static_src/sass/components/_corrections-and-notices.scss
Due: lint:css, lint:format

Footer Menu UI Tests (#130)
  functional_tests/features/footer_menu.feature
  functional_tests/features/glossary_terms.feature
  functional_tests/features/information_page.feature
  functional_tests/features/methodology_page.feature
  functional_tests/features/release_page.feature
  functional_tests/features/statistical_article_page.feature
  functional_tests/step_helpers/footer_menu_helpers.py
  functional_tests/steps/footer_menu.py
  functional_tests/steps/page_editor.py
Due: pylint

Test refactor resolution
  cms/articles/tests/test_models.py
Due: pylint

amend spelling mistake
  cms/articles/tests/test_models.py
Due: pylint

Add liveness endpoint which checks DB connection health
  cms/core/tests/test_views.py
  cms/core/views.py
  cms/urls.py
Due: pylint

refactor: Rename config parameter to extra_series_attributes
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
Due: pylint

fixup! refactor: Remove unnecessary block context assignment
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

refactor: Pass explicit variables in table block tests
  cms/datavis/tests/test_table_block.py
Due: pylint

Set KafkaPublisher retries to 5 and update tests accordingly (#145)
  cms/search/publishers.py
  cms/search/tests/test_publishers.py
Due: pylint

Fix typo in ci.yml
  .github/workflows/ci.yml
Due: lint:format

Format migration
  cms/core/migrations/0007_remove_glossaryterm_core_glossary_term_name_unique_and_more.py
Due: pylint

Add unstyled language switcher
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/jinja2/component_overrides/header/_macro.njk
  cms/jinja2/templates/base.html
Due: pylint

Reformat README
  README.md
Due: none

Add Makefile entries, Linux dependency
  .github/workflows/ci.yml
  Makefile
Due: lint:format

Add Linux dependency to functional tests
  .github/workflows/ci.yml
Due: lint:format

Rework unique constraint for glossary items, fix some func tests
  README.md
  cms/core/migrations/0006_remove_glossaryterm_core_glossary_term_name_unique_and_more.py
  cms/core/models/snippets.py
  functional_tests/steps/glossary_terms_snippet.py
  functional_tests/steps/information_page.py
  functional_tests/steps/page_editor.py
Due: pylint

Add initial messages and page tests
  .github/workflows/ci.yml
  cms/core/tests/test_pages.py
  cms/jinja2/templates/base.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint, lint:format

Resolve migration conflicts
  cms/core/migrations/0006_remove_glossaryterm_core_glossary_term_name_unique_and_more.py
  cms/core/migrations/0007_remove_glossaryterm_core_glossary_term_name_unique_and_more.py
  cms/settings/dev.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
