Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

fixup! refactor(taxonomy): move topics() onto a TopicQuerySet
  cms/taxonomy/models.py
Due: pylint

build(deps): enable version update PRs
  .github/dependabot.yml
Due: lint:format

build(deps): separate dis-authorisation-client-js major updates
  .github/dependabot.yml
Due: lint:format

fix(email): prevent sending bundle notifications if transaction rolls back
  cms/bundles/notifications/email.py
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

build(deps): bump djangorestframework to 3.17.2
  poetry.lock
  pyproject.toml
Due: none

fix: allow non-major dis client updates in npm-version-updates
  .github/dependabot.yml
Due: lint:format

upgrade django minor version (#779)
  poetry.lock
  pyproject.toml
Due: none

test: validate approval for unpublished changes
  cms/bundles/tests/test_forms.py
Due: pylint

chore(functional-tests): increase the number of test shards from 6 to 8 (#777)
  .github/workflows/ci.yml
Due: lint:format

fix(notifications): suppress page approved email when publishing bundle
  cms/bundles/apps.py
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_signal_handlers.py
  cms/post_publish_actions/signal_handlers.py
Due: pylint

Add a test to check for breaking changes
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

fix(tests): typo
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

test(taxonomy): assert the dummy root is absent from the choosers
  cms/taxonomy/tests/test_viewsets.py
Due: pylint

test(taxonomy): cover the dummy root being submitted to topic fields
  cms/taxonomy/tests/test_mixins.py
Due: pylint

fix(taxonomy): reject the dummy root on topic relationship fields
  cms/taxonomy/migrations/0004_alter_genericpagetotaxonomytopic_topic.py
  cms/taxonomy/mixins.py
  cms/taxonomy/models.py
  cms/themes/migrations/0004_alter_themepage_topic.py
  cms/topics/migrations/0011_alter_topicpage_topic.py
Due: pylint

test(taxonomy): guard the limit_choices_to dummy root assumption
  cms/taxonomy/tests/test_mixins.py
Due: pylint

deps(megalinter): update Makefile reference
  Makefile
Due: none

fix(email): add force_write_db decorator to _send_bundle_email function
  cms/bundles/notifications/email.py
Due: pylint

fix(email): don't run callbacks when moving bundle to review in test to avoid needing to clear outbox
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

tests(bundle): add tests for case where bundle submission fails due to bundle api sync error
  functional_tests/features/bundle.feature
  functional_tests/step_helpers/bundles_api.py
  functional_tests/steps/bundles.py
Due: pylint

fix(bundle): preserve form state and surface validation errors during submission
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

ignore mypy error
  cms/bundles/forms.py
Due: pylint

fix(forms): handle unparsable publication dates and unknown fields in validation
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Upgrade DS to 74.0.0-next.12
  .design-system-version
  cms/core/templatetags/page_config_tags.py
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

fix(bundle): correct spelling in feature file for bundle submission error scenario
  functional_tests/features/bundle.feature
Due: none

chore(makefile): update load-topics to include search index update
  Makefile
Due: none

build(deps): revert lighthouse testing downgrade
  package-lock.json
  package.json
Due: lint:format

docs: improve docstring readability
  cms/bundles/tests/test_forms.py
Due: pylint

refactor: simplify form validation
  cms/bundles/forms.py
Due: pylint

Update Search toggle translation and tests
  cms/core/tests/test_tags.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

fix: just use load_topics
  Makefile
Due: none

chore(makefile): update load-topics to include search index update (#835)
  Makefile
Due: none

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
