Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

chore(deps): update python packages to latest compatible versions
  cms/auth/utils.py
  poetry.lock
  pyproject.toml
Due: pylint

UI test tweaks to reflect the new info page restriction logic. - information_page.py step file updated to change the decorator statement to reflect the change - Feature files updated accordingly
  functional_tests/features/auth.feature
  functional_tests/features/custom_permissions.feature
  functional_tests/features/information_page.feature
  functional_tests/features/localisation.feature
  functional_tests/features/rbac_permissions.feature
  functional_tests/steps/information_page.py
Due: pylint

chore(deps): update ruff
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lint:format

chore(deps): update python packages to latest compatible versions (#484)
  .pre-commit-config.yaml
  cms/auth/utils.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

fixup! Further functional test tweaks following rebase
  functional_tests/features/auth.feature
  functional_tests/features/localisation.feature
  functional_tests/steps/information_page.py
Due: pylint

feat(search): index topic and standard pages
  cms/search/tests/helpers.py
  cms/search/tests/test_api_views.py
  cms/search/tests/test_publishers.py
  cms/search/tests/test_resource_builders.py
  cms/search/tests/test_signal_handlers.py
  cms/search/utils.py
  cms/settings/base.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/factories.py
  cms/topics/models.py
  cms/topics/tests/factories.py
Due: pylint

Design system version upgraded to 73.1.1 and search config added to the base.html template.
  .design-system-version
  cms/jinja2/templates/base.html
Due: none

Env var added for search URL and context processors and tests updated.
  cms/core/context_processors.py
  cms/core/tests/test_context_processors.py
  cms/jinja2/templates/base.html
  cms/settings/base.py
Due: pylint

Update factories to reflect BAU
  cms/articles/tests/factories.py
  cms/standard_pages/tests/factories.py
  cms/topics/tests/factories.py
Due: pylint

Env var SEARCH_PAGE_URL updated to ONS_SEARCH_REDIRECT_PATH
  cms/core/context_processors.py
  cms/core/tests/test_context_processors.py
  cms/jinja2/templates/base.html
  cms/settings/base.py
Due: pylint

A scenario added in home_page.feature to reflect the new addition of the search functionality for our application.
  functional_tests/features/home_page.feature
  functional_tests/steps/home_page.py
Due: pylint

Add search navigation labels to base.html template
  cms/jinja2/templates/base.html
Due: none

.po file regenerated.
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Bad Sanjeev: Remove smoke decorator from the home_page feature file.
  functional_tests/features/home_page.feature
Due: none

Remove Wagtail core templates translation strings.
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Add input name for search form in base.html template
  cms/jinja2/templates/base.html
Due: none

CoreStoryBlock removed from core/checks.py check_wagtail_pages system check. - Tests for core system checks added - A comment added on why we will not mark "Populated on publish" for translations
  cms/core/checks.py
  cms/core/tests/test_checks.py
  cms/jinja2/templates/pages/information_page.html
Due: pylint

fixup! fixup! Further functional test tweaks following rebase
  functional_tests/features/bundle.feature
  functional_tests/features/bundle_page.feature
  functional_tests/features/localisation.feature
  functional_tests/features/release_page.feature
  functional_tests/steps/bundles.py
  functional_tests/steps/information_page.py
Due: pylint

Remove redundant getattr
  cms/search/tests/helpers.py
  cms/search/utils.py
Due: pylint

Helper function added check_page_models_for_story_block to check a given story block class have the correct base form class. - standard_pages/tests/test_checks.py added
  cms/core/checks.py
  cms/core/tests/test_checks.py
  cms/standard_pages/apps.py
  cms/standard_pages/checks.py
  cms/standard_pages/tests/test_checks.py
Due: pylint

Final functional test tweaks?
  functional_tests/features/bundle.feature
Due: none

Remove unnecessary import for type
  cms/home/models.py
Due: pylint

Add tests to check permission tester for all pages
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_series_models.py
  cms/core/models/base.py
  cms/core/permission_testers.py
  cms/home/tests/test_models.py
  cms/methodology/tests/test_models.py
  cms/release_calendar/tests/test_models.py
  cms/standard_pages/tests/test_models.py
  cms/themes/tests/test_models.py
  cms/topics/models.py
  cms/topics/tests/test_models.py
Due: pylint

Tweaks from code review
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
  cms/workflows/workflows.py
  functional_tests/features/release_page.feature
Due: pylint

Update test comment
  cms/search/tests/test_publishers.py
Due: pylint

Make pages with a go-live date non-bundleadble regardless of the go-live date/time
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/views/add_to_bundle.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Remove version.version from health check
  cms/core/tests/test_views.py
  cms/core/views.py
  cms/settings/base.py
Due: pylint

Prevent scheduling expiry too
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/views/add_to_bundle.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Test image tag
  ci/build.yml
Due: lint:format

Dummy file change
  ci/build.yml
Due: lint:format

Test non existent tag
  ci/build.yml
Due: lint:format

Use real tag
  ci/build.yml
Due: lint:format

Test golang image
  ci/build.yml
Due: lint:format

Omit tag
  ci/build.yml
Due: lint:format

feat(ci): build and push image to ECR
  .docker/Makefile
  Dockerfile
  ci/build.yml
  ci/concourse.yaml
  ci/scripts/build.sh
  cms/core/tests/test_views.py
  cms/core/views.py
  cms/settings/base.py
Due: pylint, lint:format

fix: unit test
  cms/core/tests/test_views.py
Due: pylint

restore error scenarios
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

fix lint
  functional_tests/steps/bundles.py
Due: pylint

CMS-925: Prevent anyone editing the homepage through the CMS (#482)
  cms/core/permission_testers.py
  cms/core/tests/test_permission_testers.py
  cms/home/models.py
  cms/home/tests/test_models.py
  functional_tests/features/custom_permissions.feature
  functional_tests/steps/admin_page.py
  functional_tests/steps/page_editor.py
Due: pylint
