Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Add tests for bundle utils
  cms/bundles/tests/test_utils.py
  cms/bundles/utils.py
Due: pylint

Added JS to hide release date text input field for non-provisional releases
  cms/jinja2/assets/js/hide-date-text-on-non-provisional-release-pages.js
  cms/release_calendar/forms.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint, lint:js, lint:format

Enhance custom date formatting: update AM/PM logic, add caching for format resolution, and implement unit tests for boundary conditions.
  cms/core/custom_date_format.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_custom_date_format.py
  cms/core/tests/test_jinja2tags.py
Due: pylint

Use signals to copy previous releases datasets
  cms/articles/signal_handlers.py
Due: pylint

Prevent approval if the user was the last editor
  cms/workflows/models.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Placate mypy
  cms/workflows/models.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Add tests for the actions/before edit page hooks
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/tests/utils.py
Due: pylint

Add JS to prevent approval if editing
  cms/workflows/static/js/workflow-tweaks.js
  cms/workflows/tests/test_wagtail_hooks.py
  cms/workflows/wagtail_hooks.py
Due: pylint, lint:js, lint:format

Add utils tests
  cms/workflows/tests/test_utils.py
Due: pylint

Handle no revision use case
  cms/workflows/wagtail_hooks.py
Due: pylint

Refactor release page feature scenarios to use a scenario outline for datetime inputs, improving clarity and reducing redundancy.
  functional_tests/features/release_page.feature
Due: none

Made release_date mandatory
  cms/jinja2/assets/js/hide-date-text-on-non-provisional-releases.js
  cms/release_calendar/forms.py
  cms/release_calendar/migrations/0004_make_release_date_mandatory_and_rename_next_release_text.py
  cms/release_calendar/migrations/0004_rename_next_release_text_releasecalendarpage_next_release_date_text.py
  cms/release_calendar/models.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint, lint:js, lint:format

feat(templates): Add language-agnostic list extend function
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_tags.py
Due: pylint

Upgrade Design System to 72.8.0
  .design-system-version
Due: none

Revert "fix(templating): Add temporary dump filter for Nunjucks compatibility"
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
Due: pylint

feat: Update charts block to work with DS 72.5.0
  cms/datavis/blocks/base.py
  cms/jinja2/templates/components/streamfield/datavis/_macro.njk
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
  cms/static_src/javascript/components/highcharts-base-chart.js
  cms/static_src/javascript/main.js
Due: pylint, lint:js, lint:format

Use custom JSON encoder in Jinja2
  cms/core/jinja2.py
  cms/core/tests/test_jinja2.py
  cms/settings/base.py
Due: pylint

fix: Re-enable configuration of tick intervals
  cms/datavis/blocks/base.py
Due: pylint

Fix datetime formatting in release and statistical article pages: correct "p.m." to "pm" for consistency.
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

Test broken redis connection
  cms/core/tests/test_views.py
  cms/core/views.py
Due: pylint

Move container build Makefile out of main Makefile
  .docker/Makefile
  Makefile
Due: none

Allow overwriting release datetime with date text in the main template
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Simplify liveness probe tests
  cms/core/tests/test_views.py
  cms/core/views.py
Due: pylint

Update front-end tooling configuration
  .eslintrc.js
  .prettierignore
Due: lint:js, lint:format

Tidy up workflow JS
  cms/workflows/static/js/workflow-tweaks.js
Due: lint:js, lint:format

Update existing tests
  cms/release_calendar/models.py
  cms/release_calendar/tests/factories.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_viewsets.py
Due: pylint

Added unit tests to check the date overwrite mechanism
  cms/release_calendar/tests/test_models.py
Due: pylint

Refactor pagination settings to align with new API standards and update related tests for consistency
  cms/search/pagination.py
  cms/search/serializers.py
  cms/search/tests/test_api_views.py
  cms/search/utils.py
  cms/settings/base.py
Due: pylint

Add InformationPageFactory to included pages in search resources tests
  cms/search/tests/test_api_views.py
Due: pylint

Lint error
  cms/search/tests/test_api_views.py
Due: pylint

Lint remaining apps JS
  cms/core/static/js/blocks/correction-block.js
  cms/core/static/js/blocks/previous-version-block.js
Due: lint:js, lint:format

Add locale column to additional choosers
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/release_calendar/viewsets.py
  cms/topics/viewsets.py
Due: pylint

Remove caching from format resolution in custom date formatting
  cms/core/custom_date_format.py
Due: pylint

Update pagination test
  cms/search/tests/test_api_views.py
Due: pylint

Added UI tests for the hiding of release date text field
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Test unexpected database errors
  cms/core/tests/test_views.py
  cms/core/views.py
Due: pylint

Update search indexing and tests
  cms/search/publishers.py
  cms/search/tests/test_publishers.py
Due: pylint

Get the S3 storage tests working for devs who have aws credentials locally
  cms/private_media/tests/test_storages.py
Due: pylint

Fix comments for clarity in pagination response and update resource endpoint references in tests
  cms/search/pagination.py
  cms/search/tests/test_api_views.py
Due: pylint

Fix pagination test query parameters for clarity
  cms/search/tests/test_api_views.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
