Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

feat: pass gtm data attributes to breadcrumbs component
  cms/core/models/base.py
Due: pylint

Add precommit hook + add boundary
  .github/workflows/pr-standards.yml
  .pre-commit-config.yaml
  scripts/validate-branch-name.sh
Due: lint:format

Pin action to SHA + use latest ver + fix sh lint
  .github/workflows/pr-standards.yml
  scripts/validate-branch-name.sh
Due: lint:format

Placate zizmor
  .github/workflows/pr-standards.yml
Due: lint:format

Ensure that the validation for the table block reports field validation errors and the custom subtitle without title validation error at the same time
  cms/core/blocks/markup.py
Due: pylint

Update .github/workflows/pr-standards.yml
  .github/workflows/pr-standards.yml
Due: lint:format

Update error msg
  scripts/validate-branch-name.sh
Due: none

Pass env from CI and update description
  .github/workflows/pr-standards.yml
  scripts/validate-branch-name.sh
Due: lint:format

fix mypy errors
  cms/core/db_iam_config.py
  cms/core/rds_client.py
  cms/settings/base.py
Due: pylint

update test to account for specific fetch
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

ensure teardown on migration tests goes to latest project state, and add default next migration if not selected.
  cms/core/tests/__init__.py
  cms/topics/tests/test_migrations.py
Due: pylint

build(deps): upgrade Wagtail to 7.4.2 and django-redis to 7.0.0
  poetry.lock
  pyproject.toml
Due: none

Add ticket link to PR body
  .github/workflows/pr-standards.yml
Due: lint:format

fix(bundles): use RelatedFields for team_id search filter
  cms/bundles/models.py
Due: pylint

test(workflows): update action menu assertions for Wagtail 7.4
  cms/workflows/tests/test_workflow_tweaks.py
Due: pylint

test(core): fix broken redis health check test for redis-py 8.x
  cms/core/tests/test_views.py
Due: pylint

Hide edit button for published bundles
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

fix(blocks): remove ignore_required_constraints from clean() overrides
  cms/datasets/blocks.py
  cms/topics/blocks.py
Due: pylint

ci(github): validate PR branch names and semantic titles (#717)
  .github/workflows/pr-blocked-labels.yml
  .github/workflows/pr-standards.yml
  .pre-commit-config.yaml
  scripts/validate-branch-name.sh
Due: lint:format

feat(privacy): implement page privacy controls and enhance view restriction handling
  .secrets.baseline
  cms/articles/models.py
  cms/articles/tests/test_series_models.py
  cms/auth/middleware.py
  cms/auth/tests/test_middleware.py
  cms/auth/tests/test_views.py
  cms/core/tests/test_permission_testers.py
  cms/core/tests/test_urls.py
  cms/core/utils.py
  cms/settings/base.py
  cms/settings/test.py
  cms/urls.py
  docs/custom-features/page_privacy.md
Due: pylint

fix: update cookies page text for clarity and consistency
  cms/jinja2/templates/pages/cookies.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/standard_pages/tests/test_pages.py
Due: pylint

fix(pr-standards): check for Jira link before update PR body
  .github/workflows/pr-standards.yml
Due: lint:format

Fix topic tree before loading data
  cms/test_data/management/commands/create_test_data.py
Due: pylint

fix(pr-standards): check for Jira link before update PR body (#723)
  .github/workflows/pr-standards.yml
Due: lint:format

Add a test to ensure that the table block validation errors are reported together.
  cms/core/tests/test_blocks.py
Due: pylint

fix: route API failure notifications to alarm channel
  cms/bundles/notifications/api_failures.py
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

fix: prevent content type attribute being passed when value is None
  cms/core/models/base.py
Due: pylint

test: add data attribute coverage to breadcrumbs tests
  cms/core/tests/test_models.py
Due: pylint

use `tearDownClass` insteadof `tearDown`
  cms/core/tests/__init__.py
Due: pylint

update comment
  cms/core/tests/__init__.py
Due: pylint

fix: route API failure notifications to alarm channel (#724)
  cms/bundles/notifications/api_failures.py
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

re-add `tearDown` as well as the class teardown method.
  cms/core/tests/__init__.py
Due: pylint

reset to `next_migration` after each test while keeping class level reset to latest state
  cms/core/tests/__init__.py
Due: pylint

Fix dataset duplicate detection
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
Due: pylint

fix call to instance method in class method
  cms/core/tests/__init__.py
Due: pylint

fix pool options key
  .secrets.baseline
  cms/settings/base.py
Due: pylint

fix health checks key
  cms/settings/base.py
Due: pylint

use `addCleanup` and `addClassCleanup` to ensure actions run regardless of test status
  cms/core/tests/__init__.py
Due: pylint

test: refactor breadcrumb link assertions to handle added data attributes
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_pages.py
  cms/methodology/tests/test_pages.py
  cms/standard_pages/tests/test_pages.py
Due: pylint

fix: resolve breadcrumb type errors
  cms/core/models/base.py
Due: pylint
