Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Updated tests
  cms/navigation/tests/test_blocks.py
Due: pylint

Add checks on equation/ONS embed on story blocks
  cms/articles/models.py
  cms/core/blocks/stream_blocks.py
  cms/core/models/base.py
  cms/methodology/models.py
Due: pylint

Placate pylint
  cms/core/models/base.py
Due: pylint

Update readme with extra steps needed for pre-commit (#67)
  README.md
Due: none

Fix for equations and embeds rendering on Methodology page(#74)
  cms/methodology/models.py
Due: pylint

Fix to related content on the release page (#72)
  cms/jinja2/templates/components/streamfield/release_content_section.html
Due: none

Remove the analysis app (#71)
  cms/analysis/__init__.py
  cms/analysis/migrations/0001_initial.py
  cms/analysis/migrations/0002_remove_analysisseries_page_ptr_delete_analysispage_and_more.py
  cms/analysis/migrations/__init__.py
  cms/analysis/models.py
  cms/settings/base.py
Due: pylint

test_section_streamfield_limit test working
  cms/navigation/tests/test_blocks.py
Due: pylint

override linting
  cms/core/blocks/embeddable.py
Due: pylint

Linting disable for block only
  cms/core/blocks/embeddable.py
Due: pylint

Move videoembed tests to their own class
  cms/core/tests/test_blocks.py
  cms/core/tests/test_video_embed_block.py
Due: pylint

Introduce Functional Tests using Playwright and Behave #31
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  cms/settings/functional_test.py
  cms/users/tests/factories.py
  functional_tests/README.md
  functional_tests/__init__.py
  functional_tests/behave_fixtures.py
  functional_tests/docker-compose-dev.yml
  functional_tests/docker-compose.yml
  functional_tests/environment.py
  functional_tests/features/cms_login.feature
  functional_tests/features/home_page.feature
  functional_tests/features/information_page.feature
  functional_tests/features/release_page.feature
  functional_tests/step_helpers/__init__.py
  functional_tests/step_helpers/users.py
  functional_tests/step_helpers/utilities.py
  functional_tests/steps/__init__.py
  functional_tests/steps/cms_login.py
  functional_tests/steps/contact_details_snippet.py
  functional_tests/steps/home_page.py
  functional_tests/steps/information_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Update poetry.lock
  poetry.lock
Due: none

Tidy up the info/warning panel and fix title/no title output (#73)
  cms/core/blocks/panels.py
  cms/jinja2/templates/components/streamfield/panel_block.html
Due: pylint

Use setUp method in tests to improve performance
  cms/core/tests/test_video_embed_block.py
Due: pylint

Extract getting the embed url to its own method
  cms/core/blocks/embeddable.py
Due: pylint

Update VideoEmbedBlock test names
  cms/core/tests/test_video_embed_block.py
Due: pylint

Add tests for the embed_url in context
  cms/core/tests/test_video_embed_block.py
Due: pylint

Capitalisation tweak
  cms/core/blocks/embeddable.py
  cms/core/tests/test_video_embed_block.py
Due: pylint

Speed up tests by using setUpTestData
  cms/core/tests/test_video_embed_block.py
Due: pylint

Delete .docker/bashrc.sh
  .docker/bashrc.sh
Due: none

Add .docker/bashrc.sh
  .docker/bashrc.sh
Due: none

File permision change
  .docker/bashrc.sh
Due: none

Update dev and test config to run out the box locally, update README
  .development.env
  Makefile
  README.md
  cms/settings/dev.py
  cms/settings/test.py
Due: pylint

Fix makefile comment
  Makefile
Due: none

Format
  README.md
Due: none

Add the embed_url var to the object not directly to the context, to make the template vars more consistent
  cms/core/blocks/embeddable.py
  cms/core/tests/test_video_embed_block.py
Due: pylint

Django Migration Linter Integration (#43)
  .github/workflows/ci.yml
  Makefile
  README.md
  cms/home/migrations/0002_create_homepage.py
  cms/release_calendar/migrations/0002_create_releasecalendarindex.py
  cms/settings/dev.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Update README.md
  README.md
Due: none

Added more tests, factories updated
  cms/navigation/models.py
  cms/navigation/tests/factories.py
  cms/navigation/tests/test_blocks.py
  cms/navigation/tests/test_models.py
Due: pylint

Removed tests
  cms/navigation/tests/test_blocks.py
  cms/navigation/tests/test_views.py
Due: pylint

Max num code removed
  cms/navigation/models.py
Due: pylint

Code formatted
  .github/ISSUE_TEMPLATE.md
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  cms/navigation/migrations/0001_initial.py
  cms/navigation/models.py
  cms/navigation/tests/factories.py
  docs/conventions/type_hinting.md
  docs/index.md
  functional_tests/README.md
Due: pylint

lint amendments
  cms/articles/models.py
  cms/articles/tests/test_models.py
  cms/jinja2/templates/components/navigation/breadcrumbs.html
  cms/jinja2/templates/pages/release_index.html
Due: pylint

Utilising pageurl to point to get internal wagtail pages
  cms/jinja2/templates/base.html
Due: none

Code refactored
  cms/navigation/wagtail_hooks.py
Due: pylint

Reverting format for md files
  .github/ISSUE_TEMPLATE.md
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
Due: none

Reverting md files formatting
  docs/conventions/type_hinting.md
  docs/index.md
  functional_tests/README.md
Due: none

Update the embed block to be a custom video embed that uses the design system video embed template (#62)
  cms/core/blocks/__init__.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/stream_blocks.py
  cms/core/tests/test_video_embed_block.py
  cms/jinja2/templates/components/streamfield/video_embed_block.html
  cms/static_src/sass/components/_responsive-object.scss
  cms/static_src/sass/main.scss
Due: pylint, lint:css, lint:format

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
