Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Bump wagtail-tinytableblock to 0.2.4 for cell and row property toolbar buttons
  poetry.lock
  pyproject.toml
Due: none

Add integration tests for hero section
  cms/articles/tests/test_pages.py
Due: pylint

Bump wagtail-tinytableblock to 0.2.4 for cell and row property toolbar buttons (#137)
  poetry.lock
  pyproject.toml
Due: none

Sort corrections and check date (#134)
  cms/core/forms.py
  cms/jinja2/templates/pages/statistical_article_page.html
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/statistical_article_page.py
Due: pylint

Fixed unit tests
  cms/core/migrations/0006_update_user_groups.py
  cms/core/tests/test_permissions.py
Due: pylint

Uncomment the failing functional test
  functional_tests/features/rbac_permissions.feature
  functional_tests/steps/cms_login.py
Due: pylint

Add attr-defined ignore
  cms/bundles/admin_forms.py
Due: pylint

Remove unnecessary i18n tag
  cms/bundles/templates/bundles/wagtailadmin/add_to_bundle.html
Due: none

Ensure topic label is translatable
  cms/topics/models.py
Due: pylint

Ensure article label is translatable
  cms/articles/models.py
Due: pylint

Ensure methodology label is translatable
  cms/methodology/models.py
Due: pylint

Add additional changes to translations
  cms/bundles/admin_forms.py
  cms/bundles/views.py
  cms/core/utils.py
  cms/settings/base.py
Due: pylint

Address mypy's concerns and worries
  cms/articles/models.py
  cms/bundles/admin_forms.py
  cms/bundles/views.py
  cms/methodology/models.py
  cms/topics/models.py
Due: pylint

Address issues exposed by tests
  cms/bundles/templates/bundles/wagtailadmin/add_to_bundle.html
  cms/bundles/templates/bundles/wagtailadmin/panels/latest_bundles.html
Due: none

Ensure distinct bundles are show in index and panels
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets.py
  cms/bundles/wagtail_hooks.py
Due: pylint

comment resolutions
  cms/articles/tests/test_models.py
Due: pylint

Fixed functional tests
  functional_tests/features/rbac_permissions.feature
  functional_tests/steps/information_page.py
  functional_tests/steps/page_editor.py
Due: pylint

fix: Prevent error when tableblock is empty
  cms/datavis/blocks/table.py
Due: pylint

Add source
  cms/datavis/blocks/base.py
Due: pylint

Tidy up the dashboard bundle panels styling
  cms/bundles/templates/bundles/wagtailadmin/panels/bundles_in_review.html
  cms/bundles/templates/bundles/wagtailadmin/panels/latest_bundles.html
  cms/core/static/css/admin.css
  cms/core/wagtail_hooks.py
Due: pylint, lint:css, lint:format

Make the bundle page preview contain /page/ for clarity
  cms/bundles/admin_urls.py
Due: pylint

Improve validation
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Move the bundles menu item before the preview teams one
  cms/bundles/viewsets.py
Due: pylint

Tidy up bundle permissions module
  cms/bundles/permissions.py
  cms/bundles/views/preview.py
  cms/bundles/viewsets.py
  cms/users/permissions.py
Due: pylint

Only show the active bundle in the bundle note panel, and link to edit if user can edit
  cms/bundles/panels.py
  cms/bundles/tests/test_panels.py
Due: pylint

Remove the logic that sets the page scheduled publication date via bundle
  cms/bundles/models.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_wagtail_hooks.py
  cms/bundles/wagtail_hooks.py
Due: pylint

Oh, mypy!
  cms/core/wagtail_hooks.py
  cms/users/permissions.py
Due: pylint

fixup! Remove the logic that sets the page scheduled publication date via bundle
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/tests/test_management_commands.py
  cms/workflows/tests/utils.py
Due: pylint

Enhance footer menu feature tests with deletion confirmation and final verification scenarios, feature file and step definitions made more reusable, maintainable and refactored.
  functional_tests/features/footer_menu.feature
  functional_tests/step_helpers/footer_menu_helpers.py
  functional_tests/steps/footer_menu.py
Due: pylint

Code cleanup
  functional_tests/step_helpers/footer_menu_helpers.py
  functional_tests/steps/footer_menu.py
  functional_tests/steps/page_editor.py
Due: pylint

Update Kafka configuration to use Bitnami Kafka image and KRaft mode; refactor settings checks and tests for improved error handling.
  .github/workflows/ci.yml
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/tests/test_checks.py
  docker-compose-dev.yml
Due: pylint, lint:format

Skeleton PR created.
  cms/core/custom_dateformat.py
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
Due: pylint

Added skeleton tests files for custom date format and Jinja2 filter in the CMS
  cms/core/tests/test_custom_dateformat.py
  cms/core/tests/test_jinja2tags.py
Due: pylint

Added makefile commands for testing - not intended to be merged
  Makefile
Due: none

comment resolutions
  cms/articles/models.py
Due: pylint

Automatic topic creation added to the container config
  .github/workflows/ci.yml
  docker-compose-dev.yml
Due: lint:format

docker-compose-dev.yml file formatted
  docker-compose-dev.yml
Due: lint:format
