Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Fix circular imports error with local imports
  cms/bundles/panels.py
  cms/release_calendar/viewsets.py
Due: pylint

init commit welsh added
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Fix ui_test by manually adding Future_release_page
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

Add cookies page, route and url
  .secrets.baseline
  cms/core/context_processors.py
  cms/core/tests/test_context_processors.py
  cms/core/views.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/pages/cookies.html
  cms/settings/base.py
  cms/settings/test.py
  cms/urls.py
Due: pylint

Fix duplicate line and formatting
  cms/jinja2/templates/pages/cookies.html
Due: none

Add functional tests, wrap all page text in gettext for translation
  cms/jinja2/templates/pages/cookies.html
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/features/cookies_management.feature
  functional_tests/steps/cookies_management.py
Due: pylint

Choose routablepageurl depending on WAGTAIL_APPEND_SLASH
  cms/core/jinja2tags.py
Due: pylint

Clarify TODO comment
  cms/jinja2/templates/base.html
Due: none

Move component arguments into variables so they are picked up by makemessages
  cms/jinja2/templates/pages/cookies.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Fix typo
  cms/jinja2/templates/base.html
Due: none

Fix megalinter failure (one blank line in HTML)
  cms/jinja2/templates/pages/cookies.html
Due: none

Topic page test_models.py updated, topic page UI tests added to reflect the new x-pollination feature, topic_page_utils added in step_helpers.
  cms/topics/tests/test_models.py
  functional_tests/features/topic_page.feature
  functional_tests/step_helpers/topic_page_utils.py
  functional_tests/steps/topic_page.py
Due: pylint

topic_page_utils in step_helpers updated - We don't need to reset caching as we are creating a new topic page builder instance every scenario
  functional_tests/step_helpers/topic_page_utils.py
Due: pylint

Zombie code cleaned up
  functional_tests/steps/topic_page.py
Due: pylint

Remove redundant is_preview setting
  cms/articles/models.py
Due: pylint

Revert "Disable CMS_USE_SUBDOMAIN_LOCALES for functional tests"
  cms/settings/functional_test.py
Due: pylint

Add functional test changes to accomodate 2 sites
  functional_tests/behave_fixtures.py
  functional_tests/features/topic_page.feature
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
Due: pylint

X-Pollination statistical pages + manually selected articles scenario complete
  functional_tests/features/topic_page.feature
  functional_tests/steps/topic_page.py
Due: pylint

Scenario added to the topic page feature file to cover the test case of auto-populating feature with a mix of tagged articles, manually selected and descendant articles
  functional_tests/features/topic_page.feature
Due: none

step definition added for the newly created scenario: Topic page highlighted methodologies show...
  functional_tests/steps/topic_page.py
Due: pylint

Additional X-Pollination/ Auto-population UI tests for methodology pages added - Manual + tagged methodologies scenario added - Mixed auto-population added: manual, tagged and descendants
  functional_tests/features/topic_page.feature
Due: none

Step definition for manually adding methodologies on a topic page added
  functional_tests/steps/topic_page.py
Due: pylint

topic_page.py step definitions refactored - Common/ duplicate step definitions for methodology and statistical article pages combined
  functional_tests/features/topic_page.feature
  functional_tests/steps/topic_page.py
Due: pylint

Title field removed from the information panel - Title field removed from InformationPanelBlock - title macro option removed from onsPanel component
  cms/core/blocks/panels.py
  cms/jinja2/templates/components/streamfield/information_panel.html
Due: pylint

Added a blank line on information_panel.html file
  cms/jinja2/templates/components/streamfield/information_panel.html
Due: none

ArticlesIndexPage and MethodologyIndexPage serve method updated to redirect - To the related articles or methodologies search listing page for that topic it's parent topic page is tagged with
  cms/articles/models.py
  cms/methodology/models.py
  cms/topics/models.py
Due: pylint

Broker container service added to the functional-tests job
  .github/workflows/ci.yml
Due: lint:format

KAFKA_SERVERS env added
  .github/workflows/ci.yml
Due: lint:format

Add unit test, use url function instead of hardcoded route
  cms/core/tests/test_views.py
  cms/jinja2/templates/base.html
Due: pylint

Update functional tests
  functional_tests/features/cookies_management.feature
  functional_tests/steps/cookies_management.py
Due: pylint

Factor common setup out into background step
  functional_tests/features/cookies_management.feature
Due: none

Fix remaining functional tests
  cms/navigation/templatetags/navigation_tags.py
  functional_tests/steps/topic_page.py
Due: pylint

amend failing tests as per CMS-345
  cms/locale/cy/LC_MESSAGES/django.po
  cms/release_calendar/tests/test_utils.py
Due: pylint

resolve pr commit
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Code formatted and lint errors fixed
  cms/settings/functional_test.py
  functional_tests/docker-compose.yml
Due: pylint, lint:format

Utilising os.environ.copy() to keep it consistent with the convention in the other settings file such as base and dev
  cms/settings/functional_test.py
Due: pylint

First attempt CookiesPage model
  cms/settings/base.py
  cms/standard_pages/migrations/0003_cookiespage.py
  cms/standard_pages/migrations/0004_create_cookies_management_page.py
  cms/standard_pages/models.py
  cms/standard_pages/wagtail_hooks.py
  cms/urls.py
Due: pylint
