Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Fix incorrect ToC on superseded pages (#203)
  cms/articles/models.py
  cms/articles/tests/test_pages.py
  cms/jinja2/templates/pages/statistical_article_page.html
Due: pylint

Add additional tests
  cms/articles/tests/test_models.py
  cms/core/tests/test_utils.py
Due: pylint

integrate related links & document streamfields with DS to match designs & update streamfields on info page to be consistent with other page templates
  cms/core/blocks/embeddable.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/related_links_block.html
  cms/standard_pages/models.py
Due: pylint

Move signal_handlers to release_calendar
  cms/articles/signal_handlers.py
  cms/release_calendar/signal_handlers.py
Due: pylint

Add non-js equation generation (#192)
  .github/workflows/ci.yml
  Dockerfile
  cms/articles/forms.py
  cms/articles/tests/test_models.py
  cms/core/blocks/equation.py
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/core/checks.py
  cms/core/forms.py
  cms/core/static/js/blocks/equation-block.js
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/jinja2/templates/components/streamfield/equation_block.html
  cms/methodology/models.py
  cms/standard_pages/models.py
  functional_tests/environment.py
  functional_tests/features/javascript_disabled.feature
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/information_page.py
  functional_tests/steps/javascript_disabled.py
  functional_tests/steps/statistical_article_page.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:js, lint:format

refactor: Split charts tests into separate modules
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/datavis/tests/test_chart_options.py
  cms/datavis/tests/test_line_chart_block.py
Due: pylint

refactor: Split PointAnnotationBlock
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_annotations.py
Due: pylint

feat: Add scatter plot StreamField block
  cms/core/blocks/stream_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_scatter_plot_block.py
Due: pylint

update information page template with hero & update styling
  cms/jinja2/templates/pages/information_page.html
Due: none

update design system version to latest release
  .design-system-version
Due: none

Add additional tests for JWT validation scenarios in ValidateJWTTests
  cms/auth/tests/test_utils.py
Due: pylint

Add tests for logout behavior and session extension in ONSLogoutViewTests
  cms/auth/tests/test_views.py
Due: pylint

Refactor comments for clarity in ONSAuthMiddleware and add test for rendered auth config in WagtailHookEnabledTests
  cms/auth/middleware.py
  cms/auth/tests/test_wagtail_hooks.py
Due: pylint

Add tests for handling HTTP errors and inactive team reactivation in SyncTeamsCommandTests
  cms/teams/tests/test_management_commands.py
Due: pylint

Add integration tests for auth.js functionality on InformationPage
  functional_tests/features/auth.feature
  functional_tests/steps/auth.py
Due: pylint

update design system version to latest release (#207)
  .design-system-version
Due: none

Refactor authentication handling and session management
  .prettierignore
  cms/auth/utils.py
  cms/auth/views.py
  cms/auth/wagtail_hooks.py
  cms/settings/dev.py
  cms/static_src/javascript/auth.js
  functional_tests/steps/auth.py
  poetry.lock
  webpack.config.js
Due: pylint, lint:js, lint:format

Refactor authentication handling to use json_script for safe config embedding and update session management in JS
  cms/auth/wagtail_hooks.py
  cms/jinja2/templates/base_page.html
  cms/static_src/javascript/auth.js
Due: pylint, lint:js, lint:format

Fix annotations type annotations
  cms/datavis/blocks/annotations.py
Due: pylint

Accept suggested list comprehension refactor
  cms/datavis/blocks/charts.py
Due: pylint

update labels & page title following code review
  cms/jinja2/templates/base.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
Due: none

mv {X,}AxisType
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
Due: pylint

Remove cm-super and texlive-fonts-recommended packages
  .github/workflows/ci.yml
  Dockerfile
Due: lint:format

add dev comments for namespaced variable
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
Due: none

Re-add cm-super
  .github/workflows/ci.yml
  Dockerfile
Due: lint:format

Scatter plot (#205)
  cms/core/blocks/stream_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_annotations.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/datavis/tests/test_chart_options.py
  cms/datavis/tests/test_line_chart_block.py
  cms/datavis/tests/test_scatter_plot_block.py
Due: pylint

revert SectionStoryBlock to CoreStoryBlock and add streamfield template instead
  cms/core/blocks/stream_blocks.py
  cms/standard_pages/models.py
Due: pylint

Scatter Plot on Statistical Article and Methodology pages only
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
Due: pylint

Scatter Plot on Statistical Article and Methodology pages only (#209)
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
Due: pylint

Update AWS Cognito login setting to default to false
  cms/settings/base.py
Due: pylint

Install texlive-latex-extra with --no-install-recommends
  .github/workflows/ci.yml
  Dockerfile
Due: lint:format

Fix typo
  Dockerfile
Due: none

move related link blocks logic into get_context
  cms/core/blocks/related.py
  cms/jinja2/templates/components/streamfield/related_links_block.html
Due: pylint

update date to ons_date for consistency with other templates
  cms/jinja2/templates/pages/information_page.html
Due: none

linting
  cms/core/blocks/related.py
Due: pylint

more linting
  cms/core/blocks/related.py
Due: pylint

extract labels for related content for translations
  cms/jinja2/templates/pages/information_page.html
Due: none

formatting
  cms/jinja2/templates/pages/information_page.html
Due: none

Working version
  cms/bundles/apps.py
  cms/bundles/email_notifications.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/migrations/0003_bundle_preview_notification_sent.py
  cms/bundles/models.py
  cms/bundles/signal_handlers.py
  cms/bundles/slack_notifications.py
  cms/bundles/test_signal_handlers.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_notifications.py
  cms/bundles/viewsets/bundle.py
  cms/notifications/__init__.py
  cms/notifications/apps.py
  cms/notifications/notifiers.py
  cms/notifications/signal_handlers.py
  cms/settings/base.py
  cms/teams/tests/factories.py
Due: pylint

Move test to the correct folder
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
