Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

fix: add workflow/page status to release calendar chooser (#775)
  cms/bundles/panels.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/core/formatting_utils.py
  cms/core/tests/test_formatting_utils.py
  cms/release_calendar/tests/test_utils.py
  cms/release_calendar/utils.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

fix: require linked release calendar approval before a bundle can be approved (#764)
  cms/bundles/forms.py
  cms/bundles/models.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_models.py
  docs/custom-features/bundles.md
Due: pylint

fix: add GTM data attributes to file download links (#745)
  cms/core/analytics_utils.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/markup.py
  cms/core/tests/test_analytics_utils.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/data_downloads/mixins.py
  cms/data_downloads/tests/test_utils.py
  cms/data_downloads/utils.py
  cms/data_downloads/views.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/utils.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

make installing deps with cache it's own action, and use exact playwright version for playwright cache key
  .github/actions/install-system-deps/action.yml
  .github/workflows/ci.yml
Due: lint:format

Overpurge related-data pages even when none left
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
Due: pylint

feat(perf): scripts to create test data (#445)
  .pylintrc
  .secrets.baseline
  Makefile
  README.md
  cms/datasets/tests/factories.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/test.py
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/models.py
  cms/taxonomy/tests/factories.py
  cms/taxonomy/viewsets.py
  cms/test_data/__init__.py
  cms/test_data/config.py
  cms/test_data/constants.py
  cms/test_data/factories.py
  cms/test_data/management/__init__.py
  cms/test_data/management/commands/__init__.py
  cms/test_data/management/commands/create_test_data.py
  cms/test_data/management/commands/delete_test_data.py
  cms/test_data/management/commands/show_default_test_data_config.py
  cms/test_data/random.py
  cms/test_data/signals.py
  cms/test_data/tests/__init__.py
  cms/test_data/tests/test_commands.py
  cms/test_data/tests/test_config.py
  cms/topics/tests/factories.py
  functional_tests/steps/statistical_article_page.py
  poetry.lock
  pyproject.toml
Due: pylint

rerun format
  docs/custom-features/data-creation-scripts.md
Due: none

run formatter
  docs/custom-features/data-creation-scripts.md
Due: none

remove TOC and update environment comment
  docs/custom-features/data-creation-scripts.md
Due: none

add colon
  docs/custom-features/data-creation-scripts.md
Due: none

Data seeding script documentation first draft
  docs/custom-features/data-creation-scripts.md
Due: none

remove TOC from bundles docs file
  docs/custom-features/bundles.md
Due: none

second draft
  README.md
  docs/custom-features/data-creation-scripts.md
Due: none

add link to dedicated doc file
  README.md
Due: none

update docs readmes
  docs/README.md
  docs/custom-features/README.md
Due: none

Fix tests
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

docs(seeding): data seeding script documentation (#771)
  README.md
  docs/README.md
  docs/custom-features/README.md
  docs/custom-features/bundles.md
  docs/custom-features/data-creation-scripts.md
Due: none

fix: replace the header area with breadcrumbs and hero components
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: none

test(ci): update dependency caching and installing in CI (#778)
  .github/actions/install-system-deps/action.yml
  .github/workflows/ci.yml
Due: lint:format

chore(functional-tests): increase the number of test shards from 6 to 8 (#777)
  .github/workflows/ci.yml
Due: lint:format

fix(images): Serve image block downloads as attachments
  cms/core/blocks/embeddable.py
  cms/core/tests/test_blocks.py
  cms/private_media/tests/test_serve_views.py
  cms/private_media/views.py
Due: pylint

Add topic aware dataset links and dataset topic validation on bundle approval
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/datasets/models.py
  cms/datasets/tests/factories.py
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/tests/test_views.py
  cms/datasets/tests/utils.py
  cms/datasets/utils.py
  cms/datasets/views.py
  cms/test_data/management/commands/create_test_data.py
  cms/topics/tests/test_pages.py
  docs/integrations/dataset_api.md
  functional_tests/features/bundle.feature
  functional_tests/features/topic_page.feature
  functional_tests/step_helpers/datasets.py
  functional_tests/steps/bundles.py
  functional_tests/steps/datasets.py
Due: pylint

add lowercase `cms` and `dpd` to branch name checks
  .github/workflows/pr-standards.yml
  scripts/validate-branch-name.sh
Due: lint:format

commit migration
  cms/datasets/migrations/0004_dataset_topic.py
Due: pylint

add lowercase `cms` and `dpd` to branch name checks (#784)
  .github/workflows/pr-standards.yml
  scripts/validate-branch-name.sh
Due: lint:format

build(deps): upgrade Wagtail to 7.4.2 and django-redis to 7.0.0
  poetry.lock
  pyproject.toml
Due: none

test(workflows): update action menu assertions for Wagtail 7.4
  cms/workflows/tests/test_workflow_tweaks.py
Due: pylint

fix(bundles): use RelatedFields for team_id search filter
  cms/bundles/models.py
Due: pylint

test(core): fix broken redis health check test for redis-py 8.x
  cms/core/tests/test_views.py
Due: pylint

fix(blocks): enforce required core section content fields on save
  cms/core/blocks/accordion.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/equation.py
  cms/core/blocks/headline_figures.py
  cms/core/blocks/markup.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
Due: pylint

fix(blocks): remove ignore_required_constraints from clean() overrides
  cms/datasets/blocks.py
  cms/topics/blocks.py
Due: pylint

fix(blocks): enforce required fields on save for navigation and page blocks
  cms/navigation/blocks.py
  cms/release_calendar/blocks.py
  cms/standard_pages/blocks.py
Due: pylint

fix(blocks): enforce required fields on save for topic and dataset blocks
  cms/datasets/blocks.py
  cms/topics/blocks.py
Due: pylint

fix(blocks): enforce required fields on save for inline block declarations
  cms/core/blocks/definitions.py
  cms/datavis/blocks/charts.py
Due: pylint

test(functional): cover block-level required fields on the methodology page
  functional_tests/features/methodology_page.feature
  functional_tests/steps/methodology_page.py
Due: pylint

style(functional): apply ruff formatting to methodology page steps
  functional_tests/steps/methodology_page.py
Due: pylint

Makes test step more robust
  functional_tests/steps/methodology_page.py
Due: pylint

fix(blocks): enforce required fields on save for datavis blocks
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/table.py
Due: pylint

build(deps): bump Wagtail from 7.4.2 to 7.4.3
  poetry.lock
  pyproject.toml
Due: none

fix(cache): guard against missing AWS credentials in ElastiCache provider
  cms/core/elasticache.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
