Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Update scenarion and wording
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

fix failing test
  functional_tests/features/release_page.feature
Due: none

Bundles - UX/user feedback tweaks, part 4 - choosers, panels and overall tidy ups (#329)
  cms/articles/models.py
  cms/articles/tests/test_models.py
  cms/articles/tests/test_pages.py
  cms/bundles/forms.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/mixins.py
  cms/bundles/models.py
  cms/bundles/notifications/slack.py
  cms/bundles/panels.py
  cms/bundles/templates/bundles/wagtailadmin/edit.html
  cms/bundles/templates/bundles/wagtailadmin/panels/bundles_in_review.html
  cms/bundles/templates/bundles/wagtailadmin/panels/read_only_output.html
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_pages.py
  cms/bundles/tests/test_panels.py
  cms/bundles/tests/test_signal_handlers.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/test_wagtail_hooks.py
  cms/bundles/utils.py
  cms/bundles/views/add_to_bundle.py
  cms/bundles/viewsets/bundle.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/bundles/wagtail_hooks.py
  cms/release_calendar/locks.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
  cms/workflows/locks.py
  cms/workflows/models.py
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Fix after merge
  cms/release_calendar/models.py
Due: pylint

Use specific_deferred
  cms/topics/models.py
Due: pylint

Fix functional tests now that that the theme index slug is enforced
  functional_tests/steps/page_editor.py
Due: pylint

Move panels templates to panels folder
  cms/release_calendar/templates/wagtailadmin/panels/bundle_note_help_panel.html
  cms/release_calendar/templates/wagtailadmin/panels/future_release_calendar_page_chooser_results.html
Due: none

Fix + make consistent paths
  cms/release_calendar/panels.py
  cms/release_calendar/tests/test_panels.py
  cms/release_calendar/viewsets.py
Due: pylint

Change page to page_id
  cms/topics/models.py
Due: pylint

Use page_id again
  cms/topics/models.py
Due: pylint

Refactor and add more component level GTM
  cms/articles/models.py
  cms/core/analytics.py
  cms/core/blocks/base.py
  cms/core/blocks/markup.py
  cms/core/models/base.py
  cms/core/utils.py
  cms/home/models.py
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/methodology/models.py
  cms/navigation/templatetags/navigation_tags.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/themes/models.py
  cms/topics/models.py
Due: pylint

Refactor content group code
  cms/articles/models.py
  cms/core/analytics.py
  cms/core/blocks/base.py
  cms/core/models/base.py
  cms/home/models.py
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/themes/models.py
  cms/topics/models.py
Due: pylint

Address feedback
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/topics/models.py
  cms/topics/tests/test_models.py
  functional_tests/features/topic_page_manual_related_articles.feature
  functional_tests/steps/topic_page_manual_related_articles.py
Due: pylint

Fix content group logic
  cms/core/models/base.py
Due: pylint

Remove unused step and add close() to preview_tab step
  functional_tests/features/release_page.feature
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
Due: pylint

Fix unit + add functional tests for help text
  Makefile
  cms/release_calendar/panels.py
  cms/release_calendar/tests/test_panels.py
  cms/release_calendar/viewsets.py
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Revert Makefile changes
  Makefile
Due: none

Guard clauses and other improvementzzz
  cms/release_calendar/panels.py
Due: pylint

Playwright auth tests successfully configured
  cms/auth/tests/helpers.py
  functional_tests/environment.py
  functional_tests/features/auth.feature
  functional_tests/features/sanity_auth.feature
  functional_tests/features/simple_auth.feature
  functional_tests/steps/auth.py
  functional_tests/steps/sanity_auth.py
  functional_tests/steps/simple_auth.py
Due: pylint

Scenarios added
  functional_tests/environment.py
  functional_tests/features/sanity_auth.feature
  functional_tests/steps/sanity_auth.py
Due: pylint

Prevent creation of ThemeIndexPage/ThemePage
  cms/navigation/blocks.py
  cms/themes/models.py
  functional_tests/features/taxonomy.feature
Due: pylint

Add aliveCodes to markdown-link-check pipeline settings
  .github/linters/.markdown-link-check.json
Due: lint:format

Rename property
  .github/linters/.markdown-link-check.json
Due: lint:format

Remove redirect codes
  .github/linters/.markdown-link-check.json
Due: lint:format

Disallow creating theme index and theme pages
  cms/core/blocks/base.py
  cms/navigation/blocks.py
  cms/navigation/tests/test_main_menu_forms.py
Due: pylint

fixup! Disallow creating theme index and theme pages
  cms/navigation/blocks.py
Due: pylint

Refactor
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Add comment explaining the help text
  cms/core/static/js/blocks/release-date-change-block.js
Due: lint:js, lint:format

Add `aliveStatusCodes` to markdown-link-check pipeline settings (#334)
  .github/linters/.markdown-link-check.json
Due: lint:format

Improve JS selector querying
  cms/core/static/js/blocks/release-date-change-block.js
Due: lint:js, lint:format

Refactor error message step and add release date changes text
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Fixed the help text not appearing
  cms/core/static/js/blocks/release-date-change-block.js
Due: lint:js, lint:format

fixup! Disallow creating theme index and theme pages
  functional_tests/features/taxonomy.feature
Due: none

Add locale reset to tests to avoid contamination
  cms/articles/tests/test_pages.py
  cms/core/tests/test_pages.py
Due: pylint

Got rid of help text, exclude field from the form instead + update tests
  cms/core/static/js/blocks/release-date-change-block.js
  cms/release_calendar/forms.py
  cms/release_calendar/panels.py
  cms/release_calendar/tests/test_forms.py
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint, lint:js, lint:format

Add Troubleshooting doc
  docs/troubleshooting.dm
Due: none

Fix typo
  docs/troubleshooting.md
Due: none

Address linting issues
  docs/troubleshooting.md
Due: none

Changes for the new url structure (#288)
  cms/articles/migrations/0008_articlesindexpage.py
  cms/articles/models.py
  cms/articles/tests/factories.py
  cms/articles/tests/test_models.py
  cms/articles/tests/test_pages.py
  cms/articles/tests/test_utils.py
  cms/articles/wagtail_hooks.py
  cms/core/blocks/base.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_index_page.html
  cms/methodology/migrations/0002_methodologiesindexpage.py
  cms/methodology/models.py
  cms/methodology/tests/factories.py
  cms/methodology/tests/test_pages.py
  cms/methodology/wagtail_hooks.py
  cms/navigation/blocks.py
  cms/navigation/tests/test_footer_menu_forms.py
  cms/navigation/tests/test_main_menu_forms.py
  cms/settings/base.py
  cms/standard_pages/tests/factories.py
  cms/themes/migrations/0003_themeindexpage.py
  cms/themes/models.py
  cms/themes/tests/factories.py
  cms/themes/tests/test_pages.py
  cms/topics/models.py
  cms/topics/tests/factories.py
  cms/topics/tests/test_models.py
  cms/topics/tests/utils.py
  cms/topics/viewsets/series_with_headline_figures.py
  cms/topics/wagtail_hooks.py
  functional_tests/features/glossary_terms.feature
  functional_tests/features/methodology_page.feature
  functional_tests/features/rbac_permissions.feature
  functional_tests/features/taxonomy.feature
  functional_tests/features/topic_page.feature
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/topic_page.py
Due: pylint

Fix accordion functional test by avoiding overlap
  functional_tests/steps/statistical_article_page.py
Due: pylint
