Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

bug: Show full series and edition title in release calendar preview (#681)
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_views.py
  cms/bundles/utils.py
Due: pylint

Allow multiple related links blocks per section (#682)
  cms/core/blocks/section_blocks.py
Due: pylint

Only allow whole numbers for category access tick interval
  cms/datavis/blocks/charts.py
Due: pylint

Pages require at least 1 revision
  cms/test_data/config.py
Due: pylint

Update import location
  cms/test_data/tests/test_commands.py
Due: pylint

Correctly publish topic page
  cms/test_data/config.py
  cms/test_data/management/commands/create_test_data.py
  cms/test_data/tests/test_commands.py
Due: pylint

Mention that the delete test data command only deletes test data from create_test_data
  cms/test_data/management/commands/delete_test_data.py
Due: pylint

Add blank line
  cms/test_data/config.py
Due: pylint

Check for meaningful content before displaying footnotes
  cms/core/blocks/markup.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
Due: pylint

Remove unpreviewable pages from bundle previews (#683)
  cms/bundles/models.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/viewsets/bundle.py
Due: pylint

update webpack dev server minor version
  package-lock.json
  package.json
Due: lint:format

Retry unfinished actions
  cms/post_publish_actions/management/commands/retry_post_publish_actions.py
Due: pylint

Fix tree inside transaction so the broken tree is never seen
  cms/test_data/management/commands/delete_test_data.py
Due: pylint

update webpack dev server minor version (#689)
  package-lock.json
  package.json
Due: lint:format

Add missing /related_data
  cms/articles/models.py
Due: pylint

ignore vuln in `http-proxy-middleware` for now
  osv-scanner.toml
Due: none

ignore vuln in `http-proxy-middleware` for now (#690)
  osv-scanner.toml
Due: none

ignore js dev dependencies in osv-scanner
  osv-scanner.toml
Due: none

Update tests
  cms/core/tests/test_blocks.py
  cms/datavis/tests/test_iframe_block.py
  cms/datavis/tests/test_line_chart_block.py
Due: pylint

ignore warnings from npm dev deps
  osv-scanner.toml
Due: none

Enable Wagtail autosave (#675)
  .secrets.baseline
  cms/settings/base.py
  docs/integrations/auth.md
Due: pylint

try moving osv-scanner.toml to `.github/linters` dir
  .github/linters/osv-scanner.toml
Due: none

disable wagtail autosave in test for CI stability
  .secrets.baseline
  cms/settings/test.py
Due: pylint

move setting to correct file
  .secrets.baseline
  cms/settings/functional_test.py
  cms/settings/test.py
Due: pylint

Ignore js dev dependencies in osv-scanner (#691)
  .github/linters/osv-scanner.toml
  osv-scanner.toml
Due: none

Add positive tests
  cms/core/tests/test_blocks.py
  cms/datavis/tests/test_iframe_block.py
  cms/datavis/tests/test_line_chart_block.py
Due: pylint

add autosave functional test
  functional_tests/environment.py
  functional_tests/features/autosave.feature
  functional_tests/steps/autosave.py
Due: pylint

Monkey patch connection `_test_serialize_content` to allow parallel test running with `forkserver` multiprocessing method (#610)
  Makefile
  cms/auth/tests/helpers.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/bundles/tests/test_viewsets.py
  cms/core/tests/runner.py
  cms/locale/tests/test_domain_localisation.py
  cms/locale/tests/test_path_localisation.py
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
  cms/standard_pages/tests/test_pages.py
  cms/taxonomy/tests/test_management_commands.py
  cms/topics/tests/test_viewsets.py
  cms/users/tests/factories.py
Due: pylint

wait for each individual edit to autosave
  functional_tests/features/autosave.feature
  functional_tests/steps/autosave.py
Due: pylint

Instead of using the ariaLabel option to describe the table for screen readers, use the caption otion. Use the existing field for this, but re-label to 'accessible label' for editors.
  cms/core/blocks/markup.py
  cms/core/static/css/admin.css
  cms/core/tests/test_blocks.py
Due: pylint, lint:css, lint:format

don't remove the "changes_to_release_date" field from release calendar page form before it has a PK
  cms/release_calendar/forms.py
Due: pylint

Update time series header to be sentence case
  cms/jinja2/templates/pages/topic_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/topics/tests/test_models.py
  cms/topics/tests/test_pages.py
  functional_tests/steps/topic_page.py
Due: pylint

update test to check present before creation
  cms/release_calendar/tests/test_forms.py
Due: pylint

Fix test by adding more specific locator for content type label
  functional_tests/steps/topic_page.py
Due: pylint

remove extra whitespace in test.py
  .secrets.baseline
  cms/settings/test.py
Due: pylint

Fix test
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

Generalise title change signal for cache purge
  cms/articles/models.py
  cms/articles/signals.py
  cms/core/models/base.py
  cms/core/signals.py
  cms/frontend_cache/cache.py
  cms/frontend_cache/signal_handlers.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

Keep line chart footnotes consistent with iframe footnotes
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_line_chart_block.py
Due: pylint

Move help text to single line
  cms/datavis/blocks/charts.py
Due: pylint

Fix casing of the time series header (#695)
  cms/jinja2/templates/pages/topic_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/topics/tests/test_models.py
  cms/topics/tests/test_pages.py
  functional_tests/steps/topic_page.py
Due: pylint
