Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Page model, page HTML and a few TODOs
  cms/jinja2/templates/pages/methodology_page.html
  cms/standard_pages/models.py
  cms/topics/models.py
Due: pylint

Renamed to SectionStoryBlock and moved to stream_blocks.py
  cms/analysis/models.py
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/standard_pages/models.py
Due: pylint

Remove excess whitespace
  docs/custom-features/media_privacy.md
Due: none

Renamed Related content to Related publications in the template
  cms/jinja2/templates/pages/methodology_page.html
Due: none

Added index for search
  cms/standard_pages/models.py
Due: pylint

Removed the methodology_summary field - future requirement when in DS
  cms/standard_pages/models.py
Due: pylint

Restrict to only allow Methodology under Topic page
  cms/standard_pages/models.py
  cms/topics/models.py
Due: pylint

Fix documents migrations
  cms/documents/migrations/0001_initial.py
  cms/documents/migrations/0002_alter_customdocument_file_size.py
Due: pylint

Added tests, date validation and minor fixes
  cms/jinja2/templates/pages/methodology_page.html
  cms/standard_pages/models.py
  cms/standard_pages/tests/__init__.py
  cms/standard_pages/tests/factories.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Added migration file
  cms/standard_pages/migrations/0002_methodologypage.py
Due: pylint

Formatting
  cms/standard_pages/migrations/0002_methodologypage.py
  cms/standard_pages/tests/factories.py
Due: pylint

Update functional_tests/README.md
  functional_tests/README.md
Due: none

Address review comments
  .github/workflows/ci.yml
  Makefile
  functional_tests/README.md
  functional_tests/docker-compose-dev-app.yml
Due: lint:format

Change lint-migrations command, delete script, fix documents error
  Makefile
  cms/documents/migrations/0001_initial.py
  cms/documents/migrations/0002_alter_customdocument_file_size.py
  scripts/lint_migrations.py
Due: pylint

Extract methodology into its own app
  cms/methodology/__init__.py
  cms/methodology/apps.py
  cms/methodology/migrations/0001_initial.py
  cms/methodology/migrations/__init__.py
  cms/methodology/models.py
  cms/methodology/tests/__init__.py
  cms/methodology/tests/factories.py
  cms/methodology/tests/test_models.py
  cms/settings/base.py
  cms/standard_pages/migrations/0002_methodologypage.py
  cms/standard_pages/models.py
  cms/topics/models.py
Due: pylint

Rename published_date to publication_date
  cms/jinja2/templates/pages/methodology_page.html
  cms/methodology/migrations/0001_initial.py
  cms/methodology/models.py
  cms/methodology/tests/factories.py
  cms/methodology/tests/test_models.py
Due: pylint

Section blocks - changed the fields order, moved block_counts + formatting
  cms/core/blocks/section_blocks.py
  cms/methodology/migrations/0001_initial.py
  cms/standard_pages/models.py
Due: pylint

Move CODEOWNER file location (#53)
  .github/CODEOWNERS
Due: none

Document migration fixes and readme update
  README.md
Due: none

UAT fixes (#56)
  cms/core/migrations/0004_contactdetails_core_contactdetails_name_unique.py
  cms/core/models/snippets.py
  cms/core/tests/test_models.py
  cms/core/viewsets.py
  cms/core/wagtail_hooks.py
  cms/jinja2/templates/base.html
Due: pylint

Move coverage summary as steps on test-python
  .github/workflows/ci.yml
Due: lint:format

Documents migrations re-add
  cms/documents/migrations/0002_alter_customdocument_file_size.py
Due: pylint

A bunch of small fixes
  cms/core/blocks/section_blocks.py
  cms/jinja2/templates/components/streamfield/section_block.html
  cms/methodology/models.py
  cms/standard_pages/models.py
Due: pylint

Put the date panels in a FieldRowPanel
  cms/methodology/models.py
Due: pylint

Make CoreStoryBlock and SectionStoryBlock separate again
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/standard_pages/models.py
Due: pylint

Added test for external env (+formatting)
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/methodology/tests/test_models.py
Due: pylint

Streamline CI steps with make command
  .github/workflows/ci.yml
  Makefile
Due: lint:format

Tests setup
  cms/navigation/tests/factories.py
  cms/navigation/tests/test_blocks.py
  cms/navigation/tests/test_models.py
  cms/navigation/tests/test_views.py
Due: pylint

Example StreamField value setting in test_highlights_streamfield_limit
  cms/navigation/tests/test_blocks.py
Due: pylint

Address review comments, update make targets and comments
  Makefile
  functional_tests/README.md
  functional_tests/docker-compose-dev.yml
Due: lint:format

Add CI job to add coverage to GH Action summary (#58)
  .github/workflows/ci.yml
Due: lint:format

Wire-in the quote block
  cms/analysis/blocks.py
  cms/core/blocks/stream_blocks.py
  cms/jinja2/templates/components/streamfield/quote_block.html
Due: pylint

Ensure the bundle page chooser deduplicates choices
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
Due: pylint

Add noop for reverse migrations (create homepage/release calendar index)
  cms/home/migrations/0002_create_homepage.py
  cms/release_calendar/migrations/0002_create_releasecalendarindex.py
Due: pylint

PRIVATE_MEDIA_PERMISSION_SETTING_MAX_WORKERS -> PRIVATE_MEDIA_BULK_UPDATE_MAX_WORKERS
  cms/private_media/bulk_operations.py
  cms/settings/base.py
Due: pylint

Raise an exception when the active storage backends does not implement the necessary methods
  cms/private_media/bulk_operations.py
Due: pylint

Rename PrivacySettingS3Storage to AccessControlledS3Storage and implement a version of FileSystemStorage to use in local dev (and by extension, tests)
  cms/private_media/storages.py
  cms/settings/base.py
  docs/custom-features/media_privacy.md
Due: pylint

Update tests to account for logging location and storage class name changes
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
  cms/private_media/tests/test_storages.py
Due: pylint

intended_privacy -> privacy
  cms/private_media/bulk_operations.py
  cms/private_media/managers.py
Due: pylint
