Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Change variable name to more meaningful
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/release_calendar/forms.py
  cms/release_calendar/migrations/0004_rename_next_release_text_releasecalendarpage_next_release_date_text.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

replace release calendar page heros with DS component
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Prepopulate statistical article pages
  cms/articles/signal_handlers.py
  cms/articles/wagtail_hooks.py
Due: pylint

Only show message if the latest article exists
  cms/articles/wagtail_hooks.py
Due: pylint

--amend
  cms/articles/wagtail_hooks.py
Due: pylint

Refactor ReleaseResourceSerializer to use SerializerMethodField for release_date; update ResourceListView comments for clarity. API Endpoint Views tests complete.
  cms/search/serializers.py
  cms/search/tests/test_views.py
  cms/search/views.py
Due: pylint

Implement create and update methods in ResourceSerializer to enforce read-only behaviour and satisfy pylint
  cms/search/serializers.py
Due: pylint

fix
  cms/auth/middleware.py
  cms/auth/utils.py
Due: pylint

Update content hash in poetry.lock after dependency changes
  poetry.lock
Due: none

Update Bundle status enum values for consistency
  cms/bundles/enums.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/migrations/0001_initial.py
  cms/bundles/models.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_notifications.py
  cms/bundles/tests/test_panels.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
  cms/release_calendar/tests/test_panels.py
Due: pylint

Remove the sitemap (#156)
  cms/settings/base.py
  cms/urls.py
Due: pylint

Implement create and update methods in ReleaseResourceSerializer to enforce read-only behaviour
  cms/search/serializers.py
Due: pylint

Refactor Kafka settings test to streamline error checking for missing configurations
  cms/search/tests/test_checks.py
Due: pylint

Refactor topic and release date retrieval methods in serializers for improved readability
  cms/search/serializers.py
  cms/settings/base.py
Due: pylint

Refactor search resource tests
  cms/search/tests/test_views.py
Due: pylint

Update Kafka listener ports in CI configuration
  .github/workflows/ci.yml
Due: lint:format

add tests
  cms/bundles/tests/test_models.py
Due: pylint

update theme page with pale blue hero variant to match topic page for now
  cms/jinja2/templates/pages/theme_page.html
Due: none

Log IP address on user events
  cms/core/utils.py
  cms/settings/base.py
  cms/settings/test.py
  cms/users/signal_handlers.py
  cms/users/tests/test_signal_handlers.py
  poetry.lock
  pyproject.toml
Due: pylint

Include IP address in access logs
  cms/core/logs.py
Due: pylint

Test XFF exemption for readiness endpoint
  cms/core/tests/test_views.py
  cms/settings/base.py
  cms/settings/test.py
Due: pylint

tidy up hero variables
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Update fields, remove manual date
  cms/articles/enums.py
  cms/articles/migrations/0004_statisticalarticlepage_dataset_sorting_and_more.py
  cms/articles/models.py
  cms/datasets/blocks.py
Due: pylint

Enhance type hinting in serializers and views for improved code clarity
  cms/search/serializers.py
  cms/search/views.py
Due: pylint

Add frontend based deletion prevention to headline figures
  cms/articles/models.py
  cms/articles/templates/wagtailadmin/pages/edit.html
  cms/articles/wagtail_hooks.py
  cms/core/blocks/headline_figures.py
  cms/core/static/js/blocks/headline-figures-item-block.js
Due: pylint, lint:js, lint:format

Refactor search tests and views for improved structure and clarity; add URL configuration for external environment
  cms/search/tests/test_publishers.py
  cms/search/tests/test_urls.py
  cms/search/tests/test_views.py
  cms/search/views.py
  cms/urls.py
Due: pylint

Add initial integration test
  cms/articles/tests/test_pages.py
  cms/core/static/js/blocks/headline-figures-item-block.js
Due: pylint, lint:js, lint:format

integrate the latest TOC & related links component into methodology & topic pages
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/topic_page.html
Due: none

Fix test
  cms/articles/tests/test_pages.py
Due: pylint

Ignore node_modules in makemessages
  Makefile
Due: none

Expand test to check headline_figures
  cms/articles/tests/test_pages.py
Due: pylint

Update validation
  cms/auth/middleware.py
  cms/auth/utils.py
  cms/settings/base.py
Due: pylint

Refactor search resource handling and serializers
  cms/search/publishers.py
  cms/search/serializers.py
  cms/search/tests/helpers.py
  cms/search/tests/test_publishers.py
  cms/search/tests/test_resource_builders.py
  cms/search/tests/test_views.py
  cms/search/utils/resource_builders.py
  cms/search/views.py
Due: pylint

resource_builders.py file moved out of the utils folder to follow the convention in the codebase. resource_builders.py file renamed to utils.py file. get_model_by_name moved into the utils.py file.
  cms/search/publishers.py
  cms/search/serializers.py
  cms/search/tests/test_resource_builders.py
  cms/search/utils.py
  cms/search/views.py
Due: pylint

Refactor search resource tests for improved clarity and consistency; update boolean assertions and enhance utility function documentation
  cms/search/tests/helpers.py
  cms/search/tests/test_api_views.py
  cms/search/tests/test_resource_builders.py
  cms/search/utils.py
  cms/search/views.py
Due: pylint

Refactor Kafka integration tests to use settings for bootstrap servers and update Docker configurations
  cms/search/tests/test_kafka_integration.py
  cms/settings/local.py.example
  docker-compose-dev.yml
  docker-compose.yml
Due: pylint, lint:format

Update Kafka server configuration in CI workflow for consistency
  .github/workflows/ci.yml
Due: lint:format

Update Kafka listener configuration to use port 9092 for PLAINTEXT
  .github/workflows/ci.yml
Due: lint:format

feat(auth): add AWS Cognito JWT authentication support
  .gitignore
  .prettierignore
  cms/auth/__init__.py
  cms/auth/apps.py
  cms/auth/middleware.py
  cms/auth/migrations/__init__.py
  cms/auth/static/js/auth.js
  cms/auth/utils.py
  cms/auth/views.py
  cms/auth/wagtail_hooks.py
  cms/core/context_processors.py
  cms/core/management/commands/scheduler.py
  cms/core/static/js/blocks/correction-block.js
  cms/core/static/js/blocks/previous-version-block.js
  cms/jinja2/templates/base_page.html
  cms/settings/base.py
  cms/teams/management/__init__.py
  cms/teams/management/commands/__init__.py
  cms/teams/management/commands/sync_teams.py
  cms/teams/migrations/0002_alter_team_created_at_alter_team_updated_at.py
  cms/teams/models.py
  cms/teams/viewsets.py
  cms/urls.py
  cms/users/migrations/0003_user_add_user_id.py
  cms/users/migrations/0004_user_populate_user_id.py
  cms/users/migrations/0005_user_remove_uuid_null.py
  cms/users/models.py
  docker-compose.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  webpack.config.js
Due: pylint, lint:js, lint:format
