Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

don't allow for approving a bundle when a topic can't be resolved from the dataset API
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

log topic not found locally
  cms/bundles/forms.py
Due: pylint

remove debugging print statements and update comment
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
Due: pylint

add test to ensure rows sharing a namespace all get validated
  cms/bundles/tests/test_forms_with_bundle_api.py
Due: pylint

remove redundant `self.topic_id` check
  cms/datasets/models.py
Due: pylint

swap db assertion for validation message check
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

commit migration
  cms/datasets/migrations/0004_dataset_topic.py
Due: pylint

fix linting error
  cms/bundles/forms.py
Due: pylint

chore(ci): remove redundant feature branch from workflow
  .github/workflows/ci.yml
Due: lint:format

fix(datasets): add topic aware dataset links and dataset topic validation on bundle approval (#783)
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/datasets/blocks.py
  cms/datasets/migrations/0004_dataset_topic.py
  cms/datasets/models.py
  cms/datasets/tests/factories.py
  cms/datasets/tests/test_blocks.py
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/tests/test_views.py
  cms/datasets/tests/utils.py
  cms/datasets/utils.py
  cms/datasets/views.py
  cms/test_data/management/commands/create_test_data.py
  cms/topics/tests/test_pages.py
  docs/integrations/dataset_api.md
  functional_tests/features/bundle.feature
  functional_tests/features/topic_page.feature
  functional_tests/step_helpers/datasets.py
  functional_tests/steps/bundles.py
  functional_tests/steps/datasets.py
Due: pylint

captialise start of log message
  cms/datasets/management/commands/backfill_dataset_topics.py
Due: pylint

add confirmation to topic update command with no-input option
  cms/datasets/management/commands/backfill_dataset_topics.py
  cms/datasets/tests/test_management_commands.py
Due: pylint

Add backfill command for dataset topics
  cms/datasets/management/__init__.py
  cms/datasets/management/commands/__init__.py
  cms/datasets/management/commands/backfill_dataset_topics.py
  cms/datasets/tests/test_management_commands.py
Due: pylint

update datasets with topics by default
  cms/datasets/management/commands/backfill_dataset_topics.py
  cms/datasets/tests/test_management_commands.py
Due: pylint

avoid calculating unused values during dry run
  cms/datasets/management/commands/backfill_dataset_topics.py
Due: pylint

Address path based localisation issue
  cms/core/tests/test_cache.py
  cms/home/views.py
  cms/locale/tests/test_path_localisation.py
Due: pylint

chore(ci): remove redundant feature branch from workflow (#805)
  .github/workflows/ci.yml
Due: lint:format

chore(deps): update Wagtail math to 1.4 (#803)
  .secrets.baseline
  cms/settings/base.py
  cms/settings/tests/test_settings.py
  poetry.lock
  pyproject.toml
Due: pylint

add column headers for preview
  cms/core/blocks/markup.py
Due: pylint

build(deps): upgrade django-treebeard to 5.3.1
  poetry.lock
  pyproject.toml
Due: none

Add initial chart exporter API integration
  cms/datavis/blocks/base.py
  cms/datavis/clients/__init__.py
  cms/datavis/clients/chart_exporter.py
  cms/datavis/migrations/0001_initial.py
  cms/datavis/migrations/__init__.py
  cms/datavis/models/__init__.py
  cms/datavis/models/rendered_chart_image.py
  cms/datavis/tests/factories.py
  cms/datavis/tests/test_area_chart_block.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/datavis/tests/test_chart_exporter_client.py
  cms/datavis/tests/test_line_chart_block.py
  cms/datavis/tests/test_rendered_chart_image.py
  cms/datavis/tests/test_scatter_plot_block.py
  cms/datavis/tests/test_utils.py
  cms/datavis/utils.py
  cms/settings/base.py
Due: pylint

fix(taxonomy): move the dummy root filter out of the default manager
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/models.py
  cms/taxonomy/tests/test_management_commands.py
  cms/taxonomy/tests/test_models.py
  cms/taxonomy/viewsets.py
  cms/test_data/management/commands/create_test_data.py
Due: pylint

fix(deps): downgrade dis-authorisation-client-js to ~1.1.0
  package-lock.json
  package.json
Due: lint:format

Update test query count
  cms/private_media/tests/test_management_commands.py
Due: pylint

Add RenderedCharImageChooserBlock for chart exporter API
  cms/articles/forms.py
  cms/core/forms.py
  cms/core/static/js/blocks/chart-block.js
  cms/datavis/blocks/base.py
  cms/datavis/blocks/rendered_chart_image.py
  cms/datavis/tests/test_chart_image_references.py
  cms/datavis/tests/test_chart_image_tamper_protection.py
Due: pylint, lint:js, lint:format

fix(deps): downgrade dis-authorisation-client-js to ~1.1.0 (#809)
  package-lock.json
  package.json
Due: lint:format

Address mypy issues
  cms/core/forms.py
  cms/datavis/blocks/rendered_chart_image.py
Due: pylint

Add rendering triggers
  cms/bundles/forms.py
  cms/core/forms.py
  cms/datavis/services.py
Due: pylint

Add preview rendering for images
  cms/datavis/permissions.py
  cms/private_media/views.py
  cms/urls.py
Due: pylint

Add fallback URL to block
  cms/datavis/blocks/base.py
Due: pylint

Add and expand tests
  cms/bundles/tests/test_forms.py
  cms/datavis/tests/test_chart_exporter_client.py
  cms/datavis/tests/test_chart_image_references.py
  cms/datavis/tests/test_chart_render_on_submit.py
  cms/datavis/tests/test_services.py
  cms/private_media/tests/test_serve_views.py
  cms/urls.py
Due: pylint

fix: replace broken contents url
  cms/release_calendar/models.py
Due: pylint

fix(release-calendar): keep release calendar pinned after filters are cleared
  cms/release_calendar/tests/test_wagtail_hooks.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint

fix: iterate over date change block to remove div from ol
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

test(release-calendar): fix test returning false positive
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

fix: retain spacing class
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

fix: remove ons-u-p-s class from accreditations block
  cms/jinja2/templates/components/accredited/accredited-information.html
Due: none

refactor(release-calendar): extract explorer query and view constants
  cms/release_calendar/wagtail_hooks.py
Due: pylint

fix: add min-height 200px to accreditations block
  cms/static_src/sass/components/_accreditations.scss
Due: lint:css, lint:format

fix: stack accreditations block appropriately on different screen sizes
  cms/static_src/sass/components/_accreditations.scss
Due: lint:css, lint:format
