Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Remove unnecessary check for page
  cms/bundles/management/commands/publish_bundles.py
Due: pylint

Add preview bar to release calendar page preview
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/tests/test_views.py
  cms/bundles/utils.py
  cms/bundles/views/preview.py
Due: pylint

Add component test
  cms/topics/tests/test_pages.py
Due: pylint

Support AWS SES (v2) for email sending
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

Range annotations (#221)
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_annotations_base.py
  cms/datavis/tests/test_annotations_point.py
  cms/datavis/tests/test_annotations_range.py
Due: pylint

Add functional test
  functional_tests/features/topic_page.feature
  functional_tests/steps/datasets.py
  functional_tests/steps/release_page.py
Due: pylint

Include language in no translation warning message
  cms/jinja2/templates/base_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/steps/localisation.py
Due: pylint

add bundles UI
  functional_tests/features/bundle_ui.feature
Due: none

Remove unserializable request from logs
  cms/core/logs.py
  cms/core/tests/test_logs.py
Due: pylint

Update comment in base_page.html
  cms/jinja2/templates/base_page.html
Due: none

Log when message isn't JSON serializable
  cms/core/logs.py
  cms/core/tests/test_logs.py
Due: pylint

Explain magic number
  cms/core/logs.py
Due: pylint

Ensure backend names are upper case
  cms/settings/base.py
Due: pylint

Default email backend to empty string
  cms/settings/base.py
Due: pylint

Include language in validation message
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Add missing bundle_inspect_url
  cms/bundles/views/preview.py
Due: pylint

Expand bundles tests coverage (#173)
  cms/bundles/tests/test_models.py
  functional_tests/features/bundle_page.feature
  functional_tests/steps/bundles.py
Due: pylint

Fix forms, add to test_forms, update wording.
  cms/release_calendar/forms.py
  cms/release_calendar/models.py
  cms/release_calendar/signal_handlers.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_pages.py
Due: pylint

add background
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Update date change logs tests
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_pages.py
Due: pylint

Support multiple Kafka servers
  .github/workflows/ci.yml
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/settings/base.py
  cms/settings/local.py.example
  cms/settings/test.py
  docker-compose.yml
Due: pylint, lint:format

Authenticate using IAM
  cms/search/__init__.py
  cms/search/publishers.py
  cms/search/signal_handlers.py
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

create bundle
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Make common dataset formatting code a util function with test
  cms/articles/models.py
  cms/articles/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/utils.py
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/models.py
Due: pylint

Remove unused charts preview code
  cms/datavis/constants.py
  cms/datavis/forms/__init__.py
  cms/datavis/forms/visualisation.py_
  cms/datavis/migrations/0001_initial.py
  cms/datavis/migrations/0002_datasource_column_count.py
  cms/datavis/migrations/0003_chart_marker_style.py
  cms/datavis/migrations/0004_chart_annotations_delete_annotation.py
  cms/datavis/migrations/0005_remove_chart_legend_position_alter_chart_show_legend.py
  cms/datavis/migrations/0006_scatterchart.py
  cms/datavis/migrations/0007_remove_datavis_snippet_models.py
  cms/datavis/migrations/__init__.py
  cms/datavis/models/__init__.py
  cms/datavis/templates/datavis/admin/visualisation_type_select.html
  cms/static_src/javascript/components/bar-chart-plot-options.js
  cms/static_src/javascript/components/chart-constants.js
  cms/static_src/javascript/components/column-chart-plot-options.js
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/line-chart-plot-options.js
Due: pylint, lint:js, lint:format

Use consistent approach to test asserts, fix migration linting false error
  cms/settings/dev.py
  cms/topics/migrations/0006_topicpage_datasets.py
  cms/topics/tests/test_pages.py
Due: pylint

Fix tests
  cms/search/tests/test_publishers.py
  cms/search/tests/test_signal_handlers.py
Due: pylint

Revert mistake
  cms/topics/models.py
Due: pylint

Add data to table of contents
  cms/topics/models.py
  cms/topics/tests/test_models.py
Due: pylint

Fix broken lint ignore
  cms/settings/dev.py
Due: pylint

Authenticate to Kafaka using IAM (#228)
  .github/workflows/ci.yml
  cms/search/__init__.py
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/signal_handlers.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/search/tests/test_signal_handlers.py
  cms/settings/base.py
  cms/settings/local.py.example
  cms/settings/test.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Ensure request errors are logged (#216)
  cms/core/logs.py
  cms/core/tests/test_logs.py
  cms/settings/base.py
Due: pylint

Support AWS SES (v2) for email sending (#224)
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

Update docs
  docs/custom-features/scheduled-jobs.md
  docs/integrations/dataset_api.md
  docs/integrations/index.md
  docs/integrations/notifications.md
  docs/integrations/search_service.md
Due: none

Use README.md for an index-like page for GitHub to render
  docs/README.md
  docs/integrations/README.md
Due: none

Further tweaks
  docs/README.md
  docs/custom-features/README.md
  docs/integrations/search_service.md
Due: none

Final tweaks
  docs/custom-features/README.md
  docs/integrations/README.md
Due: none

Set onsChart headingLevel to 3
  cms/datavis/blocks/base.py
Due: pylint

user_id updated to external_user_id: tests and migration files updated to reflect this.
  cms/auth/middleware.py
  cms/auth/tests/test_middleware.py
  cms/auth/views.py
  cms/users/migrations/0003_user_add_external_user_id.py
  cms/users/migrations/0004_user_populate_external_user_id.py
  cms/users/migrations/0005_user_remove_uuid_null.py
  cms/users/models.py
Due: pylint

Poetry lock updated
  poetry.lock
Due: none
