Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update tests in line with DS aria label changes
  cms/articles/tests/test_article_models.py
Due: pylint

Remove test
  cms/bundles/tests/test_forms_with_dataset_api.py
Due: pylint

address review comments - run appoval validation first
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
Due: pylint

fix: variable name convention
  cms/bundles/tests/test_forms_with_dataset_api.py
Due: pylint

Remove setup-python-dependencies from codeql.yml (#410)
  .github/workflows/codeql.yml
Due: lint:format

Extra test to validate no changed allowed for already approved bundle
  cms/bundles/tests/test_forms.py
Due: pylint

Fix indent
  cms/jinja2/templates/pages/topic_page.html
Due: none

Address comments
  cms/bundles/forms.py
Due: pylint

feat(bundles): prevent mixed edits during bundle approval (#411)
  cms/bundles/forms.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Update to DS v73.0.4, put common aria label in base template, update release calendar breadcrumbs
  .design-system-version
  cms/jinja2/templates/base.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_index_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Add delay in 'with' block with mocked responses
  functional_tests/steps/datasets.py
Due: pylint

Add state enum and update link format
  cms/bundles/clients/api.py
  cms/bundles/enums.py
  cms/bundles/tests/test_api_client.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Update design system and fix breaking changes (73.0.4) (#412)
  .design-system-version
  cms/articles/tests/test_article_models.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_index_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

fix(bundles): handle missing or None 'items' in bundle API pagination
  cms/bundles/clients/api.py
  cms/bundles/tests/test_api_client.py
Due: pylint

refactor: Bundle API and utils tidy ups
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/tests/test_api_client.py
  cms/bundles/tests/test_utils.py
  cms/bundles/utils.py
Due: pylint

refactor: rename test class names
  cms/bundles/tests/test_utils.py
Due: pylint

add coverage.json to gitignore
  .gitignore
Due: none

fix: unit tests
  cms/bundles/forms.py
Due: pylint

update dockerignore
  .dockerignore
Due: none

fix(bundles): handle missing or None 'items' in bundle API pagination (#413)
  cms/bundles/clients/api.py
  cms/bundles/tests/test_api_client.py
Due: pylint

rename test_forms_with_dataset_api.py > .._bundle.py
  cms/bundles/tests/test_forms_with_bundle_api.py
Due: pylint

Fix functional test
  cms/bundles/views/preview.py
  functional_tests/steps/bundles.py
Due: pylint

Added a data migration for removing redirect permissions for Publishing Admins. making it so no one can manage redirects except if you are a superuser
  cms/core/migrations/0009_remove_redirect_permissions.py
Due: pylint

Add API spec date
  cms/bundles/clients/api.py
Due: pylint

fix(bundles): allow CMS deletion when Bundle API returns 404
  cms/bundles/tests/test_views.py
  cms/bundles/viewsets/bundle.py
Due: pylint

tests: add validation error message to assertion
  cms/bundles/tests/test_views.py
Due: pylint

Remove duplicate decorator
  cms/bundles/viewsets/bundle.py
Due: pylint

refactor: Bundle API and utils tidy ups (#414)
  .dockerignore
  .gitignore
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/tests/test_api_client.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/bundles/tests/test_utils.py
  cms/bundles/utils.py
Due: pylint

Upgrade poetry to 2.2.1, update pyproject.toml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: lint:format

Add additional comments
  cms/bundles/views/preview.py
Due: pylint

Specify minimum poetry version
  pyproject.toml
Due: none

Update README note
  README.md
Due: none

feat(bundles): introduce BundleAPIBundleMetadata dataclass
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/tests/test_api_client.py
  cms/bundles/tests/test_utils.py
  cms/bundles/utils.py
Due: pylint

fix(bundles): allow CMS deletion when Bundle API returns 404 (#416)
  cms/bundles/tests/test_views.py
  cms/bundles/viewsets/bundle.py
Due: pylint

refactor(bundles): improve Bundle API delta sync and resilience
  cms/bundles/bundle_api_sync_service.py
  cms/bundles/forms.py
  cms/bundles/tests/test_bundle_api_sync_service.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/datasets/models.py
Due: pylint

Upgrade poetry to 2.2.1 (#417)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
Due: lint:format

feat(bundles): add feature flag to toggle dataset status validation
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/settings/base.py
Due: pylint

Check if datasets exist in bundle
  cms/bundles/models.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

feat(bundles): add feature flag to toggle dataset status validation (#420)
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/settings/base.py
Due: pylint

Use dataset compound id in logs
  cms/bundles/bundle_api_sync_service.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
