Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

More functional tests fixes
  functional_tests/features/information_page.feature
  functional_tests/features/statistical_article_page.feature
  functional_tests/features/topic_page.feature
  functional_tests/features/topic_page_creation.feature
  functional_tests/features/topic_page_manual_related_articles.feature
  functional_tests/step_helpers/utils.py
  functional_tests/steps/topic_page_manual_related_articles.py
Due: pylint

Address feedback
  cms/core/tests/test_models.py
  cms/core/tests/test_viewsets.py
Due: pylint

Upgrade to PostgreSQL 18
  .github/workflows/ci.yml
  docker-compose-dev.yml
Due: lint:format

Placate kics
  Dockerfile
Due: none

fixup! Address feedback
  cms/core/tests/test_models.py
Due: pylint

fix failing text in search
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Fix tag for pgautoupgrade image
  docker-compose-dev.yml
Due: lint:format

Make the contact details and definition snippets revisionable and draftable (#481)
  cms/core/migrations/0012_make_contactdetails_and_definition_revisionable_and_draftable.py
  cms/core/models/snippets.py
  cms/core/tests/test_models.py
  cms/core/tests/test_permissions.py
  cms/core/tests/test_viewsets.py
  cms/core/viewsets.py
  cms/settings/dev.py
  core
  functional_tests/steps/definitions_snippet.py
Due: pylint

Stupid format error.
  cms/standard_pages/models.py
Due: pylint

standard_pages/section_blocks.py renamed to blocks.py to keep it in line with the convention across the codebase.
  cms/standard_pages/blocks.py
  cms/standard_pages/checks.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/factories.py
  cms/standard_pages/tests/test_checks.py
Due: pylint

Show the publish button when in ready to publish
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Tidy ups post merge
  cms/core/migrations/0013_allow_officers_to_publish.py
  cms/core/tests/test_permission_testers.py
Due: pylint

Fix for core issue around submitting workflow action just after workflow cancelled
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Fix context page retrieval to return None if attribute not found and update link selector for adding an index page.
  functional_tests/step_helpers/utils.py
  functional_tests/steps/information_page.py
Due: pylint

Rename ONS_SEARCH_REDIRECT_PATH to ONS_WEBSITE_SEARCH_PATH in settings
  cms/settings/base.py
Due: pylint

Remove unnecessary click action on search field before filling query
  functional_tests/steps/home_page.py
Due: pylint

Remove search labels and aria attributes from header template as they have defaults, and we don't want to modify them
  cms/jinja2/templates/base.html
Due: none

Rename ONS_SEARCH_REDIRECT_PATH to ONS_WEBSITE_SEARCH_PATH in context processors
  cms/core/context_processors.py
  cms/core/tests/test_context_processors.py
Due: pylint

More functional test tweaks
  functional_tests/step_helpers/release_page_helpers.py
  functional_tests/step_helpers/utils.py
Due: pylint

Unlocalize overridden core workflow_status.html template
  cms/workflows/templates/wagtailadmin/workflows/workflow_status.html
Due: none

.po file regenerated
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Move data download functionality to own app
  .secrets.baseline
  cms/articles/models.py
  cms/articles/tests/test_utils.py
  cms/articles/tests/test_views.py
  cms/articles/utils.py
  cms/articles/views.py
  cms/core/blocks/markup.py
  cms/core/models/mixins.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/core/views.py
  cms/core/wagtail_hooks.py
  cms/data_downloads/__init__.py
  cms/data_downloads/apps.py
  cms/data_downloads/mixins.py
  cms/data_downloads/permissions.py
  cms/data_downloads/tests/__init__.py
  cms/data_downloads/tests/test_utils.py
  cms/data_downloads/urls.py
  cms/data_downloads/utils.py
  cms/data_downloads/views.py
  cms/data_downloads/wagtail_hooks.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/methodology/models.py
  cms/settings/base.py
  cms/standard_pages/models.py
Due: pylint

Move block constants to core.blocks
  cms/articles/tests/test_article_models.py
  cms/core/blocks/constants.py
  cms/data_downloads/mixins.py
  cms/datavis/constants.py
Due: pylint

Update yaml comment line length
  ci/concourse.yaml
Due: lint:format

Attempt slow-mo tag for failing scenario
  functional_tests/environment.py
  functional_tests/features/release_page.feature
  functional_tests/step_helpers/release_page_helpers.py
Due: pylint

Redundant step definition removed and redundant publishing logic removed form index_page_has_information_pages
  functional_tests/features/information_page.feature
  functional_tests/steps/information_page.py
Due: pylint

Remove redundant 'given' import from information_page.py
  functional_tests/steps/information_page.py
Due: pylint

ONS_SEARCH_REDIRECT_PATH updated to ONS_WEBSITE_SEARCH_PATH in base.html. - home_page.feature file scenario/ steps improved - home_page.py external_user_redirected_to_search_page step code improved
  cms/jinja2/templates/base.html
  functional_tests/features/home_page.feature
  functional_tests/steps/home_page.py
Due: pylint

Undo commit 214bcc9fd
  functional_tests/environment.py
  functional_tests/features/release_page.feature
Due: pylint

Refactor bundle logging
  cms/bundles/tests/test_audit_formatters.py
  cms/bundles/viewsets/bundle.py
  cms/bundles/wagtail_hooks.py
  cms/core/models/base.py
  cms/core/tests/test_audit.py
  cms/core/tests/test_preview_audit.py
Due: pylint

Refactor bundle dataset logging
  cms/bundles/tests/test_audit_formatters.py
  cms/bundles/viewsets/bundle.py
  cms/bundles/wagtail_hooks.py
Due: pylint

Inline social filters
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/jinja2/templates/base_page.html
Due: pylint

Cache breadcrumbs on the page to prevent recomputation
  cms/core/models/base.py
Due: pylint

Operate on the generic `Page` when building breadcrumbs
  cms/core/models/base.py
Due: pylint

Use `values_list` to avoid inefficient query
  cms/core/models/base.py
  cms/methodology/models.py
Due: pylint

Only load generic `Page` for language variants
  cms/core/templatetags/util_tags.py
Due: pylint

Use `get_full_url` to get the full page for a URL
  cms/jinja2/templates/base_page.html
Due: none

Cache locale URLs to avoid recomputation
  cms/core/templatetags/util_tags.py
Due: pylint

Avoid unnecessary passing variant around
  cms/core/templatetags/util_tags.py
Due: pylint

Try separating slo-mo
  .github/workflows/ci.yml
  functional_tests/features/release_page.feature
Due: lint:format
