Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Add initial link block changes
  cms/core/blocks/base.py
  cms/core/blocks/related.py
  cms/core/blocks/stream_blocks.py
  cms/core/utils.py
  cms/jinja2/templates/components/streamfield/related_links_block.html
Due: pylint

Update dependencies: bump cryptography to ^45.0.4 to match the lockfile from main
  poetry.lock
  pyproject.toml
Due: none

Code formatted and zombie code removed
  cms/settings/base.py
  cms/teams/models.py
Due: pylint

Change breadbrumb properties to google standard, add missing locale OG meta tag/fallback image
  cms/core/models/base.py
  cms/jinja2/templates/base_page.html
Due: pylint

update to latest DS version
  .design-system-version
Due: none

update to latest DS version (#254)
  .design-system-version
Due: none

Use lazy gettext
  cms/core/blocks/related.py
  cms/core/utils.py
Due: pylint

Fix ui-test
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

update flex grid to use updated classes and remove headline figures styles
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/static_src/sass/components/_headline-figures.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Make external_user_id nullable
  cms/users/migrations/0003_user_external_user_id.py
  cms/users/migrations/0004_user_populate_external_user_id.py
  cms/users/migrations/0005_user_remove_uuid_null.py
  cms/users/models.py
Due: pylint

Add type display, initial tests
  cms/core/blocks/base.py
  cms/core/blocks/related.py
  cms/core/enums.py
  cms/core/utils.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Update external user check logic
  cms/auth/middleware.py
  cms/users/models.py
Due: pylint

Try custom breadcrumb logic in article page model, refactor according to PR comments
  cms/articles/models.py
  cms/core/models/base.py
Due: pylint

Fix and expand tests
  cms/core/tests/test_blocks.py
  cms/core/utils.py
Due: pylint

fix: Handle uncertainty column chart data points with estimate only
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
Due: pylint

Update IndexPage and expand tests
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Use ONSAuthMiddleware in tests
  cms/settings/test.py
Due: pylint

Allow for no release_date
  cms/core/utils.py
  cms/standard_pages/models.py
Due: pylint

re-add common-header class - will remove redundant classes & styles in separate PR
  cms/jinja2/templates/base_page.html
Due: none

linting
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

update related links, document blocks, headline figures & glossary headings from h2 to h3
  cms/core/blocks/glossary_terms.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/glossary/glossary_term_preview.html
  cms/jinja2/templates/components/streamfield/document_block.html
  cms/jinja2/templates/components/streamfield/documents_block.html
  cms/jinja2/templates/components/streamfield/headline_figures_item_block.html
  cms/jinja2/templates/components/streamfield/related_links_block.html
  cms/jinja2/templates/components/streamfield/topic_headline_figure_block.html
  cms/jinja2/templates/pages/topic_page.html
Due: pylint

update 'Show all' button label for Glossary component
  cms/jinja2/templates/components/streamfield/glossary_section_block.html
Due: none

update official statistics logo with more meaningful alt text
  cms/jinja2/templates/components/accredited/accredited-logo.html
Due: none

add ONS details panel to replace existing custom code for corrections & notices
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

update contact details to use description list
  cms/jinja2/templates/components/contact_details/contact_details.html
  cms/static_src/sass/components/_contact-details.scss
Due: lint:css, lint:format

Pass breadcrumbs include self flag through request, move and adapt old test
  cms/articles/models.py
  cms/core/models/base.py
  cms/core/tests/test_models.py
  cms/navigation/tests/test_navigation_tags.py
Due: pylint

Remove duplicate locale tag
  cms/jinja2/templates/base_page.html
Due: none

Update validation based on discussion
  cms/release_calendar/forms.py
  cms/release_calendar/migrations/0005_add_notice_permission.py
  cms/release_calendar/models.py
  cms/release_calendar/permissions.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Fix name of permission in test
  cms/core/tests/test_permissions.py
Due: pylint

update makemessages
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

replace with DS description list
  cms/jinja2/templates/components/contact_details/contact_details.html
Due: none

linting
  cms/jinja2/templates/components/contact_details/contact_details.html
Due: none

remove redundant contact details stylesheet
  cms/static_src/sass/components/_contact-details.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

revert date change log changes
  cms/core/static/js/blocks/release-date-change-block.js
  cms/release_calendar/apps.py
  cms/release_calendar/blocks.py
  cms/release_calendar/forms.py
  cms/release_calendar/signal_handlers.py
  cms/release_calendar/tests/test_forms.py
  functional_tests/steps/release_page.py
Due: pylint, lint:js, lint:format

Remove translatable and tests_changes_to_release_dates
  cms/release_calendar/blocks.py
  cms/release_calendar/tests/test_pages.py
Due: pylint

Update future release calendar chooser to exclude aliases, and limit pages to explorable by current user
  cms/release_calendar/tests/test_viewsets.py
  cms/release_calendar/viewsets.py
Due: pylint

Fix toggleDateTextVisibility JS error on non RC pages
  cms/jinja2/assets/js/hide-date-text-on-non-provisional-releases.js
Due: lint:js, lint:format

Allow unscheduling a bundle if still in 'ready to publish' after its due time
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
