Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update to design system version 72.10.7
  .design-system-version
Due: none

Update to design system version 72.10.7 (#293)
  .design-system-version
Due: none

Module level constants removed and inlined, wagtail_hooks updated to lazily read the settings value, reloading modules removed, and integration tests updated to remove reloading of wagtail hooks.
  cms/auth/tests/helpers.py
  cms/auth/tests/test_auth_integration.py
  cms/auth/utils.py
  cms/auth/wagtail_hooks.py
Due: pylint

fixup! Add the additional supporting index pages
  cms/themes/tests/factories.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
Due: pylint

Tweaks based on code review
  cms/articles/models.py
  cms/articles/tests/test_pages.py
  cms/methodology/models.py
  cms/methodology/tests/test_pages.py
  cms/topics/tests/utils.py
Due: pylint

feat(auth): add AWS Cognito JWT authentication support (#163)
  .prettierignore
  cms/auth/__init__.py
  cms/auth/apps.py
  cms/auth/middleware.py
  cms/auth/migrations/__init__.py
  cms/auth/tests/__init__.py
  cms/auth/tests/helpers.py
  cms/auth/tests/test_auth_integration.py
  cms/auth/tests/test_middleware.py
  cms/auth/tests/test_utils.py
  cms/auth/tests/test_views.py
  cms/auth/utils.py
  cms/auth/views.py
  cms/auth/wagtail_hooks.py
  cms/core/context_processors.py
  cms/core/management/commands/scheduler.py
  cms/core/tests/test_context_processors.py
  cms/jinja2/templates/base_page.html
  cms/navigation/tests/test_viewsets.py
  cms/search/tests/helpers.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/test.py
  cms/static_src/javascript/auth.js
  cms/teams/management/__init__.py
  cms/teams/management/commands/__init__.py
  cms/teams/management/commands/sync_teams.py
  cms/teams/migrations/0002_alter_team_created_at_alter_team_updated_at.py
  cms/teams/models.py
  cms/teams/tests/__init__.py
  cms/teams/tests/test_management_commands.py
  cms/urls.py
  cms/users/migrations/0003_user_external_user_id.py
  cms/users/models.py
  docker-compose.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  webpack.config.js
Due: pylint, lint:js, lint:format

Update login links on Home page
  cms/core/context_processors.py
  cms/core/tests/test_pages.py
  cms/jinja2/templates/pages/home_page.html
Due: pylint

Fix displayed datetimes on bundle inspect view and RC page
  cms/bundles/models.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
  cms/core/custom_date_format.py
  cms/core/tests/test_custom_date_format.py
Due: pylint

Bundles: Create notification email templates (#263)
  cms/bundles/notifications/email.py
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_in_review_email.html
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_published_email.html
  cms/bundles/templates/bundles/notification_emails/plain_text_variant/bundle_in_review_email.txt
  cms/bundles/templates/bundles/notification_emails/plain_text_variant/bundle_published_email.txt
  cms/bundles/tests/test_email_notifications.py
  cms/bundles/tests/test_signal_handlers.py
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

Make hardcoded image URL a settings item and pass it through the global context
  cms/core/context_processors.py
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_pages.py
  cms/jinja2/templates/base_page.html
  cms/settings/base.py
Due: pylint

fix: context_processors test
  cms/core/tests/test_context_processors.py
Due: pylint

Update login links on Home page (#292)
  cms/core/context_processors.py
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_pages.py
  cms/jinja2/templates/pages/home_page.html
Due: pylint

Fix displayed datetimes on bundle inspect view and RC page (#294)
  cms/bundles/models.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
  cms/core/custom_date_format.py
  cms/core/tests/test_custom_date_format.py
Due: pylint

Fix error where alias_of does not retrieve specific page, add missing test case
  cms/articles/models.py
  cms/articles/tests/test_pages.py
  cms/core/models/base.py
Due: pylint

Fix test bug, add missing test case, remove unecessary test code
  cms/articles/tests/test_pages.py
  cms/core/tests/test_pages.py
Due: pylint

Fix other test which relies on translation aliases
  cms/core/tests/test_pages.py
Due: pylint

Fix tests
  cms/articles/tests/factories.py
  cms/navigation/tests/test_footer_menu_forms.py
  cms/navigation/tests/test_main_menu_forms.py
  cms/standard_pages/tests/factories.py
  cms/themes/tests/factories.py
Due: pylint

Add output when scheduling bundles
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/tests/test_management_commands.py
Due: pylint

Simplify sentence around immediate publishing
  docs/custom-features/scheduled-jobs.md
Due: none

fixup! Fix tests
  functional_tests/features/rbac_permissions.feature
  functional_tests/steps/page_editor.py
Due: pylint

Refactor StructBlock JS to use base class
  cms/core/blocks/panels.py
  cms/core/static/js/blocks/correction-block.js
  cms/core/static/js/blocks/readonly-struct-block.js
  cms/core/static/js/blocks/release-date-change-block.js
  cms/release_calendar/blocks.py
  plan.md
Due: pylint, lint:js, lint:format

Use service auth token when syncing teams
  .secrets.baseline
  cms/settings/base.py
  cms/settings/dev.py
  cms/teams/management/commands/sync_teams.py
Due: pylint

Fix Wagtail userbar not showing
  cms/jinja2/templates/base.html
Due: none

Redirect articles and methodologies indexes to the parent topic temporarily
  cms/articles/models.py
  cms/methodology/models.py
Due: pylint

Fix automated 'related' sections on topic page
  cms/topics/models.py
  cms/topics/tests/test_models.py
Due: pylint

Add tests
  cms/teams/tests/test_management_commands.py
Due: pylint

Tidy up existing tests
  cms/teams/tests/test_management_commands.py
Due: pylint

Address review comments; naming and query efficiency improvements
  cms/articles/models.py
  cms/articles/tests/test_pages.py
  cms/core/context_processors.py
  cms/core/models/base.py
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_models.py
  cms/core/tests/test_pages.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
  cms/settings/base.py
Due: pylint

Remove unnecessary window assignment
  cms/core/static/js/blocks/readonly-struct-block.js
  plan.md
Due: lint:js, lint:format

Add iframe visualisation block and refactor BaseVisualisationBlock
  .secrets.baseline
  cms/articles/models.py
  cms/core/blocks/section_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/settings/base.py
Due: pylint

Add comment and fix typo
  cms/core/static/js/blocks/readonly-struct-block.js
  cms/release_calendar/forms.py
Due: pylint, lint:js, lint:format

Add new token to auth doc
  docs/integrations/auth.md
Due: none

Update dev test token to make intent clear
  cms/settings/dev.py
Due: pylint

Add accidently removed setting
  cms/settings/dev.py
Due: pylint

Enable custom reference line, for indexed data (#290)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_line_chart_block.py
Due: pylint

Release Calendar Page Date Change Log Validation (#291)
  cms/core/blocks/panels.py
  cms/core/static/js/blocks/correction-block.js
  cms/core/static/js/blocks/readonly-struct-block.js
  cms/core/static/js/blocks/release-date-change-block.js
  cms/release_calendar/apps.py
  cms/release_calendar/blocks.py
  cms/release_calendar/forms.py
  cms/release_calendar/signal_handlers.py
  cms/release_calendar/tests/test_forms.py
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint, lint:js, lint:format

Disable `too-many-public-methods` pylint check
  .pylintrc
  cms/articles/tests/test_pages.py
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Remove useless suppressions
  .pylintrc
  cms/articles/models.py
  cms/auth/tests/helpers.py
  cms/auth/tests/test_utils.py
  cms/datasets/tests/test_views.py
  cms/release_calendar/models.py
  cms/search/apps.py
  cms/standard_pages/models.py
  functional_tests/steps/cms_login.py
  functional_tests/steps/home_page.py
Due: pylint

Update test to avoid non-zero seconds
  cms/release_calendar/tests/test_forms.py
Due: pylint

Fix the teams index view
  cms/teams/tests/test_viewsets.py
  cms/teams/viewsets.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
