Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update error pages (#318)
  cms/core/context_processors.py
  cms/core/migrations/0008_delete_systemmessagessettings.py
  cms/core/models/settings.py
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_pages.py
  cms/core/views.py
  cms/jinja2/templates/pages/errors/404.html
  cms/jinja2/templates/pages/errors/500.html
  cms/jinja2/templates/pages/errors/500_fallback.html
  cms/jinja2/templates/pages/errors/base_error.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/release_calendar/forms.py
  cms/settings/base.py
  cms/settings/dev.py
Due: pylint

Add more analytics values
  cms/articles/models.py
  cms/jinja2/templates/pages/errors/404.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/topics/models.py
Due: pylint

Bundles - UX/user feedback tweaks, part 2 (#320)
  cms/bundles/action_menu.py
  cms/bundles/forms.py
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/templates/bundles/wagtailadmin/action_menu/menu_item.html
  cms/bundles/templates/bundles/wagtailadmin/edit.html
  cms/bundles/tests/test_action_menu.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
  functional_tests/steps/admin_page.py
Due: pylint

Add team syncing functionality
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_signal_handlers.py
  cms/bundles/utils.py
Due: pylint

Refactor steps
  functional_tests/features/methodology_page.feature
  functional_tests/features/release_page.feature
  functional_tests/steps/contact_details_snippet.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
Due: pylint

Update URL generation
  cms/bundles/api.py
  cms/bundles/tests/test_api.py
Due: pylint

Add outline for release date validation error and pre-release access tables
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Move code to _check_and_push_dataset_api
  cms/bundles/forms.py
Due: pylint

Add an integration test
  cms/articles/tests/test_pages.py
Due: pylint

Use locked migrations by default
  .github/workflows/ci.yml
  Makefile
  docs/custom-features/locked-migrate.md
  functional_tests/README.md
  functional_tests/docker-compose-dev.yml
  heroku.yml
Due: lint:format

Update formatting for TOC
  functional_tests/README.md
Due: none

Add an optional footnotes field for charts (#322)
  cms/articles/tests/test_pages.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_line_chart_block.py
Due: pylint

Draft version
  cms/core/static/js/blocks/readonly-struct-block.js
  cms/core/static/js/blocks/release-date-change-block.js
  cms/release_calendar/models.py
  cms/release_calendar/panels.py
  cms/release_calendar/templates/wagtailadmin/panels/previous_release_date_data.html
Due: pylint, lint:js, lint:format

init
  .docker/Procfile
  functional_tests/features/bundle_ui.feature
  functional_tests/features/rbac_permissions.feature
  functional_tests/steps/bundles.py
  poetry.lock
  pyproject.toml
Due: pylint

Add step helpers for Pre-release access
  functional_tests/step_helpers/pre_release_access_helpers.py
  functional_tests/steps/release_page.py
Due: pylint

Add tests for locked migrate management commands
  cms/core/tests/test_management_command_locked_migrate.py
Due: pylint

Working version
  cms/core/static/js/blocks/release-date-change-block.js
Due: lint:js, lint:format

Update wording
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Attempt at unit tests
  cms/release_calendar/panels.py
  cms/release_calendar/tests/test_pages.py
Due: pylint

Address review comments
  cms/core/tests/test_management_command_locked_migrate.py
Due: pylint

Fix failing tests
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Remove unused SCSS components and template wide flag
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/static_src/sass/components/_article-header.scss
  cms/static_src/sass/components/_button-nav.scss
  cms/static_src/sass/components/_common-header.scss
  cms/static_src/sass/components/_document-list-block.scss
  cms/static_src/sass/components/_panel.scss
  cms/static_src/sass/components/_release-header.scss
  cms/static_src/sass/components/_topic-header.scss
  cms/static_src/sass/components/design_system_overrides/_button.scss
  cms/static_src/sass/components/design_system_overrides/_container.scss
  cms/static_src/sass/components/design_system_overrides/_toc.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Remove repeated code
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Further tweaks based on code review
  cms/bundles/action_menu.py
  cms/bundles/forms.py
  cms/core/forms.py
Due: pylint

Remove additional code
  cms/jinja2/templates/pages/methodology_page.html
Due: none

Add updated urls
  docs/integrations/auth.md
  docs/integrations/dataset_api.md
  docs/integrations/search_service.md
Due: none

Use ThreadPoolExecutor for both tests + update namings
  cms/core/tests/test_management_command_locked_migrate.py
Due: pylint

Fix outdated confluence urls (#326)
  docs/integrations/auth.md
  docs/integrations/dataset_api.md
  docs/integrations/search_service.md
Due: none

Functional tests
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Bundles - UX/user feedback tweaks, part 3 - deduplication and locale column in choosers (#323)
  cms/articles/forms.py
  cms/bundles/action_menu.py
  cms/bundles/forms.py
  cms/bundles/models.py
  cms/bundles/tests/test_forms.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/core/forms.py
  cms/core/models/base.py
  cms/core/viewsets.py
  cms/release_calendar/viewsets.py
  cms/taxonomy/forms.py
  cms/topics/viewsets/featured_series.py
  cms/topics/viewsets/highlighted_items.py
Due: pylint

Make the bundle page chooser return value match the displayed one when editing a bundle
  cms/bundles/panels.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/viewsets/bundle_page_chooser.py
Due: pylint

Include an 'add to bundle' button on the bundle note panel where relevant
  cms/bundles/panels.py
  cms/bundles/tests/test_panels.py
  cms/bundles/views/add_to_bundle.py
Due: pylint

Move the date placeholder test to test_viewsets
  cms/bundles/tests/test_pages.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Split bundle viewset test cases
  cms/bundles/tests/test_viewsets.py
Due: pylint

Make the bundle form fully read-only when in 'ready to be published'
  cms/bundles/forms.py
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/templates/bundles/wagtailadmin/edit.html
  cms/bundles/templates/bundles/wagtailadmin/panels/read_only_output.html
  cms/bundles/tests/test_viewsets.py
Due: pylint

Add timeouts to reduce test flakiness
  functional_tests/steps/statistical_article_page.py
Due: pylint

Testing
  functional_tests/features/sanity_auth.feature
  functional_tests/steps/sanity_auth.py
Due: pylint

Take bundle out of ready to publish if any bundled page workflow is cancelled
  cms/bundles/notifications/slack.py
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

Fix cache key for kafka cache
  cms/search/publishers.py
  cms/search/tests/test_publishers.py
Due: pylint

Clean up + fixed unit tests
  cms/core/static/js/blocks/readonly-struct-block.js
  cms/release_calendar/panels.py
  cms/release_calendar/tests/test_pages.py
  functional_tests/steps/release_page.py
Due: pylint, lint:js, lint:format

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
