Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

feat: Add area chart StreamField block
  cms/core/blocks/section_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_area_chart_block.py
Due: pylint

Use the DS header component
  cms/jinja2/component_overrides/header/_macro.njk
  cms/jinja2/templates/base.html
  cms/navigation/templatetags/navigation_tags.py
  cms/navigation/tests/test_navigation_tags.py
  cms/static_src/sass/components/_navigation.scss
  cms/static_src/sass/main.scss
Due: pylint, lint:css, lint:format

Fix signal handler and update names
  cms/release_calendar/apps.py
  cms/release_calendar/forms.py
Due: pylint

fixup! Use the DS header component
  cms/navigation/templatetags/navigation_tags.py
Due: pylint

Enable Wagtail login form and update middleware configuration to ensure AuthenticationMiddleware is present
  cms/settings/test.py
Due: pylint

Refactor context processor test to include AWS Cognito login and auth config variables
  cms/core/tests/test_context_processors.py
Due: pylint

Refactor tests to validate auth-config script and improve JSON extraction; update logout redirect URL logic
  cms/auth/tests/test_wagtail_hooks.py
  cms/settings/base.py
  cms/settings/test.py
  cms/static_src/javascript/auth.js
Due: pylint, lint:js, lint:format

Enhance AWS Cognito integration in functional tests; add scenario-specific settings and improve auth.js assertions
  functional_tests/environment.py
  functional_tests/features/auth.feature
  functional_tests/steps/auth.py
  functional_tests/steps/information_page.py
  functional_tests/steps/page_editor.py
Due: pylint

Refactor wait_passive_interval function to remove context parameter
  functional_tests/steps/auth.py
Due: pylint

Refactor auth configuration handling and enhance test scenarios for AWS Cognito integration
  cms/auth/tests/test_utils.py
  cms/auth/utils.py
  cms/settings/base.py
  cms/static_src/javascript/auth.js
  functional_tests/environment.py
  functional_tests/features/auth.feature
  functional_tests/steps/auth.py
Due: pylint, lint:js, lint:format

Refactor authentication configuration functions to return structured data and improve clarity in auth.js integration tests
  cms/auth/utils.py
  cms/core/context_processors.py
  cms/static_src/javascript/auth.js
  functional_tests/features/auth.feature
  functional_tests/steps/auth.py
Due: pylint, lint:js, lint:format

Improve iframe handling in auth.js tests; wait for iframe element and ensure proper initialisation check
  cms/static_src/javascript/auth.js
  functional_tests/steps/auth.py
Due: pylint, lint:js, lint:format

Remove AWS override disabling from after_scenario function in environment.py
  functional_tests/environment.py
Due: pylint

Update AWS Cognito login setting to default to disabled and adjust session renewal offset to 5 minutes
  cms/settings/base.py
Due: pylint

FIx unit tests
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

Add healthcheck endpoint (#202)
  .docker/Makefile
  Dockerfile
  Makefile
  cms/core/tests/test_views.py
  cms/core/views.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/urls.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

resolve comments
  functional_tests/features/bundle_page.feature
  functional_tests/steps/bundles.py
Due: pylint

Cleaned up settings file + fix linting errors
  cms/bundles/apps.py
  cms/bundles/email_notifications.py
  cms/bundles/signal_handlers.py
  cms/settings/base.py
Due: pylint

Combine installs with no-recommends
  Dockerfile
Due: none

Add bundle url in the message
  cms/bundles/email_notifications.py
  cms/bundles/models.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

Fix functional tests following markup changes
  functional_tests/steps/information_page.py
Due: pylint

Refactoring
  cms/bundles/tests/test_notifications.py
Due: pylint

Refactor authentication configuration return types to use Any for improved flexibility
  cms/auth/utils.py
  cms/core/context_processors.py
Due: pylint

Exclude migration from linting
  cms/settings/dev.py
Due: pylint

Implement feature X to enhance user experience and optimize performance
  poetry.lock
Due: none

fixup! Fix functional tests following markup changes
  cms/jinja2/templates/pages/information_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/steps/information_page.py
Due: pylint

Address comments
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/viewsets/bundle.py
  functional_tests/steps/bundles.py
  functional_tests/steps/datasets.py
Due: pylint

fixup! fixup! Fix functional tests following markup changes
  functional_tests/steps/information_page.py
Due: pylint

Bundles - dataset integration MVP (#197)
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/migrations/0003_bundledataset.py
  cms/bundles/models.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
  cms/datasets/models.py
  cms/datasets/tests/factories.py
  cms/datasets/views.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
  functional_tests/steps/datasets.py
Due: pylint

Update poetry.lock to remove duplicate comment
  poetry.lock
Due: none

fix issue with related links generating empty heading & content
  cms/jinja2/templates/pages/methodology_page.html
Due: none

Add AWS override disable logic and enhance page context for debugging
  functional_tests/environment.py
Due: pylint

Simplify apt install
  .github/workflows/ci.yml
  Dockerfile
Due: lint:format

Tidy up MethodologyPage.get_formatted_related_publications_list
  cms/jinja2/templates/pages/methodology_page.html
  cms/methodology/models.py
  cms/methodology/tests/test_models.py
Due: pylint

fixup! Tidy up MethodologyPage.get_formatted_related_publications_list
  cms/methodology/models.py
  cms/methodology/tests/test_models.py
Due: pylint

Only enable aws_override settings if a scenario is decorated with cognito_enabled and disable and get rid of the aws_override settings after the scenario runs. Utilising before_tag and after_tag.
  functional_tests/environment.py
Due: pylint

Regenerate migration
  cms/bundles/migrations/0004_bundle_preview_notification_sent.py
  cms/bundles/viewsets/bundle.py
  cms/settings/dev.py
Due: pylint

Account for localized dates
  functional_tests/steps/information_page.py
Due: pylint

feat: Configure mobile/desktop tick interval independently
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/datavis/tests/test_line_chart_block.py
  cms/datavis/tests/test_scatter_plot_block.py
Due: pylint
