Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Update test to assert header tag
  cms/articles/tests/test_article_models.py
Due: pylint

Change translation sentence case
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Change previous releases heading to sentence case (#632)
  cms/articles/tests/test_article_models.py
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

Update hook to only affect the explorer page
  cms/release_calendar/wagtail_hooks.py
Due: pylint

Add missing import
  cms/release_calendar/wagtail_hooks.py
Due: pylint

Remove redundant test
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

Handle Pillow detecting a decompression bomb
  cms/images/forms.py
  cms/images/tests/test_forms.py
Due: pylint

Include series title in related data page heading and breadcrumb
  cms/articles/models.py
  cms/core/models/base.py
Due: pylint

Test that related data page uses full series: edition title
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_series_models.py
  cms/core/tests/test_models.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

add a test for rollback behaviour, and add cleanup action in rollback
  cms/core/tests/__init__.py
  cms/topics/migrations/0009_topicpagerelatedmethodology_content_type_and_more.py
  cms/topics/tests/test_migrations.py
Due: pylint

Check if token exists
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
Due: pylint

remove redundant query, use topic
  cms/topics/tests/test_migrations.py
Due: pylint

Let django reset migrations after tests
  cms/core/tests/__init__.py
Due: pylint

remove redundant teardown method
  cms/core/tests/__init__.py
Due: pylint

Avoid need for string translation
  cms/images/forms.py
Due: pylint

Update integration test to check order when pages are updated
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

use openssl to generate an expanded seed from `SHUFFLE_SEED` to prevent errors when shuffling files.
  .github/split_functional_test_features.sh
Due: none

Remove homepages variable
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

Don't cache page-specific config
  cms/core/signal_handlers.py
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_signal_handlers.py
Due: pylint

Update variable name
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

Avoid fetching default locale for check
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
Due: pylint

update for compatability with linux and mac
  .github/split_functional_test_features.sh
Due: none

Correctly handle pages without page title in context
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
Due: pylint

Add unit test to check sidebar order
  cms/release_calendar/tests/test_wagtail_hooks.py
Due: pylint

Update tests for modified label
  functional_tests/features/bundle.feature
Due: none

update basic-ftp for security fix
  package-lock.json
Due: lint:format

update basic-ftp version
  package-lock.json
Due: lint:format

disable zizmor
  .mega-linter.yml
Due: lint:format

whitelist env var for zizmor
  .mega-linter.yml
Due: lint:format

add hashes for action versions
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lychee.yml
  .github/workflows/mega-linter.yml
  .github/workflows/pr-blocked-labels.yml
Due: lint:format

add permissions blocks
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lychee.yml
  .github/workflows/mega-linter.yml
Due: lint:format

conditionally disable cache for release branches, add commet to disable zizmor errors in these cases
  .github/actions/setup-cache-flag/action.yml
  .github/workflows/ci.yml
Due: lint:format

use env vars in env flag action to mitigate bash variable expansion attack potential
  .github/actions/setup-cache-flag/action.yml
Due: lint:format

Correct order for page to take precedence
  cms/core/templatetags/page_config_tags.py
Due: pylint

Remove unnecessary settings override
  cms/core/tests/test_tags.py
Due: pylint

Ensure that the downloads heading size matches the footnotes heading size in the table block
  cms/core/blocks/markup.py
  cms/jinja2/templates/components/streamfield/table_block.html
Due: pylint

Add tests for downloads heading level
  cms/core/tests/test_blocks.py
Due: pylint

Update megalinter config and CI for zizmor (#635)
  .github/actions/setup-cache-flag/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lychee.yml
  .github/workflows/mega-linter.yml
  .github/workflows/pr-blocked-labels.yml
  .mega-linter.yml
  package-lock.json
Due: lint:format

use reverse to get urls
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

add quotes to `filter_option`
  functional_tests/steps/bundles.py
Due: pylint
