Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

fix gunicorn timeout parsing
  gunicorn.conf.py
Due: pylint

fix IAM db config setup to avoid incorrect deepcopying
  .secrets.baseline
  cms/settings/base.py
Due: pylint

fix: ensure teardown on migration tests goes to latest project state (#719)
  cms/core/tests/__init__.py
  cms/topics/tests/test_migrations.py
Due: pylint

use host correclty in config generator
  cms/settings/base.py
Due: pylint

test(breadcrumbs): add unit test for data attributes exclusion
  cms/core/tests/test_models.py
Due: pylint

disable page privacy controls by default
  cms/settings/base.py
Due: pylint

add executor cleanup to tests
  cms/bundles/tests/test_utils.py
  cms/core/tests/test_utils.py
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

fix(tables): report all table block validation errors (#718)
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
Due: pylint

Log viewing of snippets in admin panel
  cms/core/tests/test_wagtail_hooks.py
  cms/core/wagtail_hooks.py
Due: pylint

Upgrade Django to 6.0.7
  poetry.lock
  pyproject.toml
Due: none

add extra tests
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_slack_notifications.py
  cms/post_publish_actions/tests/test_executor.py
  cms/post_publish_actions/tests/test_registry.py
  cms/post_publish_actions/tests/test_signal_handlers.py
  cms/post_publish_actions/tests/test_utils.py
Due: pylint

Upgrade Django to 6.0.7 (#728)
  poetry.lock
  pyproject.toml
Due: none

fix lock file
  poetry.lock
Due: none

Hide edit button for published bundles (#721)
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

fix: pass GTM data attributes to table download link
  cms/core/blocks/markup.py
Due: pylint

make test data app toggleable by env var
  .secrets.baseline
  cms/settings/base.py
  cms/settings/test.py
Due: pylint

ensure generated images use root collection
  cms/test_data/factories.py
Due: pylint

update signal and global config handling, refactor seeding
  cms/test_data/config.py
  cms/test_data/management/commands/create_test_data.py
  cms/test_data/management/commands/delete_test_data.py
  cms/test_data/random.py
  cms/test_data/signals.py
  cms/test_data/tests/test_commands.py
  cms/test_data/tests/test_config.py
Due: pylint

satisfy mypy
  cms/test_data/config.py
  cms/test_data/factories.py
  cms/test_data/management/commands/delete_test_data.py
Due: pylint

Fix typo
  cms/core/tests/test_wagtail_hooks.py
Due: pylint

update setuptools version for osv-scanner
  poetry.lock
  pyproject.toml
Due: none

regenerate lock file with newer poetry
  poetry.lock
Due: none

chore(deps): update setuptools version for osv-scanner (#730)
  poetry.lock
  pyproject.toml
Due: none

Enforce poetry version
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  scripts/check-poetry-version.sh
Due: lint:format

fix: pass GTM data attributes to chart csv download link
  cms/datavis/blocks/base.py
Due: pylint

Enforce poetry version (#731)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  scripts/check-poetry-version.sh
Due: lint:format

fix status of post publish action end notification
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_slack_notifications.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
  cms/post_publish_actions/tests/test_utils.py
  cms/post_publish_actions/utils.py
Due: pylint

Add "GET" check fo before edit hooks
  cms/core/wagtail_hooks.py
Due: pylint

rename faker locale helper
  cms/test_data/random.py
Due: pylint

use test data prefix from settings
  cms/settings/base.py
  cms/test_data/constants.py
  cms/test_data/management/commands/create_test_data.py
  cms/test_data/management/commands/delete_test_data.py
  cms/test_data/tests/test_commands.py
Due: pylint

update .secrets.baseline
  .secrets.baseline
Due: none

feat(logs): log viewing of snippets in admin panel (#727)
  cms/core/tests/test_wagtail_hooks.py
  cms/core/wagtail_hooks.py
Due: pylint

refactor action queries with new queryset methods
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/notifications/slack.py
  cms/post_publish_actions/management/commands/retry_post_publish_actions.py
  cms/post_publish_actions/models.py
  cms/post_publish_actions/utils.py
Due: pylint

add count for bundle queryset helper
  cms/bundles/notifications/slack.py
  cms/post_publish_actions/models.py
Due: pylint

feat: insert new middleware in base.py
  .secrets.baseline
  cms/settings/base.py
Due: pylint

feat: add cloudflare caache tag middleware
  cms/core/middleware.py
Due: pylint

docs: update deployment envs documentation
  docs/custom-features/deployment-environments.md
Due: none

docs: add note to revisit content theme data attribute
  cms/core/models/base.py
Due: pylint

fix: add GTM data attributes to breadcrumbs component (#726)
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_pages.py
  cms/core/models/base.py
  cms/core/tests/test_models.py
  cms/methodology/tests/test_pages.py
  cms/standard_pages/tests/test_pages.py
Due: pylint

fix: rename variable for consistency
  cms/core/blocks/markup.py
Due: pylint
