Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

calling management commands using call_command and self.assertEqual being used replacing assert.
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

All sync_topics.Command().handle() replaced with call_command("sync_topics")
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Ignore vendor/minified JS/CSS
  .eslintignore
  .stylelintignore
Due: none

Placate mypy
  cms/tiny_table_block/blocks.py
  cms/tiny_table_block/utils.py
Due: pylint

Improve table-only behaviour
  cms/tiny_table_block/static/tiny_table_block/js/tiny-table-block.js
Due: lint:js, lint:format

Improve the table block and saved data format
  cms/tiny_table_block/blocks.py
  cms/tiny_table_block/static/tiny_table_block/js/tiny-table-block.js
  cms/tiny_table_block/templates/tiny_table_block/table_block.html
  cms/tiny_table_block/utils.py
Due: pylint, lint:js, lint:format

Add basic TinyMCE table block
  cms/core/blocks/stream_blocks.py
  cms/settings/base.py
  cms/tiny_table_block/__init__.py
  cms/tiny_table_block/blocks.py
  cms/tiny_table_block/static/tiny_table_block/js/tiny-table-block.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/icons/default/icons.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/license.md
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/models/dom/model.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/plugins/autolink/plugin.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/plugins/autoresize/plugin.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/plugins/table/plugin.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/content/dark/content.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/content/dark/content.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/content/default/content.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/content/default/content.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/content.inline.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/content.inline.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/content.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/content.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/skin.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/skin.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/skin.shadowdom.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/skin.shadowdom.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/content.inline.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/content.inline.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/content.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/content.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/skin.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/skin.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/skin.shadowdom.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/skin.shadowdom.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/themes/silver/theme.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/tinymce.min.js
  cms/tiny_table_block/templates/tiny_table_block/table_block.html
Due: pylint, lint:js, lint:css, lint:format

Add the ONS table block and override the table macro
  cms/core/blocks/__init__.py
  cms/core/blocks/markup.py
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/jinja2/component_overrides/table/_macro.njk
  cms/jinja2/templates/components/streamfield/basic_table_block.html
  cms/jinja2/templates/components/streamfield/table_block.html
Due: pylint

Add util tests
  cms/tiny_table_block/tests/__init__.py
  cms/tiny_table_block/tests/test_utils.py
  cms/tiny_table_block/utils.py
Due: pylint

Add parents topics column to chooser
  cms/taxonomy/models.py
  cms/taxonomy/viewsets.py
  poetry.lock
Due: pylint

Undo poetry changes
  poetry.lock
Due: none

Add working test_forms
  cms/navigation/forms.py
  cms/navigation/tests/test_forms.py
Due: pylint

Search app created
  cms/search/__init__.py
  cms/search/admin.py
  cms/search/apps.py
  cms/search/migrations/__init__.py
  cms/search/models.py
  cms/search/publishers.py
  cms/search/tests.py
  cms/search/views.py
  cms/search/wagtail_hooks.py
  cms/settings/base.py
  cms/settings/dev.py
  docker-compose-dev.yml
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Add external urls test across columns
  cms/navigation/tests/test_forms.py
Due: pylint

Add unit tests
  cms/taxonomy/models.py
  cms/taxonomy/tests/test_models.py
  cms/taxonomy/tests/test_viewsets.py
  cms/taxonomy/viewsets.py
Due: pylint

Update unit test
  cms/taxonomy/tests/test_viewsets.py
Due: pylint

Add test cases
  cms/navigation/tests/test_forms.py
Due: pylint

1.0
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/core/migrations/0005_glossaryterm.py
  cms/core/models/snippets.py
  cms/core/viewsets.py
  cms/core/wagtail_hooks.py
  cms/jinja2/templates/components/streamfield/glossary_section_block.html
Due: pylint

Add tests for pages
  cms/navigation/forms.py
  cms/navigation/tests/test_forms.py
Due: pylint

KafkaProducer API version specified
  cms/search/publishers.py
  cms/settings/dev.py
Due: pylint

Update save new topic method to become a create class method
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/models.py
  cms/taxonomy/tests/factories.py
  cms/taxonomy/tests/test_forms.py
  cms/taxonomy/tests/test_management_commands.py
  cms/taxonomy/tests/test_mixins.py
  cms/taxonomy/tests/test_models.py
  cms/taxonomy/tests/test_viewsets.py
Due: pylint

Reformat comment
  cms/taxonomy/models.py
Due: pylint

correct parameter and add test
  cms/articles/models.py
  cms/articles/tests/test_models.py
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/test.py
  functional_tests/features/previous_releases_page.feature
  functional_tests/features/statistical_article_previous_releases_page.feature
  functional_tests/steps/previous_releases_page.py
  functional_tests/steps/statistical_article_previous_releases_page.py
Due: pylint

Added the Updated by column in SnippetViewSet
  cms/core/viewsets.py
  cms/jinja2/templates/components/streamfield/glossary_section_block.html
Due: pylint

Made revisionable and translatable
  cms/core/migrations/0005_glossaryterm.py
  cms/core/models/snippets.py
Due: pylint

Add basic functional tests
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/statistical_article_page.py
Due: pylint

Made previewable
  cms/core/models/snippets.py
  cms/jinja2/templates/components/glossary/glossary_term_preview.html
Due: pylint

Rename create method to create_under_parent
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/models.py
  cms/taxonomy/tests/factories.py
  cms/taxonomy/tests/test_forms.py
  cms/taxonomy/tests/test_management_commands.py
  cms/taxonomy/tests/test_mixins.py
  cms/taxonomy/tests/test_models.py
  cms/taxonomy/tests/test_viewsets.py
Due: pylint

Improve our table block output
  cms/core/blocks/markup.py
  cms/jinja2/templates/components/streamfield/table_block.html
  cms/tiny_table_block/utils.py
Due: pylint

Fixed kafka improperly validating non-advertised listeners for routable controller addresses
  cms/search/publishers.py
  docker-compose-dev.yml
Due: pylint, lint:format

Added unit tests (failing)
  cms/articles/tests/factories.py
  cms/articles/tests/test_models.py
  cms/core/tests/factories.py
  cms/methodology/tests/factories.py
  cms/methodology/tests/test_models.py
Due: pylint

Add ONSTableBlock tests
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
Due: pylint

Refactoring
  cms/core/blocks/section_blocks.py
  cms/jinja2/templates/components/glossary/glossary_term_preview.html
Due: pylint

Add table input sanitisation
  cms/tiny_table_block/tests/test_utils.py
  cms/tiny_table_block/utils.py
  poetry.lock
  pyproject.toml
Due: pylint

fixup! Add table input sanitisation
  cms/tiny_table_block/utils.py
Due: pylint

Made the existing functional tests pass
  cms/articles/tests/factories.py
  cms/articles/tests/test_models.py
  cms/core/tests/factories.py
  cms/methodology/tests/factories.py
  cms/methodology/tests/test_models.py
  functional_tests/steps/methodology_page.py
Due: pylint

Switch to packaged wagtail-tinytableblock
  cms/core/blocks/markup.py
  cms/settings/base.py
  cms/tiny_table_block/__init__.py
  cms/tiny_table_block/blocks.py
  cms/tiny_table_block/static/tiny_table_block/js/tiny-table-block.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/icons/default/icons.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/license.md
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/models/dom/model.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/plugins/autolink/plugin.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/plugins/autoresize/plugin.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/plugins/table/plugin.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/content/dark/content.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/content/dark/content.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/content/default/content.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/content/default/content.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/content.inline.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/content.inline.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/content.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/content.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/skin.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/skin.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/skin.shadowdom.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide-dark/skin.shadowdom.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/content.inline.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/content.inline.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/content.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/content.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/skin.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/skin.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/skin.shadowdom.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/skins/ui/oxide/skin.shadowdom.min.css
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/themes/silver/theme.min.js
  cms/tiny_table_block/static/tiny_table_block/js/vendor/tinymce/tinymce.min.js
  cms/tiny_table_block/templates/tiny_table_block/table_block.html
  cms/tiny_table_block/tests/__init__.py
  cms/tiny_table_block/tests/test_utils.py
  cms/tiny_table_block/utils.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:js, lint:css, lint:format

Rename method again
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/models.py
  cms/taxonomy/tests/factories.py
  cms/taxonomy/tests/test_forms.py
  cms/taxonomy/tests/test_management_commands.py
  cms/taxonomy/tests/test_mixins.py
  cms/taxonomy/tests/test_models.py
  cms/taxonomy/tests/test_viewsets.py
Due: pylint

correct breadcrumbs and pagination negative tests
  cms/articles/tests/test_models.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
