Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

TODO removed and translatable added
  cms/navigation/models.py
Due: pylint

Fix cookiebanner settings link URL variable name
  cms/jinja2/templates/base.html
Due: none

Fix moto extras in pyproject.toml
  pyproject.toml
Due: none

Description help text updated
  cms/navigation/models.py
Due: pylint

Regenerate lock
  poetry.lock
Due: none

Rename script
  Makefile
  scripts/lint_migrations.py
Due: pylint

Make the contact details name unique
  cms/core/migrations/0004_alter_contactdetails_name.py
  cms/core/models/snippets.py
  cms/core/tests/test_models.py
Due: pylint

Pass through classes to census and accreditation logos to be DRY
  cms/jinja2/templates/components/accredited/accredited-information.html
  cms/jinja2/templates/components/accredited/accredited-logo.html
  cms/jinja2/templates/components/census/census-information.html
  cms/jinja2/templates/components/census/census-logo.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Don't double up on publish/unpublish signals for pages
  cms/private_media/signal_handlers.py
Due: pylint

Add comments to tsconfig
  tsconfig.json
Due: lint:format

Utilize assertIsSubclass in tests
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
Due: pylint

Re-add strict true
  tsconfig.json
Due: lint:format

Fix tsconfig comments
  tsconfig.json
Due: lint:format

Log ACL set/put errors as exceptions
  cms/private_media/storages.py
  cms/private_media/tests/test_storages.py
Due: pylint

Test serve views with IS_EXTERNAL_ENV=True
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
Due: pylint

Fixup for 10fdba7
  cms/private_media/storages.py
Due: pylint

Revert "Utilize assertIsSubclass in tests"
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
Due: pylint

Fix storage tests
  cms/private_media/tests/test_storages.py
Due: pylint

Make the contact details name \+ email unique
  cms/core/migrations/0004_contactdetails_core_contactdetails_name_unique.py
  cms/core/models/snippets.py
Due: pylint

Use InMemoryStorage for DummyPrivacySettingFileSystemStorage
  cms/private_media/storages.py
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
Due: pylint

Update contact details listings to include email/phone
  cms/core/viewsets.py
  cms/core/wagtail_hooks.py
Due: pylint

Re-run only specific (read-only) tests with IS_EXTERNAL_ENV=True
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
Due: pylint

Add test for the unique constraint
  cms/core/tests/test_models.py
Due: pylint

Ensure contact details columns are consistent in index and choosers
  cms/core/viewsets.py
Due: pylint

Bump deps. Mainly Django 5.1.4
  poetry.lock
Due: none

Oh, mypy
  cms/core/viewsets.py
Due: pylint

Refactorig to make the Section block reusable between apps
  cms/analysis/models.py
  cms/core/blocks/section_block.py
  cms/core/blocks/stream_blocks.py
  cms/jinja2/templates/components/streamfield/section_with_header_block.html
  cms/jinja2/templates/pages/methodology_page.html
Due: pylint

Update unpublish_media_on_unpublish() to use a subset of 'referencing page ids' to figure out which pages are live
  cms/private_media/signal_handlers.py
Due: pylint

Make the constraint case insensitive
  cms/core/migrations/0004_contactdetails_core_contactdetails_name_unique.py
  cms/core/models/snippets.py
  cms/core/tests/test_models.py
Due: pylint

Tweak constraint validation message
  cms/core/migrations/0004_contactdetails_core_contactdetails_name_unique.py
  cms/core/models/snippets.py
  cms/core/tests/test_models.py
Due: pylint

Make the constraint name explicit to avoid confusion (and we're not using an abstract class)
  cms/core/models/snippets.py
Due: pylint

UAT fixes (#56)
  cms/core/migrations/0004_contactdetails_core_contactdetails_name_unique.py
  cms/core/models/snippets.py
  cms/core/tests/test_models.py
  cms/core/viewsets.py
  cms/core/wagtail_hooks.py
  cms/jinja2/templates/base.html
  poetry.lock
Due: pylint

Revise the docs
  docs/custom-features/media_privacy.md
Due: none

Reference integration tests in docs
  docs/custom-features/media_privacy.md
Due: none

Fix typos
  docs/custom-features/media_privacy.md
Due: none

Fix another docs typo
  docs/custom-features/media_privacy.md
Due: none

Add CI job to add coverage to GH Action summary
  .github/workflows/ci.yml
Due: lint:format

One last round of typo fixes
  docs/custom-features/media_privacy.md
Due: none

Load design system templates
  .github/workflows/ci.yml
Due: lint:format

Add notes on how private and public media items behave
  docs/custom-features/media_privacy.md
Due: none
