Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

fix variable assignment typo
  cms/core/formatting_utils.py
Due: pylint

add makemessages-check to ci and pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  cms/locale/cy/LC_MESSAGES/django.po
Due: lint:format

remove deprecated translation items
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

install gettext in runner
  .github/workflows/ci.yml
Due: lint:format

address git test failures
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Add try/except block
  cms/private_media/utils.py
Due: pylint

address git test failures v2
  functional_tests/steps/bundles.py
Due: pylint

Remove redundant test
  cms/core/tests/test_tags.py
Due: pylint

Address mypy issue
  cms/private_media/utils.py
Due: pylint

Use set comprehension
  cms/core/models/base.py
Due: pylint

use design system social block in header
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/cookies.html
Due: none

Add more detail to comment
  cms/private_media/utils.py
Due: pylint

update social media image url test
  cms/core/tests/test_pages.py
Due: pylint

Fix creation of localised URLs for routable pages (#546)
  cms/articles/tests/test_series_models.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_pages.py
  cms/core/tests/test_tags.py
Due: pylint

update tests for datetime formatting function
  cms/core/formatting_utils.py
  cms/core/tests/test_formatting_utils.py
Due: pylint

use django TestCase for test that uses database
  cms/bundles/tests/test_action_menu.py
Due: pylint

Use database query to match database first returned item
  cms/articles/tests/test_article_models.py
Due: pylint

Get last "Related links" element, in case first tooltip hasn't had time to close.
  functional_tests/steps/information_page.py
Due: pylint

small typo
  functional_tests/features/information_page.feature
Due: none

centralise management of url cache resetting to reduce need for manual management
  .secrets.baseline
  cms/auth/tests/helpers.py
  cms/auth/tests/test_auth_integration.py
  cms/settings/test.py
Due: pylint

suppress mypy error
  cms/settings/test.py
Due: pylint

fix method used to set up bundle action tests
  cms/bundles/tests/test_action_menu.py
Due: pylint

remove `reset_url_caches` and it's calls
  cms/articles/tests/test_series_models.py
  cms/core/tests/test_pages.py
  cms/core/tests/test_tags.py
  cms/core/tests/utils.py
  cms/locale/tests/test_domain_localisation.py
  cms/locale/tests/test_path_localisation.py
  cms/settings/test.py
  cms/standard_pages/tests/test_pages.py
  cms/teams/tests/test_redirect.py
Due: pylint

Add per asset expiry
  cms/bundles/views/preview.py
  cms/private_media/tests/test_serve_views.py
  cms/private_media/utils.py
Due: pylint

Redirect to main article when correction not found
  cms/articles/models.py
  cms/articles/tests/test_pages.py
Due: pylint

Limit number of entries in cookie
  cms/bundles/views/preview.py
  cms/private_media/tests/test_serve_views.py
  cms/settings/base.py
Due: pylint

Reduce test flakiness
  cms/private_media/tests/test_serve_views.py
Due: pylint

Remove user_can_preview_bundle_by_id
  cms/bundles/permissions.py
  cms/private_media/utils.py
Due: pylint

use set instead of tuple for faster lookups
  cms/settings/test.py
Due: pylint

explicity set convenience variables to default expected by tests
  .secrets.baseline
  cms/settings/test.py
Due: pylint

fix typo
  cms/settings/test.py
Due: pylint

remove comment reference to deleted `reset_url_caches`
  cms/settings/test.py
Due: pylint

Add tests for footnotes configuration
  cms/datavis/tests/test_iframe_block.py
Due: pylint

Update .po files
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Add check for aliases
  cms/articles/models.py
  cms/articles/tests/test_pages.py
Due: pylint

Use RFC3339 datetime format for page release_date and previous_date (#585)
  cms/core/formatting_utils.py
  cms/core/tests/test_formatting_utils.py
  cms/search/tests/helpers.py
  cms/search/tests/test_resource_builders.py
  cms/search/utils.py
Due: pylint

Improve test reliability (#588)
  .secrets.baseline
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_series_models.py
  cms/auth/tests/helpers.py
  cms/auth/tests/test_auth_integration.py
  cms/bundles/tests/test_action_menu.py
  cms/core/tests/test_pages.py
  cms/core/tests/test_tags.py
  cms/core/tests/utils.py
  cms/locale/tests/test_domain_localisation.py
  cms/locale/tests/test_path_localisation.py
  cms/settings/test.py
  cms/standard_pages/tests/test_pages.py
  cms/teams/tests/test_redirect.py
  functional_tests/features/information_page.feature
  functional_tests/steps/information_page.py
Due: pylint

Update the po file
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

set `pass_filenames` false for makemessages precommit
  .pre-commit-config.yaml
Due: lint:format

Ensure that iframe footnotes data is passed through to the chart design system component (#586)
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_iframe_block.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
