Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

docs: fix typo in comment
  cms/bundles/forms.py
Due: pylint

Fix indentation
  cms/bundles/wagtail_hooks.py
Due: pylint

fix: remove the redundant property can_be_approved and references to it
  cms/bundles/models.py
  cms/bundles/tests/test_models.py
  docs/custom-features/bundles.md
Due: pylint

add seed commands to makefile
  Makefile
Due: none

update page published signal handler in seed data registry
  cms/test_data/signals.py
Due: pylint

Ensure CMS_TEST_DATA_PREFIX is not blank
  cms/settings/base.py
Due: pylint

prefix commands for completion and fix incorrect key
  Makefile
Due: none

Wait for docker stack to be up before attemting to run functional tests
  Makefile
  functional_tests/docker-compose-dev.yml
Due: lint:format

add date fill util to ensure picker is closed before next step
  functional_tests/step_helpers/utils.py
  functional_tests/steps/bundles.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/topic_page_manual_related_articles.py
  functional_tests/steps/topic_page_manual_related_methodologies.py
Due: pylint

update readme for new management commands
  README.md
Due: none

add backslash before asterisk
  README.md
Due: none

add healthchecks to main functional test stack
  functional_tests/docker-compose.yml
Due: lint:format

update date fills in `release_page_helpers.py`
  functional_tests/step_helpers/release_page_helpers.py
Due: pylint

fix: update condition so bundles can be approved with live RC pages without unpublished changes
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
Due: pylint

test: refactor tests and update release calendar approval test to cover in-workflow state
  cms/bundles/tests/test_forms.py
Due: pylint

add august 2026 po
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

first draft of post publish actions docs
  docs/custom-features/post-publish-actions.md
Due: none

chore: migrate to eslint v9
  package-lock.json
  package.json
Due: lint:format

chore: upgrade to cssnano v8
  .nvmrc
  package-lock.json
  package.json
Due: lint:format

chore: update lock file
  package-lock.json
Due: lint:format

fix: ensure docker uses correct node version
  Dockerfile
Due: none

fix: use flat config for eslint v9
  .eslintignore
  .eslintrc.js
  cms/core/static/js/blocks/previous-version-block.js
  cms/static_src/javascript/components/details.js
  cms/static_src/javascript/components/iframe-resize.js
  cms/static_src/javascript/main.js
  eslint.config.js
  package-lock.json
  package.json
  webpack.config.js
Due: lint:js, lint:format

fix: update dockerfile
  Dockerfile
Due: none

fix: add workflow/page status to the release calendar chooser
  cms/release_calendar/tests/test_utils.py
  cms/release_calendar/utils.py
Due: pylint

chore: bump typescript to v6
  package-lock.json
  package.json
Due: lint:format

fix: silence TypeScript deprecation warnings
  tsconfig.json
Due: lint:format

Update megalinter makefile command for new version
  Makefile
Due: none

suppress false positive hadolint warnings, and use numeric descriptor for root
  Dockerfile
Due: none

use commit hash instead of version tag for megalint makefile command
  Makefile
Due: none

add unit test corrections
  cms/standard_pages/tests/test_pages.py
Due: pylint

Fix capitalisation
  docs/custom-features/post-publish-actions.md
Due: none

chore: remove C90 suppression and set maximum complexity (#768)
  cms/bundles/wagtail_hooks.py
  pyproject.toml
Due: pylint

refactor: reorder release calendar approval condition
  cms/bundles/forms.py
Due: pylint

test: update existing functional and unit tests
  cms/bundles/tests/test_viewsets.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

docs: update docstring
  cms/bundles/panels.py
Due: pylint

fix: suppress mypy error
  cms/release_calendar/utils.py
Due: pylint

fix(release-calendar): localise table of contents labels
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

fix typo
  Makefile
Due: none

add blur on timeout path
  functional_tests/step_helpers/utils.py
Due: pylint

move healthchecks to root docker compose file
  docker-compose-dev.yml
  functional_tests/docker-compose-dev.yml
  functional_tests/docker-compose.yml
Due: lint:format
