Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Remove use_json_field=True
  cms/articles/models.py
Due: pylint

test: Add tests of numberfy function
  cms/datavis/tests/__init__.py
  cms/datavis/tests/test_utils.py
Due: pylint

feat: Add system check that pages with charts load the chart media
  cms/datavis/apps.py
  cms/datavis/checks.py
Due: pylint

Rename and move files, handle title
  cms/core/blocks/panels.py
  cms/core/static/js/correction-block.js
  cms/core/static/js/previous-version-block.js
  cms/jinja2/templates/components/streamfield/correction_block.html
  cms/jinja2/templates/components/streamfield/notice_block.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/settings/base.py
Due: pylint, lint:js, lint:format

Fix type hints, linting issues etc.
  README.md
  cms/datasets/blocks.py
  cms/datasets/models.py
  cms/datasets/tests/test_views.py
  cms/datasets/views.py
  cms/datasets/wagtail_hooks.py
  cms/release_calendar/tests/test_forms.py
  cms/settings/dev.py
  cms/settings/test.py
Due: pylint

Remove unnecessary whitespace
  cms/jinja2/templates/components/streamfield/correction_block.html
Due: none

Fix functoinal tests following heading change
  functional_tests/steps/statistical_article_page.py
Due: pylint

style: Update some code comments
  cms/datavis/blocks/base.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Due: pylint

Add various waits to functional tests to fix flakiness
  functional_tests/steps/statistical_article_page.py
Due: pylint

Working UI test
  functional_tests/features/footer_menu.feature
  functional_tests/steps/footer_menu.py
Due: pylint

Add additional waits
  functional_tests/steps/methodology_page.py
Due: pylint

Update scenarios
  functional_tests/features/footer_menu.feature
  functional_tests/steps/footer_menu.py
Due: pylint

1.0
  cms/core/migrations/0006_update_user_groups.py
  cms/settings/base.py
Due: pylint

feat: Use HTML text inputs in numeric mode
  cms/datavis/blocks/base.py
  cms/datavis/blocks/utils.py
Due: pylint

update related publications to use related content DS component and add DS hero grey variant
  cms/jinja2/templates/pages/methodology_page.html
  cms/static_src/sass/components/_related-publications.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Debugging headline figures permission
  cms/core/migrations/0006_update_user_groups.py
Due: pylint

make sure text is translatable
  cms/jinja2/templates/pages/methodology_page.html
Due: none

replace hero markup with latest version of DS grey hero component and adjust headline figures padding
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/static_src/sass/components/_headline-figures.scss
Due: lint:css, lint:format

fix: Do not use inputmode="decimal" for decimal text inputs
  cms/datavis/blocks/utils.py
Due: pylint

Added initial unit tests
  cms/core/migrations/0006_update_user_groups.py
  cms/core/tests/test_permissions.py
  cms/core/wagtail_hooks.py
Due: pylint

Update front-end to use new values for annotations
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Remove debugging
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

remove unneeded updates from article header stylesheet
  cms/static_src/sass/components/_article-header.scss
Due: lint:css, lint:format

fix: Remove regex, update docstring, and rename block
  cms/datavis/blocks/base.py
  cms/datavis/blocks/utils.py
Due: pylint

add design system hero component to replace custom hero markup
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Env vars naming updated, tests updated to reflect the publishers.py changes, using the naming channel instead of topic in publishers .py, type hints improved, code refactored, linted and formatted
  cms/search/__init__.py
  cms/search/publishers.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/search/wagtail_hooks.py
  cms/settings/base.py
Due: pylint

Address PR comments
  cms/articles/apps.py
  cms/articles/signal_handlers.py
  cms/core/blocks/panels.py
  cms/core/forms.py
  cms/core/static/js/blocks/correction-block.js
  cms/core/static/js/blocks/previous-version-block.js
  cms/core/tests/test_blocks.py
  cms/core/whitenoise.py
  cms/jinja2/templates/components/streamfield/correction_block.html
  cms/settings/base.py
Due: pylint, lint:js, lint:format

search_index_content_type property added to relevant page models, get_publisher utilising caching now, _publish_to_service updated to use _publish.
  cms/articles/models.py
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/search/__init__.py
  cms/search/publishers.py
  cms/search/tests/test_publishers.py
  cms/standard_pages/models.py
Due: pylint

Code formatted
  cms/search/__init__.py
  cms/search/publishers.py
Due: pylint

Address PR comments
  cms/datasets/models.py
  cms/datasets/tests/test_blocks.py
  cms/datasets/tests/test_models.py
  cms/jinja2/templates/components/streamfield/dataset_link_block.html
  cms/release_calendar/models.py
Due: pylint

Add breadcrumbs template tag
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/navigation/jinja2tags.py
  cms/navigation/templatetags/navigation_tags.py
  cms/navigation/tests/test_navigation_tags.py
Due: pylint

models updated to have a static class-level value rather than a dynamic, instance-level property.
  cms/articles/models.py
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/search/publishers.py
  cms/search/tests/test_publishers.py
  cms/standard_pages/models.py
Due: pylint

Excluded pages naming improved, and comment added before external search config.
  cms/search/tests/test_wagtail_hooks.py
  cms/search/wagtail_hooks.py
  cms/settings/base.py
Due: pylint

get_dummy_request import updated and system checks for env vars added for the search app
  cms/navigation/tests/test_navigation_tags.py
  cms/search/apps.py
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/tests/test_wagtail_hooks.py
Due: pylint

Code formatted
  cms/navigation/tests/test_navigation_tags.py
  cms/search/apps.py
  cms/search/tests/test_wagtail_hooks.py
Due: pylint

Type hints added
  cms/search/apps.py
  cms/search/checks.py
Due: pylint

Type hint issues fixed
  cms/search/apps.py
  cms/search/checks.py
  cms/search/publishers.py
Due: pylint

checks.py updated to only fire if the provider is "kafka"
  cms/search/checks.py
Due: pylint

Django system check added that checks if someone adds a new page type to the list to send to the search index, it has a search_index_content_type attribute.
  cms/search/checks.py
  cms/settings/base.py
Due: pylint

KAFKA_API_VERSION updated
  cms/search/publishers.py
  cms/search/tests/test_publishers.py
  cms/settings/base.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
