Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Exit codes added to pass or fail the custom migration script run
  scripts/lintmigrations_custom.py
Due: pylint

Don't show an full-screen overlay for warnings - only for errors
  webpack.config.js
Due: lint:js, lint:format

Amend the runserver command in the Makefile
  Makefile
Due: none

Fix incorrect ports in dev app compose
  functional_tests/docker-compose-dev-app.yml
Due: lint:format

Amend the runserver command in the Makefile (#52)
  Makefile
Due: none

Don't show an full-screen overlay for warnings - only for errors (#51)
  webpack.config.js
Due: lint:js, lint:format

Move codeowner file location
  .github/CODEOWNERS
Due: none

Move CODEOWNER file location (#53)
  .github/CODEOWNERS
Due: none

Use cupcake flavour
  .github/workflows/mega-linter.yml
  Makefile
Due: lint:format

Use 'info' to log unsupported file permission setting attempts
  cms/private_media/bulk_operations.py
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
Due: pylint

Changes from reviews
  Makefile
  scripts/lintmigrations_custom.py
Due: pylint

Code formatted, zombie code removed, unused imports removed and MainMenuViewSet added to restrict creating more than one main menu instance
  cms/core/blocks/related.py
  cms/navigation/migrations/0001_initial.py
  cms/navigation/models.py
  cms/navigation/wagtail_hooks.py
Due: pylint

Front-end integrated
  cms/jinja2/templates/base.html
Due: none

Type hints added
  cms/navigation/wagtail_hooks.py
Due: pylint

Code formatted
  scripts/lintmigrations_custom.py
Due: pylint

Fix lint issue + enable gitleaks
  .development.env
  .development.env_1733731789.bak
  .djlintrc
  .docker/bashrc.sh
  .editorconfig
  .github/ISSUE_TEMPLATE.md
  .github/linters/.checkov.yml
  .github/linters/.gitleaks.toml
  .github/linters/.grype.yaml
  .github/linters/.hadolint.yaml
  .github/linters/.markdown-lint.yml
  .github/linters/.markdownlint.json
  .github/linters/.npmpackagejsonlintrc.json
  .github/linters/.scss-lint.yml
  .github/linters/.stylelintignore
  .github/linters/.yaml-lint.yml
  .github/linters/.yamllint.yml
  .mega-linter.yml
  .pre-commit-config.yaml
  .stylelintrc.js
  CODE_OF_CONDUCT.md
  Dockerfile
  README.md
  SECURITY.md
  cms/bundles/templates/bundles/wagtailadmin/add_to_bundle.html
  cms/jinja2/templates/components/accredited/accredited-logo.html
  cms/jinja2/templates/components/census/census-logo.html
  cms/jinja2/templates/components/streamfield/release_content_section.html
  cms/jinja2/templates/pages/analysis_page.html
  cms/jinja2/templates/pages/defender/lockout.html
  cms/jinja2/templates/pages/errors/500.html
  docker-compose-dev.yml
  docs/conventions/type_hinting.md
  docs/custom-features/migration_friendly_streamfields.md
  docs/design_system_overrides.md
  docs/index.md
  package-lock.json
  package.json
  pyproject.toml
  tsconfig.json
Due: lint:js, lint:format

Styling for the release page plus some refactoring
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/accredited/accredited-logo.html
  cms/jinja2/templates/components/census/census-information.html
  cms/jinja2/templates/components/census/census-logo.html
  cms/jinja2/templates/components/streamfield/stream_block.html
  cms/jinja2/templates/pages/analysis_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/static_src/sass/components/_analysis-header.scss
  cms/static_src/sass/components/_button-nav.scss
  cms/static_src/sass/components/_chart-embed.scss
  cms/static_src/sass/components/_common-header.scss
  cms/static_src/sass/components/_landing-header.scss
  cms/static_src/sass/components/_release-header.scss
  cms/static_src/sass/components/_rich-text.scss
  cms/static_src/sass/components/_spacing.scss
  cms/static_src/sass/components/_topic-header.scss
  cms/static_src/sass/components/design_system_overrides/_back-to-top.scss
  cms/static_src/sass/components/design_system_overrides/_button.scss
  cms/static_src/sass/components/design_system_overrides/_container.scss
  cms/static_src/sass/components/design_system_overrides/_grid.scss
  cms/static_src/sass/components/design_system_overrides/_page.scss
  cms/static_src/sass/components/design_system_overrides/_toc.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Remove '_comment' tag from tsconfig
  tsconfig.json
Due: lint:format

Update py packages to fix vulnerabilities
  poetry.lock
Due: none

django migration linter removed from the dev dependencies
  poetry.lock
  pyproject.toml
Due: none

Added django-migration-linter to dev.py
  cms/settings/dev.py
Due: pylint

Spacing tweaks
  cms/jinja2/templates/components/census/census-logo.html
  cms/static_src/sass/components/_census-logo.scss
  cms/static_src/sass/components/_common-header.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Duplicate accreditation logo to avoid sharing classes with the header
  cms/jinja2/templates/components/accredited/accredited-information.html
Due: none

Migration linter being added only in dev
  cms/settings/base.py
  cms/settings/dev.py
Due: pylint

Lint errors fixed
  Makefile
  cms/settings/dev.py
Due: pylint

CI updated
  .github/workflows/ci.yml
Due: lint:format

CI lint migration test
  .github/workflows/ci.yml
Due: lint:format

env changed
  .github/workflows/ci.yml
Due: lint:format

Test command removed
  .github/workflows/ci.yml
Due: lint:format

CI changes reverted and MIGRATION_LINTER_OPTIONS moved to dev.py
  .github/workflows/ci.yml
  cms/settings/dev.py
Due: pylint, lint:format

Nav template issues fixed
  cms/jinja2/templates/base.html
Due: none

gettext_lazy added
  cms/navigation/models.py
Due: pylint

Update ci.yml
  .github/workflows/ci.yml
Due: lint:format

Preview added
  cms/navigation/models.py
Due: pylint

Use the title provided by the user over the default title from the page
  cms/jinja2/templates/base.html
Due: none

help text update
  cms/navigation/models.py
Due: pylint

Type hints added
  cms/navigation/models.py
Due: pylint

Migration file regenerated
  cms/navigation/migrations/0001_initial.py
Due: pylint

Tests added
  cms/navigation/tests.py
  cms/navigation/tests/__init__.py
  cms/navigation/tests/factories.py
  cms/navigation/tests/test_blocks.py
  cms/navigation/tests/test_models.py
  cms/navigation/tests/test_views.py
Due: pylint
