Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

build(deps-dev): upgrade django-debug-toolbar and django-migration-linter
  poetry.lock
  pyproject.toml
Due: none

build(deps-dev): upgrade test tooling
  poetry.lock
  pyproject.toml
Due: none

specify cryptography with markers for intel mac
  poetry.lock
  pyproject.toml
Due: none

remove comma
  pyproject.toml
Due: none

regenerate lock file
  poetry.lock
Due: none

chore(deps): specify cryptography with markers for intel mac (#756)
  poetry.lock
  pyproject.toml
Due: none

revert dependabot ignore
  .github/dependabot.yml
Due: lint:format

try removing grype and osv-scanner config for cryptography
  .github/linters/.grype.yaml
  .github/linters/osv-scanner.toml
Due: lint:format

update megalinter config files to be more specific
  .github/linters/.grype.yaml
  .github/linters/osv-scanner.toml
Due: lint:format

fix: update file size attribute value so its consistent across components
  cms/core/blocks/markup.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_chart_blocks_base.py
Due: pylint

chore(config): revert dependabot ignore config and update grype/osv-scanner configs (#757)
  .github/dependabot.yml
  .github/linters/.grype.yaml
  .github/linters/osv-scanner.toml
Due: lint:format

feat: upgrade DS to the preview of 74.0.0, and update templates (#702)
  .design-system-version
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/back-to-top/back-to-top.html
  cms/jinja2/templates/components/definitions/definition_preview.html
  cms/jinja2/templates/components/navigation/breadcrumbs.html
  cms/jinja2/templates/components/navigation/footer_menu_preview.html
  cms/jinja2/templates/components/navigation/main_menu_preview.html
  cms/jinja2/templates/components/preview-bar/preview-bar.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/errors/403.html
  cms/jinja2/templates/pages/errors/base_error.html
  cms/jinja2/templates/pages/home_page.html
  cms/jinja2/templates/pages/index_page.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/login_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/release_index.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_index_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/jinja2/templates/pages/wagtail/password_required.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/static_src/sass/components/design_system_overrides/_grid.scss
  cms/static_src/sass/components/design_system_overrides/_header.scss
  cms/static_src/sass/main.scss
  cms/urls.py
Due: pylint, lint:css, lint:format

revert word count stringifying and update function return signature
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
Due: pylint

put back as string
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
Due: pylint

build(deps-dev): upgrade ruff to 0.16.1
  .pre-commit-config.yaml
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/notifications/slack.py
  cms/bundles/wagtail_hooks.py
  cms/core/logs.py
  cms/core/migrations/0018_migrate_table_caption_to_subtitle.py
  cms/core/models/base.py
  cms/core/wagtail_hooks.py
  cms/datasets/utils.py
  cms/private_media/storages.py
  docs/conventions/type_hinting.md
  docs/custom-features/db-read-replica.md
  docs/troubleshooting.md
  functional_tests/steps/autosave.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

build(deps-dev): upgrade mypy to 2.3.0
  poetry.lock
  pyproject.toml
Due: none

build(deps): refresh transitive dependencies
  poetry.lock
Due: none

build(deps): upgrade wagtail-tinytableblock to 0.5.0
  functional_tests/steps/statistical_article_page.py
  poetry.lock
  pyproject.toml
Due: pylint

fix(functional-tests): ensure design system is initialised, then look for csv download elements (#751)
  functional_tests/steps/statistical_article_page.py
Due: pylint

fix: use 1024 instead of 1000 for KB file size conversion
  cms/core/blocks/embeddable.py
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_chart_blocks_base.py
Due: pylint

Add tests for information pages
  cms/standard_pages/tests/test_models.py
Due: pylint

fix: round file size to 3 dp and create format_file_kb helper function
  cms/core/blocks/embeddable.py
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/utils.py
  cms/datavis/tests/test_chart_blocks_base.py
Due: pylint

fix: revert change to how the 'Download CSV' link text is formed as the change is no longer needed
  cms/core/blocks/markup.py
  cms/datavis/blocks/base.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

fix: create absolute url to get domain attribute value incase the download url is relative
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_chart_blocks_base.py
Due: pylint

feat(auth): add checks for admin login mechanisms and prevent redirect loops
  cms/auth/checks.py
  cms/auth/tests/test_checks.py
Due: pylint

chore: update branch
  ci/concourse.yaml
Due: lint:format

Return to draft via unlock
  cms/workflows/action_menu.py
  cms/workflows/locks.py
  cms/workflows/models.py
  cms/workflows/templates/workflows/confirm_unlock.html
  cms/workflows/utils.py
  cms/workflows/views.py
  cms/workflows/wagtail_hooks.py
Due: pylint

SPIKE: Update workflows to lock in preview
  cms/workflows/action_menu.py
  cms/workflows/locks.py
  cms/workflows/models.py
  cms/workflows/templates/wagtailadmin/workflows/workflow_status.html
  cms/workflows/utils.py
  cms/workflows/views.py
  cms/workflows/wagtail_hooks.py
Due: pylint

fix: only generate absolute url if not preview
  cms/core/blocks/markup.py
  cms/datavis/blocks/base.py
Due: pylint

fix: remove additional space in link text
  cms/datavis/blocks/base.py
Due: pylint

test: fix test_download_config_not_in_preview_mode_uses_real_url to handle the new build_absolute_uri call in _get_csv_download_item
  cms/datavis/tests/test_chart_blocks_base.py
Due: pylint

Makes test step more robust
  functional_tests/steps/methodology_page.py
Due: pylint

feat: implement handling for restricted pages in external environment to return 404
  cms/articles/models.py
  cms/articles/tests/test_series_models.py
  cms/core/utils.py
  cms/core/wagtail_hooks.py
  docs/custom-features/page_privacy.md
Due: pylint

feat: enhance serve_page_with_view_restrictions to handle routed pages and view restrictions
  cms/articles/models.py
  cms/articles/tests/test_series_models.py
  cms/core/utils.py
Due: pylint

feat: iframe implementation (#744)
  cms/articles/tests/test_article_models.py
  cms/core/blocks/stream_blocks.py
  cms/core/context_processors.py
  cms/core/models/base.py
  cms/core/tests/test_context_processors.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/iframe.py
  cms/datavis/tests/test_iframe_block.py
  cms/jinja2/assets/js/third-party/pym.min.js
  cms/jinja2/templates/components/streamfield/datavis/iframe_visualisation_block.html
  cms/jinja2/templates/partials/content_scripts.html
  cms/standard_pages/blocks.py
  cms/standard_pages/tests/test_models.py
  cms/static_src/sass/components/_chart-embed.scss
Due: pylint, lint:js, lint:css, lint:format

chore: Upgrade javascript deps where possible
  package-lock.json
  package.json
Due: lint:format

chore: Update package-lock.json
  package-lock.json
Due: lint:format

fix(blocks): enforce required fields on save for datavis blocks
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/table.py
Due: pylint

fix: downgrade to eslint 8
  package-lock.json
  package.json
Due: lint:format

fix: override selector naming pattern rules
  .eslintrc.js
  .stylelintrc.js
  cms/core/static/js/blocks/previous-version-block.js
Due: lint:js, lint:format
