Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

docs(deps): note wagtail-polymath migration for a configurable MathJax CDN
  pyproject.toml
Due: none

build(deps): upgrade cryptography and gunicorn for security fixes
  poetry.lock
  pyproject.toml
Due: none

build(deps): upgrade matplotlib to 3.11.1
  poetry.lock
  pyproject.toml
Due: none

build(deps-dev): upgrade ruff to 0.16.1
  .pre-commit-config.yaml
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/notifications/slack.py
  cms/bundles/wagtail_hooks.py
  cms/core/logs.py
  cms/core/migrations/0018_migrate_table_caption_to_subtitle.py
  cms/core/models/base.py
  cms/core/wagtail_hooks.py
  cms/datasets/utils.py
  cms/private_media/storages.py
  docs/conventions/type_hinting.md
  docs/custom-features/db-read-replica.md
  docs/troubleshooting.md
  functional_tests/steps/autosave.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

build(deps-dev): upgrade django-debug-toolbar and django-migration-linter
  poetry.lock
  pyproject.toml
Due: none

build(deps-dev): upgrade test tooling
  poetry.lock
  pyproject.toml
Due: none

build(deps-dev): upgrade mypy to 2.3.0
  poetry.lock
  pyproject.toml
Due: none

build(deps): upgrade wagtail-tinytableblock to 0.5.0
  functional_tests/steps/statistical_article_page.py
  poetry.lock
  pyproject.toml
Due: pylint

fix: use correct eslint config settings
  eslint.config.js
Due: lint:js, lint:format

chore: remove redundant packages (typescript, react, jest)
  Dockerfile
  babel.config.js
  eslint.config.js
  eslint.config.mjs
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: lint:js, lint:format

Remove disconnecting of handlers
  cms/frontend_cache/signal_handlers.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

fix: copy babel.config.js into frontend-build context
  Dockerfile
Due: none

fix typos
  cms/bundles/forms.py
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_views.py
  docs/integrations/dataset_api.md
Due: pylint

chore: move globals to devDependencies
  package-lock.json
  package.json
Due: lint:format

capitalise URL
  docs/integrations/dataset_api.md
Due: none

style: apply ruff 0.16.1 formatting
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

fix nesting on validation against dataset
  cms/bundles/forms.py
Due: pylint

Handle index page moves
  cms/frontend_cache/cache.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

add test to ensure rows sharing a namespace all get validated
  cms/bundles/tests/test_forms_with_bundle_api.py
Due: pylint

Add requested comment
  cms/settings/base.py
Due: pylint

Handle all aliases in purge
  cms/frontend_cache/cache.py
Due: pylint

remove redundant `self.topic_id` check
  cms/datasets/models.py
Due: pylint

guard against present but null topics field
  cms/datasets/models.py
Due: pylint

a test commit
  README.md
Due: none

uppercase jira issue key when added to PR body
  .github/workflows/pr-standards.yml
Due: lint:format

uppercase jira issue key when added to PR body (#787)
  .github/workflows/pr-standards.yml
Due: lint:format

Address N+1 issue
  cms/frontend_cache/cache.py
Due: pylint

address PR comments
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Upgrade the DS to74.0.0-next.8 74.0.0-next.8 and make the back to top link code more DRY
  .design-system-version
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/back-to-top/back-to-top.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/errors/base_error.html
  cms/jinja2/templates/pages/home_page.html
  cms/jinja2/templates/pages/index_page.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/login_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/release_index.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_index_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: none

Set a fixed value for test over purge
  cms/settings/test.py
Due: pylint

Add an empty div above the back-to-top to prevent an error when there is no previous sibling
  cms/jinja2/templates/base_page.html
Due: none

chore(taxonomy): add make target to delete topics
  Makefile
Due: none

Update cms/jinja2/templates/base_page.html
  cms/jinja2/templates/base_page.html
Due: none

chore(taxonomy): add make target to delete topics (#793)
  Makefile
Due: none

Djlint should ignore empty div
  cms/jinja2/templates/base_page.html
Due: none

add cookies page remove banner
  cms/settings/base.py
  cms/standard_pages/tests/test_pages.py
Due: pylint

chore: upgrade the DS to 74.0.0-next.8 and make the back to top link code more DRY (#789)
  .design-system-version
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/back-to-top/back-to-top.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/errors/base_error.html
  cms/jinja2/templates/pages/home_page.html
  cms/jinja2/templates/pages/index_page.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/login_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/release_index.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_index_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: none

build(deps): upgrade Wagtail to 7.4.2 and django-redis to 7.0.0
  poetry.lock
  pyproject.toml
Due: none

test(workflows): update action menu assertions for Wagtail 7.4
  cms/workflows/tests/test_workflow_tweaks.py
Due: pylint

fix(bundles): use RelatedFields for team_id search filter
  cms/bundles/models.py
Due: pylint
