Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

redeploy django.po
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

fix(release-calendar): localise table of contents labels (#776)
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

update custom features readme
  docs/custom-features/README.md
Due: none

update docs readme
  docs/README.md
Due: none

doc second draft
  docs/custom-features/bundles.md
  docs/custom-features/post-publish-actions.md
Due: none

add short docstring for `flush_executor`
  cms/post_publish_actions/executor.py
Due: pylint

run formatter
  docs/custom-features/post-publish-actions.md
Due: none

add note to notification sequencing
  docs/custom-features/post-publish-actions.md
Due: none

add note about re-creating action entries
  docs/custom-features/post-publish-actions.md
Due: none

feat(datasets): link release calendar datasets to the assigned edition
  cms/articles/tests/test_pages.py
  cms/datasets/models.py
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/utils.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
  cms/topics/tests/test_pages.py
Due: pylint

fix(datasets): normalise both sides of the duplicate dataset comparison
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
Due: pylint

fix(datasets): compare resolved URLs when validating duplicate datasets
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
  cms/release_calendar/models.py
Due: pylint

test(datasets): drop the redundant clean() test
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
Due: pylint

feat(datasets): explain why duplicate dataset links collide
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
Due: pylint

test(functional): assert dataset link destinations through the chooser
  functional_tests/features/release_page.feature
  functional_tests/features/statistical_article_page.feature
  functional_tests/features/topic_page.feature
  functional_tests/steps/datasets.py
Due: pylint

fix(datasets): keep the ignore_required_constraints argument on clean()
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
Due: pylint

test(datasets): tidy assertionse
  cms/datasets/tests/test_blocks.py
Due: pylint

test(datasets): Tidy comments
  cms/articles/tests/test_pages.py
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/release_calendar/tests/test_models.py
  cms/topics/tests/test_pages.py
Due: pylint

docs(datasets): describe current behaviour rather than the change
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
  cms/release_calendar/tests/test_models.py
Due: pylint

test(datasets): pin the rendered dataset href on release calendar pages
  cms/release_calendar/tests/test_models.py
Due: pylint

refactor(datasets): fold the edition path into get_url_path()
  cms/datasets/models.py
  cms/datasets/tests/test_models.py
Due: pylint

fix(datasets): name the real destination in the duplicate dataset error
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
  cms/release_calendar/tests/test_models.py
Due: pylint

refactor(datasets): read the link destination from the block definition
  cms/datasets/blocks.py
  cms/datasets/models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/utils.py
  cms/release_calendar/models.py
Due: pylint

test(datasets): cover a manual link to one version of the edition
  cms/datasets/tests/test_blocks.py
Due: pylint

remove TOC
  docs/custom-features/post-publish-actions.md
Due: none

test(functional-tests): functional test reliability improvements (#769)
  Makefile
  docker-compose-dev.yml
  functional_tests/step_helpers/release_page_helpers.py
  functional_tests/step_helpers/utils.py
  functional_tests/steps/bundles.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/topic_page_manual_related_articles.py
  functional_tests/steps/topic_page_manual_related_methodologies.py
Due: pylint, lint:format

fix(datasets): drop the trailing slash from the edition path
  cms/datasets/models.py
  cms/datasets/tests/test_blocks.py
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/release_calendar/tests/test_models.py
  functional_tests/steps/datasets.py
Due: pylint

chore(functional-tests): increase the number of test shards from 6 to 12 for improved parallelism
  .github/workflows/ci.yml
Due: lint:format

Update dependency caching and installing in CI
  .github/workflows/ci.yml
Due: lint:format

merge from main
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

fix: add 'Live + Draft' status to release calendar and bundled pages chooser panel
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/core/formatting_utils.py
  cms/core/tests/test_formatting_utils.py
  cms/release_calendar/tests/test_utils.py
  cms/release_calendar/utils.py
Due: pylint

upgrade django minor version
  poetry.lock
  pyproject.toml
Due: none

docs(post-publish-actions): post publish actions documentation (#770)
  cms/post_publish_actions/executor.py
  docs/README.md
  docs/custom-features/README.md
  docs/custom-features/bundles.md
  docs/custom-features/post-publish-actions.md
Due: pylint

chore(functional-tests): reduce the number of test shards from 12 to 8
  .github/workflows/ci.yml
Due: lint:format

feat: add overpurge for paginated pages
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/frontend_cache/tests/test_signal_handlers.py
  cms/settings/base.py
Due: pylint

merge from main re-insert missing translations
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

refactor: use dataclass for DummyStatusPage
  cms/core/tests/test_formatting_utils.py
Due: pylint

upgrade django minor version (#779)
  poetry.lock
  pyproject.toml
Due: none
