Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Prevent deletion of bundles ready to be published (#530)
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Add Lighthouse Audit information to README.md
  README.md
Due: none

Refactor Welsh menu creation to reuse English menu translation keys and test_viewsets tests improved.
  cms/navigation/migrations/0006_create_welsh_menus.py
  cms/navigation/tests/test_viewsets.py
Due: pylint

Address linter issue
  README.md
Due: none

Add MainMenuFixtureBuilder for creating MainMenu fixtures with highlights and columns and step def in navigation_menus.py for main menus creation and verification refactored.
  functional_tests/step_helpers/navigation_menus_helpers.py
  functional_tests/steps/navigation_menus.py
Due: pylint

Add lighthouse to dev dependencies
  README.md
  package-lock.json
  package.json
Due: lint:format

Remove richtext filter from notes and footnotes sections from image_block and table_block templates.
  cms/jinja2/templates/components/streamfield/image_block.html
  cms/jinja2/templates/components/streamfield/table_block.html
Due: none

Fix creation of localised URLs for routable pages
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_tags.py
Due: pylint

Don't rely on indexes
  cms/core/tests/test_tags.py
Due: pylint

Expand tests and add abstraction
  cms/core/tests/test_tags.py
Due: pylint

chore: disable Trivy SBOM linter as a precaution
  .mega-linter.yml
Due: lint:format

fix: add missing richText options and filters
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

chore: update functional test step wording
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
Due: pylint

chore: disable Trivy SBOM linter as a precaution (#547)
  .mega-linter.yml
Due: lint:format

fix: ArticleSeriesPage summary + expand tests
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_pages.py
  cms/methodology/tests/test_pages.py
  cms/standard_pages/tests/test_models.py
  cms/themes/tests/test_models.py
  cms/topics/tests/test_models.py
Due: pylint

Allow only 2 homepages, add functional test
  cms/home/models.py
  functional_tests/features/home_page.feature
  functional_tests/steps/page_navigator.py
Due: pylint

Test page config in different locales
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
Due: pylint

CMS-1129 - Cache sessions (#539)
  cms/settings/base.py
Due: pylint

Resolve TODO and update test
  cms/articles/tests/test_series_models.py
Due: pylint

Add workaround for live button URL in admin panel
  cms/core/models/base.py
  cms/locale/tests/test_path_localisation.py
  cms/locale/tests/test_utils.py
  cms/locale/utils.py
Due: pylint

Add cache key variation to make testing easier
  cms/locale/utils.py
Due: pylint

Add Lighthouse audit information to README.md (#544)
  README.md
  package-lock.json
  package.json
Due: lint:format

Replace functional test with unit test
  cms/home/tests/test_models.py
  functional_tests/features/home_page.feature
  functional_tests/steps/page_navigator.py
Due: pylint

Add ability to specify linters for Megalinter (#536)
  Makefile
  README.md
Due: none

Fix comments for clarity in Welsh menu migration and added a comment to explain my inverse XOR pattern in navigation_menus_helpers.py file.
  cms/navigation/migrations/0006_create_welsh_menus.py
  functional_tests/step_helpers/navigation_menus_helpers.py
Due: pylint

Refactor menu locale retrieval to return lists instead of sets in tests to guard future bugs where the migration might accidentally create duplicate English menus etc.
  cms/navigation/tests/test_viewsets.py
Due: pylint

Upgrade Design System to 73.3.0 (#543)
  .design-system-version
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_pages.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/pages/index_page.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/methodology/tests/test_pages.py
  cms/standard_pages/tests/test_models.py
  cms/themes/tests/test_models.py
  cms/topics/tests/test_models.py
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
Due: pylint

Handle `delete_many` being called with a generator
  cms/core/cache.py
  cms/core/tests/test_cache.py
Due: pylint

Use independent caches for caching test cases
  cms/core/tests/test_tags.py
Due: pylint

Remove Unnecessary Richtext Filters (#545)
  cms/jinja2/templates/components/streamfield/image_block.html
  cms/jinja2/templates/components/streamfield/table_block.html
Due: none

CMS-1064 Prevent users from creating Home pages (#548)
  cms/home/models.py
  cms/home/tests/test_models.py
Due: pylint

CMS-1083 - Support invalidating an additional cache (#524)
  cms/core/cache.py
  cms/core/tests/test_cache.py
  cms/settings/base.py
  docs/custom-features/README.md
  docs/custom-features/cache-invalidation-replay.md
Due: pylint

[Welsh Locale] Main and Footer Menu Auto Initialisation (#542)
  cms/navigation/migrations/0005_create_default_menus.py
  cms/navigation/migrations/0006_create_welsh_menus.py
  cms/navigation/tests/test_viewsets.py
  functional_tests/features/cookies_management.feature
  functional_tests/features/home_page.feature
  functional_tests/features/navigation_menus.feature
  functional_tests/step_helpers/navigation_menus_helpers.py
  functional_tests/steps/home_page.py
  functional_tests/steps/navigation_menus.py
Due: pylint

Fix unlock confirmation screen rejection URL
  cms/workflows/templates/workflows/confirm_unlock.html
  cms/workflows/tests/test_views.py
Due: pylint

Remove translation tags
  cms/workflows/templates/workflows/confirm_unlock.html
Due: none

Update messages
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Fix lack of title
  cms/workflows/templates/workflows/confirm_unlock.html
  cms/workflows/tests/test_views.py
Due: pylint

Basing this PR of Jake's CMS-1122/ #526 branch to pull in the page config logic done in Python. page_config_tags.py updated. - base_page_config "toggleNavButton" replaced with "toggleMenuButton"
  cms/core/templatetags/page_config_tags.py
Due: pylint

Fix toggle button key in base page config for main menu
  cms/core/templatetags/page_config_tags.py
Due: pylint

Update cms/workflows/templates/workflows/confirm_unlock.html
  cms/workflows/templates/workflows/confirm_unlock.html
Due: none
