Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Exclude migration from linting
  cms/settings/dev.py
Due: pylint

Add tests
  cms/bundles/tests/test_viewsets.py
  cms/release_calendar/tests/test_viewsets.py
  cms/topics/tests/test_viewsets.py
Due: pylint

Fix UI tests
  functional_tests/steps/release_page.py
Due: pylint

Add functional tests
  functional_tests/features/workflows.feature
  functional_tests/steps/page_editor.py
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/workflows.py
Due: pylint

Add comment with reference to Jinja policies docs
  cms/settings/base.py
Due: pylint

Prevent deletion of pages
  cms/articles/tests/test_models.py
  cms/articles/wagtail_hooks.py
  cms/topics/static/topics/js/headline-figure-block.js
Due: pylint, lint:js, lint:format

fixup! Add tests for bundle utils
  cms/bundles/tests/test_utils.py
Due: pylint

fixup! Add functional tests
  functional_tests/steps/statistical_article_page.py
Due: pylint

Refactor code
  cms/articles/wagtail_hooks.py
Due: pylint

docs: Add link to Python docs example
  cms/core/jinja2.py
Due: pylint

Refactor datetime input handling: consolidate AM/ PM logic into a single function and improve error handling for unsupported indicators.
  functional_tests/steps/release_page.py
Due: pylint

Rename figure field
  cms/articles/models.py
  cms/topics/blocks.py
  cms/topics/static/topics/js/headline-figure-block.js
  cms/topics/tests/test_pages.py
Due: pylint, lint:js, lint:format

Refactor debug toolbar settings to conditionally enable based on DEBUG flag
  cms/settings/dev.py
  cms/settings/local.py.example
Due: pylint

Fix tests
  cms/articles/tests/test_models.py
  cms/articles/tests/test_pages.py
Due: pylint

Remove Django Debug Toolbar setting from local configuration/ copy pasta fail
  cms/settings/local.py.example
Due: none

test: Update tests of chart config
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

Upgrade chart builder to use Design System version 72.8.0 (#153)
  .design-system-version
  cms/core/jinja2.py
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_jinja2.py
  cms/core/tests/test_tags.py
  cms/datavis/blocks/base.py
  cms/datavis/tests/test_chart_blocks.py
  cms/jinja2/templates/components/streamfield/datavis/_macro.njk
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
  cms/settings/base.py
  cms/static_src/javascript/components/highcharts-base-chart.js
  cms/static_src/javascript/main.js
Due: pylint, lint:js, lint:format

Allow CI for PRs against the datavis branch
  .github/workflows/ci.yml
Due: lint:format

Rename unused form module
  cms/datavis/forms/visualisation.py_
Due: none

Placate mypy
  cms/users/models.py
Due: pylint

Add additional tests
  cms/bundles/tests/test_viewsets.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

Temporarily exclude the datavis migrations from migration linting
  cms/settings/dev.py
Due: pylint

Check for Welsh title
  cms/bundles/tests/test_viewsets.py
Due: pylint

Allow the CI to run for datavis PRs (#168)
  .github/workflows/ci.yml
  cms/datavis/forms/visualisation.py_
  cms/settings/dev.py
  cms/users/models.py
Due: pylint, lint:format

Add Custom Date Formatting Filter For Jinja Templates (#138)
  cms/core/custom_date_format.py
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_custom_date_format.py
  cms/core/tests/test_jinja2tags.py
  cms/jinja2/templates/components/streamfield/correction_block.html
  cms/jinja2/templates/components/streamfield/notice_block.html
  cms/jinja2/templates/components/streamfield/release_date_change_block.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

Fix tests
  cms/bundles/tests/test_viewsets.py
Due: pylint

Update usage of the date filter to ons_date
  cms/jinja2/templates/components/featured/featured-article.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Use correct date format and space stripping options on new vars
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
Due: none

fixup! Use correct date format and space stripping options on new vars
  cms/jinja2/templates/components/featured/featured-article.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

remove old meta data from stat article page hero which snuck in after merge with main
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Update column order and button label
  cms/topics/viewsets/series_with_headline_figures.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

Update remaining page hero banners to use DS component (#154)
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
Due: none

Add locale column to additional choosers (#167)
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/release_calendar/tests/test_viewsets.py
  cms/release_calendar/viewsets.py
  cms/topics/tests/test_viewsets.py
  cms/topics/viewsets.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

Add locale label to admin page tree view
  cms/core/templates/wagtailadmin/pages/page_listing_header.html
  cms/core/tests/test_views.py
Due: pylint

Addressed comments
  cms/jinja2/assets/js/hide-date-text-on-non-provisional-releases.js
  functional_tests/features/release_page.feature
Due: lint:js, lint:format

Add template test for edit page
  cms/articles/templates/wagtailadmin/pages/edit.html
  cms/articles/templates/wagtailadmin/shared/figures_used_by_ancestor_data.html
  cms/articles/tests/test_pages.py
Due: pylint

Use parent_page.is_root
  cms/core/templates/wagtailadmin/pages/page_listing_header.html
Due: none

Add locale label to admin page tree view (#170)
  cms/core/templates/wagtailadmin/pages/page_listing_header.html
  cms/core/tests/test_views.py
Due: pylint

feat: Add Bar/Column chart block
  cms/core/blocks/stream_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Due: pylint

Fix URI generation in build_standard_resource_dict to remove home prefix
  cms/search/tests/helpers.py
  cms/search/tests/test_api_views.py
  cms/search/tests/test_kafka_integration.py
  cms/search/utils.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
