Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Redundant HeadingBlock from CoreSectionContentBlock (StreamBlock) removed.
  cms/core/blocks/section_blocks.py
Due: pylint

Remove unnecessary blank line at the beginning of test_models.py
  cms/standard_pages/tests/test_models.py
Due: pylint

standard_pages/tests/test_viewsets.py StandardPagesAddViewTests added to test the Index and Information page, creation and restriction logic
  cms/standard_pages/tests/test_viewsets.py
Due: pylint

Ignore migration for dropping fields in IndexPage content
  cms/settings/dev.py
Due: pylint

Increase timeout
  functional_tests/steps/statistical_article_page.py
Due: pylint

Add docstring to test
  cms/core/tests/test_db_router.py
Due: pylint

Improve parameter name
  cms/core/db_router.py
Due: pylint

Re-add step to check date placeholder in textbox
  functional_tests/steps/information_page.py
Due: pylint

fix: skip empty StreamField revisions during migration
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Check if nvm.sh exists before running
  Makefile
Due: none

.po file regenerated
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Parameterise port numbers (#474)
  .docker/Procfile
  .secrets.baseline
  Makefile
  cms/settings/base.py
  cms/settings/dev.py
  docker-compose-dev.yml
  docker-compose.yml
  package.json
  webpack.config.js
Due: pylint, lint:js, lint:format

fix: skip empty StreamField revisions during migration (#478)
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

fix: add logging for stream_data type and skip empty StreamField revisions in migration
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

fix: enhance revision migration by skipping non-StreamField content and logging details
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Lint
  cms/articles/models.py
  cms/core/models/base.py
  cms/locale/middleware.py
Due: pylint

Lint error fixed
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Guards for non-json data swapped to use try and except
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

De-nested the try block
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Redundant comment removed.
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Removed exposing raw data in the logs.
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Fix 2: Handle Richtextfield in ImageBlock Migration (#479)
  cms/core/migrations/0011_migrate_imageblock_caption.py
Due: pylint

Fix failing tests
  cms/articles/tests/test_pages.py
  cms/articles/tests/test_series_models.py
  cms/core/models/base.py
  cms/core/tests/test_pages.py
  functional_tests/steps/table_of_contents.py
  functional_tests/steps/topic_page.py
Due: pylint

chore(ci): update script comment
  ci/scripts/build.sh
Due: none

Address further code review comments and tidy up functional tests
  cms/workflows/models.py
  cms/workflows/tests/test_workflow_tweaks.py
  functional_tests/features/workflows.feature
  functional_tests/steps/bundles.py
Due: pylint

chore(ci): update script comment (#480)
  ci/scripts/build.sh
Due: none

Log viewed headline figures in chooser
  cms/topics/tests/test_viewsets.py
  cms/topics/viewsets/series_with_headline_figures.py
  cms/topics/wagtail_hooks.py
Due: pylint

Disable auto merge + temp test staging/prod
  ci/concourse.yaml
Due: lint:format

Update comment + makefile
  .docker/Makefile
Due: none

Update comment + makefile
  ci/scripts/build.sh
Due: none

.po file reverted to what's on main to check for some issues.
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

information_page.feature file TODO added above de-deduplicate UI test scenario and CoreSectionContentBlock blocks re-ordered to align with SectionContentBlock.
  cms/core/blocks/section_blocks.py
  functional_tests/features/information_page.feature
Due: pylint

information_page.feature file updated to include a scenario to test the index page auto population of info pages mechanism. - factories and step file updated to reflect the changes
  cms/core/tests/factories.py
  cms/standard_pages/tests/factories.py
  functional_tests/features/information_page.feature
  functional_tests/steps/information_page.py
Due: pylint

Better support forcing the write database instance (#476)
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/management/commands/publish_scheduled_without_bundles.py
  cms/bundles/tests/test_management_commands.py
  cms/core/db_router.py
  cms/core/tests/test_db_router.py
  cms/core/tests/test_settings.py
  cms/datasets/tests/test_views.py
  cms/datasets/views.py
  docs/custom-features/db-read-replica.md
Due: pylint

Fix tests, expand logging
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
  cms/bundles/wagtail_hooks.py
  cms/core/tests/test_wagtail_hooks.py
  cms/core/wagtail_hooks.py
  cms/documents/tests/test_audit.py
  cms/images/tests/test_audit.py
Due: pylint

Expand logging to previews
  cms/articles/models.py
  cms/articles/tests/test_views.py
  cms/core/models/base.py
  cms/core/tests/test_preview_audit.py
  cms/core/tests/test_wagtail_hooks.py
  cms/core/wagtail_hooks.py
Due: pylint

Remove rogue file
  core
Due: none

Make the details and contact details snippets revisionable and draftable
  cms/core/migrations/0012_make_contactdetails_and_definition_revisionable_and_draftable.py
  cms/core/models/snippets.py
  cms/core/tests/test_models.py
Due: pylint

Exclude draft-only contact details/definitions from choosers
  cms/core/tests/test_viewsets.py
  cms/core/viewsets.py
Due: pylint

Address code review comment
  cms/workflows/locks.py
Due: pylint
