Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

CSP and security headers (#603)
  .secrets.baseline
  cms/auth/tests/test_utils.py
  cms/auth/utils.py
  cms/bundles/signal_handlers.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
  cms/private_media/views.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/test.py
  cms/settings/tests/test_settings.py
  cms/static_src/javascript/auth.js
  cms/urls.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:js, lint:format

docs: update actions/checkout version to v4.2.2 for clarity
  README.md
Due: none

Update Python packages + Poetry 2.4.1
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: lint:format

fix: pylint
  cms/bundles/tests/test_bundle_api_sync_service.py
  cms/private_media/views.py
Due: pylint

fix: mypy (unused ignores)
  cms/bundles/models.py
  cms/bundles/notifications/email.py
  cms/core/models/base.py
  cms/images/models.py
  cms/taxonomy/models.py
Due: pylint

fix: lint
  cms/bundles/bundle_api_sync_service.py
  cms/core/db_router.py
  cms/core/utils.py
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Add default heading and breadcrumbs, and render cookies page correctly.
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/navigation/breadcrumbs.html
  cms/jinja2/templates/pages/cookies.html
Due: none

Enusre that the help text shows on the caption field - redeclare the caption field, and remove the __init__ override. The search index should default to True already.
  cms/core/blocks/markup.py
Due: pylint

Linting
  cms/jinja2/templates/pages/methodology_page.html
Due: none

Add order by -first_published_at
  cms/articles/models.py
Due: pylint

Update Python packages + Poetry 2.4.1 (#711)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  cms/bundles/bundle_api_sync_service.py
  cms/bundles/models.py
  cms/bundles/notifications/email.py
  cms/bundles/tests/test_bundle_api_sync_service.py
  cms/core/db_router.py
  cms/core/models/base.py
  cms/core/utils.py
  cms/images/models.py
  cms/private_media/views.py
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/models.py
  cms/taxonomy/tests/test_management_commands.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Table accessibility improvements (#651)
  cms/core/blocks/markup.py
  cms/core/migrations/0018_migrate_table_caption_to_subtitle.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/table_block.html
  functional_tests/steps/statistical_article_page.py
Due: pylint

fix lockfile content hash
  poetry.lock
Due: none

fix(csp): align iframe frame-src with allowed domain validation
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

Add previous releases preview mode (#701)
  cms/articles/models.py
  cms/articles/tests/test_series_models.py
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

fix(csp): align iframe frame-src with allowed domain validation (#712)
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

Add log timeout for base page saves
  cms/bundles/viewsets/bundle.py
  cms/core/models/base.py
  cms/core/tests/test_edit_save_audit.py
  cms/core/wagtail_hooks.py
  cms/settings/base.py
Due: pylint

fix(docs): update GitHub Actions version pinning example to include full tag version
  README.md
Due: none

Update ci.yml to include branch name
  .github/workflows/ci.yml
Due: lint:format

Expand activity logs (#446)
  .secrets.baseline
  cms/articles/models.py
  cms/articles/tests/test_views.py
  cms/bundles/tests/test_audit_formatters.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
  cms/bundles/viewsets/utils.py
  cms/bundles/wagtail_hooks.py
  cms/core/apps.py
  cms/core/audit.py
  cms/core/models/base.py
  cms/core/tests/test_audit.py
  cms/core/tests/test_edit_save_audit.py
  cms/core/tests/test_preview_audit.py
  cms/core/tests/test_wagtail_hooks.py
  cms/core/wagtail_hooks.py
  cms/data_downloads/views.py
  cms/documents/tests/test_audit.py
  cms/images/tests/test_audit.py
  cms/methodology/models.py
  cms/settings/base.py
  cms/standard_pages/models.py
  cms/topics/tests/test_viewsets.py
  cms/topics/viewsets/series_with_headline_figures.py
  cms/topics/wagtail_hooks.py
Due: pylint

docs: add guidance on pinning github actions to sha hashes for security (#708)
  README.md
Due: none

Content types auto added for internal links (#700)
  cms/articles/models.py
  cms/core/enums.py
  cms/core/formatting_utils.py
  cms/core/models/base.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_formatting_utils.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/home/models.py
  cms/locale/cy/LC_MESSAGES/django.po
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/themes/models.py
  cms/topics/blocks.py
  cms/topics/models.py
  cms/topics/tests/test_blocks.py
Due: pylint

Add missing fields to external links in "Related Articles" section on topic page (#637)
  cms/core/formatting_utils.py
  cms/locale/cy/LC_MESSAGES/django.po
  cms/topics/migrations/0010_topicpagerelatedarticle_content_type_and_more.py
  cms/topics/models.py
  cms/topics/services/related_content.py
  cms/topics/services/types.py
  cms/topics/tests/test_migrations.py
  cms/topics/tests/test_models.py
  functional_tests/features/topic_page_manual_related_articles.feature
  functional_tests/steps/topic_page_manual_related_articles.py
Due: pylint

feat(auth): add check for WAGTAILADMIN_LOGIN_URL to prevent self-redirect loops and enhance frontend login redirect handling
  cms/auth/checks.py
  cms/auth/tests/test_checks.py
  cms/auth/tests/test_views.py
  cms/auth/views.py
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: pylint

fix(docs): update link for Open Government Licence v3.0 in README
  README.md
Due: none

fix: allow approval of pages-only bundles without dataset metadata validation
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
Due: pylint

disable gitleaks, convert `.gitleaks.toml` to `betterleaks.toml`
  .github/linters/.gitleaks.toml
  .github/linters/betterleaks.toml
  .mega-linter.yml
Due: lint:format

direct betterleaks to correct config file while using gitleaks config style
  .github/linters/betterleaks.toml
  .mega-linter.yml
Due: lint:format

fix comment
  .mega-linter.yml
Due: lint:format

ci(github): validate PR branch names and semantic titles
  .github/workflows/pr-standards.yml
Due: lint:format

chore: enforce lowercase subject
  .github/workflows/pr-standards.yml
Due: lint:format

use callable in db config to ensure pool creates connections with valid IAM tokens
  .secrets.baseline
  cms/core/db_iam_config.py
  cms/core/rds_client.py
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

fix boto stubs install
  poetry.lock
  pyproject.toml
Due: none

refetch timstamps and only update if modified
  cms/bundles/notifications/slack.py
Due: pylint

use default betterleaks config file location
  .github/linters/.betterleaks.toml
  .mega-linter.yml
Due: lint:format

Add missing paths to MethodologyPage
  cms/methodology/models.py
  cms/methodology/tests/test_models.py
Due: pylint

chore: disallow concurrent execution
  .github/workflows/pr-blocked-labels.yml
  .github/workflows/pr-standards.yml
Due: lint:format

fix: prevent unnecessary mock calls during bundle metadata validation tests
  cms/bundles/tests/test_forms_with_bundle_api.py
Due: pylint

use specific when fetching pages to make class attributes available in actions
  cms/post_publish_actions/executor.py
Due: pylint

fix: allow approval of pages-only bundles without dataset metadata validation (#715)
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
Due: pylint
