Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Update template tags
  cms/jinja2/templates/base.html
  cms/navigation/templatetags/navigation_tags.py
Due: pylint

Ensure the highlighting works correctly for the table of contents
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Ensure the highlighting works correctly for the table of contents (#94)
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Class CommonItem renamed to NavigationItem
  cms/navigation/templatetags/navigation_tags.py
Due: pylint

Add topic deduplication
  cms/core/models/base.py
  cms/core/models/mixins.py
  cms/taxonomy/forms.py
  cms/taxonomy/viewsets.py
Due: pylint

save method being called in test_navigation_tags
  cms/navigation/tests/factories.py
  cms/navigation/tests/test_navigation_tags.py
Due: pylint

Panel models refactored to inherit from a BasePanelBlock class. Individual templates created for the different panels.
  cms/core/blocks/panels.py
  cms/jinja2/templates/components/streamfield/announcement_panel.html
  cms/jinja2/templates/components/streamfield/warning_panel.html
Due: pylint

Code tidy up and doc strings added
  cms/core/management/commands/sync_topics.py
Due: pylint

icons added to panel and template code formatted
  cms/core/blocks/panels.py
  cms/jinja2/templates/components/streamfield/announcement_panel.html
  cms/jinja2/templates/components/streamfield/information_panel.html
  cms/jinja2/templates/components/streamfield/warning_panel.html
Due: pylint

Main Menu Template Tags (#85)
  cms/jinja2/templates/base.html
  cms/navigation/jinja2tags.py
  cms/navigation/templatetags/__init__.py
  cms/navigation/templatetags/navigation_tags.py
  cms/navigation/tests/factories.py
  cms/navigation/tests/test_navigation_tags.py
  cms/settings/base.py
Due: pylint

Remove Title from PanelBlock (#90)
  cms/core/blocks/__init__.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/jinja2/templates/components/streamfield/announcement_panel.html
  cms/jinja2/templates/components/streamfield/information_panel.html
  cms/jinja2/templates/components/streamfield/panel_block.html
  cms/jinja2/templates/components/streamfield/warning_panel.html
Due: pylint

Exclude local settings from mypy
  pyproject.toml
Due: none

Add toc, featured article and processed articles/methodologies
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/models.py
Due: pylint

Add featured series, explore more, related articles/methodologies
  cms/topics/apps.py
  cms/topics/blocks.py
  cms/topics/migrations/0002_featured_series_explore_more_related.py
  cms/topics/models.py
Due: pylint

Translate missed string in template
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Add component for featured article
  cms/jinja2/templates/components/featured/featured-article.html
  cms/static_src/sass/components/_featured-article.scss
  cms/static_src/sass/components/_featured-chart.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Add a label/release date properties to relevant page models
  cms/articles/models.py
  cms/core/models/base.py
  cms/methodology/models.py
  cms/themes/models.py
  cms/topics/models.py
Due: pylint

Update the topic template
  cms/core/utils.py
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/models.py
Due: pylint

Wire in the Explore More block
  cms/jinja2/templates/components/streamfield/explore_more_stream_block.html
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/blocks.py
Due: pylint

Handle highlighted articles/methodologies
  cms/topics/models.py
Due: pylint

Preview fix
  cms/jinja2/templates/components/navigation/footer_menu_preview.html
Due: none

Updates to charts front-end code
  cms/datavis/models/charts.py
  cms/jinja2/templates/datavis/_macro.njk
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/static_src/javascript/components/bar-chart-plot-options.js
  cms/static_src/javascript/components/chart-constants.js
  cms/static_src/javascript/components/column-chart-plot-options.js
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/highcharts-base-chart.js
  cms/static_src/javascript/components/line-chart-plot-options.js
Due: pylint, lint:js, lint:format

Fix annotations config
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Add the annotations module
  cms/datavis/models/charts.py
Due: pylint

Bugfix in datalabels adjustments
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Working forms.py and format edits
  cms/navigation/forms.py
  cms/navigation/models.py
  cms/navigation/templatetags/navigation_tags.py
  cms/navigation/wagtail_hooks.py
Due: pylint

forms.py fixes
  cms/navigation/forms.py
Due: pylint

Add tests
  cms/articles/tests/factories.py
  cms/articles/tests/test_models.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/topics/blocks.py
  cms/topics/tests/__init__.py
  cms/topics/tests/factories.py
  cms/topics/tests/test_blocks.py
  cms/topics/tests/test_models.py
Due: pylint

Tweak the featured and highlight choosers to relevant pages only
  cms/topics/forms.py
  cms/topics/models.py
  cms/topics/tests/test_viewsets.py
  cms/topics/viewsets.py
  cms/topics/wagtail_hooks.py
Due: pylint

Tweak so related articles display the full title (with series prefix)
  cms/core/utils.py
  cms/topics/tests/test_models.py
Due: pylint

Add sync command tests
  cms/core/management/__init__.py
  cms/core/management/commands/sync_topics.py
  cms/core/management/tests/__init__.py
  cms/core/management/tests/test_sync_topics.py
  cms/taxonomy/models.py
  poetry.lock
Due: pylint

Testing taxonomy models
  cms/taxonomy/tests/__init__.py
  cms/taxonomy/tests/test_models.py
Due: pylint

Refactor forms.py
  cms/navigation/forms.py
Due: pylint

Bump Wagtail to 6.4
  poetry.lock
  pyproject.toml
Due: none

Remove search backend workaround
  cms/core/wagtail_search.py
  cms/settings/base.py
Due: pylint

Bump ruff version
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lint:format

Lint
  cms/articles/tests/test_models.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/management/commands/publish_scheduled_without_bundles.py
  cms/bundles/wagtail_hooks.py
  cms/core/blocks/__init__.py
  cms/core/blocks/embeddable.py
  cms/methodology/tests/test_models.py
  cms/release_calendar/migrations/0002_create_releasecalendarindex.py
  cms/release_calendar/tests/test_models.py
Due: pylint

Enqueue tasks on commit in tests
  cms/settings/test.py
Due: pylint

Use shorthands for panels
  cms/articles/models.py
  cms/bundles/models.py
  cms/core/models/inlines.py
  cms/core/models/mixins.py
  cms/core/models/settings.py
  cms/core/models/snippets.py
  cms/methodology/models.py
  cms/navigation/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/themes/models.py
  cms/topics/models.py
Due: pylint

Adapat the bar chart height calculations to be more accurate and adapt for cluster charts
  cms/datavis/models/charts.py
  cms/jinja2/templates/datavis/_macro.njk
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/static_src/javascript/components/bar-chart-plot-options.js
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: pylint, lint:js, lint:format
