Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update cms/datavis/blocks/annotations.py
  cms/datavis/blocks/annotations.py
Due: pylint

Upgrade design system version to 72.10.2 (#245)
  .design-system-version
Due: none

Hard-code search kafka topics (#235)
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/settings/base.py
  cms/settings/local.py.example
  docs/integrations/search_service.md
Due: pylint

Update content StreamField
  cms/release_calendar/blocks.py
  cms/release_calendar/models.py
Due: pylint

Add additional test for preview bar
  cms/bundles/tests/test_views.py
Due: pylint

Reference line annotation (#232)
  cms/core/wagtail_hooks.py
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_annotations_line.py
Due: pylint

Addressed some comments
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/notifications/email.py
  cms/bundles/signal_handlers.py
  cms/settings/base.py
Due: pylint

Bundling - enable linked release calendar preview (#217)
  cms/bundles/admin_urls.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/panels.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/views/preview.py
  cms/bundles/viewsets/bundle.py
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
  functional_tests/features/release_page.feature
Due: pylint

Compile translations as part of container build
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  functional_tests/docker-compose-dev.yml
Due: lint:format

Enable bar/column chart with confidence intervals (#239)
  cms/core/blocks/section_blocks.py
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/charts.py
  cms/datavis/constants.py
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
  cms/datavis/tests/test_chart_blocks_base.py
Due: pylint

chore: Post-merge to-do item
  cms/datavis/blocks/charts.py
Due: pylint

chore: Post-merge to-do item (#247)
  cms/datavis/blocks/charts.py
Due: pylint

Move code to separate function
  cms/release_calendar/forms.py
Due: pylint

Bypass broken link checking for jwt.io
  .github/linters/.markdown-link-check.json
Due: lint:format

Don't include fuzzy entries
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  functional_tests/docker-compose-dev.yml
Due: lint:format

Bypass broken link checking for jwt.io (#248)
  .github/linters/.markdown-link-check.json
Due: lint:format

Remove test which is no longer applicable
  functional_tests/features/release_page.feature
Due: none

Remove fuzzy markers from translations
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Disable dropdown and adjust test to reflect that
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Bump deps for Wagtail 7.0.1
  poetry.lock
Due: none

Remove LocaleColumn shims
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/core/apps.py
  cms/core/monkey_patches.py
  cms/core/templates/wagtailadmin/tables/locale_cell.html
  cms/core/ui.py
  cms/core/viewsets.py
  cms/navigation/wagtail_hooks.py
  cms/release_calendar/viewsets.py
  cms/topics/viewsets/featured_series.py
  cms/topics/viewsets/highlighted_items.py
Due: pylint

Upgrade Design System to 72.10.3
  .design-system-version
Due: none

Upgrade Python/Django/Wagtail (#237)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  .secrets.baseline
  Dockerfile
  Makefile
  cms/articles/models.py
  cms/bundles/tests/test_forms.py
  cms/bundles/viewsets/bundle.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/bundles/wagtail_hooks.py
  cms/core/apps.py
  cms/core/db_router.py
  cms/core/monkey_patches.py
  cms/core/templates/wagtailadmin/tables/locale_cell.html
  cms/core/tests/__init__.py
  cms/core/ui.py
  cms/core/viewsets.py
  cms/datasets/blocks.py
  cms/methodology/models.py
  cms/navigation/templatetags/navigation_tags.py
  cms/navigation/wagtail_hooks.py
  cms/release_calendar/models.py
  cms/release_calendar/viewsets.py
  cms/search/checks.py
  cms/settings/base.py
  cms/settings/formats/en_GB/__init__.py
  cms/standard_pages/models.py
  cms/teams/models.py
  cms/topics/forms.py
  cms/topics/models.py
  cms/topics/viewsets/featured_series.py
  cms/topics/viewsets/highlighted_items.py
  cms/topics/viewsets/series_with_headline_figures.py
  gunicorn.conf.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Upgrade Design System to 72.10.3 (#249)
  .design-system-version
Due: none

Add wagtailschemaorg, add breadcrumbs to json ld page entities, move breadcrumbs to be a page method instead of jinja tag
  .secrets.baseline
  cms/core/models/base.py
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/navigation/templatetags/navigation_tags.py
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

Move single-use field declaration to specific subclass
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
Due: pylint

feat: Refactor series processing, and test show_data_labels
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_chart_block.py
Due: pylint

Update field help text
  cms/datavis/blocks/charts.py
Due: pylint

Use live status instead of current one
  cms/release_calendar/forms.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

Add comment
  cms/release_calendar/models.py
Due: pylint

Update cms/datavis/blocks/base.py
  cms/datavis/blocks/base.py
Due: pylint

Add support for Welsh month names release_date_text (#223)
  cms/core/custom_date_format.py
  cms/core/tests/test_jinja2tags.py
  cms/locale/cy/LC_MESSAGES/django.po
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_utils.py
  cms/release_calendar/utils.py
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Add json ld to article, rename to get_breadcrumbs, fix broken left over import
  cms/articles/models.py
  cms/core/models/base.py
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/navigation/jinja2tags.py
Due: pylint

Remove unnecessary comment of self-evident code
  cms/datavis/blocks/base.py
Due: pylint

error repair
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Fix small things
  cms/articles/models.py
Due: pylint

Properly drop fuzzy markers
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Compile translations as part of container build (#246)
  Dockerfile
  Makefile
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/docker-compose-dev.yml
Due: lint:format

update forms
  cms/release_calendar/forms.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

update tests and comment
  cms/core/custom_date_format.py
  cms/release_calendar/tests/test_pages.py
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
