Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

test: update document download tests to use absolute url to get domain data attribute
  cms/core/tests/test_blocks.py
Due: pylint

Remove block title override
  cms/jinja2/templates/pages/errors/403.html
Due: none

add counter to random_title to ensure uniqueness
  cms/test_data/management/commands/create_test_data.py
Due: pylint

update topic manager get_queryset to pass through db and hints.
  cms/taxonomy/models.py
Due: pylint

use slug for namespace for url safety
  cms/datasets/tests/factories.py
Due: pylint

fix test for updated logging call
  cms/bundles/tests/test_management_commands.py
Due: pylint

fix typing import
  cms/post_publish_actions/models.py
Due: pylint

check that AWS_REGION is defined
  cms/settings/base.py
Due: pylint

use context manager rather than decorator to force write DB in generator function
  cms/post_publish_actions/utils.py
Due: pylint

run formatter
  cms/settings/base.py
Due: pylint

update `.secrets.baseline`
  .secrets.baseline
Due: none

build(deps): upgrade Wagtail to 7.4.2 and django-redis to 7.0.0
  poetry.lock
  pyproject.toml
Due: none

fix(bundles): use RelatedFields for team_id search filter
  cms/bundles/models.py
Due: pylint

test(workflows): update action menu assertions for Wagtail 7.4
  cms/workflows/tests/test_workflow_tweaks.py
Due: pylint

test(core): fix broken redis health check test for redis-py 8.x
  cms/core/tests/test_views.py
Due: pylint

fix(blocks): remove ignore_required_constraints from clean() overrides
  cms/datasets/blocks.py
  cms/topics/blocks.py
Due: pylint

fix(blocks): enforce required core section content fields on save
  cms/core/blocks/accordion.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/equation.py
  cms/core/blocks/headline_figures.py
  cms/core/blocks/markup.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
Due: pylint

fix(blocks): enforce required fields on save for topic and dataset blocks
  cms/datasets/blocks.py
  cms/topics/blocks.py
Due: pylint

fix(blocks): enforce required fields on save for inline block declarations
  cms/core/blocks/definitions.py
  cms/datavis/blocks/charts.py
Due: pylint

fix(blocks): enforce required fields on save for navigation and page blocks
  cms/navigation/blocks.py
  cms/release_calendar/blocks.py
  cms/standard_pages/blocks.py
Due: pylint

test(functional): cover block-level required fields on the methodology page
  functional_tests/features/methodology_page.feature
  functional_tests/steps/methodology_page.py
Due: pylint

build(deps): limit lockfile changes to the upgraded packages
  poetry.lock
Due: none

refactor - use utility function for chart download link attributes
  cms/datavis/blocks/base.py
Due: pylint

separate link analytics values into own property to prevent recursive page rendering
  cms/articles/models.py
  cms/core/blocks/base.py
Due: pylint

fix mypy errors
  cms/articles/models.py
Due: pylint

stringify word count
  cms/articles/tests/test_article_models.py
Due: pylint

build(deps): upgrade cryptography and gunicorn for security fixes
  poetry.lock
  pyproject.toml
Due: none

ignore cryptography for now
  .github/linters/osv-scanner.toml
Due: none

docs(deps): note wagtail-polymath migration for a configurable MathJax CDN
  pyproject.toml
Due: none

build(deps): upgrade matplotlib to 3.11.1
  poetry.lock
  pyproject.toml
Due: none

ensure design system is initialised, then look for csv download elements
  functional_tests/steps/statistical_article_page.py
Due: pylint

add grype config to ignore cryptography
  .github/linters/.grype.yaml
Due: lint:format

add comment
  functional_tests/steps/statistical_article_page.py
Due: pylint

pin cryptography to <49
  poetry.lock
  pyproject.toml
Due: none

chore(deps): ignore cryptography warnings for now (#750)
  .github/linters/.grype.yaml
  .github/linters/osv-scanner.toml
  poetry.lock
  pyproject.toml
Due: lint:format

configure dependabot to ignore cryptography
  .github/dependabot.yml
Due: lint:format

configure dependabot to ignore cryptography (#753)
  .github/dependabot.yml
Due: lint:format

fix `to_have_class` to `to_contain_class`
  functional_tests/steps/statistical_article_page.py
Due: pylint

ignore all cryptography updates
  .github/dependabot.yml
Due: lint:format

add version to cryptography ignore
  .github/dependabot.yml
Due: lint:format
