Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Fix `KeyError 'changes_to_release_date'` (#26)
  cms/analysis/models.py
  cms/release_calendar/forms.py
Due: pylint

Comments added
  cms/standard_pages/models.py
Due: pylint

Comment out the scheduler image (#22)
  .docker/Procfile
  heroku.yml
Due: lint:format

Ignore Unexpected property "left" property-disallowed-list rule
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

cms/release_calendar/models.py formating fixed
  cms/release_calendar/models.py
Due: pylint

Custom CSS added to make video embeds responsive
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Formatting fixed
  cms/release_calendar/models.py
Due: pylint

Add Cookie banner and Google Tag Manager snippet (#19)
  README.md
  cms/core/context_processors.py
  cms/core/migrations/0003_delete_tracking.py
  cms/core/models/settings.py
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_views.py
  cms/jinja2/templates/base.html
  cms/settings/base.py
  cms/settings/test.py
Due: pylint

Addition of equation partials
  cms/jinja2/templates/pages/information_page.html
  media/documents/file.txt
  media/documents/file_CNRLbwg.txt
  media/documents/file_HNziTZL.txt
  media/documents/file_dOFolq3.txt
  media/images/flower2.max-165x165.jpg
  media/images/flower2.original.jpg
  media/original_images/flower2.jpg
Due: none

Replace Docker Desktop setup with Colima (#24)
  README.md
Due: none

Deleted media files and made lint, format test pass
  media/documents/file_CNRLbwg.txt
  media/documents/file_HNziTZL.txt
  media/documents/file_dOFolq3.txt
  media/images/flower2.max-165x165.jpg
  media/images/flower2.original.jpg
  media/original_images/flower2.jpg
Due: none

Check tests pass
  cms/jinja2/templates/pages/information_page.html
Due: none

Custom sign commit
  cms/jinja2/templates/pages/information_page.html
Due: none

Repeated code remove, /media added to .gitignore, media file removed
  .gitignore
  cms/jinja2/templates/pages/information_page.html
  media/documents/file.txt
Due: none

Standard_pages app creation
  cms/jinja2/templates/pages/information_page.html
  cms/settings/base.py
  cms/standard_pages/__init__.py
  cms/standard_pages/admin.py
  cms/standard_pages/apps.py
  cms/standard_pages/migrations/__init__.py
  cms/standard_pages/models.py
  cms/standard_pages/tests.py
  cms/standard_pages/views.py
Due: pylint

Django models for information page updated and the template for the information page tweaked
  cms/core/blocks/stream_blocks.py
  cms/jinja2/templates/pages/information_page.html
  cms/standard_pages/migrations/0001_initial.py
  cms/standard_pages/models.py
Due: pylint

django-manager-missing ignore added
  cms/standard_pages/models.py
Due: pylint

Unnused files deleted
  cms/standard_pages/admin.py
  cms/standard_pages/migrations/0001_initial.py
  cms/standard_pages/models.py
  cms/standard_pages/tests.py
  cms/standard_pages/views.py
Due: pylint

Zombie code removed
  cms/standard_pages/models.py
Due: pylint

TODO comment removed and docstrings added
  cms/core/blocks/stream_blocks.py
  cms/standard_pages/models.py
Due: pylint

Mirgation file formatted
  cms/standard_pages/migrations/0001_initial.py
Due: pylint

Docstring rewritten to make it more concise
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_views.py
  cms/settings/tests/test_settings.py
  cms/standard_pages/models.py
Due: pylint

Information code formatted
  cms/jinja2/templates/pages/information_page.html
Due: none

Updated body to content
  cms/jinja2/templates/pages/information_page.html
  cms/standard_pages/migrations/0002_rename_body_informationpage_content.py
  cms/standard_pages/models.py
Due: pylint

Conditional for last_updated added, InformationPage class docstring shortened and migration file regenerated
  cms/jinja2/templates/pages/information_page.html
  cms/standard_pages/migrations/0001_initial.py
  cms/standard_pages/migrations/0002_rename_body_informationpage_content.py
  cms/standard_pages/models.py
Due: pylint

Replace `pytest` with Django's built-in runner (#18)
  .docker/bashrc.sh
  Makefile
  README.md
  cms/core/tests/test_context_processors.py
  cms/core/tests/test_views.py
  cms/settings/base.py
  cms/settings/tests/test_settings.py
  conftest.py
  poetry.lock
  pyproject.toml
Due: pylint

InformationPage restrictions added
  cms/standard_pages/models.py
Due: pylint

Removing the conditional as per requirement the summary field is required to be entered by the user
  cms/jinja2/templates/pages/information_page.html
Due: none

summary TextField null=true removed and the migration file regenerated to reflect the InformationPage model changes
  cms/standard_pages/migrations/0001_initial.py
  cms/standard_pages/models.py
Due: pylint

Code formatted
  cms/release_calendar/models.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
