Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Clean up
  cms/settings/dev.py
  docker-compose-dev.yml
Due: pylint, lint:format

Clean up redis
  docker-compose-dev.yml
  docker-compose.yml
Due: lint:format

Move port override
  .secrets.baseline
  cms/settings/base.py
  cms/settings/dev.py
Due: pylint

Ensure makefile picks up .env
  Makefile
Due: none

Extend ImageBlock To Include Additional Fields And Togglable Download Image Option (#437)
  cms/core/blocks/embeddable.py
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/core/migrations/0011_migrate_imageblock_caption.py
  cms/core/tests/test_blocks.py
  cms/home/migrations/0003_create_welsh_homepage.py
  cms/images/forms.py
  cms/images/tests/__init__.py
  cms/images/tests/test_forms.py
  cms/jinja2/templates/components/streamfield/image_block.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/private_media/tests/test_signal_handlers.py
  cms/settings/base.py
Due: pylint

WIP: Comment out related content logic in information_page and index_page models
  cms/jinja2/templates/pages/information_page.html
  cms/standard_pages/models.py
Due: pylint

Removed featured_items field and info page template zombie code removed.
  cms/jinja2/templates/pages/information_page.html
  cms/standard_pages/models.py
Due: pylint

As CoreSectionContentBlock StreamBlock is under a Section Heading Block now, removed/ turned off the automatic addition of a heading for the RelatedLinksBlock.
  cms/core/blocks/section_blocks.py
Due: pylint

Lint error fixed.
  cms/standard_pages/models.py
Due: pylint

Address comments
  cms/articles/views.py
  cms/core/audit.py
  cms/core/tests/test_audit.py
  cms/core/wagtail_hooks.py
Due: pylint

Expand code following merge
  cms/articles/tests/test_views.py
  cms/core/wagtail_hooks.py
Due: pylint

Additional content types added so it can be utilised within the RelatedLinksBlock and ToC added to the info page.
  cms/core/enums.py
  cms/jinja2/templates/pages/information_page.html
  cms/standard_pages/models.py
Due: pylint

address comments
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Add helper for forcing the write connection for a query
  cms/core/db_router.py
  cms/core/tests/test_db_router.py
  cms/datasets/tests/test_views.py
  cms/datasets/views.py
  docs/custom-features/db-read-replica.md
Due: pylint

Remove work-around in tests for Django issue
  cms/core/tests/test_settings.py
Due: pylint

Add test for correct router behaviour in nested transaction
  cms/core/tests/test_db_router.py
Due: pylint

Sort child pages by title in IndexPage model and remove unused metadata retrieval
  cms/standard_pages/models.py
Due: pylint

Test that the correct alias is used even after the inner transaction is closed
  cms/core/tests/test_db_router.py
Due: pylint

Move DB port override
  cms/settings/base.py
Due: pylint

Remove .env code from Makefile, add ports
  Makefile
Due: none

Use port env for webpack, move pa11y to makefile
  Makefile
  package.json
  webpack.config.js
Due: lint:js, lint:format

Remove birdbath
  docker-compose.yml
Due: lint:format

Force publishing commands to use write database connection
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/management/commands/publish_scheduled_without_bundles.py
Due: pylint

Add context manager for forcing write DB
  cms/bundles/management/commands/publish_bundles.py
  cms/core/db_router.py
  cms/core/tests/test_db_router.py
  cms/datasets/views.py
  docs/custom-features/db-read-replica.md
Due: pylint

Tweak docs to emphasise utils are not just for replication lag
  docs/custom-features/db-read-replica.md
Due: none

Add troubleshooting entry for too many open files
  docs/troubleshooting.md
Due: none

Address linter issues
  docs/troubleshooting.md
Due: none

Update mock location for bundle publishing
  cms/bundles/tests/test_management_commands.py
Due: pylint

Check if nvm.sh exists before running
  Makefile
Due: none

Reorder mixins
  cms/methodology/models.py
Due: pylint

Refactor mixins further and add to information page
  cms/core/models/mixins.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Add tests
  cms/standard_pages/tests/test_models.py
Due: pylint

Make mypy happy
  cms/core/models/mixins.py
  cms/standard_pages/models.py
Due: pylint

resolve comments v2
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Remove backwards compatibility
  cms/articles/admin_urls.py
  cms/articles/tests/test_views.py
  cms/articles/wagtail_hooks.py
Due: pylint

Add additional tests
  cms/methodology/tests/test_models.py
Due: pylint

resolve comments v3
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Move behave step names as per comment
  functional_tests/features/bundle_ui.feature
Due: none

Support manager when forcing write DB
  cms/core/db_router.py
  cms/core/tests/test_db_router.py
  cms/datasets/tests/test_views.py
  cms/datasets/views.py
  docs/custom-features/db-read-replica.md
Due: pylint

Fix typo
  docs/custom-features/db-read-replica.md
Due: none
