Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Migrations update
  cms/navigation/migrations/0002_footermenu_navigationsettings_footer_menu.py
Due: pylint

Add TopicFactory and update other factories which now depend on it
  cms/taxonomy/tests.py
  cms/taxonomy/tests/factories.py
  cms/taxonomy/tests/test_models.py
  cms/themes/tests/factories.py
  cms/topics/tests/factories.py
Due: pylint

Bump the default DATA_UPLOAD_MAX_NUMBER_FIELDS to 10k
  cms/settings/base.py
Due: pylint

Improve help text
  cms/datavis/models/charts.py
Due: pylint

Avoid accidentally overriding option values
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Charts spike WIP (#95)
  cms/datavis/models/charts.py
  cms/jinja2/templates/datavis/_macro.njk
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/static_src/javascript/components/bar-chart-plot-options.js
  cms/static_src/javascript/components/chart-constants.js
  cms/static_src/javascript/components/column-chart-plot-options.js
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/highcharts-base-chart.js
  cms/static_src/javascript/components/line-chart-plot-options.js
Due: pylint, lint:js, lint:format

Upgrade to Wagtail 6.4 (#97)
  .pre-commit-config.yaml
  cms/articles/models.py
  cms/articles/tests/test_models.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/management/commands/publish_scheduled_without_bundles.py
  cms/bundles/models.py
  cms/bundles/wagtail_hooks.py
  cms/core/blocks/__init__.py
  cms/core/blocks/embeddable.py
  cms/core/models/inlines.py
  cms/core/models/mixins.py
  cms/core/models/settings.py
  cms/core/models/snippets.py
  cms/core/wagtail_search.py
  cms/methodology/models.py
  cms/methodology/tests/test_models.py
  cms/navigation/models.py
  cms/release_calendar/migrations/0002_create_releasecalendarindex.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
  cms/settings/base.py
  cms/settings/test.py
  cms/standard_pages/models.py
  cms/themes/models.py
  cms/topics/models.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Add basic functional tests
  functional_tests/features/topic_page.feature
  functional_tests/steps/articles.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/topic_page.py
Due: pylint

Improve the data labels calculation regarding whether they sit inside or outside the bar, and a bit of tidying up of function declarations
  cms/datavis/models/charts.py
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: pylint, lint:js, lint:format

Allow rendering a bundle without a "created by" user
  cms/bundles/templates/bundles/wagtailadmin/panels/latest_bundles.html
Due: none

add pagination_block.html
  cms/jinja2/templates/components/streamfield/pagination_block.html
Due: none

Allow rendering a bundle without a "created by" user (#98)
  cms/bundles/templates/bundles/wagtailadmin/panels/latest_bundles.html
Due: none

Remove taxonomy from release calendar page, improve factory
  cms/release_calendar/models.py
  cms/taxonomy/tests/factories.py
Due: pylint

Move sync topics command to taxonomy app
  cms/taxonomy/management/__init__.py
  cms/taxonomy/management/commands/__init__.py
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Make label a class var
  cms/articles/models.py
  cms/core/models/base.py
  cms/core/tests/test_utils.py
  cms/methodology/models.py
  cms/themes/models.py
  cms/topics/models.py
Due: pylint

Updated typehints and styling for forms.py, updated poetry and removed unused code.
  .secrets.baseline
  cms/navigation/forms.py
  cms/navigation/templatetags/navigation_tags.py
  poetry.lock
  pyproject.toml
Due: pylint

add pagination
  cms/articles/models.py
  cms/jinja2/templates/components/streamfield/pagination_block.html
  functional_tests/steps/previous_releases_page.py
Due: pylint

Fix broken dev Redis default config
  cms/settings/dev.py
Due: pylint

Add fix from PR #101
  cms/settings/dev.py
Due: pylint

Fix broken dev Redis default config (#101)
  cms/settings/dev.py
Due: pylint

Add start functional tests
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/factories.py
  functional_tests/features/taxonomy.feature
  functional_tests/steps/page_editor.py
  functional_tests/steps/taxonomy.py
Due: pylint

Tweak choose view mixins names for clarity
  cms/topics/viewsets.py
Due: pylint

Added the test
  functional_tests/features/methodology_page.feature
  functional_tests/steps/article_page.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/theme_page.py
  functional_tests/steps/topic_page.py
Due: pylint

Ignore pylint errors
  functional_tests/steps/article_page.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/theme_page.py
  functional_tests/steps/topic_page.py
Due: pylint

Tidy up based on code review
  cms/topics/models.py
  cms/topics/tests/test_viewsets.py
Due: pylint

Make them pass
  functional_tests/features/methodology_page.feature
Due: none

Refactor locations, use dummy root level topic
  cms/articles/models.py
  cms/core/models/mixins.py
  cms/methodology/models.py
  cms/standard_pages/models.py
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/migrations/0004_alter_genericpagetotaxonomytopic_topic.py
  cms/taxonomy/mixins.py
  cms/taxonomy/models.py
  cms/taxonomy/tests/factories.py
  cms/taxonomy/tests/test_management_commands.py
  cms/themes/models.py
  cms/topics/models.py
  functional_tests/docker-compose-dev.yml
  topics.json
Due: pylint, lint:format

Topic page enhancements (#96)
  cms/articles/models.py
  cms/articles/tests/factories.py
  cms/articles/tests/test_models.py
  cms/core/models/base.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/jinja2/templates/components/featured/featured-article.html
  cms/jinja2/templates/components/streamfield/explore_more_stream_block.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/methodology/models.py
  cms/static_src/sass/components/_featured-article.scss
  cms/static_src/sass/components/_featured-chart.scss
  cms/static_src/sass/main.scss
  cms/themes/models.py
  cms/topics/apps.py
  cms/topics/blocks.py
  cms/topics/forms.py
  cms/topics/migrations/0002_featured_series_explore_more_related.py
  cms/topics/models.py
  cms/topics/tests/__init__.py
  cms/topics/tests/factories.py
  cms/topics/tests/test_blocks.py
  cms/topics/tests/test_models.py
  cms/topics/tests/test_viewsets.py
  cms/topics/viewsets.py
  cms/topics/wagtail_hooks.py
  functional_tests/features/topic_page.feature
  functional_tests/steps/articles.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/topic_page.py
  pyproject.toml
Due: pylint, lint:css, lint:format

Fix an issue with tests failing in headless and passing in headed mode
  functional_tests/steps/methodology_page.py
Due: pylint

Rewording to match steps pulled from main
  functional_tests/features/information_page.feature
  functional_tests/features/methodology_page.feature
  functional_tests/features/release_page.feature
  functional_tests/steps/article_page.py
  functional_tests/steps/articles.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
Due: pylint

Formatting + rewording
  functional_tests/features/methodology_page.feature
  functional_tests/steps/methodology_page.py
  functional_tests/steps/topic_page.py
Due: pylint

Revert a change to make tests pass
  functional_tests/steps/articles.py
Due: pylint

Fix migration, use multi chooser
  cms/taxonomy/mixins.py
  cms/topics/migrations/0003_topicpage_topic.py
Due: pylint

A bunch of improvements
  functional_tests/features/methodology_page.feature
  functional_tests/features/topic_page.feature
  functional_tests/steps/articles.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/topic_page.py
Due: pylint

Remove no longer needed file for theme page set up
  functional_tests/steps/articles.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/theme_page.py
  functional_tests/steps/topic_page.py
Due: pylint

Remove duplicated step definition
  functional_tests/features/topic_page.feature
  functional_tests/steps/topic_page.py
Due: pylint

Update functional tests
  functional_tests/features/taxonomy.feature
  functional_tests/steps/page_editor.py
  functional_tests/steps/taxonomy.py
  functional_tests/steps/topic_page.py
Due: pylint

get_queryset added to TopicChooserViewSet, taxonomy models and viewsets tests added.
  cms/taxonomy/tests/test_models.py
  cms/taxonomy/tests/test_viewsets.py
  cms/taxonomy/viewsets.py
Due: pylint

Improvements to data labels (#103)
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
