Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Improve readability in PrivateMediaMixin.save()
  cms/private_media/models/mixins.py
Due: pylint

Raise storage exceptions outside of threadpool excecution
  cms/private_media/bulk_operations.py
Due: pylint

Placate linters
  cms/private_media/bulk_operations.py
  cms/private_media/management/commands/retry_file_permission_set_attempts.py
  cms/private_media/models/images.py
  cms/private_media/models/mixins.py
  cms/private_media/storages.py
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
  cms/private_media/views.py
  docs/custom-features/media_privacy.md
Due: pylint

Use abstract Collection type in update_file_permissions() annotation
  cms/private_media/management/commands/retry_file_permission_set_attempts.py
Due: pylint

Return early to reduce indentation in retry_file_permission_set_attempts command
  cms/private_media/bulk_operations.py
  cms/private_media/management/commands/retry_file_permission_set_attempts.py
Due: pylint

Placate mypy
  cms/private_media/bulk_operations.py
Due: pylint

More consistent use of settings flag
  functional_tests/README.md
Due: none

Placate shellcheck
  .github/workflows/ci.yml
Due: lint:format

ci updated to run the migration linter as part of the test python job
  .github/workflows/ci.yml
  cms/settings/dev.py
Due: pylint, lint:format

Fix documents
  cms/documents/migrations/0001_initial.py
Due: pylint

Format
  cms/jinja2/templates/components/streamfield/quote_block.html
Due: none

Wire in the quote block (#59)
  cms/analysis/blocks.py
  cms/core/blocks/stream_blocks.py
  cms/jinja2/templates/components/streamfield/quote_block.html
Due: pylint

Fix bulk_operations not setting file permissions when a generator is provided
  cms/private_media/bulk_operations.py
Due: pylint

Simplify logging in AccessControlLoggingFileSystemStorage and use alternate in-memory storages to reduce need for mocking in tests
  cms/private_media/storages.py
  cms/private_media/tests/test_documents.py
  cms/private_media/tests/test_images.py
Due: pylint

Update docs to reflect logging format changes
  docs/custom-features/media_privacy.md
Due: none

Revert: Don't cache ServeImage view responses, and update PrivateImageMixin.get_privacy_controlled_serve_urls() to return an empty iterable
  cms/private_media/models/images.py
  cms/private_media/tests/test_images.py
  cms/urls.py
Due: pylint

Simplify PrivateImageMixin.get_privacy_controlled_serve_urls()
  cms/private_media/models/images.py
Due: pylint

Bundles: limit release calendar pages to provisional/confirmed (#50)
  cms/analysis/models.py
  cms/bundles/forms.py
  cms/bundles/models.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_viewsets.py
  cms/jinja2/templates/pages/information_page.html
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_viewsets.py
  cms/release_calendar/viewsets.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint

Fix rendition purge urls test
  cms/private_media/tests/test_images.py
Due: pylint

Fix broken auto-format
  .github/ISSUE_TEMPLATE.md
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  docs/conventions/type_hinting.md
  docs/index.md
Due: none

Fix to spacing class
  cms/jinja2/templates/pages/analysis_page.html
Due: none

Attempt to fix formatting
  README.md
  functional_tests/README.md
Due: none

Migrations files ignored
  cms/settings/dev.py
  poetry.lock
Due: pylint

Wrapped Last revised date in a conditional in the template
  cms/jinja2/templates/pages/methodology_page.html
Due: none

Move Section Block Factories to the core app's tests
  cms/core/tests/factories.py
  cms/methodology/tests/factories.py
Due: pylint

Debug
  cms/navigation/tests/test_blocks.py
Due: pylint

Formatted the date input panels code (+ removed the redundant FieldPanel icons within MultiFieldPanel)
  cms/analysis/models.py
  cms/methodology/models.py
Due: pylint

Errors being raised when adding more than 3 highlights
  cms/navigation/models.py
  cms/navigation/tests/factories.py
  cms/navigation/tests/test_blocks.py
Due: pylint

Adjust layout of census and accreditation logos, and ensure census logo is visible in high-contrast mode
  cms/jinja2/templates/components/accredited/accredited-information.html
  cms/jinja2/templates/components/census/census-information.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/static_src/sass/components/_accreditations.scss
  cms/static_src/sass/components/_census-logo.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Update the embed block to be a custom video embed that uses the design system video embed template
  cms/core/blocks/__init__.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/stream_blocks.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/video_embed_block.html
  cms/static_src/sass/components/_responsive-object.scss
  cms/static_src/sass/main.scss
Due: pylint, lint:css, lint:format

Add a new include for contact details, and ensure spacing of release content is correct
  cms/jinja2/templates/components/contact_details/contact_details.html
  cms/jinja2/templates/components/streamfield/stream_block--related-links.html
  cms/jinja2/templates/pages/analysis_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Make the contact details component variable more generic
  cms/jinja2/templates/components/contact_details/contact_details.html
  cms/jinja2/templates/pages/analysis_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

disable markup from megalinter
  .mega-linter.yml
Due: lint:format

Translate help text, and extrapolate the embed url from the link url
  cms/core/blocks/embeddable.py
Due: pylint

Ignore vscode workspace settings files
  .gitignore
Due: none

Exclude any release calendar page with a past date from the bundle RC chooser
  cms/release_calendar/tests/test_viewsets.py
  cms/release_calendar/viewsets.py
Due: pylint

Update dependencies
  poetry.lock
Due: none

Ignore vscode workspace settings files (#65)
  .gitignore
Due: none

Update tests
  cms/core/tests/test_blocks.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
