Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Tweak approve label logic to remove duplication
  cms/workflows/models.py
Due: pylint

fixup! Tweak approve label logic to remove duplication
  cms/workflows/models.py
Due: pylint

Use PostgreSQL 17 (#515)
  .github/workflows/ci.yml
  Dockerfile
  README.md
  docker-compose-dev.yml
Due: lint:format

Ignore type error
  cms/core/blocks/markup.py
Due: pylint

Update Django and Wagtail to fix today's security releases:
  poetry.lock
Due: none

Update Django and Wagtail to fix today's security releases: (#519)
  poetry.lock
Due: none

Make tests less brittle
  cms/workflows/tests/test_workflow_tweaks.py
Due: pylint

Fix publish via bulk actions and self approval via dashboard (#518)
  cms/workflows/bulk_actions.py
  cms/workflows/models.py
  cms/workflows/tests/test_wagtail_hooks.py
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Add help text to the title and file fields on the document upload form
  cms/documents/forms.py
  cms/documents/tests/test_forms.py
Due: pylint

Use consistent filesize conveversion in doc form
  cms/documents/forms.py
  cms/documents/tests/test_forms.py
Due: pylint

Add doc extension validation
  cms/documents/forms.py
  cms/documents/tests/test_forms.py
Due: pylint

Split publication log and alert messages, update tests
  cms/bundles/notifications/api_failures.py
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_slack_notifications.py
  cms/bundles/tests/test_utils.py
  cms/bundles/utils.py
  cms/core/models/base.py
  cms/core/slack.py
  cms/core/tests/test_slack.py
  cms/settings/base.py
Due: pylint

Add test for the form save
  cms/documents/forms.py
  cms/documents/tests/test_forms.py
Due: pylint

Revert 8823c4e0f5efc73eee4e05664dd91d6ea71078ea
  cms/documents/forms.py
  cms/documents/tests/test_forms.py
Due: pylint

Add an extra test for the file extension validation
  cms/documents/tests/test_forms.py
Due: pylint

Simplify root logger configuration
  cms/settings/base.py
Due: pylint

Reference correct hook in exception
  cms/core/excepthook.py
Due: pylint

Update signal handler to remove explicit JSON mention
  cms/core/excepthook.py
Due: pylint

Remove the custom page publish bulk action as not needed and tweak can_publish logic to prevent direct publishing if page in bundle, regardles of local override
  cms/core/permission_testers.py
  cms/workflows/bulk_actions.py
  cms/workflows/tests/test_wagtail_hooks.py
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Prevent page deletions when pages are in active bundles, or are ready to publish
  cms/core/permission_testers.py
  cms/core/tests/test_permission_testers.py
Due: pylint

fixup! Add test for the form save
  cms/documents/tests/test_forms.py
Due: pylint

CMS-1048 - Strip control characters from data blocks (#506)
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/datavis/blocks/table.py
  cms/datavis/tests/test_table_block.py
Due: pylint

Update tests
  cms/core/tests/test_slack.py
Due: pylint

CMS-1040 - All JSON logging (#516)
  cms/core/apps.py
  cms/core/excepthook.py
  cms/core/logs.py
  cms/core/signal_handlers.py
  cms/core/tests/test_excepthook.py
  cms/core/tests/test_logs.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/test.py
Due: pylint

Fix missing update_status check
  cms/bundles/utils.py
Due: pylint

Add help text to the title and file fields on the document upload form (#520)
  cms/documents/forms.py
  cms/documents/tests/test_forms.py
Due: pylint

Page publishing logic cleanup (#521)
  cms/core/permission_testers.py
  cms/core/tests/test_permission_testers.py
  cms/workflows/bulk_actions.py
  cms/workflows/tests/test_wagtail_hooks.py
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

fix: update concourse ci config
  ci/concourse.yaml
Due: lint:format

fix: update concourse ci config (#522)
  ci/concourse.yaml
Due: lint:format

Support invalidating an additional cache
  cms/core/cache.py
  cms/core/tests/test_cache.py
  cms/settings/base.py
Due: pylint

Move page config generation into Python
  cms/core/context_processors.py
  cms/core/jinja2tags.py
  cms/core/templatetags/page_config_tags.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_context_processors.py
  cms/jinja2/templates/base.html
  cms/navigation/models.py
  cms/navigation/templatetags/__init__.py
  cms/navigation/utils.py
  cms/settings/base.py
Due: pylint

Tidy up the image block template
  cms/jinja2/templates/components/streamfield/image_block.html
Due: none

Handle private media when previewing pages in a bundle
  cms/bundles/permissions.py
  cms/bundles/views/preview.py
  cms/private_media/tests/test_serve_views.py
  cms/private_media/utils.py
  cms/private_media/views.py
Due: pylint

Re-add core frontend_cache to INSTALLED_APPS and disconnect needed signals
  .secrets.baseline
  cms/frontend_cache/apps.py
  cms/frontend_cache/signal_handlers.py
  cms/settings/base.py
  cms/settings/test.py
Due: pylint

Cache page config
  cms/core/signal_handlers.py
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
  cms/jinja2/templates/base.html
  cms/navigation/apps.py
  cms/navigation/jinja2tags.py
  cms/navigation/signal_handlers.py
  cms/navigation/tests/test_utils.py
  poetry.lock
  pyproject.toml
Due: pylint

fixup! Handle article series title change
  cms/articles/models.py
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint

Prevent core purge_urls_from_cache_task from trying to purge all languages
  cms/settings/base.py
Due: pylint

Add stricter rate limiting on lychee for GitHub
  .github/linters/lychee.toml
Due: none

Correct syntax for GitHub host tweaks
  .github/linters/lychee.toml
Due: none

Massively slow GitHub lychee concurrency
  .github/linters/lychee.toml
Due: none

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
