Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

update django to v6.0.6 (#666)
  poetry.lock
  pyproject.toml
Due: none

add tests cases for scheduled bundle fields
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

Escape HTML entities and add BOM for correct display in excel (#658)
  cms/data_downloads/tests/test_utils.py
  cms/data_downloads/utils.py
Due: pylint

Make setting default to true
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/settings/base.py
  cms/settings/functional_test.py
Due: pylint

Add milliseconds to bundle publish start and end times in slack notifications (#665)
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

Update tests to account for milliseconds in output
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

Update fields in bundle publication slack notifications (#667)
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_slack_notifications.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Update validation message, add auth
  cms/bundles/forms.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

Cache api items
  cms/bundles/forms.py
Due: pylint

Add transaction.atomic
  cms/bundles/forms.py
Due: pylint

Figure experiments
  cms/jinja2/templates/components/figure/_macro.html
  cms/jinja2/templates/components/figure/figure_after.html
  cms/jinja2/templates/components/figure/figure_before.html
  cms/jinja2/templates/components/figure/figure_nested.html
  cms/jinja2/templates/pages/figure_experiments.html
  cms/urls.py
Due: pylint

Upgrade DS version to 73.7.0
  .design-system-version
Due: none

chore(codeql): suppress redirect wrapper false positive
  cms/core/utils.py
Due: pylint

update shell-quote
  package-lock.json
Due: lint:format

force override of uuid
  osv-scanner.toml
  package-lock.json
  package.json
Due: lint:format

Add further input validation
  cms/topics/models.py
Due: pylint

Ensure title field is optional for internal links
  cms/topics/models.py
Due: pylint

Enable autosave
  .secrets.baseline
  cms/settings/base.py
  docs/integrations/auth.md
Due: pylint

Check if any BasePage subclass was missed
  cms/core/tests/test_preview_audit.py
Due: pylint

Upgrade DS version to 73.7.0 (#671)
  .design-system-version
Due: none

Address comments
  cms/bundles/wagtail_hooks.py
  cms/core/models/base.py
Due: pylint

Return publishing logging
  cms/bundles/utils.py
Due: pylint

chore(npm packages): update shell-quote and uuid package versions (#673)
  osv-scanner.toml
  package-lock.json
  package.json
Due: lint:format

Adds failing test for missing GTM contentType on previous releases page
  cms/articles/tests/test_pages.py
Due: pylint

Set GTM contentType to 'previous-releases' on ArticleSeriesPage
  cms/articles/models.py
Due: pylint

Run post-publish actions in thread pool
  .pylintrc
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_slack_notifications.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/viewsets/bundle.py
  cms/post_publish_actions/__init__.py
  cms/post_publish_actions/executor.py
  cms/post_publish_actions/handlers.py
  cms/post_publish_actions/migrations/0001_initial.py
  cms/post_publish_actions/migrations/__init__.py
  cms/post_publish_actions/models.py
  cms/private_media/signal_handlers.py
  cms/search/signal_handlers.py
  cms/settings/base.py
  cms/settings/test.py
Due: pylint

Add a database connection pool
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

update `auth.md` to note testing autosave alongside auth stub
  docs/integrations/auth.md
Due: none

Return DB connection to pool before running action handler
  cms/post_publish_actions/executor.py
  cms/settings/base.py
Due: pylint

prettier format
  docs/integrations/auth.md
Due: none

Update slack notification time formatting for the Europe/London timezone
  cms/bundles/notifications/slack.py
Due: pylint

Update text in test
  cms/bundles/tests/test_forms_with_bundle_api.py
Due: pylint

chore(codeql): suppress redirect wrapper false positive (#672)
  cms/core/utils.py
Due: pylint

Add test to verify BST offset
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

Use tidier timezone conversion
  cms/bundles/notifications/slack.py
Due: pylint

Update breadcrumbs to exclude container pages
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_pages.py
  cms/core/tests/test_models.py
  cms/methodology/models.py
  cms/methodology/tests/test_pages.py
Due: pylint

Replace datetime.now() with timezone.now() so timestamp is timezone aware
  cms/bundles/notifications/slack.py
Due: pylint

Update docstring to clarify that it is the current active timezone
  cms/bundles/notifications/slack.py
Due: pylint

Enforce Europe/London timezone in test_format_publish_datetime_applies_bst_offset()
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

bug: Missing GTM Content Type on Previous Releases page (#678)
  cms/articles/models.py
  cms/articles/tests/test_pages.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
