Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

fix: standardise csv download file names across chart/table downloads and GTM attributes
  cms/core/blocks/markup.py
  cms/data_downloads/mixins.py
  cms/data_downloads/utils.py
  cms/data_downloads/views.py
  cms/datavis/blocks/base.py
Due: pylint

chore: disable bleed deploy on merges to main
  ci/concourse.yaml
Due: lint:format

Point to 1226-parallel-bundle-publish-actions
  ci/concourse.yaml
Due: lint:format

chore: disable bleed deploy on merges to main (#734)
  ci/concourse.yaml
Due: lint:format

test: add tests for new middleware
  cms/core/tests/test_middleware.py
Due: pylint

fix: ensure middleware only activate when explicitly set in .env
  cms/core/middleware.py
  cms/core/tests/test_middleware.py
  cms/settings/base.py
Due: pylint

fix: simplify csv file size formatting
  cms/core/blocks/markup.py
  cms/datavis/blocks/base.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

fix: make CSV chart download link text translatable
  cms/datavis/blocks/base.py
Due: pylint

fix: improve checks before adding cachetag
  cms/core/middleware.py
  cms/core/tests/test_middleware.py
Due: pylint

fix: add cache parser helper function
  cms/core/middleware.py
Due: pylint

Updates to the table block
  cms/core/blocks/markup.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/table_block.html
Due: pylint

Updates to the image block
  cms/core/blocks/embeddable.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/components/streamfield/image_block.html
Due: pylint

feat: enable automerge
  ci/concourse.yaml
Due: lint:format

test: separate filename slug and fallback coverage from response tests and add filename helper tests
  cms/data_downloads/tests/test_utils.py
Due: pylint

test: add tests for table download link data attributes
  cms/core/tests/test_blocks.py
Due: pylint

Updates to the featured article
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/datavis/blocks/featured_charts.py
  cms/jinja2/templates/components/featured/featured-article.html
Due: pylint

style: remove old comment
  cms/core/middleware.py
Due: pylint

Chart updates
  cms/core/blocks/markup.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/featured_charts.py
  cms/datavis/tests/test_chart_blocks_base.py
  cms/datavis/tests/test_iframe_block.py
Due: pylint

add debugging logs
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/notifications/slack.py
Due: pylint

use lazy % in logging
  cms/bundles/management/commands/publish_bundles.py
Due: pylint

slack response status code log
  cms/core/slack.py
Due: pylint

extra slack notification info
  cms/bundles/notifications/slack.py
Due: pylint

test: add tests for chart CSV download link data attributes
  cms/datavis/tests/test_chart_blocks_base.py
Due: pylint

fix slack message extra
  cms/bundles/notifications/slack.py
Due: pylint

Update the ds version
  .design-system-version
Due: none

Update translations
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Linting issues
  cms/articles/models.py
  cms/jinja2/templates/components/featured/featured-article.html
Due: pylint

Another linting issue
  cms/core/blocks/markup.py
Due: pylint

Catch a test failure for the scatter chart
  cms/datavis/tests/test_scatter_plot_block.py
Due: pylint

chore(kics): remove redundant SHA pinning exclusion
  .github/linters/kics.config
Due: none

update setup-node version comment to match hash
  .github/workflows/ci.yml
Due: lint:format

Add an option for empty alt text for the image block
  cms/core/blocks/embeddable.py
  cms/core/tests/test_blocks.py
Due: pylint

try running publish end notification synchronously rather than in support executor
  cms/bundles/utils.py
Due: pylint

remove debug logs
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/notifications/slack.py
Due: pylint

remove slack response log
  cms/core/slack.py
Due: pylint

run concourse
  cms/bundles/utils.py
Due: pylint

Update docs/custom-features/deployment-environments.md
  docs/custom-features/deployment-environments.md
Due: none

fix: set default cache tag
  cms/settings/base.py
Due: pylint

fix: remove redundant wagtail route checking
  cms/core/middleware.py
Due: pylint
