Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Deploy branch: spike/workflow-return-to-draft-reject-CMS-1274
  ci/concourse.yaml
Due: lint:format

Update the release index page to use a hero rather than override a block that is no longer standard
  cms/jinja2/templates/pages/release_index.html
Due: none

Render default heading in the base_page template in a hero
  cms/jinja2/templates/base_page.html
Due: none

Render the 'Password required' template heading in a similar fashion to the cookie page
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: none

Add more robust testing for the elements in the DS that we set in get_page_config
  cms/core/tests/test_tags.py
Due: pylint

get_page_config returns a TypedDict to match the DS code
  cms/core/templatetags/page_config_tags.py
Due: pylint

update `setup-python` version comment
  .github/workflows/ci.yml
Due: lint:format

feat: support purging wagtail responses by Cache-Tag header (#732)
  .secrets.baseline
  cms/core/middleware.py
  cms/core/tests/test_middleware.py
  cms/settings/base.py
  docs/custom-features/deployment-environments.md
Due: pylint

Bring iframe visualisation functionality into the CMS
  cms/articles/tests/test_article_models.py
  cms/core/blocks/stream_blocks.py
  cms/core/models/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_iframe_block.py
  cms/jinja2/templates/components/streamfield/datavis/iframe_visualisation_block.html
  cms/jinja2/templates/partials/content_scripts.html
  cms/static_src/sass/components/_chart-embed.scss
Due: pylint, lint:css, lint:format

Move iframe block to its own file
  cms/datavis/blocks/__init__.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/iframe.py
  cms/datavis/tests/test_iframe_block.py
Due: pylint

Render error page titles correctly and ensure that the 500_fallback error page has a debug url
  cms/jinja2/templates/pages/errors/403.html
  cms/jinja2/templates/pages/errors/404.html
  cms/jinja2/templates/pages/errors/500.html
  cms/jinja2/templates/pages/errors/base_error.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/urls.py
Due: pylint

Make default breadcrumbs use the grey variant, and only override on individual templates when required
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/navigation/breadcrumbs.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/index_page.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/release_index.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Add backToTop on every page template
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/back-to-top/back-to-top.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/errors/base_error.html
  cms/jinja2/templates/pages/home_page.html
  cms/jinja2/templates/pages/index_page.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/login_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/release_index.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_index_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: none

Linting error
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
Due: none

fix: add GTM data attributes to image download link and seperate out image download options logic
  cms/core/blocks/embeddable.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

test: add tests for image download gtm attributes and update chart and table tests
  cms/core/tests/test_blocks.py
  cms/datavis/tests/test_chart_blocks_base.py
Due: pylint

Improve page title for errors and password required pages
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/errors/403.html
  cms/jinja2/templates/pages/errors/404.html
  cms/jinja2/templates/pages/errors/500.html
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: none

Fix test name
  cms/test_data/tests/test_commands.py
Due: pylint

Serve an empty png instead of the external jspreadsheet logo
  functional_tests/environment.py
Due: pylint

Remove local pym.js and serve from CDN
  cms/core/context_processors.py
  cms/jinja2/assets/js/third-party/pym.min.js
  cms/jinja2/templates/partials/content_scripts.html
Due: pylint, lint:js, lint:format

Formatting tweak and make block check more DRY
  cms/core/blocks/stream_blocks.py
  cms/jinja2/templates/components/streamfield/datavis/iframe_visualisation_block.html
Due: pylint

fix: add fallback for get_table_csv_download_title and only add data-ga-link-domain to attributes when hostname is available
  cms/core/blocks/embeddable.py
  cms/core/blocks/markup.py
  cms/data_downloads/tests/test_utils.py
  cms/data_downloads/utils.py
Due: pylint

Fix context processor test
  cms/core/tests/test_context_processors.py
Due: pylint

chore: update translations
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

fix: update 'Download CSV' translation
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

add dunder init files to management command directories
  cms/test_data/management/__init__.py
  cms/test_data/management/commands/__init__.py
Due: pylint

enable test data app in dev by default
  cms/settings/dev.py
Due: pylint

fix: remove old tests mistakenly brought in when resolving merge conflicts
  cms/core/tests/test_blocks.py
Due: pylint

test: fix test failing due to added data attributes
  cms/core/tests/test_blocks.py
Due: pylint

fix: update image filename data attribute
  cms/core/blocks/embeddable.py
  cms/core/tests/test_blocks.py
Due: pylint

Remove unused arguments
  cms/datavis/blocks/iframe.py
Due: pylint

Set block id for iframe in python config rather than in the template
  cms/datavis/blocks/iframe.py
  cms/jinja2/templates/components/streamfield/datavis/iframe_visualisation_block.html
Due: pylint

Consistency of naming and fix typos
  cms/articles/tests/test_article_models.py
  cms/core/blocks/stream_blocks.py
  cms/core/models/base.py
  cms/jinja2/templates/partials/content_scripts.html
Due: pylint

add topic to get_or_create check for topic page factory
  cms/topics/tests/factories.py
Due: pylint

Separate out the fallback iframe into a noscript tag
  cms/jinja2/templates/components/streamfield/datavis/iframe_visualisation_block.html
Due: none

Fix help text formatting
  cms/datavis/blocks/iframe.py
Due: pylint

refactor: move logic for generating file download gtm attributes to utils
  cms/core/analytics_utils.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/markup.py
  cms/core/tests/test_analytics_utils.py
Due: pylint

fix: resolve type errors
  cms/core/analytics_utils.py
  cms/core/blocks/embeddable.py
Due: pylint

Refactor js loading tests so that equations and iframe js are loaded for the relevant stream blocks
  cms/core/blocks/stream_blocks.py
  cms/standard_pages/blocks.py
Due: pylint
