Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

chore: upgrade javascript dependencies (#760)
  .docker/install-docker-dev-deps.sh
  .eslintignore
  .eslintrc.js
  .nvmrc
  .stylelintrc.js
  Dockerfile
  babel.config.js
  cms/core/static/js/blocks/previous-version-block.js
  cms/static_src/javascript/components/details.js
  cms/static_src/javascript/components/iframe-resize.js
  cms/static_src/javascript/main.js
  cms/static_src/sass/components/design_system_overrides/_grid.scss
  docs/conventions/type_hinting.md
  eslint.config.mjs
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: lint:js, lint:css, lint:format

fix(i18n): remove trailing space in Welsh cookies intro translation
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

fix: ensure we only query for registered action handlers
  cms/bundles/tests/test_management_commands.py
  cms/post_publish_actions/models.py
  cms/post_publish_actions/registry.py
  cms/post_publish_actions/tests/test_models.py
Due: pylint

chore: add comment for rare signal handler events
  cms/frontend_cache/signal_handlers.py
Due: pylint

docs: update post-publish actions documentation to include CACHE_PURGE action and priority details
  docs/custom-features/post-publish-actions.md
Due: none

Use page hook instead of serve
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/core/cache.py
  cms/core/models/base.py
  cms/core/tests/test_cache.py
  cms/core/wagtail_hooks.py
  cms/methodology/tests/test_models.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
Due: pylint

Point back at main
  ci/concourse.yaml
Due: lint:format

fix(cookies): flip untranslated-notice flag test to match new default
  cms/locale/cy/LC_MESSAGES/django.po
  cms/standard_pages/tests/test_pages.py
Due: pylint

Fake change to change sha to rebuild image in CI
  ci/concourse.yaml
Due: lint:format

Point to fake main for bleed rebuild so sha doesn't collide
  ci/concourse.yaml
Due: lint:format

test(standard-pages): rename Welsh cookies notice test
  cms/standard_pages/tests/test_pages.py
Due: pylint

remove pycharm auto imports
  docs/custom-features/post-publish-actions.md
Due: none

fix dash
  docs/custom-features/post-publish-actions.md
Due: none

chore: update `run_post_publish_actions_for` comment for more clarity
  cms/post_publish_actions/utils.py
Due: pylint

fix: update return type annotation for _get_tracked_page_models function
  cms/frontend_cache/signal_handlers.py
Due: pylint

fix: correct typo in docstring for get_registered_action_types function
  cms/post_publish_actions/registry.py
Due: pylint

fix: update translations (#781)
  .secrets.baseline
  cms/locale/cy/LC_MESSAGES/django.po
  cms/settings/base.py
  cms/standard_pages/tests/test_pages.py
Due: pylint

feat(post-publish-actions): run cache purge for pages as post publish action (#797)
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_viewsets.py
  cms/frontend_cache/signal_handlers.py
  cms/frontend_cache/tests/test_signal_handlers.py
  cms/post_publish_actions/models.py
  cms/post_publish_actions/registry.py
  cms/post_publish_actions/tests/test_management_commands.py
  cms/post_publish_actions/tests/test_models.py
  cms/post_publish_actions/tests/test_registry.py
  cms/post_publish_actions/tests/test_utils.py
  cms/post_publish_actions/utils.py
  cms/private_media/signal_handlers.py
  cms/search/signal_handlers.py
  docs/custom-features/post-publish-actions.md
Due: pylint

fix: accept ignore_required_constraints in StreamBlock.clean overrides
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
  cms/topics/blocks.py
  cms/topics/tests/test_blocks.py
Due: pylint

feat: frontend cache invalidation (#505)
  .github/workflows/ci.yml
  cms/articles/models.py
  cms/articles/signals.py
  cms/articles/tests/test_article_models.py
  cms/core/blocks/markup.py
  cms/core/cache.py
  cms/data_downloads/mixins.py
  cms/datavis/blocks/base.py
  cms/frontend_cache/__init__.py
  cms/frontend_cache/apps.py
  cms/frontend_cache/cache.py
  cms/frontend_cache/signal_handlers.py
  cms/frontend_cache/tests/__init__.py
  cms/frontend_cache/tests/backends.py
  cms/frontend_cache/tests/test_signal_handlers.py
  cms/methodology/models.py
  cms/methodology/tests/test_models.py
  cms/search/tests/test_signal_handlers.py
  cms/settings/base.py
  cms/settings/test.py
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_models.py
Due: pylint, lint:format

chore: rename frontend cache feature branch (#794)
  .github/workflows/ci.yml
Due: lint:format

feat: add cache overpurge for paginated URLs (#780)
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/frontend_cache/tests/test_signal_handlers.py
  cms/settings/base.py
  cms/settings/test.py
Due: pylint

feat(cache): improve frontend cache implementation (#785)
  cms/frontend_cache/cache.py
  cms/frontend_cache/signal_handlers.py
  cms/frontend_cache/tests/test_signal_handlers.py
  cms/settings/base.py
Due: pylint

feat(cache): generalise title change signal for cache purge (#696)
  cms/articles/models.py
  cms/articles/signals.py
  cms/core/models/base.py
  cms/core/signals.py
  cms/frontend_cache/cache.py
  cms/frontend_cache/signal_handlers.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

build(deps): upgrade wagtailmath to 1.4.0
  poetry.lock
  pyproject.toml
Due: none

feat(mathjax): serve MathJax from the ONS CDN
  .secrets.baseline
  cms/settings/base.py
Due: pylint

feat(csp): remove cdnjs from the content security policy
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

fix: improve session handling for invalid JWT tokens in ONSAuthMiddleware
  cms/auth/middleware.py
  cms/auth/tests/test_middleware.py
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: pylint

fix nesting on validation against dataset
  cms/bundles/forms.py
Due: pylint

Add topic aware dataset links and dataset topic validation on bundle approval
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/datasets/models.py
  cms/datasets/tests/factories.py
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/tests/test_views.py
  cms/datasets/tests/utils.py
  cms/datasets/utils.py
  cms/datasets/views.py
  cms/test_data/management/commands/create_test_data.py
  cms/topics/tests/test_pages.py
  docs/integrations/dataset_api.md
  functional_tests/features/bundle.feature
  functional_tests/features/topic_page.feature
  functional_tests/step_helpers/datasets.py
  functional_tests/steps/bundles.py
  functional_tests/steps/datasets.py
Due: pylint

fix merge resolution errors
  cms/bundles/notifications/slack.py
  cms/datasets/blocks.py
  cms/datasets/tests/test_models.py
Due: pylint

fix typos
  cms/bundles/forms.py
  cms/datasets/tests/test_views.py
  docs/integrations/dataset_api.md
Due: pylint

fix `latest_version_url` in functional test
  functional_tests/steps/datasets.py
Due: pylint

fix unimplemented test
  cms/datasets/tests/test_models.py
Due: pylint

guard against present but null topics field
  cms/datasets/models.py
Due: pylint

capitalise URL
  docs/integrations/dataset_api.md
Due: none

deduplicate dataset urls, taking topic prefixes into account
  cms/datasets/blocks.py
  cms/datasets/tests/test_blocks.py
  cms/datasets/tests/test_utils.py
  cms/datasets/utils.py
Due: pylint

restore bundle alert type str, Enum inheritance
  cms/bundles/notifications/slack.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
