Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

cms/release_calendar/models.py formating fixed
  cms/release_calendar/models.py
Due: pylint

Fix `KeyError 'changes_to_release_date'` (#26)
  cms/analysis/models.py
  cms/release_calendar/forms.py
Due: pylint

Missing block added
  cms/jinja2/templates/pages/information_page.html
Due: none

Related pages InlinePanel added. Add Info Template updated.
  cms/jinja2/templates/pages/information_page.html
  cms/standard_pages/models.py
Due: pylint

Add Information Page (#21)
  .gitignore
  cms/jinja2/templates/pages/information_page.html
  cms/settings/base.py
  cms/standard_pages/__init__.py
  cms/standard_pages/apps.py
  cms/standard_pages/migrations/0001_initial.py
  cms/standard_pages/migrations/__init__.py
  cms/standard_pages/models.py
  cms/static_src/sass/main.scss
Due: pylint, lint:css, lint:format

Add readiness probe endpoint
  cms/core/tests/test_views.py
  cms/core/views.py
  cms/urls.py
Due: pylint

Add bulk of the Bundles work from Alpha
  cms/bundles/__init__.py
  cms/bundles/admin_forms.py
  cms/bundles/admin_urls.py
  cms/bundles/apps.py
  cms/bundles/enums.py
  cms/bundles/forms.py
  cms/bundles/management/__init__.py
  cms/bundles/management/commands/__init__.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/management/commands/publish_scheduled_without_bundles.py
  cms/bundles/migrations/0001_initial.py
  cms/bundles/migrations/__init__.py
  cms/bundles/models.py
  cms/bundles/notifications.py
  cms/bundles/panels.py
  cms/bundles/templates/bundles/wagtailadmin/add_to_bundle.html
  cms/bundles/templates/bundles/wagtailadmin/edit.html
  cms/bundles/templates/bundles/wagtailadmin/inspect.html
  cms/bundles/templates/bundles/wagtailadmin/panels/latest_bundles.html
  cms/bundles/views.py
  cms/bundles/viewsets.py
  cms/bundles/wagtail_hooks.py
  cms/core/wagtail_hooks.py
  cms/jinja2/assets/icons/boxes-stacked.svg
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint

Make Analysis page bundle-able
  cms/analysis/models.py
Due: pylint

Add tests
  cms/bundles/tests/__init__.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_panels.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/utils.py
  cms/users/tests/__init__.py
  cms/users/tests/factories.py
Due: pylint

Re-enable the scheduler
  .docker/Procfile
  heroku.yml
Due: lint:format

Expand test coverage
  cms/bundles/admin_forms.py
  cms/bundles/forms.py
  cms/bundles/notifications.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_notifications.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/test_wagtail_hooks.py
  cms/bundles/tests/utils.py
  cms/bundles/wagtail_hooks.py
  cms/settings/test.py
Due: pylint

Update the README
  README.md
Due: none

Update the README (#36)
  README.md
Due: none

Tidy up
  cms/analysis/models.py
  cms/bundles/tests/test_management_commands.py
Due: pylint

Update the design system version file
  .design-system-version
Due: none

Update padding and margin classes to nearest equivalents in new version of the design system
  cms/jinja2/templates/components/accredited/accredited-information.html
  cms/jinja2/templates/components/census/census-information.html
  cms/jinja2/templates/components/streamfield/release_content_section.html
  cms/jinja2/templates/components/streamfield/stream_block--related-links.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Update parameter variable names
  cms/core/blocks/embeddable.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/base.html
Due: pylint

Update naming for breakpoint utility classes where it was not already done as part of the padding and margin updates
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Fix to media query sizes, and additional update after recent PRs
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: none

Update font size utility classes
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Connect to elasticache using IAM
  cms/core/cache.py
  cms/settings/base.py
Due: pylint

Tweaks based on feedback
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_notifications.py
  cms/bundles/views.py
  cms/bundles/wagtail_hooks.py
  cms/release_calendar/tests/test_forms.py
Due: pylint

amend config for megalinters
  .copier-answers.yml
  .docker/bashrc.sh
  .eslintrc.js
  .github/ISSUE_TEMPLATE.md
  .github/linters/.yaml-lint.yml
  .github/release.yml
  .github/workflows/mega-linter.yml_todo
  .mega-linter.yml
  .pre-commit-config.yaml
  .yamllint.yml
  CODE_OF_CONDUCT.md
  Makefile
  README.md
  SECURITY.md
  cms/jinja2/templates/base.html
  cms/static_src/javascript/main.js
  cms/static_src/sass/main.scss
  docker-compose.yml
  docs/conventions/type_hinting.md
  docs/custom-features/migration_friendly_streamfields.md
  docs/index.md
  heroku.yml
  jest.config.js
  pa11y.config.js
  scripts/load-design-system-templates.sh
  tsconfig.json
  webpack.config.js
Due: lint:js, lint:css, lint:format

Added make commands
  Makefile
  docker-compose-backend-services.yml
Due: lint:format

add shebang to bashrc
  .docker/bashrc.sh
  .eslintrc.js
  .github/ISSUE_TEMPLATE.md
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  cms/static_src/javascript/main.js
  core
  docs/conventions/type_hinting.md
  docs/index.md
  jest.config.js
  pa11y.config.js
  scripts/load-design-system-templates.sh
  webpack.config.js
Due: lint:js, lint:format

add lint changes v1
  .copier-answers.yml
  .github/release.yml
  .pre-commit-config.yaml
  .stylelintrc.js
Due: lint:js, lint:format

md line length changes
  .copier-answers.yml
  .pre-commit-config.yaml
  README.md
  docker-compose.yml
  docs/custom-features/migration_friendly_streamfields.md
  heroku.yml
Due: lint:format

add lint changes v21
  .markdownlint.json
  .pre-commit-config.yaml
Due: lint:format

Back to format_html
  cms/bundles/panels.py
Due: pylint

add lint changes v3
  .pre-commit-config.yaml
  .yamllint.yml
  heroku.yml
Due: lint:format

Added .env to .dockerignore
  .dockerignore
  docker-compose-dev.yml
Due: lint:format

Extract dev backing services to their own compose
  docker-compose-dev.yml
  docker-compose.yml
Due: lint:format

Added example .env file
  .env-dev-example
Due: none

Added runbook to the readme
  README.md
Due: none

Replaced comonly used commands to convenience aliases in the readme
  README.md
Due: none

Updated the makefile
  Makefile
Due: none

Testing markdown rendering
  README.md
Due: none

Formating
  README.md
Due: none

Added django-migration-linter to project dependencies and updated Makefile
  Makefile
  cms/settings/base.py
  poetry.lock
  pyproject.toml
Due: pylint
