Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Implement signal handlers
  cms/core/models/base.py
  cms/private_media/apps.py
  cms/private_media/signal_handlers.py
  cms/private_media/utils.py
Due: pylint

Use 'before_serve_document' hook to enforce permission checking for private documents
  cms/private_media/wagtail_hooks.py
Due: pylint

Only apply MediaParentMixin to page types that use media
  cms/core/models/base.py
  cms/standard_pages/models.py
Due: pylint

Only use pages or other objects as 'parents' IF the model class uses 'MediaParentMixin', and make the same pre-requisite for actions taken in signal handlers
  cms/private_media/signal_handlers.py
  cms/private_media/views/mixins.py
Due: pylint

Remove method overrides from MediaParentMixin
  cms/private_media/models.py
Due: pylint

Add management command to retry failed permission-setting attempts
  cms/private_media/management/commands/retry_failed_file_permission_attempts.py
  cms/private_media/utils.py
Due: pylint

Move overridden base forms to private_media app to reduce sprawl
  cms/documents/admin_forms.py
  cms/images/admin_forms.py
  cms/private_media/admin_forms.py
  cms/settings/base.py
Due: pylint

Remove PrivacySettingFileSystemSorage for now, and instead use logging in 'bulk_set_file_permissions' to state when the backend does not implement 'make_private' or 'make_public'
  cms/private_media/bulk_operations.py
  cms/private_media/storages.py
  cms/settings/base.py
Due: pylint

Add docstrings to explain the as_view() overrides on custom chooser views
  cms/private_media/views/document.py
  cms/private_media/views/image.py
Due: pylint

Ensure models created during migrations are accessible to tests
  cms/core/tests/__init__.py
Due: pylint

Add tests for homepage with read only connection
  cms/home/tests/__init__.py
  cms/home/tests/test_page.py
Due: pylint

Ensure site settings don't try and create themselves in external env
  cms/core/models/base.py
  cms/core/models/settings.py
  cms/core/tests/__init__.py
  cms/home/tests/test_page.py
Due: pylint

Move util methods to mixin
  cms/core/tests/__init__.py
  cms/home/tests/test_models.py
  cms/home/tests/test_page.py
Due: pylint

Add some tests for settings handling
  cms/core/tests/test_settings.py
Due: pylint

Comb the reference index on subsequent saves to catch any media that couldn't be parented first time round
  cms/private_media/signal_handlers.py
Due: pylint

Placate linters
  cms/private_media/apps.py
  cms/private_media/management/commands/retry_failed_file_permission_attempts.py
  cms/private_media/models.py
  cms/private_media/signal_handlers.py
  cms/private_media/utils.py
  cms/private_media/views/mixins.py
Due: pylint

Pipeline test
  Makefile
Due: none

Login using JWT token cookie
  cms/core/auth.py
  cms/core/management/commands/scheduler.py
  cms/core/migrations/0004_update_user_groups.py
  cms/core/views.py
  cms/settings/base.py
  cms/teams/__init__.py
  cms/teams/apps.py
  cms/teams/management/__init__.py
  cms/teams/management/commands/__init__.py
  cms/teams/management/commands/sync_teams.py
  cms/teams/migrations/0001_initial.py
  cms/teams/migrations/__init__.py
  cms/teams/models.py
  cms/teams/views.py
  cms/teams/wagtail_hooks.py
  cms/urls.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Enable searching of teams + make teams view only
  cms/teams/migrations/0001_initial.py
  cms/teams/models.py
  cms/teams/views.py
  cms/users/migrations/0002_user_teams.py
Due: pylint

Assign teams on login + fix auth logic
  cms/core/auth.py
  cms/core/views.py
  cms/settings/base.py
  cms/teams/management/commands/sync_teams.py
  cms/teams/migrations/0001_initial.py
  cms/teams/models.py
  cms/users/migrations/0002_user_teams.py
  cms/users/models.py
Due: pylint

Clean up custom fixture implementation
  cms/core/tests/__init__.py
  cms/core/tests/test_read_only_connection.py
Due: pylint

Always use custom transaction test case
  cms/core/tests/test_db_router.py
Due: pylint

fixup! Clean up custom fixture implementation
  cms/core/tests/__init__.py
Due: pylint

Clean up settings tests
  cms/core/tests/test_settings.py
Due: pylint

Add router to prevent writes to most tables
  cms/core/db_router.py
  cms/core/tests/test_read_only_connection.py
  cms/settings/base.py
Due: pylint

Disable caches in tests
  cms/settings/test.py
Due: pylint

Improve performance of DB router tests
  cms/core/tests/test_db_router.py
Due: pylint

Restore assertions that settings don't exist in DB
  cms/core/tests/test_settings.py
Due: pylint

Remove the dj aliases and changed the commands in README
  README.md
Due: none

Makefile fix
  Makefile
Due: none

Remove the dj aliases and changed the commands in README (this time for real)
  .docker/bashrc.sh
Due: none

Keep memory cache in tests
  cms/settings/test.py
Due: pylint

Merge connection helpers into custom transaction test case
  cms/core/tests/__init__.py
  cms/core/tests/test_settings.py
  cms/home/tests/test_models.py
Due: pylint

Reuse custom transaction test case
  cms/core/tests/test_db_router.py
Due: pylint

Added the make dev-init script and updated README
  Makefile
  README.md
Due: none

Attempt to format the Makefile to make CI pass
  Makefile
Due: none

adjust config files
  .github/linters/.gitleaks.toml
  .github/linters/.hadolint.yaml
  .github/linters/.markdownlint.json
  .github/linters/.scss-lint.yml
  .github/linters/.secretlintrc.json
  .github/linters/.stylelintignore
  .github/linters/.yaml-lint.yml
  .github/linters/.yamllint.yml
  .github/linters/kics.config
  .grype.yaml
  .markdown-link-check.json
  .mega-linter.yml
  .stylelintignore
Due: lint:format

Custom django lint migrations script added for cleaner output
  scripts/lintmigrations_custom.py
Due: pylint

Poetry lock file updated
  poetry.lock
Due: none

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
