Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Treat the slug as if it was mandatory - don't remove Topics that don't have it
  cms/taxonomy/management/commands/sync_topics.py
Due: pylint

Remove slash from new test path
  cms/core/tests/test_pages.py
Due: pylint

Update unit tests
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Add the slug field to the fixture
  cms/taxonomy/fixtures/topics.json
Due: lint:format

Fix
  cms/taxonomy/management/commands/sync_topics.py
Due: pylint

Added warning when slug is missing + unit tests
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/factories.py
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Fix 2
  cms/taxonomy/management/commands/sync_topics.py
Due: pylint

Fixed unit tests
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Rephrase warn message to say created/updated
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Bump Django version to fix Megalinter
  poetry.lock
Due: none

Ignore migration linter error
  cms/settings/dev.py
Due: pylint

Fix typo
  cms/taxonomy/management/commands/sync_topics.py
Due: pylint

Add panel to display "rcp title (status) (date)" in bundles
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/release_calendar/models.py
  cms/release_calendar/panels.py
  cms/release_calendar/utils.py
  cms/release_calendar/viewsets.py
Due: pylint

Add unit tests
  cms/bundles/tests/test_viewsets.py
Due: pylint

Regenerated poetry.lock
  poetry.lock
Due: none

Re-add return type and combine steps
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/topic_page.py
Due: pylint

Upgrade Django to 5.2.6
  poetry.lock
  pyproject.toml
Due: none

Add not-callable to disabled checks
  .pylintrc
Due: none

Remove disable=no-name-in-module
  functional_tests/steps/admin_page.py
  functional_tests/steps/auth.py
  functional_tests/steps/breadcrumb.py
  functional_tests/steps/bundles.py
  functional_tests/steps/cms_login.py
  functional_tests/steps/contact_details_snippet.py
  functional_tests/steps/datasets.py
  functional_tests/steps/footer_menu.py
  functional_tests/steps/glossary_terms_snippet.py
  functional_tests/steps/home_page.py
  functional_tests/steps/information_page.py
  functional_tests/steps/javascript_disabled.py
  functional_tests/steps/localisation.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/taxonomy.py
  functional_tests/steps/topic_page.py
  functional_tests/steps/topic_page_manual_related_articles.py
  functional_tests/steps/workflows.py
Due: pylint

Explicitly define type to silence linters
  cms/release_calendar/models.py
  cms/topics/models.py
Due: pylint

Use StrOrPromise
  cms/release_calendar/models.py
  cms/topics/models.py
Due: pylint

Revert changes made to clean state
  .pylintrc
  cms/release_calendar/models.py
  cms/topics/models.py
  functional_tests/steps/admin_page.py
  functional_tests/steps/auth.py
  functional_tests/steps/breadcrumb.py
  functional_tests/steps/bundles.py
  functional_tests/steps/cms_login.py
  functional_tests/steps/contact_details_snippet.py
  functional_tests/steps/datasets.py
  functional_tests/steps/footer_menu.py
  functional_tests/steps/glossary_terms_snippet.py
  functional_tests/steps/home_page.py
  functional_tests/steps/information_page.py
  functional_tests/steps/javascript_disabled.py
  functional_tests/steps/localisation.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/taxonomy.py
  functional_tests/steps/topic_page.py
  functional_tests/steps/topic_page_manual_related_articles.py
  functional_tests/steps/workflows.py
  poetry.lock
  pyproject.toml
Due: pylint

Update Django only
  poetry.lock
  pyproject.toml
Due: none

Upgrade Django to 5.2.6 (#363)
  poetry.lock
  pyproject.toml
Due: none

Revert "Add not-callable to disabled checks"
  .pylintrc
Due: none

Revert "Remove disable=no-name-in-module"
  functional_tests/steps/admin_page.py
  functional_tests/steps/auth.py
  functional_tests/steps/breadcrumb.py
  functional_tests/steps/bundles.py
  functional_tests/steps/cms_login.py
  functional_tests/steps/contact_details_snippet.py
  functional_tests/steps/datasets.py
  functional_tests/steps/footer_menu.py
  functional_tests/steps/glossary_terms_snippet.py
  functional_tests/steps/home_page.py
  functional_tests/steps/information_page.py
  functional_tests/steps/javascript_disabled.py
  functional_tests/steps/localisation.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
  functional_tests/steps/taxonomy.py
  functional_tests/steps/topic_page.py
  functional_tests/steps/topic_page_manual_related_articles.py
  functional_tests/steps/workflows.py
Due: pylint

Revert "Explicitly define type to silence linters"
  cms/release_calendar/models.py
  cms/topics/models.py
Due: pylint

Regenerate poetry.lock
  poetry.lock
Due: none

Removed comment
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Added comment
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

Add `slug` field to taxonomy Topics (#362)
  cms/settings/dev.py
  cms/taxonomy/fixtures/topics.json
  cms/taxonomy/management/commands/sync_topics.py
  cms/taxonomy/migrations/0003_topic_slug.py
  cms/taxonomy/models.py
  cms/taxonomy/tests/factories.py
  cms/taxonomy/tests/test_management_commands.py
Due: pylint, lint:format

Remove commented out code
  functional_tests/steps/topic_page.py
Due: pylint

Updates around "topic_tag_path"
  cms/taxonomy/models.py
  cms/taxonomy/tests/test_models.py
Due: pylint

Use TopicFactory in tests
  cms/taxonomy/tests/test_models.py
Due: pylint

Use TopicFactory in tests 2
  cms/taxonomy/tests/test_models.py
Due: pylint

Add the route
  cms/articles/models.py
Due: pylint

Extract logic from the template
  cms/jinja2/templates/pages/topic_page.html
  cms/taxonomy/models.py
  cms/taxonomy/tests/test_models.py
  cms/topics/models.py
Due: pylint

Change back wording in the tempalte
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/models.py
Due: pylint

Add ui tests
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
Due: pylint

Move ReleaseCalendarChooserPanel code under bundles app as panel is used in bundles.model
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/utils.py
  cms/release_calendar/panels.py
  cms/release_calendar/utils.py
  cms/release_calendar/viewsets.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
