Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

refactor: Use capitalised names for constants
  cms/datavis/blocks/base.py
Due: pylint

linting
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

more linting
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Refactor and add to more models
  cms/articles/forms.py
  cms/articles/tests/test_utils.py
  cms/articles/utils.py
  cms/core/forms.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/methodology/models.py
  cms/standard_pages/models.py
Due: pylint

refactor: Compare named objects instead of strings
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

Force `GenericRelation` targets to use the default DB connection
  cms/core/db_router.py
  cms/core/models/base.py
  cms/core/tests/test_db_router.py
  cms/core/tests/test_read_only_connection.py
Due: pylint

Keep using replica in external environment
  cms/core/db_router.py
  cms/core/tests/test_db_router.py
Due: pylint

revert to if statements for better readability and update related data if statement
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

linting
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Add previewes and default datetime
  cms/core/custom_date_format.py
  cms/core/widgets.py
  cms/release_calendar/models.py
Due: pylint

Remove ReleaseCalendar page from test
  cms/bundles/tests/test_viewsets.py
Due: pylint

Enhance ONSAuthMiddleware tests with user creation and session handling scenarios
  cms/auth/tests/test_middleware.py
  poetry.lock
Due: pylint

extract translatable string for Djangos makemessages in next release item
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

linting updates
  cms/jinja2/templates/components/streamfield/glossary_section_block.html
Due: none

Add tests for chooser filter
  cms/bundles/tests/test_viewsets.py
Due: pylint

Add negative test and refactor code
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle_page_chooser.py
Due: pylint

Attempt to fix functional tests which only fails remotely
  functional_tests/steps/methodology_page.py
Due: pylint

Attempt again to fix functional tests which only fails remotely
  functional_tests/steps/methodology_page.py
Due: pylint

Add test workaround for functional test
  functional_tests/steps/methodology_page.py
Due: pylint

Make most page types bundleable (#183)
  cms/articles/migrations/0001_initial.py
  cms/articles/models.py
  cms/bundles/admin_forms.py
  cms/bundles/forms.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/management/commands/publish_scheduled_without_bundles.py
  cms/bundles/mixins.py
  cms/bundles/models.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/test_wagtail_hooks.py
  cms/bundles/utils.py
  cms/bundles/views/add_to_bundle.py
  cms/bundles/views/preview.py
  cms/bundles/viewsets/bundle.py
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/bundles/wagtail_hooks.py
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/topics/models.py
  cms/workflows/wagtail_hooks.py
  functional_tests/steps/methodology_page.py
Due: pylint

Remove custom SCSS, add comment
  cms/core/static/js/blocks/equation-block.js
  cms/jinja2/templates/components/streamfield/equation_block.html
  cms/static_src/sass/components/_equation.scss
  cms/static_src/sass/components/_js-only-element.scss
  cms/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

Refactor ONSLogoutView and ExtendSession tests for improved clarity and functionality
  cms/auth/tests/test_views.py
Due: pylint

Add ReleaseDateBlockAdapter
  cms/articles/signal_handlers.py
  cms/core/static/js/blocks/release-date-change-block.js
  cms/release_calendar/blocks.py
Due: pylint, lint:js, lint:format

Add thread lock to SVG generation
  cms/core/utils.py
Due: pylint

Improve doc string wording
  cms/core/db_router.py
  cms/core/tests/test_db_router.py
Due: pylint

Refactor test files to remove unnecessary comments and improve clarity in Wagtail hook tests
  cms/auth/tests/test_sync_teams.py
  cms/auth/tests/test_utils.py
  cms/auth/tests/test_wagtail_hooks.py
Due: pylint

Update poetry dependencies and address mypy errors
  cms/bundles/enums.py
  cms/bundles/notifications.py
  cms/private_media/models/mixins.py
  cms/release_calendar/enums.py
  poetry.lock
Due: pylint

Add tests for sync_teams management command covering creation, update, deactivation, and error handling
  cms/auth/tests/test_sync_teams.py
  cms/teams/tests/__init__.py
  cms/teams/tests/test_management_commands.py
Due: pylint

Update poetry dependencies and address mypy errors (#196)
  cms/bundles/enums.py
  cms/bundles/notifications.py
  cms/private_media/models/mixins.py
  cms/release_calendar/enums.py
  poetry.lock
Due: pylint

Force read only DB connection (#191)
  cms/core/database_backends/postgres_readonly/base.py
  cms/core/db_router.py
  cms/core/tests/test_db_router.py
  cms/core/tests/test_read_only_connection.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/settings/functional_test.py
  cms/settings/test.py
Due: pylint

Refactor tests and business logic to use named objects (#194)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_chart_blocks.py
Due: pylint

Add system checks for base_form_class
  cms/core/checks.py
Due: pylint

Add a datasets inline to Bundle, and handle multi-select
  cms/bundles/migrations/0003_bundledataset.py
  cms/bundles/models.py
  cms/datasets/views.py
Due: pylint

Implement code changes to enhance functionality and improve performance
  poetry.lock
Due: none

Refactor tests to disable pylint warnings for protected access and improve readability
  cms/auth/tests/test_middleware.py
  cms/auth/tests/test_wagtail_hooks.py
  cms/teams/tests/test_management_commands.py
Due: pylint

remove duplicate width & set labels outside of contact item for localisation
  cms/jinja2/templates/components/census/census-logo.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Accessibility: HTML Validation Fixes (#193)
  cms/jinja2/templates/components/accredited/accredited-logo.html
  cms/jinja2/templates/components/census/census-logo.html
  cms/jinja2/templates/components/streamfield/glossary_section_block.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Add bundled datasets to inspect, tests
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
  cms/datasets/models.py
  cms/datasets/tests/factories.py
Due: pylint

Improve get_objects method
  cms/datasets/views.py
Due: pylint
