Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Add default heading 1 and breadcrumbs for templates that haven't yet had a banner added
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/analysis_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
Due: none

Try preparing the test database with migrations
  .github/workflows/ci.yml
Due: lint:format

Add tests for PrivacySettingS3Storage
  cms/private_media/tests/test_storages.py
Due: pylint

Be consistant in checking mocks across test_make_public and test_make_private
  cms/private_media/tests/test_storages.py
Due: pylint

Run migrations to work around Django bug
  .github/workflows/ci.yml
Due: lint:format

Run CMS locally with supporting services in Docker (#38)
  .development.env
  .docker/bashrc.sh
  .dockerignore
  Makefile
  README.md
  docker-compose-dev.yml
  docker-compose.yml
Due: lint:format

Don't show 2 h1s on the release calendar page
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
Due: none

Improve docstrings on new router and model
  cms/core/db_router.py
  cms/core/models/base.py
Due: pylint

Fixed linting issues
  scripts/lintmigrations_custom.py
Due: pylint

Lock file updated
  poetry.lock
Due: none

Outer scope variable redefining lint issue fixed
  scripts/lintmigrations_custom.py
Due: pylint

Removing lintmigration step
  .github/workflows/ci.yml
Due: lint:format

Django migration linter moved out of the dev dependency
  poetry.lock
  pyproject.toml
Due: none

README updated and make file commands added for lintmigrations and lintmigrations custom output
  Makefile
  README.md
Due: none

Migration linter step added back in
  .github/workflows/ci.yml
Due: lint:format

Retry to execute make command for migration linter
  .github/workflows/ci.yml
Due: lint:format

Retry
  .github/workflows/ci.yml
Due: lint:format

Add support for refreshing token
  .gitignore
  cms/auth/middleware.py
  cms/auth/static/js/auth.js
  cms/auth/views.py
  cms/auth/wagtail_hooks.py
  cms/settings/base.py
  cms/urls.py
Due: pylint, lint:js, lint:format

Add default heading 1 and breadcrumbs for templates that haven't yet had a banner added (#49)
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/analysis_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
Due: none

Use mock_aws instead
  cms/private_media/tests/test_storages.py
  poetry.lock
  pyproject.toml
Due: pylint

Add note to docs about image serve view responses not being cached
  docs/custom-features/media_privacy.md
Due: none

Just import rendition model
  cms/core/db_router.py
  cms/core/tests/test_read_only_connection.py
Due: pylint

Ensure fake DB can't run migrations
  cms/core/db_router.py
Due: pylint

Extract read replica alias to constant
  cms/core/db_router.py
  cms/core/tests/__init__.py
  cms/core/tests/test_db_router.py
Due: pylint

Fix headings, fix test env initialisation issues, utilise compose extends to reduce duplication
  Makefile
  README.md
  functional_tests/docker-compose-dev-app.yml
  functional_tests/docker-compose.yml
  functional_tests/steps/home_page.py
  functional_tests/steps/information_page.py
  functional_tests/steps/release_page.py
Due: pylint, lint:format

Use existing factory classes, remove duplication
  cms/users/tests/factories.py
  functional_tests/step_helpers/factories.py
  functional_tests/step_helpers/users.py
  functional_tests/steps/contact_details_snippet.py
  functional_tests/steps/release_page.py
Due: pylint

README updates and fixes
  functional_tests/README.md
Due: none

Add a custom chooser for release calendar pages that only includes upcoming release calendar pages
  cms/analysis/models.py
  cms/bundles/models.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_viewsets.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_viewsets.py
  cms/release_calendar/viewsets.py
  cms/release_calendar/wagtail_hooks.py
Due: pylint

Add missing string translation on the information page template
  cms/jinja2/templates/pages/information_page.html
Due: none

Placate pylint
  cms/release_calendar/tests/test_forms.py
Due: pylint

Update functional_tests/steps/home_page.py
  functional_tests/steps/home_page.py
Due: pylint

Update functional_tests/steps/release_page.py
  functional_tests/steps/release_page.py
Due: pylint

Use readable pylint names instead of codes
  functional_tests/steps/cms_login.py
  functional_tests/steps/contact_details_snippet.py
  functional_tests/steps/home_page.py
  functional_tests/steps/information_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/release_page.py
Due: pylint

Remove verbose flag from CI
  .github/workflows/ci.yml
Due: lint:format

Remove query assertions for homepage
  cms/home/tests/test_models.py
Due: pylint

Use default alias constant
  cms/core/tests/__init__.py
  cms/core/tests/test_db_router.py
  cms/core/tests/test_settings.py
Due: pylint

Drop page status column
  cms/release_calendar/viewsets.py
Due: pylint

Support a mostly read-only database connection for external environment (#44)
  .github/workflows/ci.yml
  Makefile
  cms/analysis/tests/test_models.py
  cms/core/db_router.py
  cms/core/models/base.py
  cms/core/models/settings.py
  cms/core/tests/__init__.py
  cms/core/tests/test_db_router.py
  cms/core/tests/test_read_only_connection.py
  cms/core/tests/test_settings.py
  cms/home/tests/__init__.py
  cms/home/tests/test_models.py
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/tests/test_models.py
  cms/settings/base.py
  cms/settings/test.py
Due: pylint, lint:format

Intentionally fail a scenario for demonstration purposes
  functional_tests/steps/information_page.py
Due: pylint

Revert intentional fail
  functional_tests/steps/information_page.py
Due: pylint
