Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Re-add article model migration
  cms/articles/migrations/0002_articleseriespage_listing_image_and_more.py
Due: pylint

Ignoring migration: 0002_articleseriespage_listing_image_and_more
  cms/settings/dev.py
Due: pylint

Propagate the figure id through the chooser
  cms/topics/blocks.py
  cms/topics/static/topics/js/headline-figure-block.js
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint, lint:js, lint:format

Address a couple of small code review feedback points
  cms/jinja2/templates/datavis/_macro.njk
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Remove json encoding in the python and use jinja's filter
  cms/datavis/models/charts.py
  cms/jinja2/templates/datavis/_macro.njk
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: pylint, lint:js, lint:format

Add parents topics column to chooser
  cms/taxonomy/models.py
  cms/taxonomy/viewsets.py
Due: pylint

Renamed a test function
  functional_tests/steps/page_editor.py
Due: pylint

Revert experimental chooser enhancements
  cms/taxonomy/models.py
  cms/taxonomy/viewsets.py
Due: pylint

remove console log
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Charts: pass config and annotations to the macro as json (#105)
  cms/jinja2/templates/datavis/_macro.njk
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: lint:js, lint:format

Working version
  cms/core/wagtail_hooks.py
  cms/jinja2/assets/js/editor_minimap_settings.js
  cms/jinja2/assets/js/richtext_toolbar_settings.js
Due: pylint, lint:js, lint:format

Improve chooser to include all headline figures per latest article in series
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint

Wire the topic headline figure in the template
  cms/articles/models.py
  cms/jinja2/templates/components/streamfield/topic_headline_figures_block.html
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/blocks.py
  cms/topics/models.py
Due: pylint

Fix headline figure adapter
  cms/topics/static/topics/js/headline-figure-block.js
Due: lint:js, lint:format

Added functional tests + moved to a single js file
  cms/core/wagtail_hooks.py
  cms/jinja2/assets/js/editor_minimap_settings.js
  cms/jinja2/assets/js/richtext_toolbar_settings.js
  cms/jinja2/assets/js/wagtail-editor-customisations.js
  functional_tests/features/information_page.feature
  functional_tests/steps/information_page.py
Due: pylint, lint:js, lint:format

Removed an old comment
  cms/core/wagtail_hooks.py
Due: pylint

complete amendmentss
  cms/articles/models.py
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/settings/dev.py
Due: pylint

Experiment - removed the delay in preview test
  functional_tests/steps/methodology_page.py
Due: pylint

^ the same for the mandatory fields scenario 🤔
  functional_tests/features/methodology_page.feature
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
Due: pylint

Add back the delay for mandatory fields scenario + make step wording more precise
  functional_tests/features/methodology_page.feature
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
Due: pylint

Experiment - move the delay to the 'then' step of the mandatory fields scenario
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
Due: pylint

^ revert the above
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
Due: pylint

Experiment - replace delay with wait_for_load_state
  functional_tests/steps/page_editor.py
Due: pylint

^ the same but after clicking the button
  functional_tests/steps/page_editor.py
Due: pylint

Bring typing hinting in line with our standards
  cms/taxonomy/management/commands/sync_topics.py
Due: pylint

Revert to using delay
  functional_tests/steps/page_editor.py
Due: pylint

Change formatting ignore rules + format the new .js file
  .prettierignore
  cms/jinja2/assets/js/wagtail-editor-customisations.js
Due: lint:js, lint:format

Refactor steps for info page
  functional_tests/features/information_page.feature
  functional_tests/steps/information_page.py
Due: pylint

Test improvements
  functional_tests/steps/information_page.py
Due: pylint

correctly add ds ons_pagination
  cms/articles/models.py
  cms/jinja2/templates/components/streamfield/pagination_block.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/settings/dev.py
  functional_tests/steps/previous_releases_page.py
Due: pylint

Added test for remembering user choice
  functional_tests/features/information_page.feature
  functional_tests/steps/information_page.py
  functional_tests/steps/page_editor.py
Due: pylint

Test improvements
  functional_tests/features/methodology_page.feature
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
Due: pylint

Methodology page UI tests (#102)
  functional_tests/features/information_page.feature
  functional_tests/features/methodology_page.feature
  functional_tests/features/release_page.feature
  functional_tests/features/topic_page.feature
  functional_tests/steps/articles.py
  functional_tests/steps/methodology_page.py
  functional_tests/steps/page_editor.py
  functional_tests/steps/topic_page.py
Due: pylint

Small rewording + use .first
  functional_tests/features/information_page.feature
  functional_tests/steps/page_editor.py
Due: pylint

[UR tweaks] Show the rich text toolbar and the minimap by default (#106)
  .prettierignore
  cms/core/wagtail_hooks.py
  cms/jinja2/assets/js/wagtail-editor-customisations.js
  functional_tests/features/information_page.feature
  functional_tests/steps/information_page.py
  functional_tests/steps/page_editor.py
Due: pylint, lint:js, lint:format

save_new_topic usage updated to make work as an instance method of Topic instead of getting it to work as a classmethod (save_new_topic is not a classmethod)
  cms/taxonomy/tests/test_management_commands.py
Due: pylint

sync_topics, _update_topic function refactored
  cms/taxonomy/management/commands/sync_topics.py
Due: pylint

Tidy up the Bundle viewset and chooser search
  cms/bundles/models.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets.py
Due: pylint

Tidy up
  cms/bundles/viewsets.py
Due: pylint

Tidy up the Bundle viewset and chooser search (#107)
  cms/bundles/models.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
