Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Add tests for `retry_post_publish_actions`
  cms/post_publish_actions/executor.py
  cms/post_publish_actions/management/commands/retry_post_publish_actions.py
  cms/post_publish_actions/tests/test_management_commands.py
Due: pylint

Correct translations messages
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Fix typo in header name
  cms/settings/tests/test_settings.py
Due: pylint

Add GTM to script-src
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

Allow localhost connections in Wagtail
  cms/settings/dev.py
Due: pylint

Update base templates to remove overrides, and all page templates to use the new blocks. Remove unused CSS overrides.
  .design-system-version
  cms/core/templatetags/page_config_tags.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/definitions/definition_preview.html
  cms/jinja2/templates/components/navigation/footer_menu_preview.html
  cms/jinja2/templates/components/navigation/main_menu_preview.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/errors/403.html
  cms/jinja2/templates/pages/errors/base_error.html
  cms/jinja2/templates/pages/home_page.html
  cms/jinja2/templates/pages/index_page.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/login_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_index_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/jinja2/templates/pages/wagtail/password_required.html
  cms/static_src/sass/components/design_system_overrides/_grid.scss
  cms/static_src/sass/components/design_system_overrides/_header.scss
  cms/static_src/sass/main.scss
Due: pylint, lint:css, lint:format

Use force_write_db_for
  cms/taxonomy/models.py
Due: pylint

add new labels and suppress page types for future unselectable page types
  cms/articles/models.py
  cms/core/enums.py
  cms/core/formatting_utils.py
  cms/core/models/base.py
  cms/core/tests/test_blocks.py
  cms/core/tests/test_formatting_utils.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  cms/home/models.py
  cms/locale/cy/LC_MESSAGES/django.po
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/themes/models.py
  cms/topics/blocks.py
  cms/topics/models.py
  cms/topics/tests/test_blocks.py
Due: pylint

Add external links for methodologies on Topic pages (#609)
  cms/core/enums.py
  cms/core/formatting_utils.py
  cms/core/forms.py
  cms/core/tests/__init__.py
  cms/jinja2/templates/pages/topic_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/settings/dev.py
  cms/topics/forms.py
  cms/topics/migrations/0009_topicpagerelatedmethodology_content_type_and_more.py
  cms/topics/models.py
  cms/topics/services/related_content.py
  cms/topics/services/types.py
  cms/topics/tests/factories.py
  cms/topics/tests/test_migrations.py
  cms/topics/tests/test_models.py
  functional_tests/features/topic_page_manual_related_articles.feature
  functional_tests/features/topic_page_manual_related_methodologies.feature
  functional_tests/steps/topic_page.py
  functional_tests/steps/topic_page_manual_related_articles.py
  functional_tests/steps/topic_page_manual_related_methodologies.py
Due: pylint

fix mypy
  cms/articles/models.py
Due: pylint

fix typo in test
  cms/core/tests/test_utils.py
Due: pylint

Add previous releases preview mode
  cms/articles/models.py
Due: pylint

Move the preview items to a new block so it appears before the breadcrumbs, and ensure it sits inside a landmark element
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/preview-bar/preview-bar.html
Due: none

ignore megalinter reports in .po file
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Re-add test removed on merge
  cms/topics/tests/test_models.py
Due: pylint

Regenerate .po file
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Update migration number
  cms/topics/migrations/0010_topicpagerelatedarticle_content_type_and_more.py
Due: pylint

Update migration dependency
  cms/topics/migrations/0010_topicpagerelatedarticle_content_type_and_more.py
Due: pylint

Ensure content type defined for all related items
  cms/topics/services/related_content.py
Due: pylint

Add tests, remove redundant ones
  cms/articles/tests/test_series_models.py
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Manually trigger post-publish actions when publishing bundles
  cms/bundles/utils.py
  cms/post_publish_actions/signal_handlers.py
  cms/post_publish_actions/utils.py
Due: pylint

Add tests for publishing bundles through viewset
  cms/bundles/tests/test_viewsets.py
Due: pylint

Flush executor when stopping tests
  cms/core/tests/runner.py
  cms/post_publish_actions/executor.py
Due: pylint

update setup-python version comment
  .github/workflows/ci.yml
Due: lint:format

update cache action version comment
  .github/workflows/ci.yml
Due: lint:format

Allow configuring DB pool size through env vars
  cms/settings/base.py
Due: pylint

Add comment for why 110s publish timeout
  cms/settings/base.py
Due: pylint

Update translations
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Remove old translation messages
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

Remove duplicate assertion
  cms/settings/tests/test_settings.py
Due: pylint

Read CSRF token from DOM rather than Wagtail config
  cms/auth/tests/test_utils.py
  cms/auth/utils.py
  cms/jinja2/templates/base_page.html
  cms/static_src/javascript/auth.js
Due: pylint, lint:js, lint:format

Add type ignore
  cms/topics/services/related_content.py
Due: pylint

Require at least 1 model
  cms/test_data/config.py
Due: pylint

Don't allow blank seeds
  cms/test_data/management/commands/create_test_data.py
Due: pylint

Remove duplicate wagtail-factories install
  poetry.lock
  pyproject.toml
Due: none

update license section of readme
  README.md
Due: none

correct link scheme
  README.md
Due: none

Update spelling to match repo file
  README.md
Due: none

Use Wagtail config to get CSRF if available
  cms/static_src/javascript/auth.js
Due: lint:js, lint:format

Undo mass package updates
  poetry.lock
Due: none
