Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Add and serve a related data preview mode
  cms/articles/models.py
Due: pylint

Update dev settings
  cms/settings/base.py
  cms/settings/dev.py
  webpack.config.js
Due: pylint, lint:js, lint:format

Fix KafkaConsumer bootstrap_servers to be a list
  cms/search/tests/test_kafka_integration.py
Due: pylint

Update KAFKA_SERVER configuration to use port 9092
  cms/settings/local.py.example
Due: none

Update Makefile
  Makefile
Due: none

Add defer_streamfields() in util_tags.py
  cms/core/templatetags/util_tags.py
Due: pylint

Move localised_version_not_available
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
Due: none

Remove unnecessary settings
  cms/jinja2/templates/base.html
Due: none

Return meta config
  cms/jinja2/templates/base.html
Due: none

Update Kafka configuration in local and test settings; adjust Docker Compose for new listener ports
  cms/settings/local.py.example
  cms/settings/test.py
  docker-compose-dev.yml
  docker-compose.yml
Due: pylint, lint:format

Add missing import statement for os in test settings
  cms/settings/test.py
Due: pylint

fix: sync_teams datetime timezone
  cms/teams/management/commands/sync_teams.py
Due: pylint

Update KAFKA_SERVER configuration to use port 9094 in local settings
  cms/settings/local.py.example
Due: none

Add additional integration tests
  cms/articles/models.py
  cms/articles/tests/test_pages.py
  cms/topics/tests/test_models.py
  cms/topics/tests/test_pages.py
Due: pylint

fix: Only deactivate active team
  cms/teams/management/commands/sync_teams.py
Due: pylint

Add Welsh locale support (#140)
  .github/workflows/ci.yml
  Makefile
  README.md
  cms/articles/tests/test_pages.py
  cms/core/jinja2tags.py
  cms/core/migrations/0007_remove_glossaryterm_core_glossary_term_name_unique_and_more.py
  cms/core/models/snippets.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_models.py
  cms/core/tests/test_pages.py
  cms/core/tests/test_tags.py
  cms/core/viewsets.py
  cms/core/wagtail_hooks.py
  cms/jinja2/component_overrides/header/_macro.njk
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/components/streamfield/glossary_section_block.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  cms/navigation/migrations/0003_footermenu_locale_footermenu_translation_key_and_more.py
  cms/navigation/models.py
  cms/navigation/wagtail_hooks.py
  cms/settings/base.py
  cms/settings/dev.py
  cms/taxonomy/mixins.py
  cms/taxonomy/tests/test_forms.py
  cms/urls.py
  functional_tests/features/localisation.feature
  functional_tests/steps/glossary_terms_snippet.py
  functional_tests/steps/information_page.py
  functional_tests/steps/localisation.py
  functional_tests/steps/page_editor.py
Due: pylint, lint:format

Improve Broker Service Container Config To Enable Search Integration Tests To Run Locally and Within The Web Container. (#160)
  .github/workflows/ci.yml
  cms/search/publishers.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/settings/local.py.example
  cms/settings/test.py
  docker-compose-dev.yml
  docker-compose.yml
Due: pylint, lint:format

Update nomenclature in tests
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/test_wagtail_hooks.py
Due: pylint

Update Bundle status enum values for consistency (#157)
  cms/bundles/enums.py
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/migrations/0001_initial.py
  cms/bundles/models.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_models.py
  cms/bundles/tests/test_notifications.py
  cms/bundles/tests/test_panels.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/tests/test_wagtail_hooks.py
  cms/bundles/viewsets/bundle.py
  cms/release_calendar/tests/test_panels.py
Due: pylint

Add functional tests
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/statistical_article_page.py
Due: pylint

Use ONS component for card
  cms/jinja2/templates/components/streamfield/headline_figures_block.html
  cms/jinja2/templates/components/streamfield/topic_headline_figures_block.html
Due: none

update translatable strings and move them outside of dict structures
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
Due: none

Updated unit tests
  cms/release_calendar/tests/test_forms.py
Due: pylint

Address review comments
  .gitignore
  cms/auth/middleware.py
  cms/auth/static/js/auth.js
  cms/auth/utils.py
Due: pylint, lint:js, lint:format

Prevent manipulation of figure ID
  cms/articles/migrations/0004_statisticalarticlepage_headline_figures_figure_ids.py
  cms/articles/models.py
  cms/core/blocks/headline_figures.py
  cms/core/forms.py
Due: pylint

Update max length in migration
  cms/articles/migrations/0004_statisticalarticlepage_headline_figures_figure_ids.py
Due: pylint

Fix tests and relocate form
  cms/articles/forms.py
  cms/articles/models.py
  cms/articles/tests/test_pages.py
  cms/core/forms.py
  cms/topics/tests/test_pages.py
Due: pylint

Add help text
  cms/topics/models.py
Due: pylint

Check for validation error messages
  cms/articles/tests/test_pages.py
  cms/topics/tests/test_models.py
Due: pylint

Add additional tests
  cms/articles/tests/test_models.py
  cms/settings/dev.py
Due: pylint

Implement custom limit offset pagination and update related tests to align with new API standards
  cms/search/pagination.py
  cms/search/tests/test_api_views.py
  cms/search/views.py
  cms/settings/base.py
Due: pylint

Refactor search tests to utilise ExternalAPITestMixin for external environment simulation and JSON parsing
  cms/search/tests/helpers.py
  cms/search/tests/test_api_views.py
Due: pylint

Refactor code
  cms/articles/forms.py
  cms/articles/models.py
Due: pylint

Refactor pagination settings and update related tests for consistency with API standards
  cms/search/pagination.py
  cms/search/tests/test_api_views.py
  cms/settings/base.py
Due: pylint

Only require changes_to_release_date for non-provisional releases
  cms/release_calendar/forms.py
Due: pylint

Fix functional tests, move combined class
  cms/articles/forms.py
  cms/articles/models.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

Display date text over datetime on provisional releases
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
Due: none

Implement custom date formatting and update template tag reference; remove obsolete test file.
  cms/core/custom_date_format.py
  cms/core/templatetags/util_tags.py
  cms/core/tests/test_custom_dateformat.py
Due: pylint

Refactor import statements for better readability in jinja2tags.py
  cms/core/jinja2tags.py
Due: pylint

Make Figure ID visible if available
  cms/core/static/js/blocks/headline-figures-item-block.js
Due: lint:js, lint:format

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
