Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

build(deps): require soupsieve ^2.9.0
  poetry.lock
  pyproject.toml
Due: none

Add an extra paragraph tag to ensure reading width is applied in cookie confirmation notice.
  cms/jinja2/templates/pages/cookies.html
Due: none

Add comment
  cms/jinja2/templates/base_page.html
Due: none

Upgrade DS to 74.0.0-next.12
  .design-system-version
  cms/core/templatetags/page_config_tags.py
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

Ensure welsh translation is tested and update PageConfigDict to reflect the new key
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
Due: pylint

Update Search toggle translation and tests
  cms/core/tests/test_tags.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

fix(deps): specify patch version for cryptography
  poetry.lock
  pyproject.toml
Due: none

feat: upgrade DS to 74.0.0-next.12 (#834)
  .design-system-version
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/cookies.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

build(deps): add npm package ecosystem to dependabot (#821)
  .github/dependabot.yml
Due: lint:format

Upgrade DS to 74.0.0-next-14 and remove back to top hack
  .design-system-version
  cms/jinja2/templates/base_page.html
Due: none

Set the correct number of decimal places to display for data labels based on the value with the most decimal places
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_chart_block.py
Due: pylint

chore(deps): update cryptography package to version 50 on all platforms (#847)
  poetry.lock
  pyproject.toml
Due: none

fix(tests): prevent race condition in post-publish action tests (#843)
  cms/bundles/tests/test_utils.py
Due: pylint

fix: downgrade eslint
  package-lock.json
  package.json
Due: lint:format

build(deps): require soupsieve ^2.9.0 (#849)
  poetry.lock
  pyproject.toml
Due: none

build(deps): require soupsieve ^2.9.0 (#848)
  poetry.lock
  pyproject.toml
Due: none

build(deps): group major updates separately
  .github/dependabot.yml
Due: lint:format

build(deps): disallow esint major updates
  .github/dependabot.yml
Due: lint:format

fix: correct eslint grouping
  .github/dependabot.yml
Due: lint:format

fix(csp): allow google analytics and video embed sources (#818) (#824)
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

fix(csp): allow google analytics and video embed sources (#818) (#825)
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

fix: match open-pull-request-limit to number of npm version groups
  .github/dependabot.yml
Due: lint:format

feat: rename workflow to 'submit for Review'
  cms/workflows/migrations/0002_review_workflow.py
  cms/workflows/tests/test_utils.py
  cms/workflows/tests/utils.py
  functional_tests/steps/workflows.py
Due: pylint

build(deps): bump pyjwt to 2.15.1 and urllib3 to 2.8.0
  poetry.lock
Due: none

fix(datavis): update help text formatting and validation error text
  cms/datavis/blocks/iframe.py
  cms/datavis/tests/test_iframe_block.py
Due: pylint

build(deps): bump pyjwt to 2.15.1 and urllib3 to 2.8.0 (#858)
  poetry.lock
Due: none

fix(csp): add jspreadsheet logo to CSP
  cms/settings/base.py
  cms/settings/tests/test_settings.py
Due: pylint

chore(tests): disable secretlint for test_management_commands.py
  cms/bundles/tests/test_management_commands.py
Due: pylint

test(executor): make test intention more explicit and fix typo
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

feat(post-publish): improve end time fallback logic for post-publish actions
  cms/post_publish_actions/tests/test_utils.py
  cms/post_publish_actions/utils.py
Due: pylint

feat(post-publish): add critical flag to post-publish actions and filter for critical actions
  cms/frontend_cache/signal_handlers.py
  cms/post_publish_actions/models.py
  cms/post_publish_actions/registry.py
  cms/post_publish_actions/tests/test_models.py
  cms/post_publish_actions/tests/test_registry.py
  cms/post_publish_actions/tests/test_utils.py
  cms/post_publish_actions/utils.py
Due: pylint

feat(slack): implement thread replies for post-publish actions and enhance Slack notification handling
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_slack_notifications.py
  cms/bundles/utils.py
  cms/core/slack.py
  cms/core/tests/test_slack.py
  cms/post_publish_actions/executor.py
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

Don't count trailing spaces in a cell value as a decimal point
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_bar_column_chart_block.py
Due: pylint

fix(email): don't run callbacks when moving bundle to review in test to avoid needing to clear outbox
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

tests(bundle): add tests for case where bundle submission fails due to bundle api sync error
  functional_tests/features/bundle.feature
  functional_tests/step_helpers/bundles_api.py
  functional_tests/steps/bundles.py
Due: pylint

fix(email): prevent sending bundle notifications if transaction rolls back
  cms/bundles/notifications/email.py
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

fix(email): add force_write_db decorator to _send_bundle_email function
  cms/bundles/notifications/email.py
Due: pylint

fix(bundle): preserve form state and surface validation errors during submission
  cms/bundles/forms.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

fix(bundle): correct spelling in feature file for bundle submission error scenario
  functional_tests/features/bundle.feature
Due: none

ignore mypy error
  cms/bundles/forms.py
Due: pylint
