Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update cms/workflows/tests/test_views.py
  cms/workflows/tests/test_views.py
Due: pylint

Avoid deepmerge dependency
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
  poetry.lock
  pyproject.toml
Due: pylint

Drop onto multiple lines
  cms/core/templatetags/page_config_tags.py
Due: pylint

Fix lint errors
  cms/core/static/js/blocks/headline-figures-item-block.js
  cms/core/static/js/blocks/release-date-change-block.js
  webpack.config.js
Due: lint:js, lint:format

Update aria labels for main menu and toggleMenuButton text to match the ONS DS defaults.
  cms/core/templatetags/page_config_tags.py
Due: pylint

po file regenerated and named-string interpolation being used to make sure we can reliable mark and extract "Download CSV" for translation, replacing the f string.
  cms/core/blocks/markup.py
  cms/locale/cy/LC_MESSAGES/django.po
Due: pylint

Remove unnecessary localisation tags from templates
  cms/bundles/templates/bundles/wagtailadmin/action_menu/menu_item.html
  cms/locale/templates/wagtail/admin/templates/wagtailadmin/shared/page_status_tag_new.html 
Due: none

Updated main menus tests to accomodate the recent changes + fix a failing test.
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
Due: pylint

Debug, Smoke decorator removed.
  functional_tests/features/navigation_menus.feature
Due: none

Refactor menu button text assertions in navigation menus feature tests
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
Due: pylint

Fix main menu toggle functionality and update Welsh menu assertion
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
Due: pylint

Ensure main menu visibility after toggle action in tests
  functional_tests/steps/navigation_menus.py
Due: pylint

Fix Menus Failing UI Test (#555)
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
Due: pylint

Fix unlock confirmation screen rejection URL (#550)
  cms/locale/cy/LC_MESSAGES/django.po
  cms/workflows/templates/workflows/confirm_unlock.html
  cms/workflows/tests/test_views.py
Due: pylint

_assert_main_menu_content made it keyword argument only, to improve readability. - Updated aria label in content_is_pushed_down function
  functional_tests/steps/navigation_menus.py
Due: pylint

Bundles UI resolve comments
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

remove print commented and sort
  functional_tests/steps/bundles.py
Due: pylint

Header: Main Menu Translation Config Bugfix - CMS-1056 (#553)
  cms/core/blocks/markup.py
  cms/core/static/js/blocks/headline-figures-item-block.js
  cms/core/static/js/blocks/release-date-change-block.js
  cms/core/templatetags/page_config_tags.py
  cms/locale/cy/LC_MESSAGES/django.po
  cms/workflows/templates/workflows/confirm_unlock.html
  cms/workflows/tests/test_views.py
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
  package-lock.json
  package.json
  webpack.config.js
Due: pylint, lint:js, lint:format

Fix flaky functional tests - Navigation
  cms/jinja2/templates/base.html
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
Due: pylint

improve scenario text
  functional_tests/features/bundle_ui.feature
Due: none

Fix flaky functional tests - Navigation (#560)
  cms/jinja2/templates/base.html
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
Due: pylint

Remove unnecessary localisation tags from templates (#554)
  cms/bundles/templates/bundles/wagtailadmin/action_menu/menu_item.html
  cms/locale/templates/wagtail/admin/templates/wagtailadmin/shared/page_status_tag_new.html 
Due: none

Fix schedule change detection bug
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Remove redundant tests, leave integration test
  cms/bundles/tests/test_viewsets.py
Due: pylint

Handle new bundle statuses in admin UI, add tests
  cms/bundles/bundle_api_sync_service.py
  cms/bundles/enums.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Update bundle api sync to always skip failure status, update test
  cms/bundles/bundle_api_sync_service.py
  cms/bundles/tests/test_bundle_api_sync_service.py
Due: pylint

Update test for bundle publish with update_status=False
  cms/bundles/tests/test_utils.py
Due: pylint

Further tidy up post-code review
  cms/articles/models.py
  cms/frontend_cache/apps.py
  cms/frontend_cache/signal_handlers.py
Due: pylint

Cleanup README.md and add missing ToC entries
  README.md
Due: none

Remove ToCs, move docs
  README.md
Due: none

Cleanup README.md and remove ToC (#562)
  README.md
Due: none

Disable account editing in Wagtail
  cms/urls.py
  cms/users/templates/wagtailadmin/account/settings_panels/avatar_readonly.html
  cms/users/tests/test_account_view.py
  cms/users/views.py
  functional_tests/features/user_account.feature
  functional_tests/steps/user_account.py
Due: pylint

Fix docstring on precedence
  cms/core/tests/test_utils.py
  cms/core/utils.py
Due: pylint

Support merging generic mapping types
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_utils.py
  cms/core/utils.py
Due: pylint

Invalidate page config cache on unpublish
  cms/core/signal_handlers.py
  cms/navigation/signal_handlers.py
Due: pylint

Invalid base page config when site changes
  cms/navigation/signal_handlers.py
Due: pylint

Include site name in context title
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_tags.py
Due: pylint

Address review comments
  cms/bundles/migrations/0008_bundle_slack_notification_ts.py
  cms/bundles/models.py
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_slack_notifications.py
  cms/bundles/utils.py
  cms/core/models/base.py
  cms/core/slack.py
  cms/datasets/models.py
Due: pylint

Consider WAGTAIL_APPEND_SLASH
  cms/core/templatetags/util_tags.py
Due: pylint

Update tests
  cms/bundles/tests/test_management_commands.py
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
