Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Fix orphan tag
  cms/jinja2/templates/pages/topic_page.html
Due: none

Fix figure key
  cms/articles/tests/test_models.py
Due: pylint

Fix tests
  cms/articles/tests/test_models.py
  cms/articles/tests/test_pages.py
Due: pylint

Fixing UI tests
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Improve the language filter in custom choosers (#179)
  cms/bundles/viewsets/bundle_page_chooser.py
  cms/core/apps.py
  cms/core/forms.py
  cms/core/monkey_patches.py
  cms/core/templates/wagtailadmin/tables/locale_cell.html
  cms/core/ui.py
  cms/core/viewsets.py
  cms/navigation/wagtail_hooks.py
  cms/release_calendar/viewsets.py
  cms/topics/viewsets/featured_series.py
  cms/topics/viewsets/highlighted_items.py
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint

Add validation that statistical article takes a max of 6 items
  cms/articles/tests/test_models.py
Due: pylint

Add explicit max_length to the HeadlineFiguresItemBlock CharBlocks
  cms/core/blocks/headline_figures.py
Due: pylint

Chore: charts code cleanup (#175)
  cms/core/tests/test_tags.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
Due: pylint

Remove delete buttons instead of hiding
  cms/core/static/js/blocks/headline-figures-item-block.js
Due: lint:js, lint:format

Update status codes
  cms/core/tests/test_views.py
Due: pylint

Headline figures UX improvements (#178)
  cms/articles/models.py
  cms/articles/tests/factories.py
  cms/articles/tests/test_models.py
  cms/articles/tests/test_pages.py
  cms/core/blocks/headline_figures.py
Due: pylint

Add configurable chart aspect ratios (#177)
  cms/datavis/blocks/base.py
  cms/datavis/blocks/chart_options.py
  cms/datavis/tests/test_chart_blocks.py
  cms/datavis/tests/test_chart_options.py
  cms/jinja2/templates/components/streamfield/datavis/base_highcharts_chart_block.html
Due: pylint

Add migration
  cms/topics/migrations/0005_topicpage_rename_headline_figures_type.py
Due: pylint

Fix typo in cms/taxonomy/panels.py
  cms/taxonomy/panels.py
Due: pylint

Check locale id rather than whole locale
  cms/taxonomy/panels.py
Due: pylint

Add functional test
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/datasets.py
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

Remove unecessary newlines
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Add widgets to cms/core
  cms/articles/models.py
  cms/bundles/models.py
  cms/core/widgets.py
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
Due: pylint

Delete date_placeholder.py
  cms/core/models/date_placeholder.py
Due: pylint

Fix UI tests
  functional_tests/features/information_page.feature
  functional_tests/features/release_page.feature
  functional_tests/features/statistical_article_page.feature
  functional_tests/steps/release_page.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

Fix type hints
  cms/articles/models.py
Due: pylint

Formatting
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Update revisions in migration
  cms/topics/migrations/0005_topicpage_rename_headline_figures_type.py
Due: pylint

add comprehensive test suite for authentication and team synchronization
  cms/auth/tests/__init__.py
  cms/auth/tests/helpers.py
  cms/auth/tests/test_middleware.py
  cms/auth/tests/test_sync_teams.py
  cms/auth/tests/test_utils.py
  cms/auth/tests/test_views.py
  cms/auth/tests/test_wagtail_hooks.py
  cms/settings/base.py
Due: pylint

Split the functional test scenario into two
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Fix Spacing on UI tests
  functional_tests/features/bundle.feature
  functional_tests/features/methodology_page.feature
  functional_tests/features/statistical_article_page.feature
Due: none

Flatten headline_figures in StatisticalArticlePage
  cms/articles/forms.py
  cms/articles/migrations/0005_statisticalarticlepage_restucture_headline_figures.py
  cms/articles/models.py
  cms/articles/tests/test_models.py
  cms/articles/tests/test_pages.py
  cms/core/blocks/__init__.py
  cms/core/blocks/headline_figures.py
  cms/core/static/js/blocks/headline-figures-item-block.js
  cms/jinja2/templates/components/streamfield/headline_figures_block.html
  cms/jinja2/templates/components/streamfield/headline_figures_item_block.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/topics/blocks.py
  cms/topics/tests/test_pages.py
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint, lint:js, lint:format

Fix functional tests, rename variables in migration
  cms/articles/migrations/0005_statisticalarticlepage_restucture_headline_figures.py
  functional_tests/steps/statistical_article_page.py
Due: pylint

Add tests for contact details/ glossary choosers and fix search with locale filtering
  cms/core/models/snippets.py
  cms/core/tests/test_viewsets.py
Due: pylint

Refactor tests
  cms/articles/tests/test_models.py
Due: pylint

Remove copy button from headline figures
  cms/core/static/js/blocks/headline-figures-item-block.js
Due: lint:js, lint:format

Remove UUID from tests
  cms/articles/tests/test_models.py
Due: pylint

Remove UUID from more tests
  cms/articles/tests/test_pages.py
  cms/topics/tests/test_pages.py
Due: pylint

Change help text to say "Format"
  cms/release_calendar/models.py
Due: pylint

Add blank lines and remove failing scenario
  functional_tests/features/bundle.feature
  functional_tests/features/methodology_page.feature
  functional_tests/features/release_page.feature
  functional_tests/features/statistical_article_page.feature
Due: none

Move BundledPageMixin to a new file, add to models
  cms/articles/migrations/0001_initial.py
  cms/articles/models.py
  cms/bundles/admin_forms.py
  cms/bundles/management/commands/publish_scheduled_without_bundles.py
  cms/bundles/mixins.py
  cms/bundles/models.py
  cms/bundles/utils.py
  cms/bundles/views/add_to_bundle.py
  cms/bundles/wagtail_hooks.py
  cms/methodology/models.py
  cms/release_calendar/models.py
  cms/standard_pages/models.py
  cms/topics/models.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Fix related data link in preview
  cms/jinja2/templates/pages/statistical_article_page.html
Due: none

Fix unit tests
  cms/bundles/tests/test_wagtail_hooks.py
Due: pylint

Add test for dataset prepopulation, fix unecessary page.specific
  cms/articles/tests/test_pages.py
  cms/jinja2/templates/pages/statistical_article_page.html
Due: pylint

Fix additional tests
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_utils.py
Due: pylint
