Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

megalint config files
  .checkov.yml
  .djlintrc
  .docker/bashrc.sh
  .gitleaks.toml
  .grype.yaml
  .hadolint.yaml
  .markdown-link-check.json
  .markdown-lint.yml
  .mega-linter.yml
  .npmpackagejsonlintrc.json
  .secretlintrc.json
  .stylelintrc.js
  .yamllint.yml
  cms/jinja2/templates/base.html
  cms/static_src/sass/main.scss
  docs/conventions/type_hinting.md
  kics.config
Due: lint:js, lint:css, lint:format

Front-end hacked together to complete the back-end
  cms/jinja2/component_overrides/document-list/_macro.njk
  cms/jinja2/component_overrides/header/_macro.njk
  cms/jinja2/component_overrides/table/_macro.njk
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
Due: none

Update design system to 72.1.0 (#34)
  .design-system-version
  cms/core/blocks/embeddable.py
  cms/core/tests/test_blocks.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/components/accredited/accredited-information.html
  cms/jinja2/templates/components/census/census-information.html
  cms/jinja2/templates/components/streamfield/release_content_section.html
  cms/jinja2/templates/components/streamfield/stream_block--related-links.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--cancelled.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--confirmed.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page--provisional.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/wagtail/password_required.html
Due: pylint

Removed redundant settings in example .env
  .env-dev-example
Due: none

Readme fixes
  README.md
Due: none

Reverted the rename of the env_file in docker-compose.yml
  docker-compose.yml
Due: lint:format

Fixed typo in the README
  README.md
Due: none

Test all methods
  cms/core/tests/test_views.py
Due: pylint

Navigation app added, models created for navigation settings
  cms/jinja2/templates/base.html
  cms/navigation/__init__.py
  cms/navigation/apps.py
  cms/navigation/migrations/0001_initial.py
  cms/navigation/migrations/__init__.py
  cms/navigation/models.py
  cms/navigation/tests.py
  cms/settings/base.py
Due: pylint

Initial commit to add the navigation component
  cms/jinja2/component_overrides/header/_macro.njk
  cms/jinja2/templates/base.html
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Use `urlsplit` because it's faster
  cms/core/cache.py
Due: pylint

Add tests for IAM credentials provider
  cms/core/tests/test_cache.py
  poetry.lock
  pyproject.toml
Due: pylint

Test can connect to correct database
  cms/core/tests/test_db_router.py
Due: pylint

Run format before check
  Makefile
Due: none

Correct path for custom search backend
  cms/settings/base.py
Due: pylint

Skip coverage for configuration check
  cms/core/db_router.py
Due: pylint

Allow TODO notes in README
  cms/settings/base.py
Due: pylint

Improve docstring for DB router
  cms/core/db_router.py
Due: pylint

Add TODO for removing custom search backend
  cms/settings/base.py
Due: pylint

Read replica should be a mirror of the default DB
  cms/settings/test.py
Due: pylint

Simplify migration allowance
  cms/core/db_router.py
Due: pylint

Remove unnecessary pylint disable
  cms/settings/base.py
Due: pylint

Ensure max age is an int
  cms/settings/base.py
Due: pylint

Add tests for db handling of custom search backend
  cms/core/tests/test_db_router.py
Due: pylint

Rewrite tests using Django's test runner
  cms/core/tests/test_db_router.py
Due: pylint

Add support for RDS DB with read replica
  cms/core/db_router.py
  cms/core/tests/test_db_router.py
  cms/core/wagtail_search.py
  cms/settings/base.py
  cms/settings/test.py
  poetry.lock
  pyproject.toml
Due: pylint

Allow DB connection age to be configured
  cms/settings/base.py
Due: pylint

Update type hints
  cms/core/db_router.py
  pyproject.toml
Due: pylint

add lint changes v4
  .checkov.yml
  .djlintrc
  .hadolint.yaml
  .mega-linter.yml
  .scss-lint.yml
  .stylelintrc.js
  cms/static_src/sass/main.scss
  docs/conventions/type_hinting.md
  tsconfig.json
Due: lint:js, lint:css, lint:format

Poetry.lock fixes
  poetry.lock
Due: none

Improve docstrings
  cms/core/db_router.py
  cms/core/wagtail_search.py
Due: pylint

Add readiness probe (#35)
  cms/core/tests/test_views.py
  cms/core/views.py
  cms/urls.py
Due: pylint

add lint changes v5
  .github/workflows/mega-linter.yml_todo
  .scss-lint.yml
  .stylelintrc.js
  cms/static_src/sass/main.scss
Due: lint:js, lint:css, lint:format

Navigation bar on the front-end test
  cms/jinja2/templates/base.html
Due: none

Front-end code reverted due to the front-end main menu being done separately
  cms/jinja2/component_overrides/document-list/_macro.njk
  cms/jinja2/component_overrides/header/_macro.njk
  cms/jinja2/component_overrides/table/_macro.njk
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
Due: none

New line
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_page.html
Due: none

Code formatted
  cms/navigation/migrations/0001_initial.py
  cms/navigation/models.py
  cms/navigation/tests.py
Due: pylint

Remove questions from docstrings
  cms/core/db_router.py
Due: pylint

Mark cache attributes as private
  cms/core/cache.py
  cms/core/tests/test_cache.py
Due: pylint

Add cache decorator for memory cache
  cms/core/cache.py
  cms/core/tests/test_cache.py
  poetry.lock
  pyproject.toml
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
