Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Test improvements 2.0
  cms/standard_pages/models.py
  cms/standard_pages/tests/test_models.py
Due: pylint

Renamed a test function
  cms/standard_pages/tests/test_models.py
Due: pylint

Ensure that we use the new video embed block on the statistical article and methodology pages
  cms/core/blocks/section_blocks.py
Due: pylint

Renamed description to summary in the template
  cms/jinja2/templates/pages/index_page.html
Due: none

Undo an experiment
  cms/standard_pages/models.py
Due: pylint

^ regenerate migration after the above
  cms/standard_pages/migrations/0002_indexpage.py
Due: pylint

Fallback for listing_title when page doesn't inherit from BasePage
  cms/standard_pages/models.py
Due: pylint

Add an edge case check
  cms/standard_pages/models.py
Due: pylint

Add help text to say that only published pages will be displayed as Featured items
  cms/standard_pages/models.py
Due: pylint

Wrap in gettext + add a docstring for get_formatted_items()
  cms/standard_pages/models.py
Due: pylint

Title removed from warn and announcement panels. PaneBlock split up.
  cms/core/blocks/__init__.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/jinja2/templates/components/streamfield/info_error_success_panel.html
  cms/jinja2/templates/components/streamfield/panel_block.html
  cms/jinja2/templates/components/streamfield/warn_announcement_panel.html
Due: pylint

Code formatted
  cms/core/blocks/__init__.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
  cms/core/blocks/stream_blocks.py
  cms/jinja2/templates/components/streamfield/info_error_success_panel.html
  cms/jinja2/templates/components/streamfield/warn_announcement_panel.html
Due: pylint

Topic model and links
  cms/core/management/commands/sync_topics.py
  cms/core/models/base.py
  cms/core/models/mixins.py
  cms/methodology/models.py
  cms/standard_pages/models.py
  cms/taxonomy/migrations/0002_alter_topic_id_genericpagetotaxonomytopic.py
  cms/taxonomy/migrations/0003_exclusivepagetotaxonomytopic_and_more.py
  cms/taxonomy/models.py
  cms/taxonomy/views.py
  cms/taxonomy/wagtail_hooks.py
  cms/themes/models.py
  cms/topics/models.py
  docker-compose-dev.yml
Due: pylint, lint:format

Main Menu (#41)
  cms/core/blocks/base.py
  cms/core/blocks/related.py
  cms/core/tests/factories.py
  cms/jinja2/templates/base.html
  cms/jinja2/templates/components/navigation/main_menu_preview.html
  cms/navigation/__init__.py
  cms/navigation/apps.py
  cms/navigation/blocks.py
  cms/navigation/forms.py
  cms/navigation/migrations/0001_initial.py
  cms/navigation/migrations/__init__.py
  cms/navigation/models.py
  cms/navigation/tests/__init__.py
  cms/navigation/tests/factories.py
  cms/navigation/tests/test_forms.py
  cms/navigation/tests/test_viewsets.py
  cms/navigation/wagtail_hooks.py
  cms/settings/base.py
Due: pylint

Change the summary field to rich text for consistency (as discussed at tech session)
  cms/standard_pages/models.py
Due: pylint

Update the menu CSS to ensure the columns are consistent width, and update the macro to ensure both text and link are present before outputting a link
  cms/jinja2/component_overrides/header/_macro.njk
  cms/static_src/sass/components/design_system_overrides/_grid.scss
Due: lint:css, lint:format

Remove unnecessary ifs and elses
  cms/jinja2/component_overrides/header/_macro.njk
Due: none

Invert the heading and link tags
  cms/jinja2/component_overrides/header/_macro.njk
Due: none

Try out the statistical article hero wtih the hero component from the design system
  cms/core/jinja2tags.py
  cms/core/templatetags/util_tags.py
  cms/jinja2/templates/pages/statistical_article_page.html
Due: pylint

Typo
  cms/core/tests/factories.py
  cms/standard_pages/models.py
Due: pylint

Add video link and useful docs links to functional tests README
  functional_tests/README.md
Due: none

Update docs
  functional_tests/README.md
Due: none

Added migration for changing the type of the description field in Info Page
  cms/standard_pages/migrations/0002_indexpage.py
  cms/standard_pages/migrations/0003_alter_informationpage_summary.py
Due: pylint

Update the UI tests to reflect the change of field type
  functional_tests/steps/information_page.py
Due: pylint

Bring in some of the styling from the proof of concept
  cms/datavis/models/charts.py
  cms/jinja2/templates/datavis/base_highcharts_chart.html
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/highcharts-base-chart.js
Due: pylint, lint:js, lint:format

Tidying up before mere
  cms/datavis/constants.py
  cms/datavis/models/charts.py
Due: pylint

Add the template tag for richtext
  cms/jinja2/templates/pages/index_page.html
  cms/jinja2/templates/pages/information_page.html
Due: none

Main menu styling tweaks (#63)
  cms/jinja2/component_overrides/header/_macro.njk
  cms/static_src/sass/components/design_system_overrides/_grid.scss
Due: lint:css, lint:format

Add video link and useful docs links to functional tests README (#92)
  functional_tests/README.md
Due: none

Add navy header with circles to the home page (#88)
  cms/jinja2/templates/pages/home_page.html
  cms/static_src/sass/components/_landing-header.scss
  cms/static_src/sass/main.scss
Due: lint:css, lint:format

Add footer menu snippet
  cms/navigation/blocks.py
  cms/navigation/migrations/0002_footermenu_navigationsettings_footer_menu.py
  cms/navigation/models.py
  cms/navigation/wagtail_hooks.py
Due: pylint

Ensure that we use the new video embed block on the statistical article and methodology pages (#93)
  cms/core/blocks/section_blocks.py
Due: pylint

Remove wagtail-storages
  cms/settings/base.py
Due: pylint

Uninstall wagtail-storages
  poetry.lock
  pyproject.toml
Due: none

Redirect to public files even when the configured storage backend doesn't implement 'url' for files
  cms/private_media/views.py
Due: pylint

Add method docstrings and apply no-cache headers to permission denied responses
  cms/private_media/views.py
Due: pylint

Remove custom etag, as the decorator assumes the method is a function based view (accepting a request) and it's not worth muddying the API to suit that
  cms/private_media/views.py
Due: pylint

Placate linters
  cms/private_media/models/documents.py
  cms/private_media/models/images.py
Due: pylint

Raise SuspiciousOperation instead of PermissionDenied with a signature is invalid
  cms/private_media/views.py
Due: pylint

Remove special treatment of 403 responses and explain the behaviour in get() docstrings
  cms/private_media/views.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
