Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Add pylint directive to disable 'too-many-lines' warning in base settings
  cms/settings/base.py
Due: pylint

Set onsChart headingLevel to 3 (#231)
  cms/datavis/blocks/base.py
Due: pylint

Clarify the cron job
  docs/custom-features/scheduled-jobs.md
Due: none

Update the Kafka channels defaults
  .secrets.baseline
  cms/settings/base.py
  docs/integrations/search_service.md
Due: pylint

Format
  docs/integrations/search_service.md
Due: none

Tweak .gitkeep to ignore the detect-secrets baseline file
  .github/linters/.gitleaks.toml
Due: none

Add AWS_REGION setting to JWT validation tests
  cms/auth/tests/test_utils.py
Due: pylint

Removing redundant code.
  cms/settings/test.py
Due: pylint

Linting issues fixed + AWS region added in dev.py to fix auth stub failure due to pulling AWS region from env vars
  cms/settings/dev.py
  cms/settings/test.py
Due: pylint

SessionManagement Initialisation reverted
  cms/static_src/javascript/auth.js
Due: lint:js, lint:format

Bypass ONSAuthMiddleware and ensure AuthenticationMiddleware is present
  cms/settings/functional_test.py
Due: pylint

Initialise SessionManagement on DOMContentLoaded event
  cms/static_src/javascript/auth.js
Due: lint:js, lint:format

testing
  cms/settings/test.py
Due: pylint

Fix section ID so anchors work
  cms/jinja2/templates/pages/topic_page.html
  cms/topics/tests/test_pages.py
Due: pylint

Use the same email template for both "in review" scenarios
  cms/bundles/notifications/email.py
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

Fix lint errors
  cms/core/custom_date_format.py
  cms/core/widgets.py
  cms/release_calendar/models.py
Due: pylint

Reverted stripping out ONSAuthMiddleware for unit, integration and UI/ Playwright tests.
  cms/settings/functional_test.py
  cms/settings/test.py
Due: pylint

Enable reference line annotations
  cms/core/wagtail_hooks.py
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_annotations_line.py
Due: pylint

Topic page datasets (#226)
  cms/articles/models.py
  cms/articles/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/utils.py
  cms/jinja2/templates/pages/topic_page.html
  cms/settings/dev.py
  cms/topics/migrations/0006_topicpage_datasets.py
  cms/topics/models.py
  cms/topics/tests/test_models.py
  cms/topics/tests/test_pages.py
  functional_tests/features/topic_page.feature
  functional_tests/steps/datasets.py
  functional_tests/steps/release_page.py
Due: pylint

Remove unused charts preview code (#229)
  cms/datavis/constants.py
  cms/datavis/forms/__init__.py
  cms/datavis/forms/visualisation.py_
  cms/datavis/migrations/0001_initial.py
  cms/datavis/migrations/0002_datasource_column_count.py
  cms/datavis/migrations/0003_chart_marker_style.py
  cms/datavis/migrations/0004_chart_annotations_delete_annotation.py
  cms/datavis/migrations/0005_remove_chart_legend_position_alter_chart_show_legend.py
  cms/datavis/migrations/0006_scatterchart.py
  cms/datavis/migrations/0007_remove_datavis_snippet_models.py
  cms/datavis/migrations/__init__.py
  cms/datavis/models/__init__.py
  cms/datavis/templates/datavis/admin/visualisation_type_select.html
  cms/static_src/javascript/components/bar-chart-plot-options.js
  cms/static_src/javascript/components/chart-constants.js
  cms/static_src/javascript/components/column-chart-plot-options.js
  cms/static_src/javascript/components/common-chart-options.js
  cms/static_src/javascript/components/line-chart-plot-options.js
Due: pylint, lint:js, lint:format

Remove charts from CoreStoryBlock
  cms/core/blocks/stream_blocks.py
Due: pylint

Remove charts from CoreStoryBlock (#234)
  cms/core/blocks/stream_blocks.py
Due: pylint

Cleanup following code review
  .github/workflows/ci.yml
  cms/jinja2/component_overrides/header/_macro.njk
  cms/jinja2/templates/base.html
  cms/jinja2/templates/base_iframe.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/settings/dev.py
Due: pylint, lint:format

Add functional-tests
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Tidy ups
  docs/README.md
  docs/custom-features/README.md
  docs/integrations/search_service.md
Due: none

Add examples of logging with extra data
  docs/integrations/logging.md
Due: none

Add comment with context regarding 'in language' form
  cms/jinja2/templates/base_page.html
Due: none

Include language in no translation warning message (#225)
  cms/jinja2/templates/base_page.html
  cms/locale/cy/LC_MESSAGES/django.po
  functional_tests/steps/localisation.py
Due: pylint

Update functional-tests
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Hard-code search kafka topics
  cms/search/checks.py
  cms/search/publishers.py
  cms/search/tests/test_checks.py
  cms/search/tests/test_kafka_integration.py
  cms/search/tests/test_publishers.py
  cms/settings/base.py
  cms/settings/local.py.example
Due: pylint

Add validation for next_release_date_text
  cms/core/custom_date_format.py
  cms/core/tests/test_jinja2tags.py
  cms/locale/cy/LC_MESSAGES/django.po
  cms/release_calendar/forms.py
  cms/release_calendar/utils.py
Due: pylint

Start docs for our integrations (#222)
  .github/linters/.gitleaks.toml
  .secrets.baseline
  cms/settings/base.py
  docs/README.md
  docs/custom-features/README.md
  docs/custom-features/bundles.md
  docs/custom-features/scheduled-jobs.md
  docs/index.md
  docs/integrations/README.md
  docs/integrations/auth.md
  docs/integrations/dataset_api.md
  docs/integrations/logging.md
  docs/integrations/notifications.md
  docs/integrations/search_service.md
Due: pylint

Document read replica configuration
  docs/custom-features/db-read-replica.md
Due: none

Add doc for external environment
  docs/custom-features/external-environments.md
Due: none

Add new pages to index
  docs/custom-features/README.md
Due: none

Add unit tests for next_release_date_text
  cms/release_calendar/tests/test_forms.py
  cms/release_calendar/utils.py
Due: pylint

Run pyupgrade with 3.13+
  cms/core/db_router.py
  cms/navigation/templatetags/navigation_tags.py
  cms/release_calendar/models.py
  cms/search/checks.py
  cms/settings/formats/en_GB/__init__.py
Due: pylint

Bump Python to 3.13.x
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  poetry.lock
  pyproject.toml
Due: lint:format

Tweaks for Wagtail 7.0
  cms/articles/models.py
  cms/datasets/blocks.py
  cms/release_calendar/models.py
  cms/topics/viewsets/series_with_headline_figures.py
Due: pylint

Bump various dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: lint:format

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
