Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update breadcrumbs to exclude container pages (#679)
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/articles/tests/test_pages.py
  cms/core/tests/test_models.py
  cms/methodology/models.py
  cms/methodology/tests/test_pages.py
Due: pylint

fix(bundles): show View Live for published bundled pages (#669)
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Remove additional validation
  cms/topics/models.py
Due: pylint

Add tests using a local onsFigure component.
  cms/jinja2/templates/pages/figure_experiments.html
Due: none

separate out validation and config tests for x axis tick intervals
  cms/datavis/tests/test_bar_column_chart_block.py
  cms/datavis/tests/test_bar_column_confidence_interval_chart_block.py
  docker-compose.override.yml
Due: pylint, lint:format

Pass meta description to page config
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_pages.py
  cms/core/tests/test_tags.py
Due: pylint

add functional tests for description and release date
  functional_tests/features/topic_page_manual_related_methodologies.feature
  functional_tests/steps/topic_page_manual_related_methodologies.py
Due: pylint

remove validation for follow up
  cms/topics/models.py
Due: pylint

Update functional tests for new fields
  functional_tests/features/topic_page_manual_related_articles.feature
  functional_tests/steps/topic_page_manual_related_articles.py
Due: pylint

Update times in slack notifications to use Europe/London timezone (#677)
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

Pass meta description to page config (#680)
  cms/core/templatetags/page_config_tags.py
  cms/core/tests/test_pages.py
  cms/core/tests/test_tags.py
Due: pylint

Adds tests for publication title in release calendar preview
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_views.py
Due: pylint

Fixes publication title missing series name in release calendar preview
  cms/bundles/utils.py
Due: pylint

Add second executor for action support related tasks, and reuse check behaviour
  cms/bundles/management/commands/publish_bundles.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/viewsets/bundle.py
  cms/core/utils.py
  cms/post_publish_actions/executor.py
  cms/post_publish_actions/utils.py
Due: pylint

test: coverage for when preview non-existent
  cms/bundles/tests/test_viewsets.py
Due: pylint

fix(bundles): use API dataset URLs with topics (#668)
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/views/preview.py
  cms/bundles/viewsets/bundle.py
  functional_tests/step_helpers/bundles_api.py
Due: pylint

Allow multiple related links blocks per section
  cms/core/blocks/section_blocks.py
Due: pylint

Update dataset and validate on bundle approval (#619)
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_bundle_api.py
  cms/datasets/utils.py
  cms/datasets/views.py
  cms/settings/base.py
  cms/settings/functional_test.py
  functional_tests/environment.py
  functional_tests/features/bundle.feature
  functional_tests/step_helpers/datasets.py
  functional_tests/steps/bundles.py
Due: pylint

Log when processes are waiting on background threads
  cms/post_publish_actions/apps.py
  cms/post_publish_actions/executor.py
  gunicorn.conf.py
Due: pylint

Remove unpreviewable pages from bundle previews
  cms/bundles/tests/test_utils.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Add registry for post-publish actions
  cms/post_publish_actions/apps.py
  cms/post_publish_actions/executor.py
  cms/post_publish_actions/handlers.py
  cms/post_publish_actions/registry.py
  cms/post_publish_actions/signal_handlers.py
  cms/private_media/signal_handlers.py
  cms/search/signal_handlers.py
Due: pylint

Remove file committed by mistake
  docker-compose.override.yml
Due: lint:format

Prefix test helper with `_`
  cms/settings/tests/test_settings.py
Due: pylint

Correctly supress codeql warning
  cms/core/utils.py
Due: pylint

Track when a task timed out
  cms/bundles/management/commands/publish_bundles.py
  cms/post_publish_actions/executor.py
  cms/post_publish_actions/migrations/0001_initial.py
  cms/post_publish_actions/models.py
  cms/post_publish_actions/signal_handlers.py
  cms/post_publish_actions/utils.py
Due: pylint

Close connections immediately before handler
  cms/post_publish_actions/executor.py
Due: pylint

Pages published are those without unpublished changes
  cms/bundles/notifications/slack.py
Due: pylint

update cryptography, increment minor js package versions
  package-lock.json
  poetry.lock
  pyproject.toml
Due: lint:format

Update formatting and add extra detail to the examples
  cms/jinja2/templates/pages/figure_experiments.html
Due: none

update jest to match design system
  package-lock.json
  package.json
Due: lint:format

add ignores to osv-scanner.toml until further discussions
  osv-scanner.toml
Due: none

Add management command to retry actions
  cms/post_publish_actions/management/commands/retry_post_publish_actions.py
  cms/post_publish_actions/models.py
  cms/post_publish_actions/registry.py
  cms/post_publish_actions/signal_handlers.py
Due: pylint

pull session token config from settings
  functional_tests/step_helpers/auth_utils.py
Due: pylint

Use standard get_by_text locator in tests
  functional_tests/steps/topic_page_manual_related_articles.py
Due: pylint

remove new script from pylintrc ignore-paths
  .pylintrc
Due: none

Expand PREVIEWER_EXCLUDED_PAGE_TYPES
  cms/bundles/models.py
  cms/bundles/tests/test_models.py
Due: pylint

update cryptography, increment minor js package versions (#687)
  osv-scanner.toml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: lint:format

add module docstring, refactor logic to avoid to-many-locals error, ensure pylint can load settings module to avoid error from pylint_django, remove old split script
  .github/split_functional_test_features.py
  .github/split_functional_test_features.sh
  .pre-commit-config.yaml
Due: pylint, lint:format

Correctly supress codeql warning (#686)
  cms/core/utils.py
Due: pylint

Consider WAGTAIL_APPEND_SLASH
  cms/frontend_cache/cache.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
