Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Update comment
  cms/datasets/utils.py
Due: pylint

Update selector
  cms/datasets/static/js/dataset-chooser.js
Due: lint:js, lint:format

Add comment re string ref.
  cms/release_calendar/viewsets.py
Due: pylint

Update README.md with external services
  README.md
Due: none

Update naming to avoid confusion for context.release_calendar_page
  functional_tests/steps/bundles.py
Due: pylint

To stay consistent with other areas of the codebase, overriding settings with example.com for ONS_ALLOWED_LINK_DOMAINS and IFRAME_VISUALISATION_ALLOWED_DOMAINS env var on a class level
  cms/datavis/tests/test_iframe_block.py
Due: pylint

Update dataset API (#389)
  README.md
  cms/bundles/clients/api.py
  cms/bundles/panels.py
  cms/bundles/tests/test_panels.py
  cms/core/tests/test_permissions.py
  cms/datasets/migrations/0003_add_access_unpublished_permission.py
  cms/datasets/models.py
  cms/datasets/permissions.py
  cms/datasets/static/js/dataset-chooser.js
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/tests/test_views.py
  cms/datasets/tests/utils.py
  cms/datasets/utils.py
  cms/datasets/views.py
  cms/datasets/wagtail_hooks.py
  cms/jinja2/templates/admin/datasets/chooser/results.html
  cms/settings/base.py
  functional_tests/features/bundle.feature
  functional_tests/features/statistical_article_page.feature
  functional_tests/step_helpers/datasets.py
  functional_tests/steps/datasets.py
Due: pylint, lint:js, lint:format

Add dataset table to bundle inspect view
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Refactor dataset display to use API as source of truth
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Implement role-based dataset display with URLs
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Refactor dataset methods to reduce code duplication
  cms/bundles/viewsets/bundle.py
Due: pylint

Trying to fix the bug in the bundles panels.py
  cms/bundles/panels.py
Due: pylint

Extract HTML table rendering into single method
  cms/bundles/viewsets/bundle.py
Due: pylint

Add access token to bundle delete
  cms/bundles/tests/test_views.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Improve tests, display message when API disabled
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

comment resolutions
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Address comments, remove dependency on other test class
  cms/bundles/tests/test_views.py
Due: pylint

Fix typo in comment in HTML template
  cms/locale/templates/wagtail/admin/templates/wagtailadmin/shared/page_status_tag_new.html 
Due: none

Fix missing auth in dataset bundle API delete (#397)
  cms/bundles/tests/test_views.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Exclude private pages from search, update search for descendant pages on slug change
  cms/search/signal_handlers.py
  cms/search/tests/test_signal_handlers.py
Due: pylint

feat: add pagination aggregation to dataset bundles api
  .pylintrc
  .secrets.baseline
  cms/bundles/clients/api.py
  cms/bundles/tests/test_api_client.py
  cms/settings/base.py
Due: pylint

Send a search update for original instance too, to remove the old URI
  cms/search/signal_handlers.py
  cms/search/tests/test_signal_handlers.py
Due: pylint

refactor: _normalise_limit
  cms/bundles/clients/api.py
Due: pylint

Add dataset preview functionality to bundles
  cms/bundles/admin_urls.py
  cms/bundles/tests/test_views.py
  cms/bundles/utils.py
  cms/bundles/views/preview.py
  cms/bundles/viewsets/bundle.py
  cms/jinja2/templates/bundles/preview.html
  cms/static_src/sass/components/_preview.scss
  cms/static_src/sass/main.scss
Due: pylint, lint:css, lint:format

Refactor bundle preview views with mixin
  cms/bundles/utils.py
  cms/bundles/views/preview.py
Due: pylint

refactor(bundles): rename Bundle.bundle_api_content_id
  cms/bundles/forms.py
  cms/bundles/migrations/0007_rename_bundle_api_content_id_bundle_bundle_api_bundle_id.py
  cms/bundles/models.py
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_views.py
  cms/bundles/viewsets/bundle.py
Due: pylint

chore: update incorrect references to the dataset api
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_views.py
  cms/bundles/viewsets/bundle.py
Due: pylint

feat(bundles): conditionally display bundle API ID in inspect view
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Update cms/search/signal_handlers.py
  cms/search/signal_handlers.py
Due: pylint

feat: add pagination aggregation to dataset bundles api client (#399)
  .pylintrc
  .secrets.baseline
  cms/bundles/clients/api.py
  cms/bundles/tests/test_api_client.py
  cms/settings/base.py
Due: pylint

Add docs on Wagtail page privacy
  docs/page_privacy.md
Due: none

Markdown formatting
  docs/page_privacy.md
Due: none

lint: ignore migration as this is currently not used
  cms/settings/dev.py
Due: pylint

fix: renaming remaining references to dataset api
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_views.py
  cms/bundles/viewsets/bundle.py
Due: pylint

refactor(bundles): rename Bundle.bundle_api_content_id (#402)
  cms/bundles/forms.py
  cms/bundles/migrations/0007_rename_bundle_api_content_id_bundle_bundle_api_bundle_id.py
  cms/bundles/models.py
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_views.py
  cms/bundles/viewsets/bundle.py
  cms/settings/dev.py
Due: pylint

Revert bundles panels.py fix
  cms/bundles/panels.py
Due: pylint

Bundles forms.py clean method tidy up/ clean up
  cms/bundles/forms.py
Due: pylint

chore: update incorrect references to the Dataset API (#401)
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_views.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Update docs/page_privacy.md
  docs/page_privacy.md
Due: none

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
