Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Add test for the teams chooser
  cms/teams/tests/test_viewsets.py
  cms/teams/viewsets.py
Due: pylint

feat: implement dataset bundle API integration
  cms/bundles/api.py
  cms/bundles/forms.py
  cms/bundles/migrations/0005_bundle_dataset_api_id.py
  cms/bundles/models.py
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_api.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_signal_handlers.py
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/release_calendar/models.py
Due: pylint

Fix linting issues and test failures for bundle API integration
  cms/bundles/api.py
  cms/bundles/forms.py
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_api.py
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

Replace hardcoded HTTP status codes with HTTPStatus constants
  cms/bundles/api.py
  cms/bundles/tests/test_api.py
Due: pylint

Expand teams tests
  cms/teams/tests/test_viewsets.py
Due: pylint

Expand tests to include inspect and delete view
  cms/teams/tests/test_viewsets.py
Due: pylint

feat(auth): introduce SERVICE_AUTH_TOKEN for API auth (#295)
  .secrets.baseline
  cms/settings/base.py
  cms/settings/dev.py
  cms/teams/management/commands/sync_teams.py
  cms/teams/tests/test_management_commands.py
  docs/integrations/auth.md
Due: pylint

Fix the team index view (#297)
  cms/teams/tests/test_viewsets.py
  cms/teams/viewsets.py
Due: pylint

Add / update tests
  cms/datavis/tests/test_chart_blocks_base.py
  cms/datavis/tests/test_iframe_block.py
Due: pylint

Code review feedback - don't use pattern matching for valid urls
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_iframe_block.py
  cms/settings/base.py
Due: pylint

Fix faulty arguments
  cms/datavis/blocks/charts.py
Due: pylint

Clean up code, separate contact details steps
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Add html formatting
  cms/bundles/templates/bundles/notification_emails/html_variant/base_email.html
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_in_review_email.html
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_published_email.html
Due: none

Reorder scenarios, steps, add step date change log display
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Add meta description to make djlint happy
  cms/bundles/templates/bundles/notification_emails/html_variant/base_email.html
Due: none

Fix preview tests, retrigger workflow
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Re add pre release access test and fix release date test
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Refactor logging to use lazy % formatting in bundles API
  cms/bundles/api.py
Due: pylint

Fix error message formatting inconsistency
  cms/bundles/api.py
Due: pylint

Add comment clarifying intent
  cms/bundles/api.py
Due: pylint

Rename API client classes for consistency
  cms/bundles/api.py
  cms/bundles/forms.py
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_api.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_signal_handlers.py
Due: pylint

Django system checks added for Auth and team sync en vars
  cms/auth/checks.py
  cms/auth/tests/test_checks.py
  cms/search/checks.py
Due: pylint

Django system checks activated, dot notation used for KAFKA_API_VERSION version env var instead of a comma (feedback from @RealOrangeOne and @zerolab from a previous PR)
  cms/auth/apps.py
  cms/auth/checks.py
  cms/settings/base.py
Due: pylint

refactor 1
  functional_tests/features/bundle_ui.feature
Due: none

Remove scenario and steps for Pre-release access
  functional_tests/features/release_page.feature
  functional_tests/steps/release_page.py
Due: pylint

Update the env variable name for iframe visualisation prefixes
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_iframe_block.py
  cms/settings/base.py
Due: pylint

Cast SESSION_COOKIE_AGE to int
  .secrets.baseline
  cms/settings/base.py
Due: pylint

Addressed comments
  cms/bundles/templates/bundles/notification_emails/html_variant/base_email.html
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_in_review_email.html
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_published_email.html
Due: none

Fix linting issues + ignore inline CSS errors
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_in_review_email.html
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_published_email.html
Due: none

Add ONS_BUNDLE_API_ENABLED feature flag
  .secrets.baseline
  cms/bundles/api.py
  cms/bundles/forms.py
  cms/bundles/signal_handlers.py
  cms/bundles/tests/test_api.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_signal_handlers.py
  cms/settings/base.py
Due: pylint

Cast SESSION_COOKIE_AGE to int (#301)
  cms/settings/base.py
Due: pylint

Update the env variable name for iframe visualisation prefixes again
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_iframe_block.py
  cms/settings/base.py
Due: pylint

feat: enable MailHog for email testing in development
  README.md
  cms/settings/dev.py
  docker-compose-dev.yml
  docker-compose.yml
Due: pylint, lint:format

Update readme section position
  README.md
Due: none

Update readme wording
  README.md
Due: none

Bug: Fix HTML email message formatting (#298)
  cms/bundles/templates/bundles/notification_emails/html_variant/base_email.html
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_in_review_email.html
  cms/bundles/templates/bundles/notification_emails/html_variant/bundle_published_email.html
Due: none

Fix markdown formatting
  README.md
Due: none

fix: markdown panel
  README.md
Due: none

fix: use correct panel markdown
  README.md
Due: none

fix: markdown formatting
  README.md
Due: none

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
