Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

fix(bundles): remove etag argument from add_content_to_bundle
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_dataset_api.py
Due: pylint

add comment to refactor test
  cms/bundles/tests/test_forms_with_dataset_api.py
Due: pylint

Add note on filtering, update README
  docs/README.md
  docs/custom-features/page_privacy.md
Due: none

fix(bundles): store ETag on content delete from Bundle API
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/viewsets/bundle.py
Due: pylint

tests: add test for non-existing content item id
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_dataset_api.py
Due: pylint

feat(bundles): display Bundle API ID in inspect view (#403)
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

fix(bundles): remove etag argument from add_content_to_bundle (#405)
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/tests/test_forms_with_dataset_api.py
Due: pylint

Update cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_forms_with_dataset_api.py
Due: pylint

fix: remove full stop
  cms/bundles/tests/test_viewsets.py
Due: pylint

Fix bundle search for previewers
  cms/bundles/models.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Make query advice generic
  docs/custom-features/page_privacy.md
Due: none

Add comment re avoiding circular imports
  cms/release_calendar/panels.py
  cms/release_calendar/viewsets.py
Due: pylint

Update cms/bundles/forms.py
  cms/bundles/forms.py
Due: pylint

fix: unit test
  cms/bundles/tests/test_api_client.py
Due: pylint

Split test cases
  cms/bundles/tests/test_viewsets.py
Due: pylint

Address review comment
  cms/search/signal_handlers.py
Due: pylint

Update test naming
  cms/bundles/tests/test_viewsets.py
  functional_tests/features/bundle.feature
Due: pylint

Make IframeBlock validation mechanism consistent with TimeSeriesPageLinkBlock and ManualDatasetBlock (#393)
  cms/datavis/blocks/charts.py
  cms/datavis/tests/test_iframe_block.py
Due: pylint

chore: update dis-authorisation-client-js to v1.0.1
  package-lock.json
  package.json
Due: lint:format

Search integration: Exclude private pages and update descendants on parent slug change (#400)
  cms/search/signal_handlers.py
  cms/search/tests/test_signal_handlers.py
  docs/README.md
  docs/custom-features/page_privacy.md
Due: pylint

fix(bundles): store ETag on content delete from Bundle API (#406)
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/tests/test_api_client.py
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Address review comments
  cms/bundles/tests/test_viewsets.py
  functional_tests/steps/bundles.py
Due: pylint

Address review comments
  functional_tests/steps/bundles.py
Due: pylint

Address review comment
  functional_tests/features/bundle.feature
Due: none

Update code for functional tests
  cms/bundles/admin_urls.py
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_views.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/bundles/views/preview.py
  cms/bundles/viewsets/bundle.py
  functional_tests/environment.py
  functional_tests/features/bundle.feature
  functional_tests/step_helpers/bundles_api.py
  functional_tests/step_helpers/datasets.py
  functional_tests/steps/bundles.py
  functional_tests/steps/datasets.py
Due: pylint

Fix bundle search for previewers (#407)
  cms/bundles/models.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Fix incorrect import
  cms/bundles/tests/test_viewsets.py
Due: pylint

UX Bundles: Show release calendar status and date after selection (#367)
  cms/bundles/models.py
  cms/bundles/panels.py
  cms/bundles/tests/test_viewsets.py
  cms/bundles/utils.py
  cms/release_calendar/panels.py
  cms/release_calendar/utils.py
  cms/release_calendar/viewsets.py
  functional_tests/features/bundle.feature
  functional_tests/steps/bundles.py
  functional_tests/steps/release_page.py
Due: pylint

Update preview template and reduce indentation
  cms/bundles/utils.py
  cms/jinja2/templates/bundles/preview.html
Due: pylint

Remove setup-python-dependencies from codeql.yml
  .github/workflows/codeql.yml
Due: lint:format

feat(bundles): prevent mixed edits during bundle approval
  cms/bundles/forms.py
  cms/bundles/tests/factories.py
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

Refactor preview views
  cms/bundles/tests/test_views.py
  cms/bundles/views/preview.py
Due: pylint

Fix post-merge issues
  cms/bundles/tests/test_views.py
  cms/bundles/views/preview.py
  cms/bundles/viewsets/bundle.py
Due: pylint

fix: existing tests
  cms/bundles/tests/test_forms_with_dataset_api.py
  cms/bundles/tests/test_viewsets.py
Due: pylint

chore: update dis-authorisation-client-js to v1.0.1 (#408)
  package-lock.json
  package.json
Due: lint:format

Update design system, fix breaking changes
  .design-system-version
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/release_calendar/release_calendar_page.html
  cms/jinja2/templates/pages/statistical_article_page--previous-releases.html
  cms/jinja2/templates/pages/statistical_article_page--related_data.html
  cms/jinja2/templates/pages/statistical_article_page.html
  cms/jinja2/templates/pages/theme_index_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
Due: none

Add post-merge change to feature file
  functional_tests/features/bundle.feature
Due: none

correct approval steps as per Pr comment
  functional_tests/features/bundle_ui.feature
  functional_tests/steps/bundles.py
Due: pylint

Simplify extraction following refactor
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/tests/test_api_client.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
