Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

Lock file updated
  poetry.lock
Due: none

Add tests that pages load in external env
  cms/analysis/tests/test_models.py
  cms/home/tests/test_models.py
  cms/release_calendar/tests/test_models.py
Due: pylint

Placate linters
  cms/core/db_router.py
  cms/core/models/base.py
  cms/core/tests/__init__.py
  cms/core/tests/test_read_only_connection.py
  cms/core/tests/test_settings.py
  cms/home/tests/test_models.py
Due: pylint

Fix non-deterministic query
  cms/home/tests/test_models.py
Due: pylint

Shuffle test order
  .docker/bashrc.sh
  Makefile
Due: none

Make compatible with multi-db configuration
  cms/settings/functional_test.py
  functional_tests/README.md
  functional_tests/behave_fixtures.py
Due: pylint

Small structural refactor, fix factory imports, update Docs
  Makefile
  functional_tests/README.md
  functional_tests/environment.py
  functional_tests/step_helpers/__init__.py
  functional_tests/step_helpers/factories.py
  functional_tests/step_helpers/users.py
  functional_tests/step_helpers/utilities.py
  functional_tests/steps/cms_login.py
  functional_tests/steps/contact_details_snippet.py
Due: pylint

Fix lint-py errors
  scripts/lintmigrations_custom.py
Due: pylint

Set the settings module variable in environment.py
  Makefile
  functional_tests/README.md
  functional_tests/environment.py
Due: pylint

Update README.md
  README.md
Due: none

Format
  functional_tests/README.md
Due: none

Move environment variable setting to the module level
  functional_tests/environment.py
Due: pylint

Add missing README links
  README.md
Due: none

Fix README wording
  functional_tests/README.md
Due: none

Type hinted and code formatted
  cms/navigation/models.py
  cms/navigation/tests.py
Due: pylint

Migration file
  cms/navigation/migrations/0001_initial.py
Due: pylint

linting
  cms/jinja2/templates/components/streamfield/ons_embed_block.html
Due: none

Add documentation
  cms/jinja2/component_overrides/header/_macro.njk
  docs/design_system_overrides.md
Due: none

Address code review feedback
  cms/jinja2/templates/base_page.html
  cms/jinja2/templates/pages/topic_page.html
  docs/design_system_overrides.md
Due: none

Disable `missing-function-docstring` pylint rule globally
  .pylintrc
Due: none

Make bundle name unique and validate release calendar page or pub date, not both
  cms/bundles/forms.py
  cms/bundles/migrations/0001_initial.py
  cms/bundles/models.py
  cms/bundles/tests/test_forms.py
Due: pylint

Further tweaks based on code review
  cms/bundles/management/commands/publish_scheduled_without_bundles.py
  cms/bundles/models.py
  cms/bundles/viewsets.py
Due: pylint

Improve tests for custom settings
  .docker/bashrc.sh
  cms/core/models/base.py
  cms/core/tests/test_settings.py
Due: pylint

Reference PR for fixing upstream Wagtail issue
  cms/core/tests/__init__.py
Due: pylint

final kics config
  .github/linters/.grype.yaml
  .github/linters/.scss-lint.yml
  .github/linters/.yamllint.yml
  .github/linters/kics.config
  .mega-linter.yml
Due: lint:format

Added note about honcho picking up the mounted .env file in the README
  README.md
Due: none

Formating
  README.md
Due: none

Fixed the rendering of the warning block
  README.md
Due: none

Slight rewording
  README.md
Due: none

Fix strange issue with pylint which only shows on CI
  cms/release_calendar/tests/test_forms.py
Due: pylint

Added in the reword suggestion
  README.md
Due: none

fix git megalinter error and resolve some grype errors
  .github/linters/.checkov.yml
  .github/linters/.grype.yaml
  Makefile
  package-lock.json
  package.json
Due: lint:format

Further tidy ups
  cms/bundles/forms.py
  cms/bundles/management/commands/publish_bundles.py
Due: pylint

move stylelintrc back to root
  .mega-linter.yml
  .stylelintrc.js
Due: lint:js, lint:format

fixup! Further tidy ups
  .pre-commit-config.yaml
  cms/bundles/tests/test_forms.py
  cms/bundles/tests/test_viewsets.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

Main menu modelling complete, restricting user to be able to only create one main menu instance in the wagtail admin. Migration file added.
  cms/navigation/migrations/0001_initial.py
  cms/navigation/models.py
  cms/navigation/wagtail_hooks.py
Due: pylint

Fix PR issues, make the test development app a separate compose file
  Makefile
  functional_tests/README.md
  functional_tests/docker-compose-dev-app.yml
  functional_tests/docker-compose.yml
Due: lint:format

css stylelint changes due to pr comment
  .eslintrc.js
  .gitignore
  .mega-linter.yml
  .stylelintrc.js
Due: lint:js, lint:format

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
