Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Purge topic pages that feature a series
  cms/frontend_cache/cache.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

Pull lychee out of mega-linter
  .github/workflows/lychee.yml
  .mega-linter.yml
  lychee.toml
Due: lint:format

Better ignore template variables
  lychee.toml
Due: none

Pretter CI file
  .github/workflows/lychee.yml
Due: lint:format

Expand tests
  cms/articles/models.py
  cms/frontend_cache/apps.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

Only fetch pk and url_path from db for topic pages when getting related topics
  cms/frontend_cache/cache.py
Due: pylint

Call correct API
  cms/core/tests/test_cache.py
Due: pylint

Switch to using a short-lived signed cookie
  cms/bundles/views/preview.py
  cms/private_media/tests/test_serve_views.py
  cms/private_media/utils.py
  cms/private_media/views.py
Due: pylint

Handle private asset added to draft of already published page
  cms/private_media/tests/test_serve_views.py
  cms/private_media/utils.py
Due: pylint

Move import to top level
  cms/core/models/base.py
Due: pylint

Zoom enhance, simplify
  cms/locale/utils.py
Due: pylint

Add Lychee actions workflow + disable Lychee in Megalinter (#527)
  .github/workflows/lychee.yml
  .mega-linter.yml
  lychee.toml
Due: lint:format

Tweak domain update logic to account for no alternative domains
  cms/locale/management/commands/update_site_entries.py
  cms/locale/migrations/0001__initial.py
  cms/locale/tests/test_management_commands.py
Due: pylint

Update the language cookie handling, add clarifications, and add tests
  cms/locale/middleware.py
  cms/locale/tests/test_domain_localisation.py
Due: pylint

Fix labels
  cms/core/templatetags/page_config_tags.py
Due: pylint

Further tidy ups
  .secrets.baseline
  cms/bundles/views/preview.py
  cms/private_media/utils.py
  cms/settings/base.py
Due: pylint

fix: update menu aria labels and toggleMenuButoon configuration in base.html
  cms/jinja2/templates/base.html
Due: none

Document invalidation replay backend
  docs/custom-features/README.md
  docs/custom-features/cache-invalidation-replay.md
Due: none

Don't replay clears
  cms/core/cache.py
  cms/core/tests/test_cache.py
  docs/custom-features/cache-invalidation-replay.md
Due: pylint

Document why clear isn't replayed
  docs/custom-features/cache-invalidation-replay.md
Due: none

Remove the restart workflow action and relabel the resubmit action label
  cms/workflows/action_menu.py
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Replay purges even when there are errors
  cms/core/cache.py
  cms/core/tests/test_cache.py
Due: pylint

Set LANGUAGE_COOKIE_NAME to 'ons_language'
  cms/settings/base.py
Due: pylint

Placate mypy
  cms/locale/middleware.py
Due: pylint

Prevent deletion of bundles ready to be published
  cms/bundles/tests/test_viewsets.py
  cms/bundles/viewsets/bundle.py
Due: pylint

Placate mypy
  cms/workflows/action_menu.py
Due: pylint

feat(ci): auto deploy sandbox
  ci/concourse.yaml
Due: lint:format

Further tidy ups from code review
  cms/bundles/views/preview.py
  cms/jinja2/templates/components/streamfield/image_block.html
  cms/private_media/tests/test_serve_views.py
  cms/private_media/utils.py
  cms/private_media/views.py
  cms/settings/base.py
Due: pylint

Expand check to verify given private asset is actually used by the previewed page
  cms/core/models/base.py
  cms/private_media/tests/test_serve_views.py
  cms/private_media/utils.py
Due: pylint

Update home panels: awaiting your review excludes ready to be published, and add new panel for pages ready to publish
  cms/workflows/panels.py
  cms/workflows/templates/workflows/panels/pages_ready_to_publish.html
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Add homepage summary item for bundles, and register bundle search in the admin search area
  cms/bundles/templates/bundles/wagtailadmin/homepage/site_summary_bundles.html
  cms/bundles/tests/test_wagtail_hooks.py
  cms/bundles/wagtail_hooks.py
Due: pylint

Fall back on logging message, rename settings, update tests
  cms/bundles/notifications/api_failures.py
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_slack_notifications.py
  cms/core/slack.py
  cms/core/tests/test_slack.py
  cms/settings/base.py
Due: pylint

Set bundle status notification to default off, force new message on pre-publish
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_slack_notifications.py
  cms/settings/base.py
Due: pylint

Avoid connection pool clear by using different URLs
  cms/core/tests/test_cache.py
Due: pylint

Update dependencies to address security warnings
  .github/workflows/lychee.yml
  poetry.lock
  pyproject.toml
Due: lint:format

Add ability to specify linters for Megalinter
  Makefile
Due: none

Add missing v
  .github/workflows/lychee.yml
Due: lint:format

Fix test
  cms/bundles/tests/test_slack_notifications.py
Due: pylint

Update invalidation order in docs
  docs/custom-features/cache-invalidation-replay.md
Due: none

Update PR template to include deployment checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: none
