Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --reports=n
  - --output-format=colorized
  - --rcfile=.pylintrc
  - --django-settings-module=cms.settings.production
  - -j 0

lint:js:
  name: lint:js
  language: system
  entry: npm run lint:js

lint:css:
  name: lint:css
  language: system
  entry: npm run lint:css

lint:format:
  name: lint:format
  language: system
  entry: npm run format

fix(blocks): enforce required core section content fields on save
  cms/core/blocks/accordion.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/equation.py
  cms/core/blocks/headline_figures.py
  cms/core/blocks/markup.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
Due: pylint

fix(blocks): remove ignore_required_constraints from clean() overrides
  cms/datasets/blocks.py
  cms/topics/blocks.py
Due: pylint

fix(blocks): enforce required fields on save for inline block declarations
  cms/core/blocks/definitions.py
  cms/datavis/blocks/charts.py
Due: pylint

test(core): fix broken redis health check test for redis-py 8.x
  cms/core/tests/test_views.py
Due: pylint

fix(blocks): enforce required fields on save for navigation and page blocks
  cms/navigation/blocks.py
  cms/release_calendar/blocks.py
  cms/standard_pages/blocks.py
Due: pylint

fix(blocks): enforce required fields on save for topic and dataset blocks
  cms/datasets/blocks.py
  cms/topics/blocks.py
Due: pylint

test(functional): cover block-level required fields on the methodology page
  functional_tests/features/methodology_page.feature
  functional_tests/steps/methodology_page.py
Due: pylint

build(deps): bump Wagtail from 7.4.2 to 7.4.3
  poetry.lock
  pyproject.toml
Due: none

style(functional): apply ruff formatting to methodology page steps
  functional_tests/steps/methodology_page.py
Due: pylint

fix(blocks): enforce required fields on save for datavis blocks
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/table.py
Due: pylint

Makes test step more robust
  functional_tests/steps/methodology_page.py
Due: pylint

fix(cache): guard against missing AWS credentials in ElastiCache provider
  cms/core/elasticache.py
Due: pylint

fix(blocks): enforce required fields on save for the iframe block
  cms/datavis/blocks/iframe.py
Due: pylint

docs(tests): explain the redis health check LOCATION change
  cms/core/tests/test_views.py
Due: pylint

refactor(cache): raise ImproperlyConfigured for missing AWS credentials
  cms/core/elasticache.py
Due: pylint

Update cms/settings/base.py
  cms/settings/base.py
Due: pylint

chore: rename frontend cache feature branch
  .github/workflows/ci.yml
Due: lint:format

Generalise title change signal for cache purge
  cms/articles/models.py
  cms/articles/signals.py
  cms/core/models/base.py
  cms/core/signals.py
  cms/frontend_cache/cache.py
  cms/frontend_cache/signal_handlers.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

Compare title on its own
  cms/core/models/base.py
Due: pylint

Do not purge when draft title changes
  cms/core/models/base.py
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

chore: rename frontend cache feature branch (#794)
  .github/workflows/ci.yml
Due: lint:format

feat: add cache overpurge for paginated URLs (#780)
  cms/articles/models.py
  cms/articles/tests/test_article_models.py
  cms/frontend_cache/tests/test_signal_handlers.py
  cms/settings/base.py
  cms/settings/test.py
Due: pylint

Update test after rebase
  cms/frontend_cache/tests/test_signal_handlers.py
Due: pylint

feat(cache): improve frontend cache implementation (#785)
  cms/frontend_cache/cache.py
  cms/frontend_cache/signal_handlers.py
  cms/frontend_cache/tests/test_signal_handlers.py
  cms/settings/base.py
Due: pylint

pr review observations resultions
  cms/locale/cy/LC_MESSAGES/django.po
Due: none

chore(deps): upgrade Wagtail to 7.4.3 (#713)
  cms/bundles/models.py
  cms/core/blocks/accordion.py
  cms/core/blocks/definitions.py
  cms/core/blocks/embeddable.py
  cms/core/blocks/equation.py
  cms/core/blocks/headline_figures.py
  cms/core/blocks/markup.py
  cms/core/blocks/panels.py
  cms/core/blocks/section_blocks.py
  cms/core/elasticache.py
  cms/core/tests/test_views.py
  cms/datasets/blocks.py
  cms/datavis/blocks/annotations.py
  cms/datavis/blocks/base.py
  cms/datavis/blocks/charts.py
  cms/datavis/blocks/iframe.py
  cms/datavis/blocks/table.py
  cms/navigation/blocks.py
  cms/release_calendar/blocks.py
  cms/standard_pages/blocks.py
  cms/topics/blocks.py
  cms/workflows/tests/test_workflow_tweaks.py
  functional_tests/features/methodology_page.feature
  functional_tests/steps/methodology_page.py
  poetry.lock
  pyproject.toml
Due: pylint

docs(deps): note wagtail-polymath migration for a configurable MathJax CDN
  pyproject.toml
Due: none

build(deps-dev): upgrade mypy to 2.3.0
  poetry.lock
  pyproject.toml
Due: none

build(deps-dev): upgrade test tooling
  poetry.lock
  pyproject.toml
Due: none

build(deps-dev): upgrade django-debug-toolbar and django-migration-linter
  poetry.lock
  pyproject.toml
Due: none

build(deps-dev): upgrade ruff to 0.16.1
  .pre-commit-config.yaml
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/notifications/slack.py
  cms/bundles/wagtail_hooks.py
  cms/core/logs.py
  cms/core/migrations/0018_migrate_table_caption_to_subtitle.py
  cms/core/models/base.py
  cms/core/wagtail_hooks.py
  cms/datasets/utils.py
  cms/private_media/storages.py
  docs/conventions/type_hinting.md
  docs/custom-features/db-read-replica.md
  docs/troubleshooting.md
  functional_tests/steps/autosave.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

build(deps): upgrade cryptography and gunicorn for security fixes
  poetry.lock
  pyproject.toml
Due: none

Updates comment on Wagtail math TODO
  pyproject.toml
Due: none

build(deps): upgrade wagtail-tinytableblock to 0.5.0
  functional_tests/steps/statistical_article_page.py
  poetry.lock
  pyproject.toml
Due: pylint

test(functional): locate the table editor iframe without a TinyMCE class
  functional_tests/steps/statistical_article_page.py
Due: pylint

build(deps): upgrade matplotlib to 3.11.1
  poetry.lock
  pyproject.toml
Due: none

style: apply ruff 0.16.1 formatting
  cms/post_publish_actions/tests/test_executor.py
Due: pylint

chore(deps): package upgrades (#758)
  .pre-commit-config.yaml
  cms/bundles/clients/api.py
  cms/bundles/forms.py
  cms/bundles/notifications/slack.py
  cms/bundles/wagtail_hooks.py
  cms/core/logs.py
  cms/core/migrations/0018_migrate_table_caption_to_subtitle.py
  cms/core/models/base.py
  cms/core/wagtail_hooks.py
  cms/datasets/utils.py
  cms/post_publish_actions/tests/test_executor.py
  cms/private_media/storages.py
  docs/conventions/type_hinting.md
  docs/custom-features/db-read-replica.md
  docs/troubleshooting.md
  functional_tests/steps/autosave.py
  functional_tests/steps/statistical_article_page.py
  poetry.lock
  pyproject.toml
Due: pylint, lint:format

feat(datasets): link release calendar datasets to the assigned edition
  cms/articles/tests/test_pages.py
  cms/datasets/models.py
  cms/datasets/tests/test_models.py
  cms/datasets/tests/test_utils.py
  cms/datasets/utils.py
  cms/release_calendar/models.py
  cms/release_calendar/tests/test_models.py
  cms/topics/tests/test_pages.py
Due: pylint

chore: copy node.js from frontend-deps stage
  .docker/install-docker-dev-deps.sh
  Dockerfile
Due: none

Path conditions:
  pylint: any of: \.py$
  lint:js: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  lint:css: any of: \.css$, \.scss$
  lint:format: any of: \.css$, \.scss$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
