Repository ONSdigital/dis-wagtail: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, lint:js, lint:css, lint:format

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3.12

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.1' # keep version in sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args: [
            '--reports=n', # only display messages
            '--output-format=colorized',
            '--rcfile=.pylintrc',
            '--django-settings-module=cms.settings.production',
            '-j 0', # detect number of processors available to use
          ]

  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.4' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$

  # Template linting
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml

  # Front-end linting
  - repo: local
    hooks:
      - id: lint:js
        name: lint:js
        language: system
        entry: npm run lint:js
        types_or: [javascript, ts]
      - id: lint:css
        name: lint:css
        language: system
        entry: npm run lint:css
        types_or: [css, scss]
      - id: lint:format
        name: lint:format
        language: system
        entry: npm run format
        types_or: [css, scss, javascript, ts, json, yaml]

  # Misc. other linters
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # keep version in sync with pyproject.toml
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$

Make guidance a comment
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(ci): auto deploy sandbox (#531)
  ci/concourse.yaml
Due: lint:format

Update to 2.8
  .github/workflows/lychee.yml
Due: lint:format

Add missing 0
  .github/workflows/lychee.yml
Due: lint:format

Add entry in README.md
  README.md
Due: none

Update dependencies to address security warnings (#535)
  .github/workflows/lychee.yml
  poetry.lock
  pyproject.toml
Due: lint:format

Tweaks based on code review
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Redirect Wagtail “Preview teams” admin pages to Florence
  cms/settings/base.py
  cms/teams/apps.py
  cms/teams/checks.py
  cms/teams/tests/test_checks.py
  cms/teams/tests/test_redirect.py
  cms/urls.py
Due: pylint

Address feedback
  cms/settings/base.py
  cms/teams/apps.py
  cms/teams/checks.py
  cms/teams/tests/test_checks.py
  cms/teams/tests/test_redirect.py
  cms/urls.py
Due: pylint

Address linter issue
  README.md
Due: none

Cache sessions
  cms/settings/base.py
Due: pylint

Fix typo
  cms/settings/base.py
Due: pylint

Add additional test
  cms/teams/tests/test_redirect.py
Due: pylint

Fix flaky tests related to subdomain localisation
  cms/core/tests/test_pages.py
  cms/locale/tests/test_domain_localisation.py
Due: pylint

Improve downloadable block path handling and tweak type annotations
  cms/core/blocks/markup.py
  cms/data_downloads/mixins.py
  cms/datavis/blocks/base.py
  cms/frontend_cache/cache.py
  cms/settings/base.py
Due: pylint

Fix flaky tests related to subdomain localisation (#540)
  cms/core/tests/test_pages.py
  cms/locale/tests/test_domain_localisation.py
Due: pylint

Update PR template to include deployment checklist (#537)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Redirect Wagtail “Preview teams” admin pages to Florence (#538)
  cms/settings/base.py
  cms/teams/tests/test_redirect.py
  cms/urls.py
Due: pylint

Remove the restart workflow action and relabel the resubmit action label (#529)
  cms/workflows/action_menu.py
  cms/workflows/tests/test_workflow_tweaks.py
  cms/workflows/wagtail_hooks.py
Due: pylint

Apply suggestions from code review
  cms/bundles/templates/bundles/wagtailadmin/homepage/site_summary_bundles.html
  cms/bundles/tests/test_wagtail_hooks.py
Due: pylint

Expand bundle delete tests to include POSTing to the delete view
  cms/bundles/tests/test_viewsets.py
Due: pylint

Add homepage summary item for bundles, and register bundle search in the admin search area (#534)
  cms/bundles/templates/bundles/wagtailadmin/homepage/site_summary_bundles.html
  cms/bundles/tests/test_wagtail_hooks.py
  cms/bundles/wagtail_hooks.py
Due: pylint

Switch the private media signal handlers to use page_published/page_unpublished
  cms/private_media/signal_handlers.py
Due: pylint

Re-connect private media to the published/unpublished signals for non-Page models
  cms/private_media/signal_handlers.py
Due: pylint

Explicitly set the tasks backend to ImmediateBackend
  cms/settings/base.py
Due: pylint

Make errored publish end messages consistent
  cms/bundles/notifications/slack.py
  cms/bundles/tests/test_slack_notifications.py
  cms/bundles/utils.py
Due: pylint

Default session cache to `true`
  cms/settings/base.py
Due: pylint

Don't enable session caching when using DB cache
  cms/settings/base.py
Due: pylint

Format
  cms/settings/base.py
Due: pylint

Include language code in cache key
  cms/core/signal_handlers.py
  cms/core/templatetags/page_config_tags.py
  cms/navigation/signal_handlers.py
Due: pylint

Improve wording around replay
  docs/custom-features/cache-invalidation-replay.md
Due: none

Update MainMenu and FooterMenu tests to reflect correct instance counts and translations
  cms/navigation/tests/test_viewsets.py
Due: pylint

feat: use richText option for Hero component
  .design-system-version
  cms/jinja2/templates/pages/index_page.html
  cms/jinja2/templates/pages/information_page.html
  cms/jinja2/templates/pages/methodology_page.html
  cms/jinja2/templates/pages/theme_page.html
  cms/jinja2/templates/pages/topic_page.html
  cms/methodology/tests/test_pages.py
  cms/standard_pages/tests/test_models.py
  cms/themes/tests/test_models.py
  cms/topics/tests/test_models.py
Due: pylint

test(table): support vertical align
  cms/core/tests/test_blocks.py
Due: pylint

test: Main menu should expand instead of overlaying
  functional_tests/features/navigation_menus.feature
  functional_tests/steps/navigation_menus.py
Due: pylint

tests: use unittest assertions
  cms/core/tests/test_blocks.py
Due: pylint

functional-tests: assert > expect
  functional_tests/steps/navigation_menus.py
Due: pylint

fix: test - add new DS markup
  cms/core/tests/test_blocks.py
Due: pylint

tests: add tests for default top alignment behaviour
  cms/core/tests/test_blocks.py
Due: pylint
